<html><head>
<link rel="stylesheet" type="text/css" href="/webtest/statictest/css/kasuari.css"/>
<script type="text/javascript" src="/webtest/statictest/js/kasuari/jquery.js"></script>
<script type="text/javascript" src="/webtest/statictest/js/kasuari/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/webtest/statictest/js/kasuari/kasuari.js"></script>
<script type="text/javascript">

$(document).ready(function() {
	var kasuari = new Kasuari($('#kc'), {
		zoomLevel: 1,
		//imgdir: 'img2', w: 16965, h:8230
		//imgdir: 'img', w: 2000, h: 1500
		imgdir: ['/webgateway/render_image_region/1453/0/0/?c=1|0:255$FF0000,2|0:255$00FF00,3|0:255$0000FF&m=c&p=normal&ia=0&q=0.9&zm=100&x=0&y=0'], w:3000, h:2250, ext: '.png'
	});
	kasuari.start();
});

</script>
</head><body>
<canvas id="kc" class="kasuari"></canvas>
</body></html>
