<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
	<meta http-equiv="imagetoolbar" content="no" />
    <script type="text/javascript" src="/webtest/statictest/js/panojs/extjs/ext-core.js"></script>    
    <script type="text/javascript" src="/webtest/statictest/js/panojs/extjs/ext-core.js"></script>    
    <script type="text/javascript" src="/webtest/statictest/js/panojs/utils.js"></script>    
    <script type="text/javascript" src="/webtest/statictest/js/panojs/PanoJS.js"></script>
    <script type="text/javascript" src="/webtest/statictest/js/panojs/controls.js"></script>
    <script type="text/javascript" src="/webtest/statictest/js/panojs/pyramid_Bisque.js"></script>
    <script type="text/javascript" src="/webtest/statictest/js/panojs/pyramid_imgcnv.js"></script>
    <script type="text/javascript" src="/webtest/statictest/js/panojs/pyramid_Zoomify.js"></script>        
    <script type="text/javascript" src="/webtest/statictest/js/panojs/control_thumbnail.js"></script>
    <script type="text/javascript" src="/webtest/statictest/js/panojs/control_info.js"></script>
    <script type="text/javascript" src="/webtest/statictest/js/panojs/control_svg.js"></script>
    <script type="text/javascript">
// <![CDATA[

PanoJS.MSG_BEYOND_MIN_ZOOM = null;
PanoJS.MSG_BEYOND_MAX_ZOOM = null;
var viewer1 = null;


function createViewer( viewer, dom_id, url, w, h ) {
    if (viewer) return;
  
    var MY_URL      = url;
    var MY_TILESIZE = 256;
    var MY_WIDTH    = w;
    var MY_HEIGHT   = h;
    var myPyramid = new BisqueISPyramid( MY_WIDTH, MY_HEIGHT, MY_TILESIZE);
    //var myPyramid = new BisqueISPyramid( MY_WIDTH, MY_HEIGHT, MY_TILESIZE);
    
    var myProvider = new PanoJS.TileUrlProvider('','','');
    myProvider.assembleUrl = function(xIndex, yIndex, zoom) {
        return MY_URL+'&'+myPyramid.tile_filename( zoom, xIndex, yIndex )
        //return MY_URL + '/' + MY_PREFIX + myPyramid.tile_filename( zoom, xIndex, yIndex );
    }    
    
    viewer = new PanoJS(dom_id, {
        tileUrlProvider : myProvider,
        tileSize        : myPyramid.tilesize,
        maxZoom         : myPyramid.getMaxLevel(),
        imageWidth      : myPyramid.width,
        imageHeight     : myPyramid.height,
        blankTile       : '/webtest/statictest/img/panojs/blank.gif',
        loadingTile     : '/webtest/statictest/img/panojs/progress.gif'
    });

    Ext.EventManager.addListener( window, 'resize', callback(viewer, viewer.resize) );
    viewer.init();
};

function initViewers() {
    createViewer( viewer1, 'viewer1', '/webgateway/render_image_region/51/0/0/?c=1|0:255$FF0000,2|0:255$00FF00,3|0:255$0000FF&m=c&p=normal&ia=0&q=0.9&zm=100&x=0&y=0', 3000,  2250 );
}

Ext.onReady(initViewers);

// ]]>
    </script>
    <style type="text/css">
        @import url(/webtest/statictest/css/panojs.css);
    </style>
    <style type="text/css">
        body {
            font-family: sans-serif;
            margin: 0;
            padding: 10px;
            color: #000000;
            background-color: #FFFFFF;
            font-size: 0.7em;
        }
    </style>
	</head>
	<body>
		<h1>header here</h1>
            <div style="width: 100%; height: 400px;"> 
                <div id="viewer1" class="viewer" style="width: 100%; height: 100%;" ></div>
            </div>
	</body>
</html>
