<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!--
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# 
# $Id$
# 
# Copyright 2006 University of Dundee. All rights reserved.
# Use is subject to license terms supplied in LICENSE.txt
#
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->

<!--
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Written by:  Josh Moore <josh.moore@gmx.de>
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->

<!--

	Configuration of client proxies. Probably most important for this configuration
  is the replacement of properties (e.g. "${omero.user}"). The placeholderConfig
  bean below reads in omero.properties and jndi.properties (issuing an
  informative warning if not found). It then looks up the same properties in
  the System properties allowing these properties to override the property
  files. This is done at context creation.
  
  After that initialization ("bean post processing") stage is done, the other
  beans can be retrieved from the context with omeroContext.getBean("beanName"),
  though in most cases it will be simpler to use the methods on 
  ome.system.ServiceFactory
  
  What is returned by these methods is a Jndi-found RMI proxy wrapped in any 
  number of AOP interceptors to handle unit-of-work configuration, caching, or
  lazy-initialization.
 
  This context also configures an ome.system.Principal for proper login, but this
  can just as well be configured in code.
  
-->

<beans default-lazy-init="true">

  <!-- property placeholder post-processor -->
    <bean id="placeholderConfig" lazy-init="true"
              class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer">
                <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_FALLBACK"/>
                <property name="ignoreResourceNotFound" value="true"/>
                <property name="localOverride" value="true"/>
        <property name="properties" ref="properties"/>
        <property name="locations">
        <list>
            <value>classpath:omero.properties</value>
            <value>classpath:hibernate.properties</value>      
            <value>classpath:jndi.properties</value>
            <value>classpath:local.properties</value>
        </list>
        </property>
    </bean>
    
  <!-- properly configured principal for login -->
	<bean id="principal" class="${omero.principal_class}">
		<constructor-arg index="0" value="${omero.user}"/>
		<constructor-arg index="1" value="${omero.group}"/>
		<constructor-arg index="2" value="${omero.event}"/>
	</bean>

  <!-- hashtable for InitialContext constructor -->
  <bean id="env" class="java.util.Hashtable" singleton="false">
    <constructor-arg>
      <map>
        <entry key="java.naming.security.principal" value-ref="principal"/>
        <entry key="java.naming.security.credentials" value="${omero.pass}"/>
        <entry key="java.naming.factory.initial" value="${java.naming.factory.initial}"/>
        <entry key="java.naming.factory.url.pkgs" value="${java.naming.factory.url.pkgs}"/>
        <entry key="java.naming.provider.url" value="${server.host}:${server.port}"/>
      </map>
    </constructor-arg>
  </bean>

  <bean id="managed-ome.api.ISession" class="ome.client.ConfigurableJndiObjectFactoryBean">
    <property name="jndiEnvironment" ref="env"/>
    <property name="lookupOnStartup" value="false"/>    
    <property name="jndiName" value="omero/remote/ome.api.ISession"/>
    <property name="proxyInterface" value="ome.api.ISession"/>
  </bean>

  <bean id="init" class="ome.system.SessionInitializer">
    <property name="principal"       ref="principal"/>
    <property name="credentials"     value="${omero.pass}"/>
    <property name="sessionService"  ref="managed-ome.api.ISession"/>
  </bean>

  <!-- jndi parent class -->
  <bean id="jndi" abstract="true"
    class="ome.client.ConfigurableJndiObjectFactoryBean">
    <property name="jndiEnvironment" ref="env"/>
    <property name="lookupOnStartup" value="false"/>
    <property name="init"            ref="init"/>
  </bean>

  <!--
      STATELESS SERVICES
  -->
  <bean id="managed-ome.api.IAdmin" parent="jndi">
    <property name="jndiName" value="omero/${server.transport}/ome.api.IAdmin"/>
    <property name="proxyInterface" value="ome.api.IAdmin"/>
  </bean>

  <bean id="managed-ome.api.IAnalysis" parent="jndi">
    <property name="jndiName" value="omero/${server.transport}/ome.api.IAnalysis"/>
    <property name="proxyInterface" value="ome.api.IAnalysis"/>
  </bean>

  <bean id="managed-ome.api.IConfig" parent="jndi">
    <property name="jndiName" value="omero/${server.transport}/ome.api.IConfig"/>
    <property name="proxyInterface" value="ome.api.IConfig"/>
  </bean>

  <bean id="managed-ome.api.IDelete" parent="jndi">
    <property name="jndiName" value="omero/${server.transport}/ome.api.IDelete"/>
    <property name="proxyInterface" value="ome.api.IDelete"/>
  </bean>

  <bean id="managed-ome.api.ILdap" parent="jndi">
    <property name="jndiName" value="omero/${server.transport}/ome.api.ILdap"/>
    <property name="proxyInterface" value="ome.api.ILdap"/>
  </bean>

  <bean id="managed-ome.api.IPixels" parent="jndi">
    <property name="jndiName" value="omero/${server.transport}/ome.api.IPixels"/>
    <property name="proxyInterface" value="ome.api.IPixels"/>
  </bean>

  <bean id="managed-ome.api.IPojos" parent="jndi">
    <property name="jndiName" value="omero/${server.transport}/ome.api.IPojos"/>
    <property name="proxyInterface" value="ome.api.IPojos"/>
  </bean>
  
  <bean id="managed-ome.api.IProjection" parent="jndi">
    <property name="jndiName" value="omero/${server.transport}/ome.api.IProjection"/>
    <property name="proxyInterface" value="ome.api.IProjection"/>
  </bean>

  <bean id="managed-ome.api.IQuery" parent="jndi">
    <property name="jndiName" value="omero/${server.transport}/ome.api.IQuery"/>
    <property name="proxyInterface" value="ome.api.IQuery"/>
  </bean>

  <bean id="managed-ome.api.ITypes" parent="jndi">
    <property name="jndiName" value="omero/${server.transport}/ome.api.ITypes"/>
    <property name="proxyInterface" value="ome.api.ITypes"/>
  </bean>

  <bean id="managed-ome.api.IUpdate" parent="jndi">
    <property name="jndiName" value="omero/${server.transport}/ome.api.IUpdate"/>
    <property name="proxyInterface" value="ome.api.IUpdate"/>
  </bean>

  <bean id="managed-ome.api.IRenderingSettings" parent="jndi">
    <property name="jndiName" value="omero/${server.transport}/ome.api.IRenderingSettings"/>
    <property name="proxyInterface" value="ome.api.IRenderingSettings"/>
  </bean>
  
  <bean id="managed-ome.api.IRepositoryInfo" parent="jndi">
    <property name="jndiName" value="omero/${server.transport}/ome.api.IRepositoryInfo"/>
    <property name="proxyInterface" value="ome.api.IRepositoryInfo"/>
  </bean>

  <!--
      STATEFUL SERVICES
  -->

  <bean id="managed-ome.api.RawFileStore" parent="jndi" singleton="false">
    <property name="jndiName" value="omero/${server.transport}/ome.api.RawFileStore"/>
    <property name="proxyInterface" value="ome.api.RawFileStore"/>
  </bean>
  
  <bean id="managed-ome.api.RawPixelsStore" parent="jndi" singleton="false">
    <property name="jndiName" value="omero/${server.transport}/ome.api.RawPixelsStore"/>
    <property name="proxyInterface" value="ome.api.RawPixelsStore"/>
  </bean>
    
  <bean id="managed-omeis.providers.re.RenderingEngine" parent="jndi" singleton="false">
    <property name="jndiName" value="omero/${server.transport}/omeis.providers.re.RenderingEngine"/>
    <property name="proxyInterface" value="omeis.providers.re.RenderingEngine"/>
  </bean>

  <bean id="managed-ome.api.Search" parent="jndi" singleton="false">
    <property name="jndiName" value="omero/${server.transport}/ome.api.Search"/>
    <property name="proxyInterface" value="ome.api.Search"/>
  </bean>

  <bean id="managed-ome.api.ThumbnailStore" parent="jndi" singleton="false">
    <property name="jndiName" value="omero/${server.transport}/ome.api.ThumbnailStore"/>
    <property name="proxyInterface" value="ome.api.ThumbnailStore"/>
  </bean>

  <bean id="managed-ome.api.JobHandle" parent="jndi" singleton="false">
    <property name="jndiName" value="omero/${server.transport}/ome.api.JobHandle"/>
    <property name="proxyInterface" value="ome.api.JobHandle"/>
  </bean>

</beans>
