## ANNOTATIONS
select 
#if($doDataset)
#set($l = "d")
	d_ann from DatasetAnnotation d_ann
	left outer join fetch d_ann.dataset as d
#elseif($doImage)
#set($l = "i")
	i_ann from ImageAnnotation i_ann
	left outer join fetch i_ann.image as i 
	left outer join fetch i.imagePixel as i_pix
#else
	#error("No valid type given.")
#end
	left outer join fetch ${l}_ann.moduleExecution as ${l}_ann_mex
	left outer join fetch ${l}_ann_mex.experimenter as ${l}_ann_exp
	where ${l} in (:id_list) 
#filters()
	and ${l}_ann_mex is not null
	order by ${l}_ann_mex.timestamp desc