## ANNOTATIONS
select 
#if($doDataset)
	d_ann from DatasetAnnotation d_ann
	left outer join fetch d_ann.dataset as d
  	   
	left outer join fetch d_ann.moduleExecution as d_ann_mex
	left outer join fetch d_ann_mex.experimenter as d_ann_exp
	where d
#elseif($doImage)
	i_ann from ImageAnnotation i_ann
	left outer join fetch i_ann.image as i 
	left outer join fetch i.imagePixel as i_pix
	     
	left outer join fetch i_ann.moduleExecution as i_ann_mex
	left outer join fetch i_ann_mex.experimenter as i_ann_exp
	where i
#else
	#error("No valid type given.")
#end
	in (:id_list) 
#filters()