## PATHS	

select new list(cg,c) from CategoryGroup cg
#ifCategoryGroup()
#ifCategory()
#ifClassification()
#if($doDECLASSIFICATION)
	where 
#imagelist()
#elseif($doCLASSIFICATION_NME)
	where not (
#imagelist()
	)
#elseif($doCLASSIFICATION_ME)
	where cg not in ( 
		select cg2 from CategoryGroup cg2
			where
				cg2.categories.classifications.image in ( :id_list )
				and 
				cg2.categories.classifications.valid = true 
	)
#else
	#error("No known algorithm.")
#end
#filters()
#typeExperimenter()
