<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>	
	<!-- ***** CONFIG ***** -->
	<!-- property placeholder post-processor -->
	<bean id="placeholderConfig"
      class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
		<list>
			<value>src/conf/spring.properties</value>
		</list>
		</property>
	</bean>

<!-- for rmi: <property name="serviceUrl"><value>rmi://localhost:1099/ContainerService</value></property> -->
	<bean id="administrationFacade" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
	    <property name="serviceUrl"><value>http://localhost:${port}/ome3-srv/AdministrationFacade</value></property>
	    <property name="serviceInterface"><value>org.ome.interfaces.AdministrationService</value></property>
	</bean>

	<bean id="containerFacade" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
	    <property name="serviceUrl"><value>http://localhost:${port}/ome3-srv/ContainerFacade</value></property>
	    <property name="serviceInterface"><value>org.ome.interfaces.ContainerService</value></property>
	</bean>

	<bean id="imageFacade" class="org.springframework.remoting.httpinvoker.HttpInvokerProxyFactoryBean">
	    <property name="serviceUrl"><value>http://localhost:${port}/ome3-srv/ImageFacade</value></property>
	    <property name="serviceInterface"><value>org.ome.interfaces.ImageService</value></property>
	</bean>


</beans>
