{% extends "webclient/base/base_main.html" %}
{% load i18n %}
{% load markup %}
{% load custom_tags %}

{% block content %}

    {% block top %}{% endblock %}
    <div id="contentWrapper">
        
        <div id="left_panel">
            {% block left %}{% endblock %}
        </div>
        
        <div id="right_panel">
           {% block right %}{% endblock %}
        </div>

        <div id="center_panel">
           {% block center %}{% endblock %}
        </div>

        <div class="clear"></div>
    </div>
    
{% endblock %}