{% extends "webclient/base/base_main.html" %}
{% load i18n %}
{% load markup %}
{% load custom_tags %}

{% block header %}

<div id="path">
    
    <div id="actionWrapper">
        
        <!-- left-hand side of toolbar (BASKET, STATUS, group chooser) -->
        {% include "webclient/base/header.html" %}

    </div>
    
</div>

<div class="clear"> </div>

{% endblock %}

{% block content %}

<table cellspacing="0" cellpadding="0" class="contentWrapper">
    <tbody>
    <tr>
        <td id="left_panel">{% block left %}{% endblock %}</td>
        <td class="trayhandle-left collapsibletrayhandle-left">
            <div id="swapTree"><img id="lhid_trayhandle_icon_left" class="expanded-left" src="{% url webstatic "images/spacer.gif" %}" tabindex="0"></div>
        </td>
        <td id="center_panel">{% block center %}{% endblock %}</td>
        <td class="trayhandle collapsibletrayhandle-right">
            <div id="swapMeta"><img id="lhid_trayhandle_icon_right" class="expanded-right" src="{% url webstatic "images/spacer.gif" %}" tabindex="0"></div>
        </td>
        <td id="right_panel">{% block right %}{% endblock %}</td>
    </tr>
    </tbody>
</table>

{% endblock %}