<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <META HTTP-EQUIV="Content-Style-Type" CONTENT="text/css">
    
        <title>
        
            OMERO.web - embed viewer

        </title>
        
        <link rel="stylesheet" type="text/css" href="http://localhost/static/omeroweb.viewer.min.css">
        
        
        <style type="text/css">
    		<!--

            .viewport {
                height: 400px;
                position: relative;
                width: 600px;
            }
            .zoom button {
                background-color: #777777;
                height: 22px;
                width: 22px;
                padding: 0;
                margin-bottom: 4px;
                margin-left: 0px;
            }

    		-->
    	</style>
        
        <script type="text/javascript" src="http://localhost/static/omeroweb.viewer.min.js"></script>
    
        <script type="text/javascript">

            $(document).ready(function () {

                /* Prepare the viewport */
                var viewport = $.WeblitzViewport($("#viewport"), "http://v.jcb-dataviewer.glencoesoftware.com/webclient/", {
                    'mediaroot': "http://v.jcb-dataviewer.glencoesoftware.com/static/"
                });
                
                /* Load the selected image into the viewport */
                viewport.load(201);

            });
        </script>
	
    </head>
<body>

    <div class="manuscript_details">
        <h1 id="manuscript-title">Virtual nanoscopy: Generation of ultra-large high resolution electron microscopy maps</h1>
        <p id="manuscript-authors">Frank G.A. Faas, M. Cristina Avramut, Bernard M. van den Berg, A. Mieke Mommaas, Abraham J. Koster, Raimond B.G. Ravelli</p>
        <p style="clear: both;" id="article-details"><span id="manuscript-citation">JCB vol. 198 no. 3 457-457</span>
                &nbsp; Article DOI: <a href="http://dx.doi.org/10.1083/jcb.201201140" target="_blank" id="article-doi">10.1083/jcb.201201140</a>
                &nbsp; DataViewer DOI: <a href="http://dx.doi.org/10.1083/jcb.201201140.dv" target="_blank" id="dataviewer-doi">10.1083/jcb.201201140.dv</a>
                &nbsp;<a onclick="$('#metadata-postit').toggle(); return false;" href="#">[Image Information]</a></p>
    </div>
    <div id="viewport" class="viewport"></div>
    

</body>
</html>