[submodule "components/bioformats"]
	path = components/bioformats
	url = git://github.com/openmicroscopy/bioformats.git
[submodule "docs/sphinx"]
	path = docs/sphinx
	url = git://github.com/openmicroscopy/ome-documentation.git
