.gitignore
.classpath
.hg
.hgignore
.DS_Store
.gdb_history
.sconsign.dblite
.sconf_temp
/etc/local.properties
/dist
/var
/components/insight/bin/*
/components/insight/OUT
/components/*/target
/lib/cache
/lib/repository/omero/*
/lib/repository/omero-test/*
/lib/repository/omero-tools/*
!/lib/repository/omero/ice
!/lib/repository/omero/jboss-annotations-ejb3
!/lib/repository/omero/jboss-aop-jdk50-client
!/lib/repository/omero/jboss-aspect-library-jdk50
!/lib/repository/omero/jboss-ejb3
!/lib/repository/omero/jboss-ejb3x
!/lib/repository/omero/jbossall-client
!/lib/repository/omero/jbosssx
!/lib/repository/omero/omejava
!/lib/repository/omero/postgresql
target
config.log
scons.log
*.dylib
*.exe
*.lo
*.o
*.os
*.Plo
*.pyc
*.orig
*.rej
*.so
*~
*generated*
test-output
temp-testng-customsuite.xml
.settings
.springBeans
/components/tools/OmeroWeb/omeroweb/media/webtest
# Scons output files
.sconsign.dblite
*.dylib
*.egg
*.os
omero_version.py
eclipse.log
velocity.log*
.idea
