language: java

jdk:
  - openjdk7

before_install:
    - sudo apt-get install -qq git
    - sudo apt-get install -qq zeroc-ice34
    - sudo apt-get install -qq python-imaging python-numpy python-tables

install: python build.py build-all test-compile-all

# Running python tests as script, since there's no compile step.
script: python build.py -py test
