language: java

jdk:
  - openjdk7

before_install:
    - sudo apt-get -qq update
    - sudo apt-get install -qq git
    - sudo apt-get install -qq zeroc-ice34
    - sudo apt-get install -qq python-imaging python-numpy python-tables
    - git config github.token 3bc7fc530b01081559eb911f59ccfec7f4fb2592
    - sudo pip install scc --use-mirrors
    - scc travis-merge

install: python build.py build-all test-compile-all

# Running python tests as script, since there's no compile step.
script:
    - python build.py -py test -Dtest.with.fail=true
    - python build.py -cpp test -Dtest.with.fail=true
