language: java

jdk: oraclejdk8

# This (sudo: false) is needed to "run on container-based infrastructure" on
# which cache: is available
# http://docs.travis-ci.com/user/workers/container-based-infrastructure/
sudo: false

# http://docs.travis-ci.com/user/caching/#Arbitrary-directories
cache:
  directories:
  - $HOME/.m2
  - download

matrix:
      fast_finish: true

addons:
  apt_packages:
    - git
    - zeroc-ice34
    - python-imaging
    - python-numpy
    - python-tables
    - cmake
    - libgtest-dev

env:
    - BUILD="build-python"
    - BUILD="build-java"

before_install:
    - git config github.token 3bc7fc530b01081559eb911f59ccfec7f4fb2592
    - git config --global user.email snoopycrimecop@gmail.com
    - git config --global user.name 'Snoopy Crime Cop'
    - pip install --user scc pytest
    - if [[ $BUILD == 'build-python' ]]; then pip install --user -r ./components/tools/OmeroWeb/requirements-py27-nginx.txt; fi
    - export PATH=$PATH:$HOME/.local/bin
    - scc travis-merge
    - if [[ $BUILD == 'build-python' ]]; then travis_retry pip install --user flake8==2.4.0 pytest==2.7.3; fi
    - if [[ $BUILD == 'build-python' ]]; then ./components/tools/travis-build py-flake8; fi
    # Remove OME Maven cache as we are working on a breaking branch
    - rm -rf ~/.m2/repository/ome

# retries the build due to:
# https://github.com/travis-ci/travis-ci/issues/2507
install:
    - if [[ $BUILD == 'build-python' ]]; then travis_retry ./components/tools/travis-build py-build; fi
    - if [[ $BUILD == 'build-java' ]]; then travis_retry ./components/tools/travis-build java-build; fi

script:
    - if [[ $BUILD == 'build-python' ]]; then ./components/tools/travis-build py-test; fi
    - if [[ $BUILD == 'build-java' ]]; then ./components/tools/travis-build java-test; fi

notifications:
  slack:
    secure: YoCiRg7KuG+jQdW2wD5aBVurfJoKTT+/bKexZD/t5w+WjR4oKi0eoj+La4niUHxmUGHmJAuRYq/7wpP7nq1RBOcXQYpq9S842tmhhQZeC2EGFGw3YlBBEQj9oqMl9JlcI4lTkSo4V/uCnwdrFAGfGaAjICuCnEb9rvBhsXeqYtU=
