language: java

env:
    - BUILD="build-python"
    - BUILD="build-java"

matrix:
      fast_finish: true

jdk:
  - openjdk7

before_install:
    - sudo apt-get -qq update
    - travis_retry sudo apt-get install -qq git
    - travis_retry sudo apt-get install -qq zeroc-ice34
    - travis_retry sudo apt-get install -qq python-imaging python-numpy python-tables python-genshi
    - git config github.token 3bc7fc530b01081559eb911f59ccfec7f4fb2592
    - git config --global user.email snoopycrimecop@gmail.com
    - git config --global user.name 'Snoopy Crime Cop'
    - sudo pip install scc pytest
    - scc travis-merge
    - if [[ $BUILD == 'build-python' ]]; then travis_retry sudo pip install flake8; fi

install:

# retry the build due to:
# https://github.com/travis-ci/travis-ci/issues/2507
script:
    - "travis_retry ./components/tools/travis-build $BUILD"
