
<% _.each(anns, function(ann) { %>

<tr data-added-by="{{ ann.link.getDetails.getOwner.id }}">
    <th><%= ann.type %></th>
    <td>
        <% if (ann.type === 'Xml') { %>
            <div><% print((ann.value + "").slice(0, 20)) %>...</div>
            <div class="show_xml">Open in window</div>
            <div style="display: none"><%= ann.value %></div>
        <% } else { %>
            <div><%= ann.value %></div>
        <% } %>
        
        <span class="tooltip_html" style='display:none'>
            <b>ID:</b> <%= ann.id %><br />
            <% if (ann.ns) { %><b>Namespace:</b> <%= ann.ns %><br /><% } %>
            <% if (ann.description) { %><b>Description:</b> <%= ann.description %><br /><% } %>
            <b>Owner:</b> <%= ann.owner.firstName %> <%= ann.owner.lastName %><br />
            <b>Date:</b> <%= ann.date %>
        </span>
    </td>
</tr>
<% }) %>