{% extends "webclient/base/base_frame.html" %}
{% load i18n %}
{% load markup %}
{% load custom_tags %}
{% load wikitags %}

{% block link %}
    <link rel="stylesheet" href="{% url webstatic "css/images.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% url webstatic "css/googiespell.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% url webstatic "css/annotation.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% url webstatic "css/autocomplete.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% url webstatic "css/tooltip.css" %}" type="text/css" media="screen"/>
    
{% endblock %}

{% block jscript %}

    <script type="text/javascript" src="{% url webstatic "javascript/jquery.autocomplete.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/jquery.quicksearch.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/jquery.tooltip.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/jquery.editinplace.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/jquery.form.js" %}"></script>
  
    <script type="text/javascript" src="{% url webstatic "javascript/googiespell/AJS.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/googiespell/googiespell.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/googiespell/cookiesupport.js" %}"></script>
    
{% endblock %}

{% block script %}

    <script type="text/javascript">        
        $(document).ready(function() 
            {
                {% if manager.image.isOwned %}
                $( "#imagename-{{ manager.image.id }} img" ).editable('{% url manage_action_containers "editname" "image" manager.image.id %}', '{% url manage_action_containers "savename" "image" manager.image.id %}', "imagename-{{ manager.image.id }}" );
                $( "#imagedescription-{{ manager.image.id }} img" ).editable('{% url manage_action_containers "editdescription" "image" manager.image.id %}', '{% url manage_action_containers "savedescription" "image" manager.image.id %}', "imagedescription-{{ manager.image.id }}" );                
                {% endif %}
                
                {% if manager.dataset.isOwned %}
                $( "#datasetname-{{ manager.dataset.id }} img" ).editable('{% url manage_action_containers "editname" "dataset" manager.dataset.id %}', '{% url manage_action_containers "savename" "dataset" manager.dataset.id %}', "datasetname-{{ manager.dataset.id }}" );
                $( "#datasetdescription-{{ manager.dataset.id }} img" ).editable('{% url manage_action_containers "editdescription" "dataset" manager.dataset.id %}', '{% url manage_action_containers "savedescription" "dataset" manager.dataset.id %}', "datasetdescription-{{ manager.dataset.id }}" );                
                {% endif %}
                
                {% if manager.project.isOwned %}
                $( "#projectname-{{ manager.project.id }} img" ).editable('{% url manage_action_containers "editname" "project" manager.project.id %}', '{% url manage_action_containers "savename" "project" manager.project.id %}', "projectname-{{ manager.project.id }}" );
                $( "#projectdescription-{{ manager.project.id }} img" ).editable('{% url manage_action_containers "editdescription" "project" manager.project.id %}', '{% url manage_action_containers "savedescription" "project" manager.project.id %}', "projectdescription-{{ manager.project.id }}" );                
                {% endif %}
                
                {% if manager.well.isOwned %}
                $( "#wellname-{{ manager.well.selectedWellSample.image.id }} img" ).editable('{% url manage_action_containers "editname" "image" manager.well.selectedWellSample.image.id %}', '{% url manage_action_containers "savename" "image" manager.well.selectedWellSample.image.id %}', "wellname-{{ manager.well.selectedWellSample.image.id }}" );
                $( "#welldescription-{{ manager.well.selectedWellSample.image.id }} img" ).editable('{% url manage_action_containers "editdescription" "image" manager.well.selectedWellSample.image.id %}', '{% url manage_action_containers "savedescription" "image" manager.well.selectedWellSample.image.id %}', "welldescription-{{ manager.well.selectedWellSample.image.id }}" );                
                {% endif %}
                
                {% if manager.plate.isOwned %}
                $( "#platename-{{ manager.plate.id }} img" ).editable('{% url manage_action_containers "editname" "plate" manager.plate.id %}', '{% url manage_action_containers "savename" "plate" manager.plate.id %}', "platename-{{ manager.plate.id }}" );
                $( "#platedescription-{{ manager.plate.id }} img" ).editable('{% url manage_action_containers "editdescription" "plate" manager.plate.id %}', '{% url manage_action_containers "savedescription" "plate" manager.plate.id %}', "platedescription-{{ manager.plate.id }}" );                
                {% endif %}
                
                {% if manager.screen.isOwned %}
                $( "#screenname-{{ manager.screen.id }} img" ).editable('{% url manage_action_containers "editname" "screen" manager.screen.id %}', '{% url manage_action_containers "savename" "screen" manager.screen.id %}', "screenname-{{ manager.screen.id }}" );
                $( "#screendescription-{{ manager.screen.id }} img" ).editable('{% url manage_action_containers "editdescription" "screen" manager.screen.id %}', '{% url manage_action_containers "savedescription" "screen" manager.screen.id %}', "screendescription-{{ manager.screen.id }}" );                
                {% endif %}
                
                {% if manager.tag.isOwned %}
                $( "#tagname-{{ manager.tag.id }} img" ).editable('{% url manage_action_containers "editname" "tag" manager.tag.id %}', '{% url manage_action_containers "savename" "tag" manager.tag.id %}', "tagname-{{ manager.tag.id }}" );
                $( "#tagdescription-{{ manager.tag.id }} img" ).editable('{% url manage_action_containers "editdescription" "tag" manager.tag.id %}', '{% url manage_action_containers "savedescription" "tag" manager.tag.id %}', "tagdescription-{{ manager.tag.id }}" );                
                {% endif %}

                var acquisition_load = false;
                var preview_load = false;
                var hierarchy_load = false;
                
                $('#annotation_tabs').tabs();
                
                $('#acquisition').click(function() {
                    var $tab = $("#metadata_tab");
                    var href = $("#acquisition-link").attr('href');
                    if (!acquisition_load) {
                        $tab.load(href, function() {
                            acquisition_loaded();
                        });
                        acquisition_load = true;
                    }
                });
                
                $('#preview').click(function() {
                    var $tab = $("#preview_tab");
                    var href = $("#preview-link").attr('href');
                    if (!preview_load) {
                        $tab.load(href, function() {
                            preview_loaded();
                        });
                        preview_load = true;
                    }
                });
                
                $("{% for t in manager.tag_annotations %}#tagdesc{{ t.id }}, {% endfor %}#tag").tooltip({ 
                    track: true, 
                    delay: 0, 
                    showURL: false, 
                    opacity: 1, 
                    fixPNG: true, 
                    showBody: " - ", 
                    top: -15, 
                    left: 5 
                }); 
                
                $("#custom_annotations td span").hide() // hide the tool tip source elements
                $("#custom_annotations td").tooltip({ 
                    bodyHandler: function() { 
                            return $(this).children("span").html(); 
                        },
                    track: true, 
                    delay: 0, 
                    showURL: false, 
                    fixPNG: true, 
                    showBody: " - ", 
                    top: 10, 
                    left: -100 
                });
                $(".tooltip").parent().children("span").hide(); // hide tool tip source
                $(".tooltip").tooltip({
                    bodyHandler: function() {
                            return $(this).parent().children("span").html();
                        },
                    track: true,
                    delay: 0,
                    showURL: false,
                    fixPNG: true,
                    showBody: " - ",
                    top: 10,
                    left: -100
                });

                $(".show_xml").next().hide();   // hide any XML annotation blocks
                // display in a new window      
                $(".show_xml").click(function() {
                    var xml = $(this).next().html();
                    var newWindow=window.open('','name','height=500,width=500,scrollbars=yes, top=50, left=100');
                    newWindow.document.write(xml);
                    newWindow.document.close();
                    return false;
                });
                
                {% if manager.image %}
                // handle loading of image hierarchy by ajax
                $("#hierarchy-link").click(function(e){
                    var hierarchy_url = $(this).attr('href');
                    $("#hierarchy-spinner").show();  // waiting...
                    $("#hierarchy-pane").load(hierarchy_url);
                    e.preventDefault();
                    return false;
                })
                {% endif %}

            });


            function deleteItem(productType, productId) {
                if ((productType == 'file' || productType == 'tag' || productType == 'comment') && productId > 0){
                    if (confirm('Delete '+productType+'?')) {
                        var productListQuery="";
                        $.ajax({
                            type: "POST",
                            url: "/webclient/action/delete/"+productType+"/"+productId+"/", //this.href,
                            data: productListQuery,
                            contentType:'html',
                            success: function(responce){
                                if(responce.match(/(Error: ([A-z]+))/gi)) {
                                    alert(responce)
                                } else {  
                                    window.location = "{{ url }}";
                                }
                            },
                            error: function(responce) {
                                alert("Internal server error. Cannot delete object.");
                            }
                        });

                    }
                } 
            }
            
    </script>
    
{% endblock %}

{% block content %}

{% comment %}
    <!-- Example toolbar of links to webtest pages. Remove comments to activate -->
    {% include "webtest/webtest-toolbar-include.html" %}
{% endcomment %}


<div id="annotation_form" >
    <div id="annotation_tabs" class="ui-tabs">
        <ul>
            {% if manager.tag %}
                <li><a href="#metadata_tab">{% trans "General" %}</a></li>
            {% else %}
                <li><a href="#annotation_tab">{% trans "General" %}</a></li>
                {% if manager.image or manager.well %}
                    <li><a id='acquisition' href="#metadata_tab">{% trans "Acquisition" %}</a></li>                
                    <li><a id='preview' href="#preview_tab">{% trans "Preview" %}</a></li>
                {% endif %}
            {% endif %}
        </ul>
        <div class="clear"></div>        
        
        {% if manager.image %}
        <!-- VIEWER "Preview"-->
        <div id="preview_tab">
            <a id="preview-link" href="{% url load_metadata_preview manager.image.id %}" style='display:none'>Preview</a>
            <img src="{% url webstatic "images/spinner.gif" %}" />
        </div>
        {% endif %}
        {% if manager.well %}
        <!-- VIEWER "Preview" -->
        <div id="preview_tab">
            <a id="preview-link" href="{% url load_metadata_preview manager.well.selectedWellSample.image.id %}" style='display:none'>Preview</a>
            <img src="{% url webstatic "images/spinner.gif" %}" />
        </div>
        {% endif %}
        
        
        <!-- METADATA "Acquisition" TAB  - only show for images -->
        {% if manager.image %}
        <div id="metadata_tab">
            <!-- content is loaded by ajax when this tab is first displayed -->
            <a id="acquisition-link" href="{% url load_metadata_acquisition 'image' manager.image.id %}" style='display:none' >Acquisition</a>
            <img src="{% url webstatic "images/spinner.gif" %}" />
        </div>
        {% endif %}
        {% if manager.well %}
        <div id="metadata_tab">
            <!-- content is loaded by ajax when this tab is first displayed -->
            <a id="acquisition-link" href="{% url load_metadata_acquisition 'image' manager.well.selectedWellSample.image.id %}" style='display:none' >Acquisition</a>
            <img src="{% url webstatic "images/spinner.gif" %}" />
        </div>
        <div id="hierarchy_tab">
            <!-- content is loaded by ajax when this tab is first displayed -->
            <a id="hierarchy-link" href="{% url load_metadata_hierarchy 'image' manager.well.selectedWellSample.image.id %}" style='display:none' >Contained in</a>
            <img src="{% url webstatic "images/spinner.gif" %}" />
        </div>
        {% endif %}
                
        
        {% if not manager.tag %}
        <!-- ANNOTATIONS "General" -->
        <div id="annotation_tab">
            {% if manager.image %}            
            {% if manager.image.isOwned %}<div id="imagename-{{ manager.image.id }}"><h1><img src="{% url webstatic "images/color_line12.png" %}" alt="e" title="edit"/> <span id="imagename-{{ manager.image.id }}-name">{{ manager.image.name|warphtml:"30" }}</span></h1></div>{% else %}<h1>{{ manager.image.name|warphtml:"30" }}</h1>{% endif %}
            
            <h2 id='image_id'>Image ID: {{ manager.image.id }}</h2>    
            <!-- open-image link -->
            <div style="padding-bottom:6px">{% trans "Launch full viewer" %} <a href="#" onclick="return openPopup('{% url web_image_viewer manager.image.id %}')"><img id="{{ manager.image.id }}" src="{% url webstatic "images/kview16.png" %}" alt="View" title="Open full viewer"/></a></div>
                    
            <div class="description">
                {% if manager.image.isOwned %}<div id="imagedescription-{{ manager.image.id }}"><p><img src="{% url webstatic "images/color_line12.png" %}" alt="e" title="edit"/> <span id="imagedescription-{{ manager.image.id }}-description">{{ manager.image.description|default_if_none:""}}</span><p></div>{% else %}<span id='image_desc'>{{ manager.image.description|default_if_none:""|linebreaks }}</span>{% endif %}
            </div>
            <table>                    
                {% if not manager.image.isOwned %}
                <tr>
                    <th>Owner:</th>
                    <td id='owner_fullname'>{{ manager.image.getOwner.getFullName }}</td>                    
                </tr>
                {% endif %}
                <tr>
                    <th>Acquisition Date:</th>
                    <td id='acqu_date'>{{ manager.image.getDate|date:"Y-m-d H:i:s" }}</td> <!-- TODO: Insight is m/d/yy h:min AM/PM -->
                </tr>
                <tr>
                    <th>Imported Date:</th>
                    <td id='import_date'>{{ manager.image.creationEventDate|date:"Y-m-d H:i:s" }}</td>
                </tr>
                <tr>
                    <th>Dimensions (XY):</th>
                    <td id='dims_xy'>{{ manager.image.getSizeX }} x {{ manager.image.getSizeY }}</td>
                </tr>
                <tr>
                    <th>Pixels Type:</th>
                    <td id='pixels_type'>{{ manager.image.getPixelsType }}</td>
                </tr>
                <tr>
                    <th>Pixels Size (XYZ) (&#181m):</th>
                    <td id='pixels_size'>
                        <div class='tooltip'>{{ manager.image.getPixelSizeX|floatformat:4 }} x {{ manager.image.getPixelSizeY|floatformat:4 }} 
                            {% if manager.image.getPixelSizeZ %} x {{ manager.image.getPixelSizeZ|floatformat:4 }} {% endif %}
                        </div>
                        <span style='display:none'>{{ manager.image.getPixelSizeX }} x {{ manager.image.getPixelSizeY }}
                            {% if manager.image.getPixelSizeZ %} x {{ manager.image.getPixelSizeZ }} {% endif %}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>Z-sections/Timepoints:</th>
                    <td id='dims_zt'>{{ manager.image.getSizeZ }} x {{ manager.image.getSizeT }}</td>
                </tr>
                <tr>
                    <th>Channels:</th>
                    <td id='channel_names'>
                    {% if manager.image.getChannels %}{% for c in manager.image.getChannels %}{% if not forloop.first %}, {% endif %}{{ c.getLabel }}{% endfor %}{% else %}<span class="error">No channel specified</span>{% endif %}
                    </td>
                </tr>
            </table>
            {% else %}
                {% if manager.dataset %}
                {% if manager.dataset.isOwned %}<div id="datasetname-{{ manager.dataset.id }}"><h1><img src="{% url webstatic "images/color_line12.png" %}" alt="e" title="edit"/> <span id="datasetname-{{ manager.dataset.id }}-name">{{ manager.dataset.name|warphtml:"30" }}</span></h1></div>{% else %}<h1>{{ manager.dataset.name|warphtml:"30" }}</h1>{% endif %}

                <h2 id='dataset_id'>Dataset ID: {{ manager.dataset.id }}</h2>    
                
                <div class="description">
                    {% if manager.dataset.isOwned %}<div id="datasetdescription-{{ manager.dataset.id }}"><p><img src="{% url webstatic "images/color_line12.png" %}" alt="e" title="edit"/> <span id="datasetdescription-{{ manager.dataset.id }}-description">{{ manager.dataset.description|default_if_none:""}}</span><p></div>{% else %}<span id='dataset_desc'>{{ manager.dataset.description|default_if_none:""|linebreaks }}</span>{% endif %}
                </div>
                
                <table>
                    {% if not manager.dataset.isOwned %}
                    <tr>
                        <th>Owner:</th>
                        <td id='owner_fullname'>{{ manager.dataset.getOwner.getFullName }}</td>                    
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Creation Date:</th>
                        <td id='creation_date'>{{ manager.dataset.getDate|date:"Y-m-d H:i:s" }}</td>
                    </tr>                    
                    <tr>
                        <th>Image Count:</th>
                        <td id='child_count'>{{ manager.dataset.countChildren }} {% plural manager.dataset.countChildren 'image' 'images' %}</td>
                    </tr>
                </table>
                {% else %}
                    {% if manager.project %}
                    {% if manager.project.isOwned %}<div id="projectname-{{ manager.project.id }}"><h1><img src="{% url webstatic "images/color_line12.png" %}" alt="e" title="edit"/> <span id="projectname-{{ manager.project.id }}-name">{{ manager.project.name|warphtml:"30" }}</span></h1></div>{% else %}<h1>{{ manager.project.name|warphtml:"30" }}</h1>{% endif %}
                    
                    <h2 id='project_id'>Project ID: {{ manager.project.id }}</h2>
                    <div class="description">
                        {% if manager.project.isOwned %}<div id="projectdescription-{{ manager.project.id }}"><p><img src="{% url webstatic "images/color_line12.png" %}" alt="e" title="edit"/> <span id="projectdescription-{{ manager.project.id }}-description">{{ manager.project.description|default_if_none:""}}</span><p></div>{% else %}<span id='project_desc'>{{ manager.project.description|default_if_none:""|linebreaks }}</span>{% endif %}
                    </div>
                    <table>
                        {% if not manager.project.isOwned %}
                        <tr>
                            <th>Owner:</th>
                            <td id='owner_fullname'>{{ manager.project.getOwner.getFullName }}</td>                    
                        </tr>
                        {% endif %}
                        <tr>
                            <th>Creation Date:</th>
                            <td id='creation_date'>{{ manager.project.getDate|date:"Y-m-d H:i:s" }}</td>
                        </tr>
                        <tr>
                            <th>Dataset Count:</th>
                            <td id='child_count'>{{ manager.project.countChildren }} {% plural manager.project.countChildren 'dataset' 'datasets' %}</td>
                        </tr>
                    </table>
                    {% endif %}
                {% endif %}
            {% endif %}
            
            {% if manager.well %}            
            {% if manager.well.selectedWellSample.image.isOwned %}<div id="wellname-{{ manager.well.selectedWellSample.image.id }}"><h1><img src="{% url webstatic "images/color_line12.png" %}" alt="e" title="edit"/> <span id="wellname-{{ manager.well.selectedWellSample.image.id }}-name">{{ manager.well.selectedWellSample.image.name|warphtml:"30" }}</span></h1></div>{% else %}<h1>{{ manager.well.selectedWellSample.image.name|warphtml:"30" }}</h1>{% endif %}
                   
            <h2 id='well_id'>Well ID: {{ manager.well.selectedWellSample.image.id }}</h2>
            <p>{% trans "Launch full viewer" %} <a href="#" onclick="return openPopup('{% url web_image_viewer manager.well.selectedWellSample.image.id %}')"><img id="{{ manager.image.id }}" src="{% url webstatic "images/kview16.png" %}" alt="View" title="Open full viewer"/></a></p>
            <div class="description">
                {% if manager.well.selectedWellSample.image.isOwned %}<div id="welldescription-{{ manager.well.selectedWellSample.image.id }}"><p><img src="{% url webstatic "images/color_line12.png" %}" alt="e" title="edit"/> <span id="welldescription-{{ manager.well.selectedWellSample.image.id }}-description">{{ manager.well.selectedWellSample.image.description|default_if_none:""}}</span><p></div>{% else %}<span id='well_desc'>{{ manager.well.selectedWellSample.image.description|default_if_none:""|linebreaks }}</span>{% endif %}
            </div>
            <table>                    
                {% if not manager.well.selectedWellSample.image.isOwned %}
                <tr>
                    <th>Owner:</th>
                    <td id='owner_fullname'>{{ manager.well.selectedWellSample.image.getOwner.getFullName }}</td>                    
                </tr>
                {% endif %}
                <tr>
                    <th>Acquisition Date:</th>
                    <td id='acqu_date'>{{ manager.well.selectedWellSample.image.getDate|date:"Y-m-d H:i:s" }}</td> <!-- TODO: Insight is m/d/yy h:min AM/PM -->
                </tr>
                <tr>
                    <th>Imported Date:</th>
                    <td id='import_date'>{{ manager.well.selectedWellSample.image.creationEventDate|date:"Y-m-d H:i:s" }}</td>
                </tr>
                <tr>
                    <th>Dimensions (XY):</th>
                    <td id='dims_xy'>{{ manager.well.selectedWellSample.image.getSizeX }} x {{ manager.well.selectedWellSample.image.getSizeY }}</td>
                </tr>
                <tr>
                    <th>Pixels Type:</th>
                    <td id='pixels_type'>{{ manager.well.selectedWellSample.image.getPixelsType }}</td>
                </tr>
                <tr>
                    <th>Pixels Size (XYZ) (&#181m):</th>
                    <td id='pixels_size'>
                        <div class='tooltip'>{{ manager.well.selectedWellSample.image.getPixelSizeX|floatformat:4 }} x {{ manager.well.selectedWellSample.image.getPixelSizeY|floatformat:4 }} 
                            {% if manager.well.selectedWellSample.image.getPixelSizeZ %} x {{ manager.well.selectedWellSample.image.getPixelSizeZ|floatformat:4 }} {% endif %}
                        </div>
                        <span style='display:none'>{{ manager.well.selectedWellSample.image.getPixelSizeX }} x {{ manager.well.selectedWellSample.image.getPixelSizeY }}
                            {% if manager.well.selectedWellSample.image.getPixelSizeZ %} x {{ manager.well.selectedWellSample.image.getPixelSizeZ }} {% endif %}
                        </span>
                    </td>
                </tr>
                <tr>
                    <th>Z-sections/Timepoints:</th>
                    <td id='dims_zt'>{{ manager.well.selectedWellSample.image.getSizeZ }} x {{ manager.well.selectedWellSample.image.getSizeT }}</td>
                </tr>
                <tr>
                    <th>Channels:</th>
                    <td id='channel_names'>
                    {% if manager.well.selectedWellSample.image.getChannels %}{% for c in manager.well.selectedWellSample.image.getChannels %}{% if not forloop.first %}, {% endif %}{{ c.getLogicalChannel.getLabel }}{% endfor %}{% else %}<span class="error">No channel specified</span>{% endif %}
                    </td>
                </tr>
            </table>
            {% else %}
                {% if manager.plate %}
                {% if manager.plate.isOwned %}<div id="platename-{{ manager.plate.id }}"><h1><img src="{% url webstatic "images/color_line12.png" %}" alt="e" title="edit"/> <span id="platename-{{ manager.plate.id }}-name">{{ manager.plate.name|warphtml:"30" }}</span></h1></div>{% else %}<h1>{{ manager.plate.name|warphtml:"30" }}</h1>{% endif %}
              
                <h2 id='plate_id'>Plate ID: {{ manager.plate.id }}</h2>
                <div class="description">
                    {% if manager.plate.isOwned %}<div id="platedescription-{{ manager.plate.id }}"><p><img src="{% url webstatic "images/color_line12.png" %}" alt="e" title="edit"/> <span id="platedescription-{{ manager.plate.id }}-description">{{ manager.plate.description|default_if_none:""}}</span><p></div>{% else %}<span id='plate_desc'>{{ manager.plate.description|default_if_none:""|linebreaks }}</span>{% endif %}
                </div>
                <table>
                    {% if not manager.plate.isOwned %}
                    <tr>
                        <th>Owner:</th>
                        <td id='owner_fullname'>{{ manager.plate.getOwner.getFullName }}</td>                    
                    </tr>
                    {% endif %}
                    <tr>
                        <th>Creation Date:</th>
                        <td id='creation_date'>{{ manager.plate.getDate|date:"Y-m-d H:i:s" }}</td>
                    </tr>
                    <!--{% comment %}
                    <tr>
                        <th>Well Count:</th>
                        <td id='child_count'>{{ manager.plate.countChildren }} {% plural manager.plate.countChildren 'well' 'Wells' %}</td>
                    </tr>
                    {% endcomment %}-->
                </table>
                {% else %}
                    {% if manager.screen %}
                    {% if manager.screen.isOwned %}<div id="screenname-{{ manager.screen.id }}"><h1><img src="{% url webstatic "images/color_line12.png" %}" alt="e" title="edit"/> <span id="screenname-{{ manager.screen.id }}-name">{{ manager.screen.name|warphtml:"30" }}</span></h1></div>{% else %}<h1>{{ manager.screen.name|warphtml:"30" }}</h1>{% endif %}
            
                    <h2 id='screen_id'>Screen ID: {{ manager.screen.id }}</h2>
                    <div class="description">
                        {% if manager.screen.isOwned %}<div id="screendescription-{{ manager.screen.id }}"><p><img src="{% url webstatic "images/color_line12.png" %}" alt="e" title="edit"/> <span id="screendescription-{{ manager.screen.id }}-description">{{ manager.screen.description|default_if_none:""}}</span><p></div>{% else %}<span id='screen_desc'>{{ manager.screen.description|default_if_none:""|linebreaks }}</span>{% endif %}
                    </div>
                    <table>
                        {% if not manager.screen.isOwned %}
                        <tr>
                            <th>Owner:</th>
                            <td id='owner_fullname'>{{ manager.screen.getOwner.getFullName }}</td>                    
                        </tr>
                        {% endif %}
                        <tr>
                            <th>Creation Date:</th>
                            <td id='creation_date'>{{ manager.screen.getDate|date:"Y-m-d H:i:s" }}</td>
                        </tr>                    
                        <tr>
                            <th>Screen Count:</th>
                            <td id='child_count'>{{ manager.screen.countChildren }} {% plural manager.screen.countChildren 'screen' 'screens' %}</td>
                        </tr>
                    </table>
                    {% endif %}
                {% endif %}
            {% endif %}
        
        
            <!-- ANNOTATIONS -->
            <h1>{% trans "Annotations" %}</h1>
            <table>
            <!-- RATING -->
            <tr>
                <th colspan="2">{% trans "Rate" %}:</th>
                <td>
                    {% if manager.rating_annotations %}
                    <div class="lntags">
                        <table>
                    {% for rating in manager.rating_annotations %}
                    <tr><td valign="middle">
                        {% ifequal rating.getValue 0 %}<img src="{% url webstatic "images/rating0.png" %}">{% endifequal %}
                        {% ifequal rating.getValue 1 %}<img src="{% url webstatic "images/rating1.png" %}">{% endifequal %}
                        {% ifequal rating.getValue 2 %}<img src="{% url webstatic "images/rating2.png" %}">{% endifequal %}
                        {% ifequal rating.getValue 3 %}<img src="{% url webstatic "images/rating3.png" %}">{% endifequal %}
                        {% ifequal rating.getValue 4 %}<img src="{% url webstatic "images/rating4.png" %}">{% endifequal %}
                        {% ifequal rating.getValue 5 %}<img src="{% url webstatic "images/rating5.png" %}">{% endifequal %}
                        </td>
                        <td>
                        {{ rating.getDetails.getOwner.getNameWithInitial }}
                        </td>
                    </tr>
                    {% endfor %}
                        </table>
                    </div>
                    {% else %}
                        {% trans "No ratings" %}
                    {% endif %}
                </td>
            </tr> 
            <!-- TAGS -->               
            <tr>
                <th>{% trans "Tag" %}:</th>
                <td>
                    {% if manager.project.isEditable %}<a href="{% url manage_action_containers "newtag" "project" manager.project.id %}?url={{url}}"><img src="{% url webstatic "images/plus_11.png" %}" alt="e" title="Create new tag or use an existing one."/></a>{% else %}
                    {% if manager.dataset.isEditable %}<a href="{% url manage_action_containers "newtag" "dataset" manager.dataset.id %}?url={{url}}"><img src="{% url webstatic "images/plus_11.png" %}" alt="e" title="Create new tag or use an existing one."/></a>{% else %}
                    {% if manager.image.isEditable %}<a href="{% url manage_action_containers "newtag" "image" manager.image.id %}?url={{url}}"><img src="{% url webstatic "images/plus_11.png" %}" height='11' width='11' alt="e" title="Create new tag or use an existing one."/></a>{% else %}
                    {% if manager.screen.isEditable %}<a href="{% url manage_action_containers "newtag" "screen" manager.screen.id %}?url={{url}}"><img src="{% url webstatic "images/plus_11.png" %}" alt="e" title="Create new tag or use an existing one."/></a>{% else %}
                    {% if manager.plate.isEditable %}<a href="{% url manage_action_containers "newtag" "plate" manager.plate.id %}?url={{url}}"><img src="{% url webstatic "images/plus_11.png" %}" alt="e" title="Create new tag or use an existing one."/></a>{% else %}
                    {% if manager.well.isEditable %}<a href="{% url manage_action_containers "newtag" "well" manager.well.id %}?url={{url}}"><img src="{% url webstatic "images/plus_11.png" %}" alt="e" title="Create new tag or use an existing one."/></a>
                    {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
                </td>
                <td>
                    {% if manager.tgannSize %}
                    <div class="lntags">
                    {% for tag in manager.tag_annotations %}
                        <a class='tooltip' href="{% url load_template "usertags" %}{% if not tag.isOwned %}?experimenter={{ tag.getOwner.id }}{% endif %}" target="_top"> {{ tag.textValue }}</a> 
                        {% if tag.link.isOwned %}
                        <a href="{% url manage_action_containers "remove" %}tag/{{ tag.id }}/?parent={% if manager.image %}image-{{ manager.image.id}}{% else %}{% if manager.dataset %}dataset-{{ manager.dataset.id}}{% else %}{% if manager.project %}project-{{ manager.project.id}}{% else %}{% if manager.screen %}screen-{{ manager.screen.id}}{% else %}{% if manager.plate %}plate-{{ manager.plate.id}}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}&url={{ url }}" onClick="return confirm('Unlink tag?');">
                            <img src="{% url webstatic "images/minus_11.png" %}" alt="u" title="unlink"/>
                        </a>{% endif %}
                        <span style='display:none'>
                            <b>Owner:</b> {{ tag.getOwner.getFullName }}<br />
                            <b>Linked by:</b> {{ tag.link.getDetails.getOwner.getFullName }}<br />
                            <b>On:</b> {{ tag.link.creationEventDate|date:"Y-m-d H:i:s" }}<br />
                            <b>Description:</b> {{ tag.description|default_if_none:""|truncatewords:10  }}
                        </span>
                    {% endfor %}
                    </div>
                    {% else %}
                        {% trans "No tags" %}
                    {% endif %}
                </td>
            </tr>
            <!-- FILES -->
            <tr>
                <th>{% trans "Attach" %}:</th>
                <td>
                    {% if manager.project.isEditable %}<a href="{% url manage_action_containers "newfile" "project" manager.project.id %}?url={{url}}"><img src="{% url webstatic "images/plus_11.png" %}" alt="e" title="Attache new file or use an existing one."/></a>{% else %}
                    {% if manager.dataset.isEditable %}<a href="{% url manage_action_containers "newfile" "dataset" manager.dataset.id %}?url={{url}}"><img src="{% url webstatic "images/plus_11.png" %}" alt="e" title="Attache new file or use an existing one."/></a>{% else %}
                    {% if manager.image.isEditable %}<a href="{% url manage_action_containers "newfile" "image" manager.image.id %}?url={{url}}"><img src="{% url webstatic "images/plus_11.png" %}" alt="e" title="Attache new file or use an existing one."/></a>{% else %}
                    {% if manager.screen.isEditable %}<a href="{% url manage_action_containers "newfile" "screen" manager.screen.id %}?url={{url}}"><img src="{% url webstatic "images/plus_11.png" %}" alt="e" title="Attache new file or use an existing one."/></a>{% else %}
                    {% if manager.plate.isEditable %}<a href="{% url manage_action_containers "newfile" "plate" manager.plate.id %}?url={{url}}"><img src="{% url webstatic "images/plus_11.png" %}" alt="e" title="Attache new file or use an existing one."/></a>{% else %}
                    {% if manager.well.isEditable %}<a href="{% url manage_action_containers "newfile" "well" manager.well.id %}?url={{url}}"><img src="{% url webstatic "images/plus_11.png" %}" alt="e" title="Attache new file or use an existing one."/></a>
                    {% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}
                </td>
                <td>
                    {% if manager.fileannSize %}
                    <div class="lnfiles">
                        {% for fileann in manager.file_annotations %}
                        <p>
                            <a class='tooltip' href="#" onClick="document.location.href='{% url download_annotation "download" fileann.id %}';" 
                                title="Linked by {{ fileann.link.getDetails.getOwner.getNameWithInitial }} {% trans "at" %} {{ fileann.creationEventDate|date:"Y-m-d H:i:s" }}. {% trans "Owner:" %} {{ fileann.getDetails.getOwner.getNameWithInitial }}">
                                {{ fileann.getFileName|shortening:40 }}
                            </a>
                            <span style='display:none'>
                                <b>Owner:</b> {{ fileann.getOwner.getFullName }}<br />
                                <b>Linked by:</b> {{ fileann.link.getDetails.getOwner.getFullName }}<br />
                                <b>On:</b> {{ fileann.link.creationEventDate|date:"Y-m-d H:i:s" }}<br />
                                <b>Description:</b> {{ fileann.description|default_if_none:""|truncatewords:10  }}
                            </span>
                            ({{ fileann.getFileSize|default_if_none:0|filesizeformat }})
                            {% if fileann.link.isOwned and not fileann.isOriginalMetadata %}
                                <a href="{% url manage_action_containers "remove" %}file/{{ fileann.id }}/?parent={% if manager.image %}image-{{ manager.image.id}}{% else %}{% if manager.dataset %}dataset-{{ manager.dataset.id}}{% else %}{% if manager.project %}project-{{ manager.project.id}}{% endif %}{% endif %}{% endif %}&url={{ url }}" onClick="return confirm('Unlink file?');"><img src="{% url webstatic "images/minus_11.png" %}" alt="u" title="unlink"/></a>
                            {% endif %}
                            {% if fileann.canDelete and not fileann.isOriginalMetadata %}
                                <input class="button" type="image" src="{% url webstatic "images/cancel12.png" %}" alt="Delete" title="Delete" onclick="deleteItem('file', '{{ fileann.id }}');" />
                            {% endif %}
                            <!-- if we have 'volume' data attached - link for viewing in Open-Astex Viewer -->
                            {% ifequal fileann.getFileName|slice:"-3:" 'map' %}
                                <a href="#" onclick="return openPopup('{% url open_astex_viewer fileann.id %}')">Volume viewer</a>
                            {% endifequal %}
                            {% ifequal fileann.getFileName|slice:"-3:" 'bit' %}
                                <a href="#" onclick="return openPopup('{% url open_astex_viewer fileann.id %}')">Volume viewer</a>
                            {% endifequal %}
                        </p>
                        {% endfor %}
                    </div>
                    {% else %}
                        {% trans "No attachments." %}
                    {% endif %}
                </td>
            </tr>  
            <!-- CUSTOM ANNOTATIONS -->
            <tr>
                <th>{% trans "Others" %}:</th>
                <td>
                    <!-- no editing of custom annotations-->
                </td>
                <td>
                    <!-- tool tips for each <td> is contained in child <span>, which are also hidden -->
                    <table id="custom_annotations">
                        {% for ann in manager.xml_annotations %}
                        <tr><th>XML:</th>
                            <td>
                                <div>{{ ann.getValue|escape|slice:"0:30" }}...</div>
                                <div class="show_xml">Open in window</div><div>{{ ann.getValue }}</div>
                                <span style='display:none'>{% if ann.ns %}<b>Namespace:</b> {{ ann.ns }}<br />{% endif %}
                                    {% if ann.description %}<b>Description:</b> {{ ann.description }}<br />{% endif %}
                                    <b>Owner:</b> {{ ann.getOwner.getFullName }}<br />
                                    <b>Date:</b> {{ ann.creationEventDate|date:"Y-m-d H:i:s" }}</span>
                            </td>
                        </tr>
                        {% endfor %}
                        
                        {% for ann in manager.boolean_annotations %}
                        <tr><th>Boolean:</th>
                            <td>
                                {{ ann.getValue }}
                                <span style='display:none'>{% if ann.ns %}<b>Namespace:</b> {{ ann.ns }}<br />{% endif %}
                                    {% if ann.description %}<b>Description:</b> {{ ann.description }}<br />{% endif %}
                                    <b>Owner:</b> {{ ann.getOwner.getFullName }}<br />
                                    <b>Date:</b> {{ ann.creationEventDate|date:"Y-m-d H:i:s" }}</span>
                            </td>
                        </tr>
                        {% endfor %}
                        {% for ann in manager.double_annotations %}
                        <tr><th>Double:</th>
                            <td>
                                {{ ann.getValue }}
                                <span style='display:none'>{% if ann.ns %}<b>Namespace:</b> {{ ann.ns }}<br />{% endif %}
                                    {% if ann.description %}<b>Description:</b> {{ ann.description }}<br />{% endif %}
                                    <b>Owner:</b> {{ ann.getOwner.getFullName }}<br />
                                    <b>Date:</b> {{ ann.creationEventDate|date:"Y-m-d H:i:s" }}</span>
                            </td>
                        </tr>
                        {% endfor %}
                        {% for ann in manager.term_annotations %}
                        <tr><th>Term:</th>
                            <td>
                                {{ ann.getValue }}
                                <span style='display:none'>{% if ann.ns %}<b>Namespace:</b> {{ ann.ns }}<br />{% endif %}
                                    {% if ann.description %}<b>Description:</b> {{ ann.description }}<br />{% endif %}
                                    <b>Owner:</b> {{ ann.getOwner.getFullName }}<br />
                                    <b>Date:</b> {{ ann.creationEventDate|date:"Y-m-d H:i:s" }}</span>
                            </td>
                        </tr>
                        {% endfor %}
                        {% for ann in manager.time_annotations %}
                        <tr><th>Time:</th>
                            <td>
                                {{ ann.getValue }}
                                <span style='display:none'>{% if ann.ns %}<b>Namespace:</b> {{ ann.ns }}<br />{% endif %}
                                    {% if ann.description %}<b>Description:</b> {{ ann.description }}<br />{% endif %}
                                    <b>Owner:</b> {{ ann.getOwner.getFullName }}<br />
                                    <b>Date:</b> {{ ann.creationEventDate|date:"Y-m-d H:i:s" }}</span>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
                      
            <!-- COMMENT -->
            <tr>
                <th colspan="3">                
                    {% trans "Comment:" %}
                    {% if manager.project.isEditable or manager.dataset.isEditable or manager.image.isEditable %}
                    <form action="{% if manager.project %}{% url manage_action_containers "addcomment" "project" manager.project.id %}{% else %}{% if manager.dataset %}{% url manage_action_containers "addcomment" "dataset" manager.dataset.id %}{% else %}{% if manager.image %}{% url manage_action_containers "addcomment" "image" manager.image.id %}{% else %}{% if manager.screen %}{% url manage_action_containers "addcomment" "screen" manager.screen.id %}{% else %}{% if manager.plate %}{% url manage_action_containers "addcomment" "plate" manager.plate.id %}{% else %}{% if manager.well %}{% url manage_action_containers "addcomment" "well" manager.well.id %}{% else %}{{ url }}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}{% endif %}?url={{url}}" method="post">
                    <table>
                        {% for field in form_comment %}
                            <tr>
                                <td colspan="2">{% if field.errors %}{{ field.errors }}{% endif %}</td>
                            </tr>
                            <tr>
                                <td>{{ field }}</td><td>{{ field.help_text|safe }}</td>
                            </tr>
                        {% endfor %}
                            <tr><td colspan="2"><input type="submit" value="{% trans 'Add Comment' %}" /></td></tr>
                    </table>
                    </form>
                    {% endif %}                        
                </th>
            </tr>
            <tr>
                <td colspan="3">
                    {% if manager.txannSize %}
                    <div class="lncomments">            
                        {% for tann in manager.text_annotations %}
                        <div class="ann_comment_wrapper">
                            <div class="avatar"><img src="{% url load_photo tann.details.owner.id.val %}" alt="{{ tann.getOwner.getFullName }}" title="{{ tann.getOwner.getFullName }}" width="20" height="20" /></div>
                            <div>
                                <span class="ann_comment_header">{{ tann.getOwner.getFullName }} {% trans "at" %} {{ tann.creationEventDate|date:"Y-m-d H:i:s" }}</span>
                                {% if tann.canDelete %}
                                    <input class="button" type="image" src="{% url webstatic "images/cancel12.png" %}" alt="Delete" title="Delete" onclick="deleteItem('comment', '{{ tann.id }}');" />
                                {% endif %}
                                <div class='commentText'>
                                {{ tann.textValue|wikify|safe|linebreaks }}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                        {% trans "No comments." %}                        
                    {% endif %}
                </td>
            </tr>            
            </table>            
            <div class="clear"></div>          

            {% if manager.image %}
            <!-- HIERARCHY - Contained In -->
            <h1>Contained in Datasets</h1>
            <div id="hierarchy-pane">
                <!-- content is loaded by ajax when this tab is first displayed -->
                <a id="hierarchy-link" href="{% url load_metadata_hierarchy 'image' manager.image.id %}">Load hierarchy...</a>
                <img id="hierarchy-spinner" style="display:none" src="{% url webstatic 'images/spinner.gif' %}" />
            </div>
            {% endif %}
        </div>
        </div>
        {% endif %}

        {% if manager.tag %}
        {% if manager.tag.isOwned %}<div id="tagname-{{ manager.tag.id }}"><h1><img src="{% url webstatic "images/color_line12.png" %}" alt="e" title="edit"/> <span id="tagname-{{ manager.tag.id }}-name">{{ manager.tag.getValue|warphtml:"30" }}</span></h1></div>{% else %}{{ manager.tag.getValue|warphtml:"30" }}{% endif %}
        
        <h2 id='tag_id'>Tag ID: {{ manager.tag.id }}</h2>   

        <div class="description">
            {% if manager.tag.isOwned %}<div id="tagdescription-{{ manager.tag.id }}"><p><img src="{% url webstatic "images/color_line12.png" %}" alt="e" title="edit"/> <span id="tagdescription-{{ manager.tag.id }}-description">{{ manager.tag.description|default_if_none:""}}</span><p></div>{% else %}<span id='tag_desc'>{{ manager.tag.description|default_if_none:""|linebreaks }}</span>{% endif %}
        </div>
        
        <table>
            {% if not manager.tag.isOwned %}
            <tr>
                <th>Owner:</th>
                <td id='owner_fullname'>{{ manager.tag.getOwner.getFullName }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Creation Date:</th>
                <td id='creation_date'>{{ manager.tag.getDate|date:"Y-m-d H:i:s" }}</td>
            </tr>
            <tr>
                <th>Image Count:</th>
                {% if False %}
                <td id='child_count'>{{ manager.tag.countChildren }} {% plural manager.tag.countChildren 'tag' 'tags' %}</td>
                {% endif %}
            </tr>
        </table>
        {% endif %}
    </div>
    
    
</div>
{% endblock %}