<ul class="lnfiles">

    <li class="rating myRating" style="position: relative">
        <a><img
        <% if (canAnnotate) { %>
            title="Click to add rating"
        <% } else { %>
            title="You don't have permissions to add rating"
        <% } %>
        <% if (myRating) { %>
            src="<%= static %>image/rating<%= myRating %>.png"
        <% } else { %>
            src="<%= static %>image/rating0.png"
        <% } %>
        />
        </a>
        <% if (canAnnotate) { %>
        <a href="#" class="removeRating removeTag" title="Delete rating">X</a>
        <% } %>
    </li>
</ul>
<div id="ratingsSummary" <% if (!average) { %>style="display:none"<% } %> >
    (avg:
    <span id="ratingsAverage"><%= average %></span>
    / <span id="ratingsCount"><%= count %></span>
    votes)
</div>