omero.version=3.0-alpha-SNAPSHOT
omero.repo.local=${omero.home}/lib/repository
omero.repo.remote=http://cvs.openmicroscopy.org.uk/maven

############################################
# client connection
############################################
omero.user=user
omero.pass=secret
omero.group=user
omero.event=User

