$pojo.getPackageDeclaration()

$secondpassclassimports

$templates.PojoTypeDeclaration 
{

#if(!$pojo.isInterface())

$templates.PojoFields

$templates.PojoConstructors

$templates.PojoPropertyAccessors   

$templates.PojoToString

$templates.PojoEqualsHashcode

#else 

$templates.PojoInterfacePropertyAccessors

#end

$templates.PojoExtraClassCode



}
