<?xml version="1.0" encoding="utf-8"?>
<project name="server" default="help" basedir=".">
<!--
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
# Copyright (C) 2005 Open Microscopy Environment
#       Massachusetts Institue of Technology,
#       National Institutes of Health,
#       University of Dundee    
#                       
#               
#
#    This library is free software; you can redistribute it and/or
#    modify it under the terms of the GNU Lesser General Public
#    License as published by the Free Software Foundation; either
#    version 2.1 of the License, or (at your option) any later
#    version.           
#                       
#    This library is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
#    Lesser General Public License for more details.
#       
#    You should have received a copy of the GNU Lesser General Public
#    License along with this library; if not, write to the Free
#    Software           
#    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA
#    02111-1307  USA
#       
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Written by:  Josh Moore <josh.moore@gmx.de>
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        
  DOCUMENTATION:
  ==============================================================================
  Script to deploy and undeploy our application. This functionality is
  similar to that provided by cargo, http://cargo.codehaus.org and may
  be replaced.

-->
    
	<!-- 	===============================================
		APPLICATION SERVER (AS) 
	==================================================  -->

   <property name="jboss.home" value="${env.JBOSS_HOME}"/>   
   <property name="jboss.server.config" value="default"/>
   <property name="jboss.deploy.dir" value="${jboss.home}/server/${jboss.server.config}/deploy"/>

   <target name="help">
     <echo>
  deploy --   installs all ears under ${target.dir} to ${jboss.deploy.dir}
  undeploy -- removes those same ears from ${jboss.deploy.dir}
     </echo>
   </target>

	<target name="earfiles">
		<fileset dir="${app.comp}/${target.rel}" includes="*.ear" id="ear.files"/>
	</target>

	<target name="deploy-ear-jboss" depends="check-system,earfiles">
		<copy todir="${jboss.deploy.dir}">
			<fileset refid="ear.files"/>
		</copy>
	</target>

	<target name="undeploy-ear-jboss" depends="check-system,prepare,load-groovy">
		<groovy>
       fs = project.references["ear.files"]
       jb = properties["jboss.deploy.dir"]
       fs.each { |file|
         ant.delete(file:"${jb}/${file}")
       }
		</groovy>
	</target>

	<target name="start-as-jboss" depends="check-system">
		<exec executable="${env.JBOSS_HOME}/bin/run.sh"/>
	</target>

	<target name="stop-as-jboss" depends="check-system">
		<exec executable="${env.JBOSS_HOME}/bin/shutdown.sh">
			<arg value="-S"/>
		</exec>
	</target>

	<target name="wait-on-as-jboss"
		depends="check-system,prepare,load-groovy"
		description="Tries to contact JBoss with increasing intervals">
		<groovy>
			jboss_home = properties["env.JBOSS_HOME"]
			status = ["${jboss_home}/bin/twiddle.sh","serverinfo","-l"]
			int ret = -1;
			[0,1,2,4,8,16].each { |i|
			  if (ret != 0) {
			    println "Waiting on JBoss..."
			    Thread.currentThread().sleep(i*1000)
			    p = status.execute()
			    p.waitFor()
			    ret = p.exitValue()
			  }
			}
		</groovy>
	</target>

</project>
