{% extends "webmobile/base/base_header.html" %}

{% block header-title %}
    OMERO mobile:
{% endblock %}

{% block header-right %}
    {% if experimenter %}
        <a href="{% url webmobile_groups_members %}">{{ experimenter.getFullName }} ></a>
    {% endif %}
{% endblock %}


{% block content %}

<div class="subtitle">
    Browse{% if experimenter %} (owned by {{ experimenter.getFullName }}){% endif %}:
</div>

<div class="list-container"> 
    <a {% if experimenter %} href="{% url webmobile_projects experimenter.id %}" 
        {% else %} href="{% url webmobile_projects %}"{% endif %} >
        <div class="item-name">
            Projects
        </div>
    </a>
    
    <a href="{% url webmobile_projects %}{% if experimenter %}?experimenter={{ experimenter.id }}{% endif %}">
        <div class="item-name">
            Screens
        </div>
    </a>
    
    <a href="{% url webmobile_projects %}{% if experimenter %}?experimenter={{ experimenter.id }}{% endif %}">
        <div class="item-name">
            Tags
        </div>
    </a>
</div>

<div class="list-container">
    <a href="{% url webmobile_groups_members %}">
        <div class="item-name">Switch Group / User</div></a>
    </a>
</div>

{% endblock %}
