{% extends "webmobile/base/base.html" %}

{% block title %} OMERO mobile Viewer {% endblock %}

{% block link %}
<style type="text/css">

body {
    background-color: #666;
    font-family:arial; 
    padding:0px; 
    margin:0px;}

img#imagePlane {
  position: absolute;
  z-index: 2;
  background-image:url('/appmedia/webmobile/img/loading.gif');
  background-repeat:no-repeat;
}

#imageContainer {
    position:absolute;
    z-index: 1;
    left:0px;
    top:0px;
}

.controls {
    position:fixed;
    z-index: 3;
    color: white;
    padding:0px;
    margin:0px;
}

#zControls {
    bottom:33px;
    left:0px;
    width: 32px;
    height: 80px;
}

#tControls {
    bottom: 0px;
    left: 33px;
    height: 32px;
    width: 80px;
}

.controlBg {
    position: absolute;
    z-index: 4;
}

.arrow {
    position: absolute;
    z-index: 5;
}
.slider{
    position: absolute;
    border: solid white 1px;
    z-index: 5;
}

#zUp {
    top: 0px;
}

#zDown {
    bottom: 0px;
}
#tRight {
    right: 0px;
}
#imageId{
    display:none;
}

#scalebar{
    background: white;
    border: solid black 1px;
}

</style>

{% block meta %}
    <meta name="viewport" content="width={{ image.getWidth }}; initial-scale=1; maximum-scale=5.0; user-scalable=1;">
{% endblock %}

{% endblock %}

{% block jscript %}
    <script type="text/javascript" src="/appmedia/webmobile/js/viewer.js"></script>
{% endblock %}

{% block body %}

<div id="imageId">{{image.id}}</div>

<!-- simply makes the page the right size -->
<div id="imageContainer"></div>

<div class='controls' id="zControls">
    <img class='controlBg' id="zBg" src="/appmedia/webmobile/img/bg-vertical.png"/>
    <img class="arrow" id="zUp" src="/appmedia/webmobile/img/up.png"/>
    <img class="arrow" id="zDown" src="/appmedia/webmobile/img/down.png"/>
    <div class="slider" id="zSlider"></div>
</div>
<div class='controls' id="tControls">
    <img class='controlBg' id="tBg" src="/appmedia/webmobile/img/bg-horizontal.png"/>
    <img class="arrow" id="tLeft" src="/appmedia/webmobile/img/left.png"/>
    <img class="arrow" id="tRight" src="/appmedia/webmobile/img/right.png"/>
    <div class="slider" id="tSlider"></div>
</div>

<div class="controls" id="scalebar">
    
</div>

<img id="imagePlane" width="{{ image.getWidth }}" height="{{ image.getHeight }}" src="/appmedia/webmobile/img/spacer.gif"/>
    
{% endblock %}