{% extends "webmobile/base/base.html" %}

{% block title %} OMERO mobile Viewer {% endblock %}

{% block link %}
<style type="text/css">

body {
    background-color: #666;
    font-family:arial; 
    padding:0px; 
    margin:0px;}

img#imagePlane {
  position: absolute;
  z-index: 2;
  background-image:url('/webmobile/appmedia/img/loading.gif');
  background-repeat:no-repeat;
}

#imageContainer {
    position:absolute;
    z-index: 1;
    left:0px;
    top:0px;
}

.controls {
    position:fixed;
    z-index: 3;
    color: white;
    padding:0px;
}

#infoPanel {
    position:fixed;
    z-index: 4;
    color: white;
    background: black;
    opacity: 0.7;
}
#renderingPanel {
    position:fixed;
    z-index: 5;
    color: white;
    background: black;
    opacity: 0.7;
}
#gradient {
    position:fixed;
    z-index: 6;
}
#renderingText {
    color: white;
    position:fixed;
    z-index: 7;
}
.pointer {
    position:fixed;
    z-index: 8;
}
#renderingOverlay{
    position:fixed;
    z-index: 9;
}
#infoPanel h2 {
    margin-top: 0px;
    white-space:nowrap;
}

#zControls {
    position: fixed;
    bottom:33px;
    left:0px;
    top:0px;
    width: 32px;
    height: 80px;
}

#tControls {
    bottom: 0px;
    left: 33px;
    height: 32px;
    width: 80px;
}

.controlBg {
    position: absolute;
    z-index: 4;
}

.arrow {
    position: absolute;
    z-index: 5;
}
.slider{
    position: absolute;
    border: solid white 1px;
    z-index: 5;
}

#zUp {
    top: 0px;
}

#zDown {
    bottom: 0px;
}
#tRight {
    right: 0px;
}
#imageId{
    display:none;
}

#scalebar{
    background: white;
    border: solid black 1px;
}
#scaleNumber{
    background-color: black;
    color: #fff;
    text-align: right;
}
.hidden {
    display:none;
}

.hidden {
    display: none;
}

</style>

{% endblock %}

{% block meta %}
    <!-- solution for android bug http://code.google.com/p/android/issues/detail?id=10775 -->
    <meta name="viewport" content="user-scalable=yes, initial-scale=1.0, width=device-width">
{% endblock %}


{% block jscript %}
    <script type="text/javascript" src="{% url webstatic "javascript/jquery_1.3.2.js" %}"></script>
    <script type="text/javascript" src="{% url mobile_static 'js/viewer.js' %}"></script>
{% endblock %}

{% block body %}

<div id="imageId">{{image.id}}</div>

<!-- simply makes the page the right size -->
<div id="imageContainer"></div>

<div class='controls' id="zControls">
    <img class='controlBg' id="zBg" src="{% url mobile_static 'img/bg-vertical.png' %}"/>
    <img class="arrow" id="zUp" src="{% url mobile_static 'img/up.png' %}"/>
    <img class="arrow" id="zDown" src="{% url mobile_static 'img/down.png' %}"/>
    <div class="slider" id="zSlider"></div>
</div>
<div class='controls' id="tControls">
    <img class='controlBg' id="tBg" src="{% url mobile_static 'img/bg-horizontal.png' %}"/>
    <img class="arrow" id="tLeft" src="{% url mobile_static 'img/left.png' %}"/>
    <img class="arrow" id="tRight" src="{% url mobile_static 'img/right.png' %}"/>
    <div class="slider" id="tSlider"></div>
</div>

<img class="controls" id="infoIcon" src="{% url mobile_static 'img/info.png' %}" style="display:none"/>
<div id="infoPanel"></div>

<div id="channelButtons" class="controls"></div>
<div id="renderingPanel"></div>
<img class='pointer' id="winStartPointer" src="{% url mobile_static 'img/slider-pointer.png' %}" style="display:none" />
<img class='pointer' id="winEndPointer" src="{% url mobile_static 'img/slider-pointer.png' %}" style="display:none" />
<img id="gradient" src="{% url mobile_static 'img/gradient.png' %}" style="display:none" />
<div id="renderingText"></div>
<div id="renderingOverlay"></div>

<img class="controls" id="projectionButton" src="{% url mobile_static 'img/proj-off.png' %}" style="display:none"/>

<div class="controls" id="scaleNumber"></div>
<div class="controls" id="scalebar">
    
</div>

<img id="imagePlane" width="{{ image.getWidth }}" height="{{ image.getHeight }}" src="{% url mobile_static 'img/spacer.gif' %}"/>

<!-- element for passing src of images to js -->
<img id="button-down" style="display:none" src="{% url mobile_static 'img/button-down.png' %}"/>
<img id="button-up" style="display:none" src="{% url mobile_static 'img/button-up.png' %}"/>
<img id="button-down-select" style="display:none" src="{% url mobile_static 'img/button-down-select.png' %}"/>
<img id="proj-on" style="display:none" src="{% url mobile_static 'img/proj-on.png' %}"/>
<img id="proj-off" style="display:none" src="{% url mobile_static 'img/proj-off.png' %}"/>
    
{% endblock %}