{% extends "common/base/base_main.html" %}

{% block title %}
Extends "common/base/base_main.html"
{% endblock %}


{% block nav_links %}
    <li><a href="#">Link</a></li>
    <li><a href="#">One</a></li>
    <li><a href="#">Two</a></li>
{% endblock %}


{% block content %}
<h1>block content</h1>

<p>
    This page extends "common/base/base_main.html" and makes the following changes:
    <ul>
        <li>Adds links to the 'nav_links' block (main top links)</li>
        <li>Adds this text to the 'content' block</li>
    </ul>
</p>

{% endblock %}