{% extends "webtest/common/base_header.html" %}

{% block title %}
Extends "webtest/common/base_header.html"
{% endblock %}


{% block logo %}
<div><img src="/webtest/statictest/img/ome-logo-bw.png" height='85'/></div>
{% endblock %}


{% block header_left %}
{{ block.super }}
 | <a href="#">Extra Link for this page</a>
{% endblock %}


{% block content %}
    <h1>block content</h1>
    
    <p>
        This page extends "<a href="{% url common 'base_header' %}">webtest/common/base_header.html</a>" and makes the following changes:
        <ul>
            <li>Overwrites the 'logo' block to change the icon at the top-left of the page</li>
            <li>Add extra link to the 'header_left' block (while including the links from the parent template)
            <li>Adds this text to the 'content' block</li>
        </ul>
    </p>
    
    <p>
        The links in the thin header (left) take you to other pages that also extend common/base/base_header OR extend this one, 
        showing other options for customising things.
    </p>
    
{% endblock %}
