body {
	margin: 5px;
	padding: 5px;
	background-color: #555555;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#wrapper {
	margin: 5px 20% 5px 20%;
	border: 1px solid black;
	padding: 5px 5px 5px 5px;
	background-color: #FFFFFF;
}

#header {
	margin: 5px;
	padding: 5px;
}

#center {
	float: left;
	margin: 10px;
	padding: 10px;
	height: 420px;
	max-height: 420px;
	overflow: scroll;
	overflow: auto;
}

#footer {
	clear: both;
	color: #bbbbbb;
	font-size: 10px;
	border-top: 1px solid;
	margin: 10px;
	padding: 5px;
	text-align: center;
}

/* general anchor colors */
img {
	border: 0px;
}

a:link,a:visited {
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}

a:hover {
	color: #aaaaaa;
	text-decoration: none;
}

/* center lists */
#center ul li {
	margin: 5px;
	padding: 5px;
	font-size: .75em;
}

/* NAVIGATION FORMATTING BEGIN */
#navigation {
	margin: 0;
	text-align: right;
	vertical-align: middle;
	text-transform: capitalize;
	font-weight: bold;
	border: 1px solid;
	background-color: #bbbbbb;
	padding: 5px 0 5px 0;
}

#navigation ul {
	margin: 0;
	display: inline;
}

#navigation ul li {
	margin: 5px;
	padding: 5px;
	list-style: none;
	display: inline;
}

#navigation a:link,#navigation a:visited {
	text-decoration: none;
}

#navigation a:hover {
	color: #ffffff;
	text-decoration: none;
}

#center h1,h2,#header h1 {
	font-size: 12px;
	font-weight: bold;
	text-align: left;
}

#center table {
	font-size: 12px;
	text-align: center;
}

table.list {
	width: 100%
}

td.form {
	text-align: right;
	font-size: 12px;
}

#center th {
	font-weight: bold;
	border: 1px solid #bbbbbb;
	background-color: #eeeeee;
}

.errorText {
	color: red;
	text-decoration: overline;
}