{% extends "webclient/base/base.html" %}
{% load i18n %}
{% load markup %}
{% load custom_tags %}

{% block link %}
    <link rel="stylesheet" href="{% url webstatic "css/table.css" %}" type="text/css" media="screen"/>
    
{% endblock %}

{% block jscript %}
    <script type="text/javascript" src="{% url webstatic "javascript/ui/ui.core.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/ui/ui.selectable.js" %}"></script>
    
    <script type="text/javascript" src="{% url webstatic "javascript/jquery.tablesorter.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/jquery.quicksearch.js" %}"></script>

{% endblock %}

{% block script %}

    <script type="text/javascript" src="{% url webstatic "javascript/actions.js" %}"></script>
    
    <script type="text/javascript">
        $(document).ready(function(){

            var h = $(window).height()-200;
            $("div#content_details").css('height', h+31);
            $("#right_panel").show();
            $("#swapMeta").html('<img tabindex="0" src="{% url webstatic "images/tree/spacer.gif" %}" class="collapsed-right" id="lhid_trayhandle_icon_right">');
            
        });    
    </script>

{% endblock %}

{% block center %}

<div id="content_details">
    <h1>Jobs status</h1>
    {% if sizeOfJobs %}

        <table id="dataTable" class="tablesorter">
            <thead> 
                <tr> 
                    <th class="desc">{% trans "Job" %}</th> 
                    <th class="desc">{% trans "Status" %}</th> 
                    <th class="desc">{% trans "Error" %}</th> 
                </tr> 
            </thead>
            <tbody>
                {% for k,v in jobs.iteritems %}
                    <tr>
                        <td class="action">
                            {% ifequal v.dtype "project" %}<input class="button" type="image" src="{% url webstatic "images/folder32.png" %}" alt="project" title="project" onclick="loadMetadata('{% url load_metadata_details "image" v.did %}');"/>{% else %}
                            {% ifequal v.dtype "dataset" %}<input class="button" type="image" src="{% url webstatic "images/folder_image32.png" %}" alt="dataset" title="dataset" onclick="loadMetadata('{% url load_metadata_details "image" v.did %}');"/>{% else %}
                            {% ifequal v.dtype "image" %}
                                {% if v.delmany %}
                                    Deleting {{ v.delmany }} {{ v.dtype }}(s)
                                {% else %}
                                    <input class="button" type="image" src="{% url render_thumbnail_resize 32 v.did  %}" alt="image" title="image" onclick="loadMetadata('{% url load_metadata_details "image" v.did %}');"/>
                                {% endif %}{% else %}
                            {% ifequal v.dtype "screen" %}<input class="button" type="image" src="{% url webstatic "images/folder_image32.png" %}" alt="screen" title="screen" onclick="loadMetadata('{% url load_metadata_details "image" v.did %}');"/>{% else %}
                            {% ifequal v.dtype "plate" %}<input class="button" type="image" src="{% url webstatic "images/folder_image32.png" %}" alt="plate" title="plate" onclick="loadMetadata('{% url load_metadata_details "image" v.did %}');"/>
                            {% endifequal %}{% endifequal %}{% endifequal %}{% endifequal %}{% endifequal %}    
                        </td>
                        <td class="action">{{ v.dreport }}{% ifequal v.dreport "Progress" %} <img src="{% url webstatic "images/spinner.gif" %}"/>{% endifequal %}</td>
                        <td class="action">{{ v.derror }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        </div>

    {% else %}
        <p>{% trans "There are no jobs" %}</p>
    {% endif %}
</div>    
    
{% endblock %}

{% block right %}
    
    <div id="metadata_details">
        <h1>{% trans "Status of your jobs" %}</h1>
        <p>{% trans "This page shows the current status of your jobs." %}
            {% if not status.sizeOfJobs %}
                {% trans "Currently you have no awaiting jobs." %}
            {% else %}
                {% trans "Awaiting jobs are sting in the queue." %}
            {% endif %}
        </p>
    </div>
    
{% endblock %}
