{% load i18n %}
{% load custom_tags %}

{% if manager.containers.orphaned %}
    {% for d in manager.containers.images %}
        <li id='img-{{ d.id }}' title="{{ d.name }}"><span {% if not d.isOwned %}{% if eContext.isLeader %}id="editonly"{% else %}id="readonly"{% endif %}{% endif %}>{{ d.name|truncatebefor:"35" }}</span> 
            {% if d.countAnnotations %} <img src="{% url webstatic "images/knotes12.png" %}" alt="a" title="annotation"/>{% endif %} 
            {% if not d.isOwned %} <img src="{% url webstatic "images/kgpg12.png" %}" alt="l" title="owned by {{ d.getOwner.getNameWithInitial }}"/>{% endif %}</li>
    {% endfor %}
{% else %}
    {% for d in manager.containers.images %}
        <li id='img-{{ d.id }}' title="{{ d.name }}"><span {% if not d.isOwned %}{% if eContext.isLeader %}id="editonly"{% else %}id="readonly"{% endif %}{% endif %}>{{ d.name|truncatebefor:"35" }}</span> 
            {% if d.countAnnotations %} <img src="{% url webstatic "images/knotes12.png" %}" alt="a" title="annotation"/>{% endif %} 
            {% if not d.isOwned %} <img src="{% url webstatic "images/kgpg12.png" %}" alt="l" title="owned by {{ d.getOwner.getNameWithInitial }}"/>{% endif %}
        </li>
    {% endfor %}    
{% endif %}
