{% load i18n %}
{% load markup %}
{% load custom_tags %}
    
{% load i18n %}
{% load markup %}
{% load custom_tags %}

<ul>
    <li id="experimenter-0" rel="experimenter"><a href="#">{% if manager.experimenter %}{{ manager.experimenter.getFullName }}{% else %}{{ eContext.user.getFullName }}{% endif %}</a>
        {% if manager.t_size %}
        <ul>
            {% for t in manager.tags %}
            {% if t.ns %}
            <li id='tagset-{{ t.id }}' rel="tagset" class="jstree-closed"><a href="#">{{ t.textValue|truncatebefor:"35" }}</a></li>
            {% else %}
            <li id='tag-{{ t.id }}' rel="tag" class="jstree-closed"><a href="#">{{ t.textValue|truncatebefor:"35" }}</a></li>
            {% endif %}
            {% endfor %}            
        </ul>
        {% endif %}
    </li>
</ul>
