{% load i18n %}
{% load markup %}
{% load custom_tags %}
    

{% if manager.c_size %}
<ul class="simpleTree">
    <li class="root" id='0'><span>{% if manager.experimenter %}{{ manager.experimenter.getFullName }}{% else %}{{ eContext.user.getFullName }}{% endif %}</span>
        <ul>
            {% for c in manager.containers.projects %}
            <li id='pr-{{ c.id }}'><span>{{ c.truncateNameForTree }}</span> {% if c.countAnnotations %} <img src="{% url webstatic "images/knotes12.png" %}" alt="a" title="annotation"/>{% endif %}{% if not c.isOwned %} <img src="{% url webstatic "images/kgpg12.png" %}" alt="l" title="locked"/>{% endif %}
                <ul>
                    {% if c.copyDatasetLinks %}
                    {% for d in c.listChildren %}
                        <li id='ds-{{ d.id }}' ><span>{{ d.truncateNameForTree }}</span> {% if d.countAnnotations %} <img src="{% url webstatic "images/knotes12.png" %}" alt="a" title="annotation"/>{% endif %}{% if not d.isOwned %} <img src="{% url webstatic "images/kgpg12.png" %}" alt="l" title="locked"/>{% endif %}
                            <ul class="ajax">
                                <li id='{{ d.id.val }}'>{url:{% url load_data "ajaxdataset" d.id %}?view=tree}</li>
                            </ul>
                        </li>
                    {% endfor %}
                    {% else %}
                        <li class="line-last"/>
                    {% endif %}
                </ul>
            </li>
            {% endfor %}
            
            {% for c in manager.containers.screens %}
            <li id='sc-{{ c.id }}'><span>{{ c.truncateNameForTree }}</span> {% if c.countAnnotations %} <img src="{% url webstatic "images/knotes12.png" %}" alt="a" title="annotation"/>{% endif %}{% if not c.isOwned %} <img src="{% url webstatic "images/kgpg12.png" %}" alt="l" title="locked"/>{% endif %}
                <ul>
                    {% if c.copyPlateLinks %}
                    {% for d in c.listChildren %}
                        <li id='pl-{{ d.id }}' ><span>{{ d.truncateNameForTree }}</span> {% if d.countAnnotations %} <img src="{% url webstatic "images/knotes12.png" %}" alt="a" title="annotation"/>{% endif %}{% if not d.isOwned %} <img src="{% url webstatic "images/kgpg12.png" %}" alt="l" title="locked"/>{% endif %}</li>
                    {% endfor %}
                    {% else %}
                        <li class="line-last"/>
                    {% endif %}
                </ul>
            </li>
            {% endfor %}
            
            {% for c in manager.containers.datasets %}
                <li id='ds-{{ c.id }}'><span>{{ c.truncateNameForTree }}</span> {% if c.countAnnotations %} <img src="{% url webstatic "images/knotes12.png" %}" alt="a" title="annotation"/>{% endif %}{% if not c.isOwned %} <img src="{% url webstatic "images/kgpg12.png" %}" alt="l" title="locked"/>{% endif %}
                    <ul class="ajax">
                        <li id='{{ d.id.val }}'>{url:{% url load_data "ajaxdataset" c.id %}?view=tree}</li>
                    </ul>
                </li>
            {% endfor %}
            
            {% for c in manager.containers.plates %}
                <li id='pl-{{ c.id }}'><span>{{ c.truncateNameForTree }}</span> {% if c.countAnnotations %} <img src="{% url webstatic "images/knotes12.png" %}" alt="a" title="annotation"/>{% endif %}{% if not c.isOwned %} <img src="{% url webstatic "images/kgpg12.png" %}" alt="l" title="locked"/>{% endif %}</li>
            {% endfor %}
            
            {% for d in manager.containers.images %}
                <li id='img-{{ d.id }}'><span>{{ d.truncateNameForTree }}</span> {% if d.countAnnotations %} <img src="{% url webstatic "images/knotes12.png" %}" alt="a" title="annotation"/>{% endif %}{% if not c.isOwned %} <img src="{% url webstatic "images/kgpg12.png" %}" alt="l" title="locked"/>{% endif %}</li>
            {% endfor %}

            {% if not manager.project and not manager.dataset %}
            {% if not manager.orphaned %}
                <li id='orphan' ><span>{% trans "Orphaned images" %}</span>
                    <ul class="ajax">
                        <li id='{{ d.id.val }}'>{url:{% url load_data_ajax "ajaxorphaned" %}?view=tree}</li>
                    </ul>
                </li>
            {% endif %}
            {% endif %}
        </ul>
    </li>
</ul>
{% else %}
    {% trans "No data." %}
{% endif %}


