{% load i18n %}
{% load markup %}
{% load custom_tags %}
{% load conditional_tags %}

<ul>
    <li id="experimenter-0" rel="experimenter"><a href="#">{% if manager.experimenter %}{{ manager.experimenter.getFullName }}{% else %}{{ eContext.user.getFullName }}{% endif %}</a>
        <ul>
            {% for c in manager.containers.projects %}
            <li id='project-{{ c.id }}' rel="project{% if not c.isOwned %}-locked{% endif %}"><a href="#">{{ c.name|truncatebefor:"35" }}</a>
                {% if c.countChildren %}
                <ul>    
                    {% for d in c.listChildrenWithLinks %}
                        <li id='dataset-{{ d.id }}' rel="dataset{% if not d.isOwned %}-locked{% endif %}" {% if d.countChildren %}class="jstree-closed"{% endif %}><a href="#">{{ d.name|truncatebefor:"35" }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        
            {% for d in manager.containers.datasets %}
                <li id='dataset-{{ d.id }}' rel="dataset{% if not d.isOwned %}-locked{% endif %}" {% if d.countChildren %}class="jstree-closed"{% endif %}><a href="#">{{ d.name|truncatebefor:"35" }}</a></li>
            {% endfor %}
            
            {% for c in manager.containers.screens %}
            <li id='screen-{{ c.id }}' rel="screen"><a href="#">{{ c.name|truncatebefor:"35" }}</a>
                {% if c.countChildren %}
                <ul>
                    {% for d in c.listChildrenWithLinks %}
                        <li id='plate-{{ d.id }}' rel="plate{% if not d.isOwned %}-locked{% endif %}"><a href="#">{{ d.name|truncatebefor:"35" }}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
            
            {% for d in manager.containers.plates %}
                <li id='plate-{{ d.id }}' rel="plate{% if not d.isOwned %}-locked{% endif %}"><a href="#">{{ d.name|truncatebefor:"35" }}</a></li>
            {% endfor %}
            
            <li id='orphaned-0' rel="orphaned" class="jstree-closed"><a href="#">Orphaned images</a></li>
            
        </ul>
    </li>
</ul>




