{% load i18n %}
{% load markup %}
{% load custom_tags %}
{% load wikitags %}

    
    <script type="text/javascript" src="{% url webstatic "javascript/ui/jquery.ui.selectable.js" %}"></script>

    <script type="text/javascript" src="{% url webstatic "javascript/jquery.tablesorter.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/jquery.quicksearch.js" %}"></script>
    
    <script type="text/javascript">
        $(document).ready(function(){

            $("table#dataTable tbody").selectable({
            	filter: 'tr',
            	stop: function(){
            		var l = $('tr.ui-selected', this).length;
            		var ro = 0;
            		var eo = 0;
            		$("tr.ui-selected td input", this).each(function(){
            		    if($(this).parents('tr:first').attr('class').indexOf("readonly")>=0) {
                            ro++;
                	    } else if($(this).parents('tr:first').attr('class').indexOf("editonly")>=0) {
                            eo++;
                   		}
                   		this.checked = true;
            		});
            		if (l == 1) {
            		    var rel = $("div#content_details").attr('rel');
            		    if(ro > 0) {
            		        $("#toolbar").html('<input onclick="changeView(\'icon\');" class="button align_right" type="image" src="{% url webstatic "images/view_icon16.png" %}" alt="Change view to icon" title="Change view to icon">');
            		    } else if(eo > 0) {
                            $("#toolbar").html('<input class="button" type="image" src="{% url webstatic "nuvola_cancel16.png" %}" alt="Delete" title="Delete" onclick="manyDelete();" /> <input onclick="changeView(\'icon\');" class="button align_right" type="image" src="{% url webstatic "images/view_icon16.png" %}" alt="Change view to icon" title="Change view to icon">');
                		} else {
                		    if(rel=='orphaned') {
                                $("#toolbar").html('<input class="button" type="image" src="{% url webstatic "images/eclipse_copy_edit16.png" %}" alt="Copy" title="Copy" onclick="manyCopyToClipboard();"> <input class="button" type="image" src="{% url webstatic "nuvola_cancel16.png" %}" alt="Delete" title="Delete" onclick="manyDelete();" /> <input class="button" type="image" src="{% url webstatic "images/basket16.png" %}" alt="Add to basket" title="Add to basket" onclick="manyAddToBasket();"> <input onclick="changeView(\'icon\');" class="button align_right" type="image" src="{% url webstatic "images/view_icon16.png" %}" alt="Change view to icon" title="Change view to icon">');
                            } else {
                                $("#toolbar").html('<input class="button" type="image" src="{% url webstatic "images/eclipse_copy_edit16.png" %}" alt="Copy" title="Copy" onclick="manyCopyToClipboard();"> <input class="button" type="image" src="{% url webstatic "images/cut16.png" %}" alt="Unlink" title="Unlink" onclick="manyUnlink(\'dataset-{{ manager.dataset.id }}\');"> <input class="button" type="image" src="{% url webstatic "nuvola_cancel16.png" %}" alt="Delete" title="Delete" onclick="manyDelete();" /> <input class="button" type="image" src="{% url webstatic "images/basket16.png" %}" alt="Add to basket" title="Add to basket" onclick="manyAddToBasket();"> <input onclick="changeView(\'icon\');" class="button align_right" type="image" src="{% url webstatic "images/view_icon16.png" %}" alt="Change view to icon" title="Change view to icon">');
                        	}
                		}                		
            		    $("#right_panel").show();
                        $("#swapMeta").html('<img tabindex="0" src="{% url webstatic "images/spacer.gif" %}" class="collapsed-right" id="lhid_trayhandle_icon_right">'); 
            		    $('tr.ui-selected', this).each(function(){  
            		        var h = $(window).height()-169;
            		        $("div#metadata_details").html('<iframe width="370" height="'+h+'" src="/webclient/metadata_details/image/'+this.id+'/" id="metadata_details" name="metadata_details"></iframe>');
                            $('iframe#metadata_details').load();
                        });
            		} else {
            		    var rel = $("div#content_details").attr('rel');
            		    if(ro > 0) {
            		        $("#toolbar").html('<input onclick="changeView(\'icon\');" class="button align_right" type="image" src="{% url webstatic "images/view_icon16.png" %}" alt="Change view to icon" title="Change view to icon">');
            		        $("#right_panel").show();
                            {% if not eContext.isReadOnly %}
                                manyToAnnotation();
                            {% else %}
                                $("div#metadata_details").html('<p>{% trans "This is read-only group." %}</p>');
                            {% endif %}
            		    } else if (eo > 0){
                            $("#toolbar").html('<input class="button" type="image" src="{% url webstatic "images/cut16.png" %}" alt="Unlink" title="Unlink" onclick="manyUnlink(\'dataset-{{ manager.dataset.id }}\');"> <input onclick="changeView(\'icon\');" class="button align_right" type="image" src="{% url webstatic "images/view_icon16.png" %}" alt="Change view to icon" title="Change view to icon">');
                            $("#right_panel").show();
                            {% if not eContext.isReadOnly %}
                                manyToAnnotation();
                            {% else %}
                                $("div#metadata_details").html('<p>{% trans "This is read-only group." %}</p>');
                            {% endif %}
                        } else {
                		    if(rel=='orphaned') {
                                $("#toolbar").html('<input class="button" type="image" src="{% url webstatic "images/eclipse_copy_edit16.png" %}" alt="Copy" title="Copy" onclick="manyCopyToClipboard();"> <input class="button" type="image" src="{% url webstatic "images/basket16.png" %}" alt="Add to basket" title="Add to basket" onclick="manyAddToBasket();"> <input onclick="changeView(\'icon\');" class="button align_right" type="image" src="{% url webstatic "images/view_icon16.png" %}" alt="Change view to icon" title="Change view to icon">');                 
                            } else {                            
                                $("#toolbar").html('<input class="button" type="image" src="{% url webstatic "images/eclipse_copy_edit16.png" %}" alt="Copy" title="Copy" onclick="manyCopyToClipboard();"> <input class="button" type="image" src="{% url webstatic "images/cut16.png" %}" alt="Unlink" title="Unlink" onclick="manyUnlink(\'dataset-{{ manager.dataset.id }}\');"> <input class="button" type="image" src="{% url webstatic "nuvola_cancel16.png" %}" alt="Delete" title="Delete" onclick="manyDelete();"/> <input class="button" type="image" src="{% url webstatic "images/basket16.png" %}" alt="Add to basket" title="Add to basket" onclick="manyAddToBasket();"> <input onclick="changeView(\'icon\');" class="button align_right" type="image" src="{% url webstatic "images/view_icon16.png" %}" alt="Change view to icon" title="Change view to icon">');
                            }
                            $("#right_panel").show();
                            manyToAnnotation();
                		}
                        
            		}
            	},
            	start: function(){
            		$("tr td input", this).each(function(){
            			this.checked = false;
            		});
            	}
            });
            
            $("#dataTable").tablesorter( {sortList: [[1,0]]} ); 

            $('input#id_search').quicksearch('table#dataTable tbody tr', {
            	'delay': 300,
                'loader': 'span.loading'
            });
        });    
    </script>

{% if manager.containers.images %}

    <div id="toolbar" class="toolbar_noborder">
        <input onclick="changeView('icon');" class="button align_right" type="image" src="{% url webstatic "images/view_icon16.png" %}" alt="Change view to icon" title="Change view to icon">
    </div>
    <div class="clear"> </div>
    
    <form class="quicksearch" id="quicksearch" action="#"><label for="id_search">Filter:</label> <input type="text" id="id_search" value="search"> <span class="loading"><img class="loader" alt="Loading" src="{% url webstatic "images/spinner.gif" %}"></span></form>
    
    <table id="dataTable" class="tablesorter">
        <thead> 
            <tr> 
                <th class="action">{% trans "Image" %}</th> 
                <th class="desc">{% trans "Name" %}</th> 
                <th class="roles">{% trans "Date" %}</th> 
            </tr> 
        </thead>
        <tbody>
            {% for c in manager.containers.images %}
                <tr id="{{ c.id }}" {% if not c.isOwned %}{% if eContext.isLeader %}class="editonly"{% else %}class="readonly"{% endif %}{% endif %}>
                    <td class="action">
                        <img src="{% url render_thumbnail_resize 32 c.id  %}" alt="image" alt="image" title="{{ c.name }}{% if not c.isOwned %}, owned by {{ c.getOwner.getNameWithInitial }}{% endif %}"/>
                        <input type="checkbox" name="image" id="{{ c.id }}" class="hide">      
                    </td>
                    <td class="desc"><a>{{ c.name|truncatebefor:"65" }}</a></td>
                    <td class="roles">{{ c.getDate }}</td>                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    </div>

    {% include "webclient/data/container_paging.html" %}
    
{% else %}
    <p>{% trans "No data." %}</p>
{% endif %}
