{% extends "webclient/base/base_container.html" %}
{% load i18n %}
{% load markup %}
{% load custom_tags %}
{% load wikitags %}

{% block link %}    
{% endblock %}

{% block jscript %}

    <script type="text/javascript" src="{% url webstatic "javascript/jquery.cookie.js" %}"></script>
	<script type="text/javascript" src="{% url webstatic "javascript/jquery.hotkeys.js" %}"></script>
	<script type="text/javascript" src="{% url webstatic "javascript/jquery.jstree.js" %}"></script>   
    
{% endblock %}

{% block script %}
    
    <script type="text/javascript" src="{% url webstatic "javascript/actions.js" %}"></script>
    <script type="text/javascript">
        $(function() 
            {

                var h = $(window).height()-200;
                $("div#tree_details").css('height', h);
                $("div#metadata_details").css('height', h+31);
                $("div#metadata_details iframe").attr('height', h+31);
                $("div#content_details").css('height', h+31);
                
				var loadOtherPanels = function(data) {
				    var cm_var = new Object();
				    cm_var['content_details'] = {'url': null, 'rel': null, 'empty':false };
				    cm_var['metadata_details']= {'iframe': null, 'html': null};
				    
				    var oid = data.rslt.obj.attr('id');
				    var orel = data.rslt.obj.attr('rel').replace("-locked", "");
				    var crel = $("div#content_details").attr('rel');
				    
                    if (typeof oid!=="undefined" && oid!==false) {
                        if (oid.indexOf("orphaned")>=0) {
                            if(oid!==crel) {
                                cm_var['metadata_details']['html'] = '<p>{% trans "This is virtual container with orphaned images. These images are not linked anywhere. Just drag them to the selected container." %}</p>';
                                cm_var['content_details']['rel'] = oid;
                                cm_var['content_details']['url'] = '/webclient/load_data/'+orel+'/?view=icon';
                            } else {
                                cm_var['metadata_details']['html'] = '<p>{% trans "This is virtual container with orphaned images. These images are not linked anywhere. Just drag them to the selected container." %}</p>';
                            }
                        } else if(oid.indexOf("experimenter")<0) {
                            cm_var['metadata_details']['iframe'] = '/webclient/metadata_details/'+orel+'/'+oid.split("-")[1]+'/';
                            if ($.inArray(orel, ["project", "screen"]) == 0) {
                                cm_var['content_details']['url'] = null;
                                cm_var['content_details']['rel'] = null;
                                cm_var['content_details']['empty'] = true;
                            } else if($.inArray(orel, ["dataset", "plate"]) == 0 && oid!==crel) {
                                cm_var['content_details']['rel'] = oid;
                                cm_var['content_details']['url'] = '/webclient/load_data/'+orel+'/'+oid.split("-")[1]+'/?view=icon';
                            } else if(orel=="image") {
                                var pr = data.rslt.obj.parent().parent();
                                if (pr.attr('id')!==crel) {
                                    if (pr.attr('rel').replace("-locked", "")!=="orphaned") {
                                        cm_var['content_details']['rel'] = pr.attr('id');
                                        cm_var['content_details']['url'] = '/webclient/load_data/'+pr.attr('rel').replace("-locked", "")+'/'+pr.attr("id").split("-")[1]+'/?view=icon';
                                    } else {
                                        cm_var['content_details']['rel'] = pr.attr("id");
                                        cm_var['content_details']['url'] = '/webclient/load_data/'+pr.attr('rel').replace("-locked", "")+'/?view=icon';
                                    }
                                }
                            }
                        } else {
                            cm_var['metadata_details']['html'] = '<p>{% if manager.experimenter %}{{ manager.experimenter.getFullName }}{% else %}{{ eContext.user.getFullName }}{% endif %}</p>';                        
                        }
                    }
                    
                    if (cm_var.metadata_details.iframe!==null || cm_var.metadata_details.html!==null) {
                        if (cm_var.metadata_details.iframe!==null) {
                            loadMetadataPanel(cm_var.metadata_details.iframe)
                        } 
                        if (cm_var.metadata_details.html!==null) {
                            loadMetadataPanel(null, cm_var.metadata_details.html);
                        }
                    }
                    if (cm_var.content_details.rel!==null && cm_var.content_details.url!==null){
                        $("div#content_details").html('<p>Loading data... please wait <img src ="{% url webstatic "images/spinner.gif" %}"/></p>');
                        $("div#content_details").attr('rel', cm_var.content_details.rel);
                        $("div#content_details").load(cm_var.content_details.url, function() {
                            syncPanels(data.inst.get_selected());
                        });
                    } else if (cm_var.content_details.empty){
                        $("div#content_details").empty();
                        $("div#content_details").removeAttr('rel');
                    } 
                }
                
                var syncPanels = function(get_selected) {
                    var toSelect = new Array();
                    get_selected.each(function(i) {
                        toSelect[i]=this.id.split("-")[1];
                    });
                    
                    $(".ui-selectee", $("ul.ui-selectable")).each(function(){
                        var selectee = $(this);
                        if ($.inArray(selectee.attr('id'), toSelect) != -1) {
                            if(!selectee.hasClass('ui-selected')) {
                                selectee.addClass('ui-selected');
                            }
                        } else {
                            selectee.removeClass('ui-selected');
                        }
                    });
                }
                
                var buttonsShowHide = function(selected) { 
                    var toolbar_config = new Object();
                    
                    if(selected.attr("rel").indexOf("locked")>=0) {            	            
                        toolbar_config = {"addproject":false, 'adddataset':false, 'addscreen':false, 'rename':false, 'copy':false, 'cut':false, 'paste':false, 'unlink':false, 'delete':false, 'annotation':false, 'basket':false}
                    } else {
                        if(selected.attr("id").indexOf("orphaned")>=0) {
                            toolbar_config = {"addproject":false, 'adddataset':false, 'addscreen':false, 'rename':false, 'copy':false, 'cut':false, 'paste':false, 'unlink':false, 'delete':false, 'annotation':false, 'basket':false}
                        } else if(selected.attr("id").indexOf("experimenter")>=0) {
                            toolbar_config = {"addproject":true, 'adddataset':true, 'addscreen':true, 'rename':false, 'copy':false, 'cut':false, 'paste':false, 'unlink':false, 'delete':false, 'annotation':false, 'basket':false}
                        } else if(selected.attr("id").indexOf("project")>=0) {
                            toolbar_config = {"addproject":false, 'adddataset':true, 'addscreen':false, 'rename':true, 'copy':false, 'cut':false, 'paste':true, 'unlink':false, 'delete':true, 'annotation':false, 'basket':false}
                        } else if(selected.attr("id").indexOf("dataset")>=0) {
                            toolbar_config = {"addproject":false, 'adddataset':false, 'addscreen':false, 'rename':true, 'copy':true, 'cut':true, 'paste':true, 'unlink':true, 'delete':true, 'annotation':false, 'basket':false}
                        } else if(selected.attr("id").indexOf("image")>=0) {
                            toolbar_config = {"addproject":false, 'adddataset':false, 'addscreen':false, 'rename':true, 'copy':true, 'cut':true, 'paste':false, 'unlink':true, 'delete':true, 'annotation':false, 'basket':true}
                        } else if(selected.attr("id").indexOf("plate")>=0) {
                            toolbar_config = {"addproject":false, 'adddataset':false, 'addscreen':false, 'rename':true, 'copy':true, 'cut':true, 'paste':false, 'unlink':true, 'delete':true, 'annotation':false, 'basket':false}
                        }
                    }
                    
                    if (selected.length > 1) toolbar_config['annotation'] = true;
                    
                    for (var sIndex in toolbar_config) { 
                        if (toolbar_config[sIndex]){
                            $('input#'+sIndex+'Button').removeClass('button-disabled');
                        } else {
                            $('input#'+sIndex+'Button').addClass('button-disabled');                            
                        }
                    }
                }
                
                var jstree = $("#dataTree").jstree({ 
            			// the list of plugins to include
            			"plugins" : [ "themes", "html_data", "ui", "crrm", "dnd", "types", "hotkeys", "contextmenu" ],
            			// Plugin configuration

            			// I usually configure the plugin that handles the data first - in this case JSON as it is most common
            			"html_data" : { 
            				// I chose an ajax enabled tree - again - as this is most common, and maybe a bit more complex
            				// All the options are the same as jQuery's except for `data` which CAN (not should) be a function
            				"ajax" : {
            					// the URL to fetch the data
            					"url" : "{% url load_data %}",
            					// this function is executed in the instance's scope (this refers to the tree instance)
            					// the parameter is the node being loaded (may be -1, 0, or undefined when loading the root nodes)
            					"data" : function (n) {
                                    return { 
                                        "view" : "tree", 
            							"o_type" : n.attr ? n.attr("rel").replace("-locked", "") : "",
            							"o_id" : n.attr ? n.attr("id").split("-")[1] : 0
            						};
                                }
            				}
            			},
            			// Using types - most of the time this is an overkill
            			// Still meny people use them - here is how
            			"types" : {
            				// I want only `drive` nodes to be root nodes 
            				// This will prevent moving or creating any other type as a root node
            				"select_limit" : -1,
            				"max_depth" : -1,
            				"max_children" : -1,
            				"valid_children" : [ "experimenter" ],
            				"types" : {
            					"experimenter" : {
            						"valid_children" : [ "project", "project-locked", "dataset", "dataset-locked", "screen", "screen-locked", "plate", "plate-locked" ],
            						"icon" : {
            							"image" : '{% url webstatic "images/personal16.png" %}'
            						},
            						"create_node" : true,
            						"start_drag" : false,
            						"move_node" : false,
            						"delete_node" : false,
            						"remove" : false
            					},
            					"project" : {
            						"valid_children" : [ "dataset" ],
            						"icon" : {
            							"image" : '{% url webstatic "images/folder16.png" %}'
            						},
            						"create_node" : true,
                                    "start_drag" : false,
            						"move_node" : true,
            						"delete_node" : true,
            						"remove" : true
            					},
            					"project-locked" : {
            						"valid_children" : [ "dataset", "dataset-locked" ],
            						"icon" : {
            							"image" : '{% url webstatic "images/folder_locked16.png" %}'
            						},
            						"create_node" : true,
                                    "start_drag" : false,
            						"move_node" : false,
            						"delete_node" : false,
            						"remove" : false
            					},
            					"dataset" : {
            						"valid_children" : [ "image", "image-locked" ],
            						"icon" : {
            							"image" : '{% url webstatic "images/folder_image16.png" %}'
            						},
            						"create_node" : false,
            						"start_drag" : true,
            						"move_node" : true,
            						"delete_node" : true,
            						"remove" : true
            					},
            					"dataset-locked" : {
            						"valid_children" : [ "image", "image-locked" ],
            						"icon" : {
            							"image" : '{% url webstatic "images/folder_image_locked16.png" %}'
            						},
            						"create_node" : false,
            						"start_drag" : false,
            						"move_node" : false,
            						"delete_node" : false,
            						"remove" : false
            					},
            					"image" : {
            						"valid_children" : "none",
            						"icon" : {
            							"image" : '{% url webstatic "images/image16.png" %}'
            						},
            						"create_node" : false,
            						"start_drag" : true,
            						"move_node" : true,
            						"delete_node" : true,
            						"remove" : true
            					},
            					"image-locked" : {
            						"valid_children" : "none",
            						"icon" : {
            							"image" : '{% url webstatic "images/image_locked16.png" %}'
            						},
            						"create_node" : false,
            						"start_drag" : false,
            						"move_node" : false,
            						"delete_node" : false,
            						"remove" : false
            					},
            					"screen" : {
            						"valid_children" : [ "plate", "plate-locked" ],
            						"icon" : {
            							"image" : '{% url webstatic "images/folder_screen16.png" %}'
            						},
            						"create_node" : true,
                                    "start_drag" : false,
            						"move_node" : true,
            						"delete_node" : true,
            						"remove" : true
            					},
            					"screen-locked" : {
            						"valid_children" : [ "plate", "plate-locked" ],
            						"icon" : {
            							"image" : '{% url webstatic "images/folder_screen_locked16.png" %}'
            						},
            						"create_node" : true,
                                    "start_drag" : false,
            						"move_node" : false,
            						"delete_node" : false,
            						"remove" : false
            					},
            					"plate" : {
            						"valid_children" : "none",
            						"icon" : {
            							"image" : '{% url webstatic "images/folder_plate16.png" %}'
            						},
            						"create_node" : false,
            						"start_drag" : true,
            						"move_node" : true,
            						"delete_node" : true,
            						"remove" : true
            					},
            					"plate-locked" : {
            						"valid_children" : "none",
            						"icon" : {
            							"image" : '{% url webstatic "images/folder_plate_locked16.png" %}'
            						},
            						"create_node" : false,
            						"start_drag" : false,
            						"move_node" : false,
            						"delete_node" : false,
            						"remove" : false
            					},
            					"orphaned" : {
            						"valid_children" : [ "image" ],
            						"icon" : {
            							"image" : '{% url webstatic "images/folder_yellow16.png" %}'
            						},
            						"create_node" : false,
            						"start_drag" : false,
            						"move_node" : false,
            						"delete_node" : false,
            						"remove" : false
            					}          					
            				}
            			},
            			// For UI & core - the nodes to initially select and open will be overwritten by the cookie plugin
            			// the UI plugin - it handles selecting/deselecting/hovering nodes
            			"ui" : {
            				"initially_select" : [ {% if init.initially_select %}"{{ init.initially_select }}"{% else %}"experimenter-0"{% endif %}  ],
            				"select_multiple_modifier": multi_key(),
            				"selected_parent_close": "select_parent"
            			},
            			// the core plugin - not many options here
            			"core" : { 
            				// just open those two nodes up
            				// as this is an AJAX enabled tree, both will be downloaded from the server
            			    "initially_open" : [ {% for p in init.initially_open %}"{{ p }}",{% endfor %} "experimenter-0" ]
            			},
            			"contextmenu" : {
            			    "select_node":true,
            			    "items" : function(obj){
            			        var config = {};
                                                                
                                config["create"] = {
                                    "label" : "Create new",
                                    "icon"  : '{% url webstatic "images/window_new16.png" %}',
                                    "submenu": {
                                        "project": {
                                            "label" : "Project",
                                            "icon"  : '{% url webstatic "images/folder16.png" %}',
                                            "action": function (obj) { this.create(obj, null, {"attr": {"rel": "project"}}); }
                                        },
                                        "dataset": {
                                            "label" : "Dataset",
                                            "icon"  : '{% url webstatic "images/folder_image16.png" %}',
                                            "action": function (obj) { this.create(obj, null, {"attr":{"rel": "dataset"}}); }
                                      	},
                                      	"screen": {
                                            "label" : "Screen",
                                            "icon"  : '{% url webstatic "images/folder_screen16.png" %}',
                                            "action": function (obj) { this.create(obj, null, {"attr":{"rel": "screen"}}); }
                                      	}
                                    }
                                };
                                
                                config["rename"] = {
                                    "label" : "Rename",
                                    "icon"  : '{% url webstatic "images/color_line16.png" %}',                                    
                                    "action": function(obj){ this.rename(obj); }
                                };
                                
                                config["ccp"] = {
                                    "label"     : "Edit",
                                    "action"    : false,
                                    "submenu"   : {
                                        "copy"  : {
                                            "label" : "Copy",
                                            "icon"  : '{% url webstatic "images/eclipse_copy_edit16.png" %}',
                                            "action": function(obj) {
                                                this.copy(obj);
                                            }
                                        },
                                        "cut"   :{
                                            "label" : "Cut",
                                            "icon"  : '{% url webstatic "images/cut16.png" %}',
                                            "action": function(obj) {
                                                this.cut(obj);
                                            }
                                        },
                                        "paste": {
                                            "label" : "Paste",
                                            "icon"  : '{% url webstatic "images/eclipse_paste_edit16.png" %}',
                                            "action": function(obj) {
                                                this.paste(obj);
                                            }
                                        },                                      
                                        "unlink"    : {
                                            "label" : "Remove",
                                            "icon"  : '{% url webstatic "images/cancel16.png" %}',
                                            "action": function(obj){ if (confirm("Remove the "+obj.attr('rel')+" from its current context.")) {
                                                this.cut(obj);
                                                if (obj.attr('rel') == 'image') this.paste($("li#orphaned-0"))
                                                else this.paste($("li#experimenter-0"));
                                            } }
                                        }
                                    }
                                };
                                
                                config["delete"] = {
                                    "label" : "Delete",
                                    "icon"  : '{% url webstatic "images/cancel16.png" %}',
                                    "action": function(obj){ if (confirm("Delete permanently selected object? You will NOT be able to access this object any more.")) {
                                        this.remove(obj);
                                    } }
                                };
                                
                                config["basket"] = {
                                    "label" : "Add to Basket",
                                    "icon"  : '{% url webstatic "images/basket16.png" %}',                                    
                                    "action": function(){
                                        addToBasket(this.get_selected());
                                    }
                                };
                                
                                if(obj.attr("rel").indexOf("locked")>=0) {
                                    config["rename"]["_disabled"] = true;
                                    config["delete"]["_disabled"] = true;
                                    config["ccp"]["_disabled"] = true;
                                    config["create"]["_disabled"] = true;
                                    config["basket"]["_disabled"] = true;
                                } else {
                                    if(obj.attr("id").indexOf("orphaned")>=0) {
                                        config["rename"]["_disabled"] = true;
                                        config["delete"]["_disabled"] = true;
                                        config["ccp"]["_disabled"] = true;
                                        config["create"]["_disabled"] = true;
                                        config["basket"]["_disabled"] = true;
                                    } else if(obj.attr("id").indexOf("experimenter")>=0) {
                                        config["rename"]["_disabled"] = true;
                                        config["delete"]["_disabled"] = true;
                                        config["ccp"]["_disabled"] = true;
                                        config["basket"]["_disabled"] = true;
                                    } else if(obj.attr("id").indexOf("project")>=0) {
                                        config["ccp"]["submenu"]["cut"]["_disabled"] = true;
                                        config["ccp"]["submenu"]["copy"]["_disabled"] = true;
                                        config["ccp"]["submenu"]["unlink"]["_disabled"] = true;
                                        config["create"]["submenu"]["project"]["_disabled"] = true;
                                        config["create"]["submenu"]["screen"]["_disabled"] = true;
                                        config["basket"]["_disabled"] = true;
                                    } else if(obj.attr("id").indexOf("dataset")>=0) {
                                        config["create"]["_disabled"] = true;
                                        config["basket"]["_disabled"] = true;
                                    } else if(obj.attr("id").indexOf("image")>=0) {
                                        config["ccp"]["submenu"]["paste"]["_disabled"] = true;
                                        config["create"]["_disabled"] = true;
                                    } else if(obj.attr("id").indexOf("plate")>=0) {
                                        config["create"]["_disabled"] = true;
                                        config["ccp"]["submenu"]["paste"]["_disabled"] = true;
                                        config["basket"]["_disabled"] = true;
                                    }
                                }
                                    
                                return config;
                            }
                        }
            			
            	})
            	.bind("deselect_node.jstree", function (e, data) {
            	    buttonsShowHide(data.inst.get_selected());
            	    if (data.inst.get_selected().length==0) {
            	        var p = data.inst._get_parent(data.rslt.obj);
            	        if (p!=-1) {
            	            data.inst.select_node(p);
                	        loadMetadataPanel('/webclient/metadata_details/'+p.attr("id").split("-")[0]+'/'+p.attr("id").split("-")[1]+'/');
            	        }            	        
            	    }
            	    if (data.inst.get_selected().length < 2) {
            	        data.rslt.obj = data.inst.get_selected()
                        loadOtherPanels(data);                        
                    }
                    syncPanels(data.inst.get_selected());
        	    })
            	.bind("select_node.jstree", function (e, data) {
            	    if(!data.inst.is_open()) {
            	        data.inst.open_node(data.inst.get_selected());
            	    }
            	    
            	    buttonsShowHide(data.inst.get_selected());
            	    if (data.inst.get_selected().length > 1) {
            	        if (data.inst.get_selected().length >= 2) {
		            loadMetadataPanel(null,'<p>Multiple objects selected: <br /><a href="#" id="batchAnnotate"><img src="{% url webstatic "images/knotes16.png" %}"/> Batch Annotate</a></p>');
                            $("#batchAnnotate").click(function() {
                                multipleAnnotation();
                                return false;
                            });
                        }
                    } else {
                        loadOtherPanels(data);
                    }                    
                    syncPanels(data.inst.get_selected());
        		})
            	.bind("create.jstree", function (e, data) {
            	    if(data.rslt.parent.attr("rel") == "project") {
                        url = '{% url manage_action_containers "addnewcontainer" %}project/'+data.rslt.parent.attr("id").split("-")[1]+'/';
                    } else {
                        url = '{% url manage_action_containers "addnewcontainer" %}';
                    }
                    
                    $.ajax({
                      url: url,
                      data: { 
      			          "name" : data.rslt.name,
      					  "folder_type" : data.rslt.obj.attr("rel")
      				  },
                      dataType: "json",
                      type: "POST",
                      success: function(r){
                          if(eval(r.bad)) {
      						$.jstree.rollback(data.rlbk);
      				      } else {
      				        $(data.rslt.obj).attr("id", data.rslt.obj.attr("rel")+"-"+r.id);
      				      }
                      }
                    });
        		})
        		.bind("rename.jstree", function (e, data) {
        		    url = '{% url manage_action_containers "savename" %}'+data.rslt.obj.attr("rel")+'/'+data.rslt.obj.attr("id").split("-")[1]+'/';
        		    $.ajax({
                        url: url,
                        data: { 
      			            "name" : data.rslt.new_name
                        },
                        dataType: "json",
                        type: "POST",
                        success: function(r){
                            if(eval(r.bad)) {
                                $.jstree.rollback(data.rlbk);
                            }
                        }
                    });
        		})
        		.bind("move_node.jstree", function (e, data) {
    		        data.rslt.o.each(function (i) {
        		        if (data.inst.data.crrm.cp_nodes) {
                            url = '{% url manage_action_containers "paste" %}'+$(this).attr("rel")+'/'+$(this).attr("id").split("-")[1]+'/'
                            d = { 
          					    "destination" : data.rslt.np.attr("rel")+'-'+data.rslt.np.attr("id").split("-")[1]
          					}
                        } else  {
                            if (data.rslt.cr.attr('rel')!="orphaned") {
            		            url = '{% url manage_action_containers "move" %}'+$(this).attr("rel")+'/'+$(this).attr("id").split("-")[1]+'/';
                                d = { 
          					        "parent" : data.rslt.op.attr("rel")+'-'+data.rslt.op.attr("id").split("-")[1], 
          						    "destination" : data.rslt.np.attr("rel")+'-'+data.rslt.np.attr("id").split("-")[1]
          					    };
            		        } else {
        		                url = '{% url manage_action_containers "remove" %}'+$(this).attr("rel")+'/'+$(this).attr("id").split("-")[1]+'/'
            		            d = { 
              					    "parent" : data.rslt.op.attr("rel")+'-'+data.rslt.op.attr("id").split("-")[1]
              					};
          					}
                        }
                        $.ajax({
            		        async : false,
                            url: url,
                            data : d,
                            dataType: "json",
                            type: "POST",
                            success: function(r){
                                if(eval(r.bad)) {
          							$.jstree.rollback(data.rlbk);
          							alert(r.errs);
          						}
          						else {
          						    $(data.rslt.oc).attr("id", data.rslt.o.attr('id'));
          							if(data.rslt.cy && $(data.rslt.oc).children("UL").length) {
          								data.inst.refresh(data.inst._get_parent(data.rslt.oc));
          							}
          							//data.inst.refresh(data.inst._get_node(data.rslt.cr));
          							refreshCenterPanel();
          						}
                            }
                        });
                    }); 
        		})
        		.bind("remove.jstree", function (e, data) {
                    data.rslt.obj.each(function (i) {
                        ajax_data = new Object();
                        if (($(this).attr("rel") == 'project' || $(this).attr("rel") == 'dataset' || $(this).attr("rel") == 'screen')) {
                            if (confirm('Also delete content?')) {
                                ajax_data.child = 'on';
                            }
                        }  
                        if (confirm('Also delete annotations?')) {
                            ajax_data.anns = 'on';
                        }
                        url = '{% url manage_action_containers "delete" %}'+$(this).attr("rel")+'/'+$(this).attr("id").split("-")[1]+'/'
                        $.ajax({
            		        async : false,
                            url: url,
                            data : ajax_data,
                            dataType: "json",
                            type: "POST",
                            success: function(r){
                                if(eval(r.bad)) {
          							$.jstree.rollback(data.rlbk);
          						}
          						//else {
          						//	data.inst.refresh();
          						//}
                            }
                        });
                    }); 
        		})
        		.delegate("a", "dblclick", function(e, data) {
        		    if ($(this).parent().attr('rel')=='image') {
        		        openPopup("{% url web_image_viewer 0 %}".replace('0', $(this).parent().attr('id').split("-")[1]));
        		    }
        		    $("#dataTree").jstree("open_node", this);
        		})
        		
        	});
        	        
    </script>
    
    <script type="text/javascript">
    $(function () { 
    	$("#buttons input").click(function () {
    		switch(this.id) {
    			case "addprojectButton":
    			    $("#dataTree").jstree("create", null, "first", { "attr" : { "rel" : 'project' } });
    				break;
    			case "adddatasetButton":
    			    $("#dataTree").jstree("create", null, "first", { "attr" : { "rel" : 'dataset' } });
    				break;
    			case "addscreenButton":
    			    $("#dataTree").jstree("create", null, "first", { "attr" : { "rel" : 'screen' } });
    				break;
    			case "basketButton":
    			    addToBasket($.jstree._focused().get_selected());
    				break;
    			default:
    			    $("#dataTree").jstree(this.id.replace("Button", ""));
    				break;
    		}
    	});
    });
    </script>
{% endblock %}

<!-- Add a user-chooser to the toolbar -->
{% block toolbar %}
    {% if form_users %}
    <div style="float:left; padding: 0px 10px">
        {% for field in form_users %}{{ field }}{% endfor %}&nbsp;&nbsp;&nbsp;
    </div>
    {% endif %}
{% endblock %}

{% block left %}
    <div class="toolbar">
        <div id="buttons" class="align_left">
            <input class="button" type="image" src="{% url webstatic "images/reload16.png" %}" alt="Refresh" title="Refresh" onclick="document.location.href='{% url load_template nav.menu %}'"> <input class="button" type="image" src="{% url webstatic "images/view_tag16.png" %}" alt="Tags" title="Tags" onclick="document.location.href='{% url load_template "usertags" %}'"> | 
            
            <input id="addprojectButton" class="button button-disabled" type="image" src="{% url webstatic "images/folder16.png" %}" alt="Create new project" title="Create new Project" /> 
            <input id="adddatasetButton" class="button button-disabled" type="image" src="{% url webstatic "images/folder_image16.png" %}" alt="Create new dataset" title="Create new Dataset" /> 
            <input id="addscreenButton" class="button button-disabled" type="image" src="{% url webstatic "images/folder_screen16.png" %}" alt="Create new screen" title="Create new Screen" /> |
             
            <input id="renameButton" class="button button-disabled" type="image" src="{% url webstatic "images/color_line16.png" %}" alt="Rename" title="Rename" />            
            <input id="copyButton" class="button button-disabled" type="image" src="{% url webstatic "images/eclipse_copy_edit16.png" %}" alt="Copy" title="Copy" /> 
            <input id="cutButton" class="button button-disabled" type="image" src="{% url webstatic "images/cut16.png" %}" alt="Cut" title="Cut" /> 
            <input id="pasteButton" class="button button-disabled" type="image" src="{% url webstatic "images/eclipse_paste_edit16.png" %}" alt="Paste" title="Paste" /> 
            <input id="unlinkButton" class="button button-disabled" type="image" src="{% url webstatic "images/minus_15.png" %}" alt="Remove" title="Remove" />
            <input id="deleteButton" class="button button-disabled" type="image" src="{% url webstatic "images/cancel16.png" %}" alt="Delete" title="Delete" /> 
            <input id="basketButton" class="button button-disabled" type="image" src="{% url webstatic "images/basket16.png" %}" alt="Add to basket" title="Add to basket">
        </div>
    </div>

<div class="clear"> </div>

<div id="tree_details">
    <div class="dataTree" id="dataTree"></div>
</div>

{% endblock %}

{% block center %}

<div id="content_details"> </div>

{% endblock %}


{% block right %}

<div id="metadata_details">
    <div id="metadata_description"></div>
    <iframe width="370" name="metadata_details"></iframe>
</div>


{% endblock %}



