{% load i18n %}
{% load custom_tags %}

{% if manager.containers.orphaned %}
    {% if manager.containers.images %}
    {% for d in manager.containers.images %}
        <li id='image-{{ d.id }}' rel="image{% if not d.isOwned %}-locked{% endif %}"><a href="#">{{ d.name|truncatebefor:"30" }}</a>

        </li>
    {% endfor %}
    {% else %}
        <li>empty</li>
    {% endif %}
{% else %}
    {% if manager.containers.images %}
    {% for d in manager.containers.images %}
        <li id='image-{{ d.id }}' rel="image{% if not d.isOwned %}-locked{% endif %}"><a href="#">{{ d.name|truncatebefor:"30" }}</a>

        </li>
    {% endfor %}
    {% else %}
        <li>empty</li>
    {% endif %}
{% endif %}