{% load i18n %}
{% load custom_tags %}

{% if manager.containers.orphaned %}
    {% if manager.containers.images %}
    {% for d in manager.containers.images %}
        <li id='image-{{ d.id }}' rel="image"><a href="#">{{ d.name|truncatebefor:"30" }}</a>
            {% if d.countAnnotations %} <img src="{% url webstatic "images/knotes12.png" %}" alt="a" title="annotation"/>{% endif %} 
            {% if not d.isOwned %} <img src="{% url webstatic "images/kgpg12.png" %}" alt="l" title="owned by {{ d.getOwner.getNameWithInitial }}"/>{% endif %}
        </li>
    {% endfor %}
    {% else %}
        <li>empty</li>
    {% endif %}
{% else %}
    {% if manager.containers.images %}
    {% for d in manager.containers.images %}
        <li id='image-{{ d.id }}' rel="image"><a href="#">{{ d.name|truncatebefor:"30" }}</a>
            {% if d.countAnnotations %} <img src="{% url webstatic "images/knotes12.png" %}" alt="a" title="annotation"/>{% endif %} 
            {% if not d.isOwned %} <img src="{% url webstatic "images/kgpg12.png" %}" alt="l" title="owned by {{ d.getOwner.getNameWithInitial }}"/>{% endif %}
        </li>
    {% endfor %}
    {% else %}
        <li>empty</li>
    {% endif %}
{% endif %}