{% load i18n %}
{% load custom_tags %}

<div class="clear"> </div>

{% if manager.paging %}
<div class="paging" id="page" rel="{{ manager.paging.page }}"> 
    {% if manager.paging.prev %}
        <input onclick="doPagination('{{ nav.view }}',{{ manager.paging.prev }});" class="button_pagination" type="button" value="Preview" alt="Preview"/>
    {% endif %} {% trans "Page" %}:
    
    {% for p in manager.paging.total %}
        {% ifequal manager.paging.page p %}
            {{ p }} 
        {% else %}
            {% ifequal p -1 %}
                ...
            {% else %}
                <input onclick="doPagination('{{ nav.view }}',{{ p }});" class="button_pagination" type="button" value="{{ p }}" alt="{{ p }}"/>
            {% endifequal %}
        {% endifequal %}
    {% endfor %}
    {% if manager.paging.next %}
        <input onclick="doPagination('{{ nav.view }}',{{ manager.paging.next }});" class="button_pagination" type="button" value="Next" alt="Next"/>
    {% endif %}

</div>
<div class="clear"> </div>
{% endif %}