

<ul id="dataIcons" class="element_sorter <%= layout %>Layout">
    <li class="thead"> 
        <div></div> 
        <!-- 'sort-init' will perform sort on this column when element_sorter plugin inits -->
        <div class='sort-alpha sort-init'>Name</div>
        <div class='sort-date'>Date</div> 
        <div class='sort-numeric'>Size X</div> 
        <div class='sort-numeric'>Size Y</div> 
        <div class='sort-numeric'>Size Z</div>
    </li>

    <% _.each(images, function(img) { %>
        <li class="row <% if(img.selected) {print ('ui-selected')} %>
            <% if(img.fsSelected) {print ('fs-selected')} %> "
            id="image_icon-<%= img.id %>"
            data-fileset="<%= img.data.obj.filesetId %>"
            data-type="image"
            data-id="<%= img.id %>"
            data-perms="<%= img.data.obj.permsCss %>"
            <% if(img.share) { %> data-share=" <%= img.share.id %>" <% }%>
            data-owned="">

            <div class="image">
                <img alt="image"
                    src="/webclient/render_thumbnail/size/96/<%= img.id %>?version=<%= img.data.obj.thumbVersion %>"
                        title="<%= img.name %>"/>
            </div>
            <!-- NB: '#image_icon-123 div.desc' etc is used to update name when changed in right panel via "editinplace" -->
            <div class="desc" valign="middle">
                 <%= img.name %>
                <span class="hidden_sort_text"> <%= img.name %> </span>
            </div>
            <div class="date" valign="middle"><%= img.date %></div>
            <div class="sizeX" valign="middle"><%= img.data.obj.sizeX %></div>
            <div class="sizeY" valign="middle"><%= img.data.obj.sizeY %></div>
            <div class="sizeZ" valign="middle"><%= img.data.obj.sizeZ %></div>
        </li>
    <% }) %>
</ul>