
<div style="position:absolute; top:0px; left:0px; right:0px; height: 29px; border-right:0px" class="toolbar">
    <div id="layout_chooser">
        <button id="icon_layout" title="View as Thumbnails" class="<% if (layout === 'icon') print('checked') %>" /><button id="table_layout" title="View as List" class="<% if (layout === 'table') print('checked') %>" />
    </div>
    <form class="search filtersearch" id="filtersearch" action="#" style="top:8px; width:90%">
        <div style="float:left; font-size: 16px">Filter:</div>
        <div id="filtersContainer" style="float:left">
            <div id="filterrating" class="imagefilter">
                <img title="Filter by rating (exact match)" src="<%= staticUrl %>image/rating0.png">
                <span title="Clear filter" class="removefilter" style="vertical-align:top">X</span>
            </div>

            <div id="filtername" class="imagefilter" style="position: relative; width: 180px; height:30px; top: -4px">
                <label for="id_search"> Filter by name </label>
                <input id="id_search" type="text" size="25">
                <span title="Clear filter" class="removefilter" style="float: right; margin-right:8px">X</span>
            </div>
            <span class="loading" style="display: none;"></span>
        </div>

        <select id="choosefilter" style="margin-top: -1px;">
            <option value="addfilter">Add filter</option>
            <option value="rating">Rating</option>
            <option value="name">Name</option>
        </select>
    </form>
</div>
<div style="position:absolute; bottom:0px; left:0px; right:0px; height: 25px; border-right:0px" class="toolbar">
    <div id="thumb_size_slider" title="Zoom Thumbnails"></div>
</div>
<div id="icon_table" style="position:absolute; bottom:25px; left:0px; top:29px; overflow:auto; margin-top:0px; right:0px"></div>