{% load i18n %}
{% load markup %}
{% load custom_tags %}
{% load wikitags %}

    <script type="text/javascript" src="{% url webstatic "javascript/ui/jquery.ui.selectable.js" %}"></script>

    <script type="text/javascript">
        $(document).ready(function(){

            $("#spw table tbody").selectable({
                //cancel: 'td.empty',                
            	filter: 'td.full',
            	stop: function(){
            		var result = $("#select-result").empty();
            		var l = $('td.ui-selected', this).length;
            		$("td.ui-selected input", this).each(function(){
            		    this.checked = true;
            		});
            		if (l == 1) {

            		    $("#right_panel").show();
                        $("#swapMeta").html('<img tabindex="0" src="{% url webstatic "images/spacer.gif" %}" class="collapsed-right" id="lhid_trayhandle_icon_right">'); 
            		    $('td.ui-selected', this).each(function(){  
            		        var h = $(window).height()-169;
                            $("div#metadata_details").html('<iframe width="370" height="'+h+'" src="/webclient/metadata_details/well/'+this.id+'/?index={{index}}" id="metadata_details" name="metadata_details"></iframe>'); 
                            $('iframe#metadata_details').load();
                        });
            		} else {
                        $("#toolbar").html('');
                        manyToAnnotation();
            		}
            	},
            	start: function(){
            		$("td input", this).each(function(){
            			this.checked = false;
            		});
            	}
            });

        });    
    </script>

    <script> 
        function changeIndex(index) {
            if(index>=0) {
                $("div#content_details").html('<p>Loading data... please wait <img src="/appmedia/omeroweb/images/spinner.gif"/></p>');
                var url = ('{{ url }}').split("?");                
                $("div#content_details").load(url[0]+'?view={{ nav.view }}&index='+index);
                return false;
            } else {
                alert('Attribute error: index out of range');
            }
        }

    </script>

<!--content-->
<div id="index">
    <form action="" method="POST" class="align_left">
    <table>
      <tbody>
        {% for field in form_well_index %}
        <tr><th>{{ field.label_tag }}</th><td class="input">{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}{{ field.help_text|safe }}</td></tr>
        {% endfor %}
      </tbody>
    </table>
    </form>
    <div id="toolbar" class="toolbar_noborder"></div>
</div>

<div class="clear"> </div>


<div id="spw">    
<table>
    <tr><th></th>
        {% for cn in manager.names.column_names %}
        <th>{{ cn }}</th>
        {% endfor %}
    </tr>
    {% for row in manager.containers.wells %}
    <tr>
        <th>{{ row.0 }}</th>
        {% for col in row.1 %}
        {% if col.1.isWellSample %}
        <td class="full" id="{{ col.1.id }}"><img class="imgzoom" src="{% url render_thumbnail_resize 25 col.1.selectedWellSample.image.id %}" alt="" title="{{ row.0 }}-{{ col.0 }}"/><input type="checkbox" name="well" id="{{ col.1.id }}" class="hide"></td>
        {% else %}
        <td></td>
        {% endif %}
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</div>
</div>
