.cal_nav {
    position:relative;
    margin-bottom: 5px;
}
.calendar input.cal_nav_prev {
    width: 200px;
    position:absolute;
    top:0;
    left:0;
    font-weight: bold;
}
.calendar input.cal_nav_next {
    width: 200px;
    position:absolute;
    top:0;
    right:0; 
    font-weight: bold;
}

.calendar input {
    border: 0;
    background-color: transparent;
    color: #1b7bc7;
    font-weight: bold;
    cursor: pointer;
}

.calendar {
    padding: 10px;
}
.calendar table {
    text-align: center;
    width: 100%;
}

.calendar td.calendar_day {
    height: 70px;
    vertical-align: top;
    width: 14.29%;
    background-color: #f3f3f3;
}
.calendar td.not_calendar_day {
    background-color: #fff;
}
.calendar_numerical_day {
    padding: 2px;
    text-align: right;
    background-color: #fff;
    border: 1px solid #f3f3f3;
}
.calendar_items{
    margin: 5px;
}
.calendar th {
    font-weight: normal;
    border: 0px;
    color: #555;
    background-color: #f3f3f3;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
}
.calendar th.calendar_day {
    font-weight: bold;
    background-color: #bbb;
}
.calendar_numerical_day a {
    color: #555;
    font-weight: bold;
    text-decoration: none;
}
