#navigation {
    background:transparent url(/appmedia/omeroweb/images/menu/menu.png) no-repeat scroll right top;
    height:90px;
    left:0;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    overflow:hidden;
    padding:0;
    width:649px;
}
#navigation li {
    float: right;
    width: 59px;
    height: 90px;
}
#navigation li a {
    display: block; 
    margin-top: -90px; 
    padding-left:59px;
    height: 90px; 
    width: 59p; 
    overflow: hidden; 
    background: #000; 
    opacity: 0.8; 
}
#navigation .home a {
    background: url(/appmedia/omeroweb/images/menu/home.png) no-repeat bottom right;
}
#navigation .userdata a {
    background: url(/appmedia/omeroweb/images/menu/userdata.png) no-repeat bottom right;
}
#navigation .usertags a {
    background: url(/appmedia/omeroweb/images/menu/userdata.png) no-repeat bottom right;
}
#navigation .basket a {
    background: url(/appmedia/omeroweb/images/menu/userdata.png) no-repeat bottom right;
}
#navigation .public a {
    background: url(/appmedia/omeroweb/images/menu/share.png) no-repeat bottom right;
}
#navigation .search a {
    background: url(/appmedia/omeroweb/images/menu/search.png) no-repeat bottom right;
}
#navigation .history a {
    background: url(/appmedia/omeroweb/images/menu/history.png) no-repeat bottom right;
}
#navigation .import a {
    background: url(/appmedia/omeroweb/images/menu/import.png) no-repeat bottom right;
}
#navigation .person a {
    background: url(/appmedia/omeroweb/images/menu/person.png) no-repeat bottom right;
}
#navigation .help a {
    background: url(/appmedia/omeroweb/images/menu/help.png) no-repeat bottom right;
}
#navigation .contact a {
    background: url(/appmedia/omeroweb/images/menu/contact.png) no-repeat bottom right;
}
