/* tables */

#dataTable tr.ui-selecting { background-color:#ccc; }
#dataTable tr.ui-selected { background-color:#ccc; }

table.tablesorter {
    margin:10px 0pt 15px;
    text-align: left;
    width: 99%;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    padding-left: 5px;
    border: 1px solid #bbbbbb;
    background-color: #eeeeee;
}
table.tablesorter thead tr .header {
    background-image: url(/appmedia/omeroweb/images/table/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    vertical-align: middle;
}

td.link, th.link {
    text-align: left;
    padding: 2px 2px 2px 20px;
    border-bottom: 1px dashed #bbbbbb;
}

td.desc, th.desc {
    text-align: left;
    padding: 2px 2px 2px 20px;
    border-bottom: 1px dashed #bbbbbb;
}

td.roles, th.roles {
    text-align: right;
    width: 70px;
    padding: 2px 20px 2px 20px;
    border-bottom: 1px dashed #bbbbbb;
}

td.action, th.action {
    text-align: left;
    width: 100px;
    padding: 2px 20px 2px 20px;
    border-bottom: 1px dashed #bbbbbb;
}

