<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>	
	<!-- # Beans are ordered by level, highest level to lowest. -->
	<!-- ### Services ####################################################### -->
	
	<bean id="serviceBeanNameProxyCreator"
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames"><value>*Service</value></property>
		<property name="interceptorNames">
		<list>
<!--			<value>serviceSecurity</value>
			<value>serviceTransactions</value> -->
		</list>
		</property>
	</bean>
	
	<bean id="hierarchyBrowsingService" class="org.openmicroscopy.omero.logic.HierarchyBrowsingImpl">
		<property name="sessions"><ref bean="sessionFactory"/></property>
	</bean>		

	<!-- ### Data ####################################################### -->

	<bean id="transactionManager" 
    	class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	    <property name="dataSource"><ref local="dataSource"/></property>
	</bean>

    <bean id="serviceTransactions" 
        class="org.springframework.transaction.interceptor.TransactionInterceptor">
        <property name="transactionManager">
            <ref bean="transactionManager"/>
        </property>
        <property name="transactionAttributeSource">
            <value>
                org.openmicroscopy.omero.interfaces.HierarchyBrowsing.find*=PROPAGATION_REQUIRED
                org.openmicroscopy.omero.interfaces.HierarchyBrowsing.load*=PROPAGATION_REQUIRED
            </value>
        </property>
    </bean>

	<bean id="dataSource" 
    	class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	    <property name="driverClassName"><value>${db.driver}</value></property>
    	<property name="url"><value>${db.url}</value></property>
	    <property name="username"><value>${db.user}</value></property>
	    <property name="password"><value>${db.password}</value></property>
	</bean>

<!--
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"><value>${jena.db.driver}</value></property>
		<property name="url"><value>${jena.db.url}</value></property>
		<property name="username"><value>${jena.db.user}</value></property>		
		<property name="password"><value>${jena.db.password}</value></property>				
	</bean>
-->

   <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
       <property name="mappingResources">
           <list>
<!--               <value>org/ome/hibernate/User.hbm.xml</value>
               <value>org/ome/hibernate/Container.hbm.xml</value>
             <value>org/ome/hibernate/old/Project.hbm.xml</value>
               <value>org/ome/hibernate/old/Dataset.hbm.xml</value>
               <value>org/ome/hibernate/old/Image.hbm.xml</value>			   			   			   			   
<value>pojos/queries.hbm.xml</value> -->            
			   <value>org/ome/omero/logic/queries.hbm.xml</value>
			   <value>org/ome/omero/model/Image.hbm.xml</value>			   			   			   			   
               <value>org/ome/omero/model/Project.hbm.xml</value>
               <value>org/ome/omero/model/Category.hbm.xml</value>
               <value>org/ome/omero/model/DisplayRoi.hbm.xml</value>
               <value>org/ome/omero/model/ImageInfo.hbm.xml</value>
               <value>org/ome/omero/model/Dataset.hbm.xml</value>
               <value>org/ome/omero/model/ImagePlate.hbm.xml</value>
               <value>org/ome/omero/model/ImagePixel.hbm.xml</value>
               <value>org/ome/omero/model/Group.hbm.xml</value>
               <value>org/ome/omero/model/Experimenter.hbm.xml</value>
               <value>org/ome/omero/model/Feature.hbm.xml</value>
               <value>org/ome/omero/model/CategoryGroup.hbm.xml</value>
               <value>org/ome/omero/model/ImageAnnotation.hbm.xml</value>
               <value>org/ome/omero/model/ImageDimension.hbm.xml</value>
               <value>org/ome/omero/model/DatasetAnnotation.hbm.xml</value>
               <value>org/ome/omero/model/DisplayOption.hbm.xml</value>
               <value>org/ome/omero/model/ChannelComponent.hbm.xml</value>
               <value>org/ome/omero/model/Thumbnail.hbm.xml</value>
			   <value>org/ome/omero/model/Classification.hbm.xml</value>
			   <value>org/ome/omero/model/ModuleExecution.hbm.xml</value>			   
			   <value>org/ome/omero/model/Repository.hbm.xml</value>
           </list>
       </property>
       <property name="hibernateProperties">
           <props>
               <prop key="hibernate.dialect">${db.dialect}</prop>
	       <prop key="hibernate.show_sql">false</prop>
           </props>
       </property>
       <property name="dataSource">
           <ref bean="dataSource"/>
       </property>
   </bean>
</beans>
