{% load i18n %}
{% load markup %}
{% load custom_tags %}
{% load wikitags %}

<script type="text/javascript" src="{% url webstatic "javascript/actions.js" %}"></script>
    
<div class="clear"> </div>

{% if controller.lastAcquiredImages %}
    <ul id="dataIcons">
        {% for c in controller.lastAcquiredImages %}
            <li><em>{{ c.name }}</em>
                <a href="{% url load_template "userdata" %}?project={{ c.getParent.getParent.id }}&dataset={{ c.getParent.id }}&image={{ c.id }}s"><img id="{{ c.id }}" class="imgzoom" src="{% url render_thumbnail c.id %}" alt="image" title="{{ c.name }}"/></a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="error"><p>{% trans "No data imported. Please change your active group (on the menu bar) or import some images or look into someone else's data." %}</p></div>
{% endif %}
