[General]
appTitle = OMERO.importer
appVersionNote =
port = 4064
appVersionNumber = Beta4.3.0-DEV
disableUpgradeCheck = false

[Uploader]
TokenURL = http://qa.openmicroscopy.org.uk/qa/initial/
URL = http://qa.openmicroscopy.org.uk/qa/upload_processing/
BugTrackerURL = http://qa.openmicroscopy.org.uk/qa/upload_processing/
forumURL = https://www.openmicroscopy.org/community/

[UI]
forceFileArchiveOn = false
disableImportHistory = false