[General]
appTitle = OMERO.importer
appVersionNote =
port = 4064
disableUpgradeCheck = false

[Uploader]
TokenURL = http://qa.openmicroscopy.org.uk/qa/initial/
URL = http://qa.openmicroscopy.org.uk/qa/upload_processing/
BugTrackerURL = http://qa.openmicroscopy.org.uk/qa/upload_processing/
forumURL = http://www.openmicroscopy.org/community/

[UI]
forceFileArchiveOn = false
disableImportHistory = false
