<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!--
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
# $Id$
#
# Copyright 2007 Glencoe Software, Inc. All rights reserved.
# Use is subject to license terms supplied in LICENSE.txt
#
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Written by:  Josh Moore, josh at glencoesoftware.com
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->

<!-- Configuration for ICE services. -->

<beans>

  <bean id="Ice.Communicator" class="ome.services.blitz.config.IceCommunicatorFactoryBean">
    <property name="properties">
      <props>
        <prop key="OMEROObjectAdapter.Endpoints">tcp -p 9999</prop>
        <prop key="Ice.ImplicitContext">Shared</prop>
      </props>
    </property>
    <property name="adapters" value="OMEROObjectAdapter"/>
    <property name="logger">
      <bean class="ome.services.blitz.util.CommonsLoggingAdapter">
        <constructor-arg>
          <bean class="org.springframework.beans.factory.config.CommonsLogFactoryBean">
            <property name="logName" value="IceRuntime"/>
          </bean>
        </constructor-arg>
      </bean>
    </property>
  </bean>

  <bean id="OMEROObjectAdapter" class="ome.services.blitz.config.IceObjectAdapterFactoryBean">
    <property name="servants">
      <map>
        <entry key="Verifier" value-ref="Verifier"/>
        <entry key="Manager" value-ref="Manager"/>
      </map>
    </property>
  </bean>

  <bean id="Manager" class="ome.services.blitz.fire.SessionManagerI">
    <constructor-arg ref="securitySystem"/>
  </bean>

  <bean id="Verifier" class="ome.services.blitz.fire.PermissionsVerifierI">
    <constructor-arg ref="internal:ome.api.IAdmin"/>
  </bean>

  <bean id="Session" class="ome.services.blitz.impl.ServiceFactoryI" singleton="false">
    <description>Prototype for sessions. Used by Manager</description>
    <constructor-arg ref="ServantCache"/>
  </bean>

  <bean id="ServantCache" class="ome.services.blitz.util.CacheWithListenersFactoryBean">
    <property name="cacheManager" ref="CacheManager"/>
    <property name="overflowToDisk" value="false"/>
    <property name="maxElementsInMemory" value="${omero.blitz.cache.maxElements}"/>
    <property name="timeToIdle" value="${omero.blitz.cache.timeToIdle}"/>
    <property name="timeToLive" value="0"/>
  </bean>

  <bean id="CacheManager" class="ome.services.blitz.util.ShutdownSafeEhcacheManagerFactoryBean"/>

</beans>
