body {
  background-color: white;
	font-family: Verdana,Arial,Helvetica; 
	font-size: 12px; 
	margin-top: 0px;
	margin-left: 10px;
}
a {
  text-decoration: none;
  color: steelblue;
}
a:hover { text-decoration: underline; }
td {
  font-size: 12px; 
  font-family: Verdana,Arial,Helvetica;
}  
p {
  font-size : 12px; 
  font-family : Verdana,Arial,Helvetica;
}
  
.navigation {
	font-family: Verdana,Arial,Helvetica; 
	text-align: left;
	width: 100%; 
	height: 15;
	font-size: 10px; 
	font-weight: bold;
	color: #000000;
	background-color: #F0F0F0;
}
.section-heading-1 {
	font-family: Verdana,Arial,Helvetica; 
	text-align: left;
	vertical-align: bottom;
	font-size: 20px; 
	font-weight: bold;
	color: #000000;
}
.section-heading-2 {
	font-family: Verdana,Arial,Helvetica; 
	text-align: left;
	vertical-align: bottom;
	font-size: 14px; 
	font-weight: bold;
	color: #000000;
}
.section-body-1 {
	font-family: Verdana,Arial,Helvetica; 
	text-align: left;
	margin-left: 10px;
}
.section-body-2 {
	font-family: Verdana,Arial,Helvetica; 
	text-align: left;
	margin-left: 10px;
}
.document-footer {
	font-family: Verdana,Arial,Helvetica; 
	text-align: right;
	font-size: 8px; 
}
.document-header {
	font-family: Verdana,Arial,Helvetica; 
	text-align: right;
	font-size: 16px; 
	font-weight: bold;
	color: #000000;
}
.document-title {
	font-family: Verdana,Arial,Helvetica; 
	text-align: left;
	font-size: 22px; 
	font-weight: bold;
	color: gray;
}
.document-attributes {
	font-family: Verdana,Arial,Helvetica; 
	text-align: left;
	font-size: 12px; 
	color: #000000;
}
.note {
	border: 1px;
	border-style: solid;
	padding: 1px;
	background-color: #F0F0F0;
	color: #000000;
	font-size: 10px; 
}
