body {
  background-color: white;
  font-family: Verdana,Helvetica,sans-serif; 
  font-size: 12px; 
  margin-top: 0px;
  margin-left: 10px;
}

a {
  color: steelblue;
  text-decoration: none;
}
a:hover { 
  text-decoration: underline;
  color: #FFCC1C;
}

p { font-size: 12px; }
td {font-size: 12px; }

.navigation {
  font-family: Verdana,Helvetica,sans-serif;
  text-align: left;
  width: 100%; 
  height: 15;
  font-size: 10px; 
  font-weight: bold;
  color: #000000;
  background-color: #F0F0F0;
}

.document-attributes {
  font-family: Verdana,Arial,Helvetica; 
  text-align: left;
  font-size: 12px; 
  color: #000000;
}
.document-title {
  font-family: Verdana,Helvetica,sans-serif;
  text-align: left;
  font-size: 20px; 
  font-weight: bold;
  color: gray;
}
.document-header {
  font-family: Verdana,Helvetica,sans-serif;
  text-align: right;
  font-size: 16px; 
  font-weight: bold;
  color: #000000;
}
.document-footer {
  font-family: Verdana,Helvetica,sans-serif;
  text-align: right;
  font-size: 8px; 
}


.code { 
  border-color: #CFDCED; 
  border-style: solid; 
  border-width: 1px; 
}

.noteFrame {
  margin: 30px 20px 30px 20px;
  border: solid 1px #7099C5;
  background-color: #F0F0FF; 
  font-size: 10px;
}
.noteLabel {
  background-color: #7099C5; 
  color: white;
}
.noteContent {
  margin: 0px;
  padding: 5px 5px 5px 10px;
}
