#autocompleteUrl {
    display: none;
}
.autocomplete {
  position: absolute;
  background: #fff;
  font-size: 85%;
  border: 1px solid #888;
  list-style-type: none;
  z-index: 52;
  right: 0px;
}
.autocomplete ul {
    background: #ff8;
    padding-left: 5px;
    margin-left: 5px;
}

.autocomplete li.selected {
  background: #008;
  color: #fff;
}