body {
    font-family:arial; 
    padding:0px; 
    margin:0px;
    background: #dde3e3;
}

#contentWrapper {
    margin-left:auto;
    margin-right:auto;
    width: 900px;
}

#header_top {
    width: 900px;
    margin-left:auto;
    margin-right:auto;
}

#header_top h2 {
    float: left;
}

#header_menu {
    background: #666666;
}

#menu_bar {
    width: 900px;
    margin-left:auto;
    margin-right:auto;
}

#menu_bar a:hover, #menu_bar a:link, #menu_bar a:visited {
    text-decoration:none;
    color: white;
    margin: 10px;
}

.pageTable {
    background: white;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
}

#footer {
    width: 900px;
    margin-left:auto;
    margin-right:auto;
}
.clear {
    clear: both;
}
