#contentWrapper {
    margin-left:auto;
    margin-right:auto;
    width: 900px;
}

#entry_header {
    background: white;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
}

.entryImage {
    width: 200px;
}

.entryTitle {
    font-size: 120%;
    margin: 10px;
}
.entryTitleSmall {
    font-size: 100%;
    margin: 2px;
}

.entrySubtitle {
    margin: 10px;
}

.nav {
    cursor: pointer;
}


.pageTable {
    background: white;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
}

#entry_menu {
    background: #adb3b3;
}
#entry_menu a:hover, #entry_menu a:link, #entry_menu a:visited {
    text-decoration:none;
    color: black;
    margin: 5px;
}


.content .label {
    color: gray;
}

#emdb_data {
    margin: 15px;
    font-size: 90%;
}
.content_title {
    font-size: 130%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#bigImg {
    border:1px solid gray;
}

.visMenu {
    width: 300px;
    float: left;
}

.visOption {
    background: #dfe5e5;
    padding: 6px;
    border:solid #cdd3d3 1px;
    width: 300px;
}

.visText {
    
}

.visIcon {
    float: left;
    margin-right: 5px;
}
.visIcon img {
    max-width:75px;
    max-height:75px;
}
.clean {
    clear: both;
}

#sizeWarning {
    color: red;
}

.visSelected {
    border:solid black 1px;
}
.visHover {
    border:solid gray 1px;
    background: #dde3e3;
}

#viewport {
    width: 100%;
    height: 100%;
    border: solid red 1px;
}

#oav {
    border: solid gray 1px;
    height: 500px;
}