#welcome {
    background:white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 1px;
    margin-top:15px;
}

#contentWrapper {
    margin-left:auto;
    margin-right:auto;
    width: 900px;
}