
th .filter_field {
    float: right;
}

.nowrap {
    white-space:nowrap;
}

/***************************************
   =TABLES
-------------------------------------- */

img.previewGif {
    max-width: 75px;
    max-height: 75px;
    border-width: 0px;
}

.commentId {
    display: none;
}

#content th,
#content td {
  padding: 3px 6px;
  vertical-align: top;
}
#content th {
  text-align: left;
  color: #fff;
}
#content thead th {
  background-color: #15b;    
}
#content .sortable thead th {
  padding-left: 18px;
}
#content tbody th {
  background-color: #6f93ce;
  padding-left: 6px;
}
#content .date-column {
  width: 40px;
}
th img {
  float: left;
}

tr.even,
tr.first {
  background-color: #eee;
}
tr.odd,
tr.second {
  background-color: #ddd;
}
tr.third {
  background-color: #ccc;  
}

td.sorted {
	background: #ffd;
}
th span.sort {
  cursor: pointer;
}
th.hover {
  background: #bbd;
}
th.sorted-asc {
 background-position: 0 -20px;
}
th.sorted-desc {
  background-position: 0 -40px;
}

.filtered {
  display: none;
}

/* filterable table */

#content {
    font-size: 0.9em;
}
#content table.filterable {

}
#content .filters {
 float: right;
 width: 19%;
 padding-left:5px;
}

#content .filterable thead th {
  padding-left: 6px;
}
div.pager {
  margin-bottom: .25em;
}

#content .page-number,
#content .filter {
  padding: .2em;
}
#content .page-number {
  border: 1px solid #ccc;
  margin-right: 2px;
}
#content .active {
  background: #ccf;
  border: 1px solid #006;
}


#content tr.highlight {
  background: #ff6;
}
#content tr.plain {
  background: #fff;
}
#tooltip {
  position: absolute;
  z-index: 2;
  background: #efd;
  border: 1px solid #ccc;
  padding: 3px;
}