#
# local.properties.example
# ------------------------
# system variables which will be used both at
# build-time and run-time
#
omero.version=3.0-TRUNK
omero.repo.local=${omero.home}/lib/repository
omero.repo.remote=file://${user.home}/.m2/repository
omero.rootpass=ome

############################################
# build
############################################
# Defaults used in antlib/resources/lifecycle.xml
# override in <COMPONENT>/build.xml files or
# in etc/local.properties 
javac.source=1.5
javac.target=1.5
javac.debug=on
javac.debuglevel=lines,vars,source
javac.maxmem=100m

############################################
# libraries
############################################
# comment out no.ice to attempt the 
# blitz/ build
ice.home=/opt/Ice-3.1.1
no.ice=true

# Used in server/build.xml to specify the
# functionality that will be compiled in
# via server/src/ome/logic/AbstractBean.java
omero.hard-wired.interceptors=

# Used by tools/licences/build.xml to define
# which class should be compiled into 
# ome.services.licenses.LicenseBean
ome.services.licenses.Store_class=ome.services.licenses.Store

############################################
# client connection
############################################
omero.user=user
omero.pass=secret

############################################
# database connection
############################################
hibernate.connection.username=user
hibernate.connection.password=secret

############################################
# jndi connection
############################################
server.host=localhost
server.port=1099

############################################
# maven.xml properties
# ------------------------------------------
# when using maven.xml to generate classpath
# files uncomment out these variables. just
# be sure to re-comment them when using ant
# or odd errors will appear.
############################################
#omero.repo.local=${user.home}/.m2/repository/
#omero.repo.remote=file://${omero.home}/lib/repository/

