#
# local.properties.example
# ------------------------
# system variables which will be used both at
# build-time and run-time
#
omero.version=3.0-M1
omero.repo.local=${omero.home}/lib/repository
omero.repo.remote=file://${user.home}/.m2/repository

############################################
# client connection
############################################
omero.user=user
omero.pass=secret

############################################
# database connection
############################################
hibernate.connection.username=user
hibernate.connection.password=secret

############################################
# jndi connection
############################################
server.host=localhost
server.port=1099

############################################
# maven.xml properties
# ------------------------------------------
# when using maven.xml to generate classpath
# files uncomment out these variables. just
# be sure to re-comment them when using ant
# or odd errors will appear.
############################################
#omero.repo.local=${user.home}/.m2/repository/
#omero.repo.remote=file://${omero.home}/lib/repository/

