# Properties added here will be loaded by the DropBox
# server *after* all other properties.
#
# If no srcFile or no watchDir is specified, then
# testing will not take place.
# More than one source file can be included by 
# using ; as a separator.
# If watchDir is within an existing actively watched user
# area then files will be imported multiple times
#
# Timeout is in seconds and needs to be long enough to 
# allow the imports to complete fully.
#
# Example:
# omero.fs.importUsers=root
# omero.fstest.timeout=480
# omero.fstest.srcFile=/Users/test/images/test.lsm;/Users/test/images/test.lsm
# omero.fs.watchDir=/OMERO/Dropbox/testarea

omero.fs.importUsers=root
omero.fstest.timeout=120
omero.fstest.srcFile=
omero.fs.watchDir=
