<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>WebTest login form</title>
</head>

<body>
<h1>WebTest login form</h1>
<form action="." method="POST">
<select name="server">
{% for e in gw.all %}
  <option value="{{ e.id }}">{{ e.host }}</option>
{% endfor %}
</select>
User Name <input type="text" name="username">
Password <input type="password" name="password">
<input type="submit">
</form>
<hr>
<address></address>
<!-- hhmts start --> Last modified: Fri Oct 16 01:04:14 WEST 2009 <!-- hhmts end -->
</body> </html>
