<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>	
	<!-- # Beans are ordered by level, highest level to lowest. -->
	<!-- ### Services ####################################################### -->
	
	<bean id="serviceBeanNameProxyCreator"
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames"><value>*Service</value></property>
		<property name="interceptorNames">
		<list>
			<value>serviceSecurity</value>
<!--			<value>serviceTransactions</value> -->
		</list>
		</property>
	</bean>
	
	<bean id="administrationService" class="org.ome.srv.logic.AdministrationServiceImpl">
	    <property name="cache"><ref local="cache"/></property>
	    <property name="store"><ref local="store"/></property>
	    <property name="versionService"><ref local="versionService"/></property>
	</bean>

	<bean id="containerService" class="org.ome.srv.logic.ContainerServiceImpl">
	    <property name="cache"><ref local="cache"/></property>
	    <property name="store"><ref local="store"/></property>
   	    <property name="versionService"><ref local="versionService"/></property>
	</bean>

	<bean id="imageService" class="org.ome.srv.logic.ImageServiceImpl">
	    <property name="cache"><ref local="cache"/></property>
	    <property name="store"><ref local="store"/></property>
	    <property name="versionService"><ref local="versionService"/></property>
	</bean>

	<!-- not the most performant (less so than cache) but works for now -->
	<bean id="versionService" class="org.ome.srv.logic.VersionServiceImpl">
		<property name="store"><ref local="store"/></property>
	</bean>

	<!-- ### Data ####################################################### -->

	<bean id="cache" class="org.ome.cache.oscache.OSCache"/>
	<bean id="store" class="org.ome.srv.db.jena.JenaGenericStore">
	    <property name="pool"><ref bean="modelPool"/></property>
   	    <property name="defaultModelName"><value>${jena.model.name.default}</value></property>
	</bean>

	<bean name="modelPool" class="org.apache.commons.pool.impl.StackKeyedObjectPool">
		<property name="factory"><ref bean="modelFactory"/></property>
	</bean>

	<bean id="modelFactory" class="org.ome.srv.db.jena.JenaModelFactory">
	    <property name="dataSource"><ref bean="dataSource"/></property>
  	    <property name="databaseType"><value>${jena.db.type}</value></property>
	</bean>
<!--
	<bean id="modelFactory" class="org.ome.srv.db.jena.JenaKowariModelFactory">
	    <property name="serverUri">
	    	<bean class="java.net.URI">
	    		<constructor-arg>
		    	<value>rmi://localhost/server1</value>
		    	</constructor-arg>
		   	</bean>
	    </property>
	</bean>
-->

	<bean id="transactionManager" 
    	class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	    <property name="dataSource"><ref local="dataSource"/></property>
	</bean>

    <bean id="serviceTransactions" 
        class="org.springframework.transaction.interceptor.TransactionInterceptor">
        <property name="transactionManager">
            <ref bean="transactionManager"/>
        </property>
        <property name="transactionAttributeSource">
            <value>
                org.ome.interfaces.ImageService.retrieve*=PROPAGATION_REQUIRED
                org.ome.interfaces.ImageService.update*=PROPAGATION_REQUIRED
            </value>
        </property>
    </bean>


	<bean id="dataSource" 
    	class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	    <property name="driverClassName"><value>${jena.db.driver}</value></property>
    	<property name="url"><value>${jena.db.url}</value></property>
	    <property name="username"><value>${jena.db.user}</value></property>
	    <property name="password"><value>${jena.db.password}</value></property>
	</bean>

<!--
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"><value>${jena.db.driver}</value></property>
		<property name="url"><value>${jena.db.url}</value></property>
		<property name="username"><value>${jena.db.user}</value></property>		
		<property name="password"><value>${jena.db.password}</value></property>				
	</bean>
-->

</beans>
