<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>	
	<!-- ***** CONFIG ***** -->
	<!-- property placeholder post-processor -->
	<bean id="placeholderConfig"
              class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
		<list>
			<value>spring.properties</value>
		</list>
		</property>
	</bean>
	
	<bean id="hierarchyBrowsingFacade" class="org.springframework.remoting.caucho.HessianProxyFactoryBean">
	    <property name="serviceUrl"><value>http://${server.host}:${server.port}/omero/HierarchyBrowsing</value></property>
	    <property name="serviceInterface"><value>org.openmicroscopy.omero.interfaces.HierarchyBrowsing</value></property>
	</bean>

</beans>
