<html>
<head>
<title>Samples</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#FFFFFF" text="#000000">
<h3>OMERO.insight Documentation Site</h3>
<div align="center">
<p><b><font color="#FF9966">Under Construction</font></b></p>
</div>

<!-- Adding an image -->
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr>
    <td align="left">
    <a href="nameofImage.jpg">
    <img src="nameofImage.jpg" 
    alt="ToolTip"></img></a>
    </td> 
  </tr>
  <tr> 
    <td height="10">&#160;</td>
</tr>
  <tr> 
    <td align="left"><a name="refImage"><b>Figure 31</b></a> Image title</td>  
</tr>
  <tr> 
    <td height="40"></td>
    </tr>
</table>



<!-- Code sample -->
code>PYTHON_HOME=/Library/Frameworks/Python.framework/Versions/2.5/</code>

<!-- Adding a Note e.g. NB -->
<div class="noteFrame">
	<div class="noteLabel">Warning</div>
  	<div class="noteContent">
  		if macports not installed change <code>BLITZEXE='readlink -f $0'</code>
  		 in file YOUR_OMERO_DIR/dist/blitz to
  		<code>BLITZEXE='$0'</code>
  	</div>
</div> 

<!-- Other example -->
<div class="noteFrame">
	<div class="noteLabel">Note</div>
  	<div class="noteContent">
		Default username/password for administrator is admin:omero
  	</div>
</div> 

</body>
</html>
