slice_generated*
.deps
.libs
*.in
*.la
*.lo
*.loT
*.o
*.os
*.gcno
*.gcda
*.html
Makefile
aclocal.m4
autom4te.cache
config.guess
config.h
config.log
config.status
config.sub
configure
cppbuild
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
test/unit.exe
test/integration.exe
target/coverage/*
