{% extends "base_error.html" %}
{% load i18n %}

{% block content %}
    <div id="form-500">   <!-- This div used for 500 dialog box (handling ajaxError) -->
        <h1>{% trans "Server Error." %} <em>(500)</em></h1>

        <p class="error">{% trans "The server encountered an internal error and was unable to complete your request. Please contact your system administrator with the error message below." %}</p>

        {% if error %}<ul class="errorlist"><li>{{ error }}</li></ul>{% endif %}

        <textarea rows="10" cols="60">
          {{ error500 }}
        </textarea>
    </div>
{% endblock %}
