{% extends "base_error.html" %}
{% load i18n %}

{% block content %}
    <div id="form-500">   <!-- This div used for 500 dialog box (handling ajaxError) -->
        <h1>{% trans "Server Error." %} <em>(500)</em></h1>

        <p class="error">{% trans "There's been an error. Please give us feedback to help to improve the OMERO applications. Thanks for your patience." %}</p>
        {% if error %}<ul class="errorlist"><li>{{ error }}</li></ul>{% endif %}
        
        <p>{% trans "Fields marked in red are mandatory." %}</p>
        
        <form action="{% url fsend %}" method="post" class="standard_form">
            {% for field in form %}
                {% if field.field.required %}<span class="required">{{ field.label_tag }}</span>{% else %}{{ field.label_tag }}{% endif %}
                {{ field }}
                {% if field.errors %}{{ field.errors }}{% endif %}
                {{ field.help_text|safe }}
                <br/>
            {% endfor %}
                <input type="submit" value="Send" />
        </form>
    </div>
{% endblock %}