{% extends "base_error.html" %}
{% load i18n %}

{% block content %}
    <div id="form-500" class="error">   <!-- This div used for 500 dialog box (handling ajaxError) -->
        <h1>{% trans "Server Error." %} <em>(500)</em></h1>

        <p>{% trans "There's been an error. Please give us feedback to help to improve the OMERO applications. Thanks for your patience." %}</p>
        {% if error %}<ul class="errorlist"><li>{{ error }}</li></ul>{% endif %}
        
        <form action="{% url fsend %}" method="post">
        <table>
            {% for field in form %}
                <tr><th>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</th>
                    <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text|safe }}</td>
                </tr>
            {% endfor %}
                <tr><td colspan="2"><input type="submit" value="Send" /></td></tr>
            </table>
        </form>
    </div>
{% endblock %}