{% load i18n %}
{% load markup %}
{% load custom_tags %}
<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/layout.css" type="text/css" />
    <link rel="shortcut icon" href="{% get_webadmin_static_url %}/images/ome.ico" type="image/x-icon" />
    
    <title>{% trans "Web - Error 500" %}</title>
    
</head>
<body>
<div id="main" class="error"><h1>
    MENU: <a href="{% get_webadmin_root_url %}/">{% trans "Webadmin" %}</a> or 
    <a href="{% get_webclient_root_url %}/">{% trans "Webclient" %}</a>
</h1>
{% block content %}{% endblock %}
</div>
<div id="footer"><p>{% trans "&copy;2009 University of Dundee & Open Microscopy Environment" %}</p></div>

</div>
