{% extends "base_error.html" %}
{% load i18n %}

{% block title %}
    {% trans "OMERO.web - Help" %}
{% endblock %}

{% block body %}
    <div class="bodyWrapper">
        <h1>{% trans "OMERO.web Help" %}</h1>

        
        <p>
            {% trans "You may find the following resources useful. If you have any further questions, comments or suggestions, please use the feedback form below." %}
        
        <ul style="list-style: disc inside none">
            <li>
                <a href="http://www.openmicroscopy.org/site">Open Microscopy Environment</a>:
                Home page of the OME project.
            </li>
            <li>
                <a href="http://www.openmicroscopy.org/site/products/omero">About OMERO</a>:
                Background and introduction to OMERO.
            </li>
            <li>
                <a href="http://help.openmicroscopy.org/">User Assistance</a>:
                More information about the OMERO clients.
            </li>
        </ul>
        </p>

        <hr />

        <h1>{% trans "Send Feedback" %}</h1>
        
        <p>{% trans "OME's QA system records any problem or comment you have submitted, your email address, and the IP address you are currently using. We store this information in a password-protected system. If you'd prefer us not to hold this information, please don't submit any information to OME QA. Any feedback you provide will be used to further the development of the OMERO.web and improve our software." %}</p>

        {% if error %}<ul class="errorlist"><li>{{ error }}</li></ul>{% endif %}
        
        <form action="{% url 'csend' %}" method="post" class="standard_form">{% csrf_token %}
            {% for field in form %}
                {% if field.field.required %}<span class="required">{{ field.label_tag }}</span>{% else %}{{ field.label_tag }}{% endif %}
                {{ field }}
                {% if field.errors %}{{ field.errors }}{% endif %}
                {{ field.help_text|safe }}
                <br/>
            {% endfor %}
                <input type="submit" value="Send" />
        </form>
    </div>
{% endblock %}