{% extends "webgateway/core_html.html" %}
{% load i18n %}

{% block link %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "feedback/css/layout.css" %}" type="text/css" />
{% endblock %}

{% block title %}
    {% trans "OMERO.web - support" %}
{% endblock %}

{% block head %}
    {{ block.super }}
    {% include "webgateway/base/includes/shortcut_icon.html" %}
{% endblock %}

{% block body %}
<div class="bodyWrapper">
    <div><h1>
        <a href="#" onClick="window.close()">{% trans "Close" %}</a>
    </h1>
    {% block content %}<div><h1>{% trans "Thank you for your feedback." %} </h1>{% endblock %}
    </div>

    </div>
</div>
{% endblock %}

