<?xml version="1.0" encoding="UTF-8"?>
<!--
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
#
# Copyright (C) 2003 Open Microscopy Environment
#       Massachusetts Institue of Technology,
#       National Institutes of Health,
#       University of Dundee
#
#
#
#    This library is free software; you can redistribute it and/or
#    modify it under the terms of the GNU Lesser General Public
#    License as published by the Free Software Foundation; either
#    version 2.1 of the License, or (at your option) any later version.
#
#    This library is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
#    Lesser General Public License for more details.
#
#    You should have received a copy of the GNU Lesser General Public
#    License along with this library; if not, write to the Free Software
#    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
#
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->

<!--
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Written by:  Josh Moore <josh.moore@gmx.de>
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->

<!--

  springs main configuration file.
 
-->

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>	
	<!-- # Beans are ordered by level, highest level to lowest. -->
	<!-- ### Services ####################################################### -->
	
	<bean id="serviceBeanNameProxyCreator"
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="beanNames"><value>*Service</value></property>
		<property name="interceptorNames">
		<list>
<!--			<value>serviceSecurity</value>
			<value>serviceTransactions</value> -->
		</list>
		</property>
	</bean>
	
	<bean id="hierarchyBrowsingService" class="org.openmicroscopy.omero.logic.HierarchyBrowsingImpl">
		<property name="annotationDao"><ref bean="annotationDao"/></property>
		<property name="containerDao"><ref bean="containerDao"/></property>
	</bean>		

	<!-- ### Data ####################################################### -->

	<bean id="dao" abstract="true">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="annotationDao" 
		class="org.openmicroscopy.omero.logic.AnnotationDaoHibernate"
		parent="dao"/>

	<bean id="containerDao" 
		class="org.openmicroscopy.omero.logic.ContainerDaoHibernate"
		parent="dao"/>

	<bean id="transactionManager" 
    	class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	    <property name="dataSource"><ref local="dataSource"/></property>
	</bean>

    <bean id="serviceTransactions" 
        class="org.springframework.transaction.interceptor.TransactionInterceptor">
        <property name="transactionManager">
            <ref bean="transactionManager"/>
        </property>
        <property name="transactionAttributeSource">
            <value>
                org.openmicroscopy.omero.interfaces.HierarchyBrowsing.find*=PROPAGATION_REQUIRED
                org.openmicroscopy.omero.interfaces.HierarchyBrowsing.load*=PROPAGATION_REQUIRED
            </value>
        </property>
    </bean>

	<bean id="dataSource" 
    	class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
	    <property name="driverClassName"><value>${db.driver}</value></property>
    	<property name="url"><value>${db.url}</value></property>
	    <property name="username"><value>${db.user}</value></property>
	    <property name="password"><value>${db.password}</value></property>
	</bean>

<!--
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName"><value>${jena.db.driver}</value></property>
		<property name="url"><value>${jena.db.url}</value></property>
		<property name="username"><value>${jena.db.user}</value></property>		
		<property name="password"><value>${jena.db.password}</value></property>				
	</bean>
-->

   <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
       <property name="mappingResources">
           <list>
			   <value>org/openmicroscopy/omero/logic/queries.hbm.xml</value>
			   <value>org/openmicroscopy/omero/model/Image.hbm.xml</value>			   			   			   			   
               <value>org/openmicroscopy/omero/model/Project.hbm.xml</value>
               <value>org/openmicroscopy/omero/model/Category.hbm.xml</value>
               <value>org/openmicroscopy/omero/model/DisplayRoi.hbm.xml</value>
               <value>org/openmicroscopy/omero/model/ImageInfo.hbm.xml</value>
               <value>org/openmicroscopy/omero/model/Dataset.hbm.xml</value>
               <value>org/openmicroscopy/omero/model/ImagePlate.hbm.xml</value>
               <value>org/openmicroscopy/omero/model/ImagePixel.hbm.xml</value>
               <value>org/openmicroscopy/omero/model/Group.hbm.xml</value>
               <value>org/openmicroscopy/omero/model/Experimenter.hbm.xml</value>
               <value>org/openmicroscopy/omero/model/Feature.hbm.xml</value>
               <value>org/openmicroscopy/omero/model/CategoryGroup.hbm.xml</value>
               <value>org/openmicroscopy/omero/model/ImageAnnotation.hbm.xml</value>
               <value>org/openmicroscopy/omero/model/ImageDimension.hbm.xml</value>
               <value>org/openmicroscopy/omero/model/DatasetAnnotation.hbm.xml</value>
               <value>org/openmicroscopy/omero/model/DisplayOption.hbm.xml</value>
               <value>org/openmicroscopy/omero/model/ChannelComponent.hbm.xml</value>
               <value>org/openmicroscopy/omero/model/Thumbnail.hbm.xml</value>
			   <value>org/openmicroscopy/omero/model/Classification.hbm.xml</value>
			   <value>org/openmicroscopy/omero/model/ModuleExecution.hbm.xml</value>			   
			   <value>org/openmicroscopy/omero/model/Repository.hbm.xml</value>
           </list>
       </property>
       <property name="hibernateProperties">
           <props>
               <prop key="hibernate.dialect">${db.dialect}</prop>
	       <prop key="hibernate.show_sql">true</prop>
           </props>
       </property>
       <property name="dataSource">
           <ref bean="dataSource"/>
       </property>
   </bean>
</beans>
