{% extends "webemdb/base/base_main.html" %}

{% block title %} Welcome {% endblock %}

{% block jscript %}
<script type="text/javascript" src="{% url webemdb 'javascript/publications.js' %}"></script>
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% url webemdb 'css/publications.css' %}" type="text/css" />
<style type="text/css">
#contentWrapper {
    width:90%;
}
</style>
{% endblock %}

{% block content %}
{% if publications %}
<div id="welcome">
    <h3>EMDB Publications</h3>

    
<div id="content">
    <!-- Header of the publications table -->
    <table class="paginated">
        <thead>
        <tr class="tableHeader">
            <th class="commentId">ID</th>
            <th> </td>
            <th>
                Authors
                <input type="text" id="author_filter" class="filter_field" />
            </th>
            <th>Title <input type="text" id="title_filter" class="filter_field" /></th>
            <th>Journal</th>
            
            <th>Year</th>
            <th class="nowrap">EMDB entries</th>
        </tr>
        </thead>
        <tbody>
         
    <!-- Data of the publications table -->   
    {% for p in publications %}
      <tr class="publication">
          <td class="commentId">{{ p.commentId }}</td>
          <td class="gif">
              <a href="{% url webemdb.views.entry p.entryId %}">
                <!-- image only gets displayed when each row of the table is shown -->
                <img id="{% url webemdb_gif p.entryId %}" class="previewGif" border='0' />
              </a>
          </td> 
          <td class="authors">{{ p.authors }} </td>
          <td class="title">{{ p.title }} </td>
          <td class="journal">
              {{ p.journal }}
              <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ p.externalReference }}?dopt=Abstract">
                  Vol: {{ p.volume }}, {{ p.pages }}
              </a>
          </td>
          <td class="year">{{ p.year }} </td>
          <td class="entries">EMDB: 
              <a class="entry_link" href="{% url webemdb.views.entry p.entryId %}">{{ p.entryId }}</a>
              <!-- The following link to image is hidden. Used for jquery to get the dynamic django link pattern -->
              <a class="image_link" href="{% url webemdb_gif p.entryId %}" style="display:none;">gif</a>
              <a class="emdb_link" href="{% url webemdb.views.getEntriesByPub p.commentId %}">show all...</a>
              <dir class="entries_pane"></dir> 
          </td>
      </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
    
</div>

{% else %}
    No publications!
{% endif %}

{% endblock %}