{% extends "webemdb/base/base_main.html" %}

{% block title %} EMDB Entries {% endblock %}

{% block jscript %}
<script type="text/javascript" src="{% url webemdb 'javascript/publications.js' %}"></script>
<script type="text/javascript">

</script>
{% endblock %}

{% block link %}
<link rel="stylesheet" href="{% url webemdb 'css/publications.css' %}" type="text/css" />
<style type="text/css">

</style>
{% endblock %}

{% block content %}
{% if results %}
<div id="welcome">
    <div style="padding-left:10px; margin-left:10px">
        <h3>EMDB Search Results</h3>

        <div>
            Showing {{ results|length }} search results for "{{ searchString }}" |

            <a href="{% url webemdb_entries %}">Show All Entries</a>
        </div>
    </div>
    
<div id="content">
    <!-- Header of the results table -->
    <table class="paginated">
        <thead>
        <tr class="tableHeader">
            <th></th>
            <th> entry</th>
            <th>title</th>
            <th>sample</td>
        </tr>
        </thead>
        <tbody>
         
    <!-- Data of the publications table -->   
    {% for r in results %}
      <tr>
          <td class="gif">
                <a href="{% url webemdb.views.entry r.entryId %}">
                    <!-- image only gets displayed when each row of the table is shown -->
                    <img id="{% url webemdb_gif r.entryId %}" class="previewGif" border='0' />
                </a>
            </td>
          <td><a href="{% url webemdb_entry r.entryId %}">{{ r.entryId }}</a></td>
          <td>{{ r.title }}</td>
          <td>{{ r.sample }}</td>
      </tr>
    {% endfor %}
        </tbody>
    </table>
</div>
    
</div>

{% else %}
    No results
{% endif %}

{% endblock %}