<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration  -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
<!--                                                                -->
<!-- For professional support please see                            -->
<!--    http://www.qos.ch/shop/products/professionalSupport         -->
<!--                                                                -->
<configuration>
  <appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <encoder>
      <pattern>%date %-5level [%40.40logger{40}] \(%10.10thread\) %msg%n</pattern>
      <immediateFlush>true</immediateFlush>
    </encoder>
  </appender>
  <logger name="velocity" level="error"/>
  <logger name="org" level="error"/>
  <logger name="ome" level="error"/>
  <logger name="loci" level="error"/>
  <root level="warn">
    <appender-ref ref="stderr"/>
  </root>
</configuration>
