{% load i18n %}
{% load markup %}
{% load custom_tags %}
<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="{% get_webadmin_static_url %}/css/layout.css" type="text/css" />
    <link rel="shortcut icon" href="{% get_webadmin_static_url %}/images/ome.ico" type="image/x-icon" />
    {% block css %}{% endblock %}
    
    <title>{% trans "WebAdmin" %} - {% block title %}{% endblock %}</title>

    <script type="text/javascript" src="{% get_webadmin_static_url %}/javascript/jquery_1.2.6.js"></script>
    {% block jscript %}{% endblock %}
    
    <script type="text/javascript" src="{% get_webadmin_static_url %}/javascript/popup.js"></script> 
    
</head>
<body>
<div id="wrapper">
<div id="header">
    <div id="banner">
        <div id="hello">
            <h1>{{ info.today }}</h1><br/><br/><br/>
            <h1>{% trans "Hello" %} {{ eventContext.userName }}! ({% if eventContext.isAdmin %}admin{% else %}user{% endif %}) <a href="{% get_webadmin_root_url %}/logout/">{% trans "Logout" %}</a></h1>
        </div>
    </div>
    <div class="nav">
        <div id="navigation">
            <ul>
            <li><a href="{% get_webadmin_root_url %}/drivespace/"{% if info.drivespace %} class="menu" {% endif %}>{% trans "Drive Space" %}</a></li>
            {% if eventContext.isAdmin %}
            <!--<li><a href="{% get_webadmin_root_url %}/ldap/"{% if info.ldap %} class="menu" {% endif %}>{% trans "Ldap" %}</a></li>
            <li><a href="{% get_webadmin_root_url %}/imports/"{% if info.imports %} class="menu" {% endif %}>{% trans "Import" %}</a></li>
            <li><a href="{% get_webadmin_root_url %}/scripts/"{% if info.scripts %} class="menu" {% endif %}>{% trans "Scripts" %}</a></li>-->
            <li><a href="{% get_webadmin_root_url %}/experimenters/"{% if info.experimenters %} class="menu" {% endif %}>{% trans "Scientists" %}</a></li>
            <li><a href="{% get_webadmin_root_url %}/groups/"{% if info.groups %} class="menu" {% endif %}>{% trans "Groups" %}</a></li>
            {% endif %}
            <li><a href="{% get_webadmin_root_url %}/myaccount/edit/"{% if info.myaccount %} class="menu" {% endif %}>{% trans "My Account" %}</a></li>
            <li><a href="javascript:openHelp()">{% trans "Help" %}</a></li>
            </ul>
        </div>
    </div>
</div>

<div id="center">
    {% block content %}{% endblock %}
</div>

<div id="footer"><p>&copy;2009 University of Dundee & Open Microscopy Environment</p></div>

</div>
</body>
</html>
