{% extends "omeroadmin/base.html" %}
{% load i18n %}
{% load markup %}
{% load custom_tags %}

{% block css %}
    <link rel="stylesheet" href="{% get_webadmin_static_url %}/css/table.css" type="text/css" media="screen"/>
{% endblock %}

{% block title %}{% trans "Groups" %}{% endblock %}

{% block jscript %}

    <script type="text/javascript" src="{% get_webadmin_static_url %}/javascript/jquery_1.2.6.js"></script>
    <script type="text/javascript" src="{% get_webadmin_static_url %}/javascript/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="{% get_webadmin_static_url %}/javascript/jquery.quicksearch.js"></script>

<script type="text/javascript">
    $(document).ready(function() 
        { 
            $("#groupTable").tablesorter( {sortList: [[1,0]]} ); 
        } 
    );
</script>

<script type="text/javascript">
    $(document).ready(function () {

        $('table#groupTable tbody tr').quicksearch({
            attached: "table.tablesorter",
            position: "before",
            stripeRowClass: null,
            labelText: '{% trans "Filter" %}:',
            inputText: '{% trans "search" %}',
            loaderImg: '{% get_webadmin_static_url %}/images/spinner.gif',
        });

    })
</script>

{% endblock %}

{% block content %}

<p><img src="{% get_webadmin_static_url %}/images/add.png" alt="add" title="add"> <a href="{% get_webadmin_root_url %}/group/new/">{% trans "Add new group" %}</a></p>

<h2>{% trans "Groups" %}</h2>
{% if controller.groupsCount %}
<table id="groupTable" class="tablesorter"> 
    <thead> 
        <tr> 
            <th>{% trans "Actions" %}</th> 
            <th>{% trans "Name" %}</th> 
            <th>{% trans "Owner" %}</th> 
            <th>{% trans "Description" %}</th>
        </tr> 
    </thead> 
    <tbody>
    {% for dict in controller.groups %}
        <tr>
            <td class="action">
                {% if dict.locked %}
                    <img src="{% get_webadmin_static_url %}/images/block.png" alt="locked" title="locked">
                {% else %}
                    <img src="{% get_webadmin_static_url %}/images/del.png" alt="delete" title="delete"> 
                    <a href="{% get_webadmin_root_url %}/group/edit/{{ dict.group.id }}/"><img src="{% get_webadmin_static_url %}/images/edit.png" alt="edit" title="edit"></a>
                {% endif %}
                <a href="{% get_webadmin_root_url %}/group/members/{{ dict.group.id }}/"><img src="{% get_webadmin_static_url %}/images/editing.png" alt="editin" title="editin"></a>
            </td>
            <td class="link">{{ dict.group.name }}</td>
            <td class="link">{{ dict.group.getOwner }}</td>
            <td class="desc">{{ dict.group.tinyDescription|default_if_none:"-" }}</td>
        </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>{% trans "No groups in OMERO." %}</p>
{% endif %}

{% endblock %}