{% extends "webgateway/base/base_main.html" %}

{% block title %}Render Performance{% endblock %}


{% block link %}
{% endblock %}

{% block script %}
{{ block.super }}


<script>
$(document).ready(function() {

    var $planes = $("img.plane"),
        $planeCount = $("#planeCount"),
        $planesLoaded = $("#planesLoaded"),
        $duration = $("#duration"),
        $secsPerPlane = $("#secsPerPlane"),
        planeCount = $planes.length,
        loadedCount = 0,
        start = 0,
        duration = 0,
        perPlane = 0,
        imgSrcAttr = 'plane';   // attribute of img that has the src we want

    $planeCount.text(planeCount);

    var initLoadCallbacks = function() {
        // When a plane has loaded, update count and time
        $planes.load(function() {
            loadedCount += 1;
            $planesLoaded.text(loadedCount);
            duration = (Date.now() - start) / 1000;
            perPlane = duration / loadedCount;
            $duration.text(duration.toPrecision(3));
            $secsPerPlane.text(perPlane.toPrecision(3));
        });
    }



    var matrixCount,
        sizeZ = {{ sizeZ }},
        sizeT = {{ sizeT }},
        splitDim = 'z',
        splitSize = Math.max(sizeZ, sizeT),
        splitIncr;
    if (sizeT > sizeZ) {
        splitDim = 't';
        $(".matrix_frame img").css('height', '150px');
    } else {
        $(".matrix_frame img").css('width', '150px');
    }

    // set up matrix frames based on select change
    $("#frameCount").change(function(){
        matrixCount = + $(this).val();
        var $firstFrame = $("#matrix_frames .matrix_frame").first();
        $firstFrame.find('img').attr('src', "{% static 'webtest/img/background.png' %}");

        // clear and add the initial one.
        $("#matrix_frames").empty()
            .append($firstFrame);
        var i = 1;
        while(i < matrixCount) {
            $("#matrix_frames").append($firstFrame.clone());
            i++;
        }
    });


    // on-click, setup callbacks then load!
    $("#loadMatrix").click(function() {

        matrixCount = $(".planes_matrix").length;
        splitIncr = Math.ceil(splitSize/matrixCount);

        // setup callbacks
        initMatrixLoadCallbacks();

        // do the loading
        start = Date.now();
        $(".planes_matrix").each(function(i){
            var $img = $(this),
                src = $img.attr('plane'),
                start = i * splitIncr,
                end = ((i + 1) * splitIncr) - 1;
            end = Math.min(end, splitSize-1);
            var q = '?' + splitDim + 'Start=' + start + '&' + splitDim + 'End=' + end;
            $img.attr('src', src + q);
        });
    });


    var initMatrixLoadCallbacks = function() {

        var matrixPlaneCount = 0,
            $matrixPlaneCount = $("#matrixPlaneCount"),
            $matrixPlanesLoaded = $("#matrixPlanesLoaded"),
            $matrixDuration = $("#matrixDuration"),
            $matrixSecsPerPlane = $("#matrixSecsPerPlane");

        $matrixPlaneCount.text(splitSize);
        $matrixDuration.text(0);

        $(".planes_matrix").load(function() {
            // equivalent to all planes loaded
            matrixPlaneCount += splitIncr;
            matrixPlaneCount = Math.min(matrixPlaneCount, splitSize);
            $matrixPlanesLoaded.text(matrixPlaneCount);
            duration = (Date.now() - start) / 1000;
            perPlane = duration / matrixPlaneCount;
            $matrixDuration.text(duration.toPrecision(3));
            $matrixSecsPerPlane.text(perPlane.toPrecision(3));
        });
    }


    $("#loadSequential").click(function() {

        initLoadCallbacks();

        {% if imageIds %}
        // if loading a plate, choose img src (thumbnail OR full plane)
        imgSrcAttr = $("input[name=loadThumbs]:checked").attr('value');
        {% endif %}

        $planes.load(function() {
            var thisId = +$(this).attr('id');
            thisId += 1;
            $nextPlane = $("#" + thisId);
            // load the next Plane
            var src = $nextPlane.attr(imgSrcAttr);
            $nextPlane.attr('src', src);
        });

        start = Date.now();

        // Kick off loading of first image.
        $("#0").attr('src', $("#0").attr(imgSrcAttr));
    });


    $("#loadAll").click(function(){

        initLoadCallbacks();

        {% if imageIds %}
        // if loading a plate, choose img src (thumbnail OR full plane)
        imgSrcAttr = $("input[name=loadThumbs]:checked").attr('value');
        {% endif %}

        start = Date.now();

        // Set the src to start all planes loading
        $planes.each(function(){
            var src = $(this).attr(imgSrcAttr);
            $(this).attr('src', src);
        })
    });

});
</script>

<style type="text/css">
    img.plane {
        max-width: 50px;
        max-height: 50px
    }
</style>
{% endblock %}



{% block body %}

Usage: Click button below to EITHER load all images at once OR load sequentially. Refresh page to reset.

<hr />

<button id="loadAll" value="Load All">Load All</button>
<button id="loadSequential" value="Load Sequential">Load Sequentially</button>

Planes Loaded: <span id="planesLoaded">0</span> / <span id="planeCount">0</span> |
Duration: <span id="duration">0</span> secs |
Per Plane: <span id="secsPerPlane">0</span> secs.

<!-- Regular Image - option to split_channels -->
{% if zctList %}
    {% if split_channels %}
        <a href="?split_channels=false">merge_channels</a>
    {% else %}
        <a href="?split_channels=true">split_channels</a>
    {% endif %}
{% endif %}

{% if imageIds %}
    | For Images,
    Load Full Planes <input type='radio' name='loadThumbs' value="plane" checked="true"/>
    OR Load Thumbnails <input type='radio' name='loadThumbs' value="thumb" />
{% endif %}
<hr />

<!-- Regular Image - go through Z, C, T planes -->
{% if zctList %}

    {% for zct in zctList %}
        <img id="{{ forloop.counter0 }}" class="plane"
            src="{% static 'webtest/img/background.png' %}"
            plane="{% url 'webgateway.views.render_image' imageId zct.z zct.t %}{% if zct.c %}?c={{ zct.c }}{% endif %}"/>
    {% endfor %}

{% else %}

    <!-- E.g. Plate of Images - go through image IDs -->
    {% if imageIds %}

        {% for iid in imageIds %}
        <img id="{{ forloop.counter0 }}" class="plane"
            src="{% static 'webtest/img/background.png' %}"
            plane="{% url 'webgateway.views.render_image' iid %}"
            thumb="{% url 'webgateway.views.render_thumbnail' iid %}"/>
        {% endfor %}

    {% else %}

        <!-- BIG Image - go through tiles -->
        {% if tileList %}

            {% for tile in tileList %}
            <img id="{{ forloop.counter0 }}" class="plane"
                src="{% static 'webtest/img/background.png' %}"
                plane="{% url 'webgateway.views.render_image_region' imageId 0 0 %}?tile=0,{{ tile.col }},{{ tile.row }}"/>
            {% endfor %}

        {% endif %}

    {% endif %}

{% endif %}

<hr />

<!-- single image - compare separate zct places with matrix of planes -->
{% if zctList %}
Usage: compare speed to load all planes as a stitched 'matrix' of Z/T planes.

<div id="matrix_frames" style="float:left">
    <div class="matrix_frame" style="width:200px; height:200px; overflow:auto; float:left">
        <img id="planes_matrix" class="planes_matrix"
        src="{% static 'webtest/img/background.png' %}"
        plane="{% url 'render_planes_matrix' imageId %}" />
    </div>
</div>

Split all planes into
<select id="frameCount">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="8">8</option>
    <option value="10">10</option>
    <option value="15">15</option>
</select>
matrices <br>
<button id="loadMatrix" value="Load Plane Matrix">Load Plane Matrix</button> <br>

Planes Loaded: <span id="matrixPlanesLoaded">0</span> / <span id="matrixPlaneCount">0</span> |
Duration: <span id="matrixDuration">0</span> secs |
Per Plane: <span id="matrixSecsPerPlane">0</span> secs.

{% endif %}

{% endblock %}