{% extends "webemdb/base/base_main.html" %}

{% block title %} {{ image.name }} {% endblock %}

{% block link %}
<link rel="stylesheet" href="{% url webemdb 'css/entry.css' %}" type="text/css" />

<style type="text/css">
.original {
    float: left;
}
.clear {
    clear: both;
}
.eman_menu {
    float: left;
    padding: 5px;
    margin: 5px;
}
#scriptMenu {
    float: left;
    padding: 5px;
    margin: 5px;
}
#scriptForm {
    padding: 5px;
    margin: 5px;
}
</style>
{% endblock %}

{% block jscript %}
<script type="text/javascript" src="{% url webemdb 'javascript/image.js' %}"></script>

<script type="text/javascript">
function openPopup(url) {
    owindow = window.open(url, 'anew', config='height=600,width=850,left=50,top=50,toolbar=no,menubar=no,scrollbars=yes,resizable=yes,location=no,directories=no,status=no');
    if(!owindow.closed) owindow.focus();
    return false;
}
</script>

{% endblock %}

{% block content %}
{% if image %}


<div class="pageTable">
    
    <div class="entryTitle">Image: {{ image.getName }}</div>
    <div>ID: {{ image.getId }}</div>
    <p>
        {{ image.getDescription|linebreaks }}
    </p>
        
    <p>
    Datasets: 
    {% for d in image.showAllParents %}
        <a href="{% url webemdb_dataset d.getId %}">{{ d.getName }}</a> |
    {% endfor %}
    </p>
    <p>
        Open <a href="#" onclick="return openPopup('{% url web_image_viewer image.getId %}')"> Full viewer </a> |
        <a href="{% url webemdb_mapmodel image.getId %}">Map Model</a>
    </p>
    <div id="dataHeader"></div>
</div>

      
<div class="pageTable">  
    
    <img class="original" src="{% url webgateway.views.render_image image.getId default_z 0 %}" />

    <div class="eman_menu">
        Quick filter with EMAN2: <br />
    <a class="eman" href="{% url webemdb_eman_fft image.getId %}">fft</a> <br />
    <a class="eman" href="{% url webemdb_eman_median image.getId %}">median</a> <br />
    <a class="eman" href="{% url webemdb_eman_median image.getId 2 %}">median 2</a> <br />
    <a class="eman" href="{% url webemdb_eman_log image.getId %}">log</a> <br />
    </div>
    
    <div id="scriptMenu">
        Process with IMOD: <br />
    {% for s in scripts %}
        <a class="script" href="{% url webemdb_script_form s.id %}">{{ s.name }}</a> <br />
    {% endfor %}
    </div>
    
    <div>
        <img id="processed" />
    </div>
    
    <div class="clear"></div>
</div>

<div class="pageTable">  
    
    <div id="scriptForm">
    </div>
    
</div>

    
{% else %}

    Image not found

{% endif %}
 
{% endblock %}