{% extends "webemdb/base/base_main.html" %}

{% block title %} {{ image.name }} {% endblock %}

{% block link %}
<link rel="stylesheet" href="{% url webemdb 'css/entry.css' %}" type="text/css" />

<style type="text/css">

.plane {
    max-width: 256px;
    max-height: 256px;
    border-width: 0px;
    margin: 5px;
}
.caption {
    text-align: center
}
h3 {
    padding: 5px;
}
</style>
{% endblock %}

{% block jscript %}

<script type="text/javascript">
function openPopup(url) {
    owindow = window.open(url, 'anew', config='height=600,width=850,left=50,top=50,toolbar=no,menubar=no,scrollbars=yes,resizable=yes,location=no,directories=no,status=no');
    if(!owindow.closed) owindow.focus();
    return false;
}
</script>

{% endblock %}

{% block content %}

{% if image %}


<div class="pageTable">
    
    <div class="entryTitle">Image: {{ image.getName }}</div>
    <div>ID: {{ image.getId }}</div>
    {% if image.getDescription %}
    <p>
        {{ image.getDescription|linebreaks }}
    </p>
    {% endif %}
    
    {% if entryId %}
        <a href="{% url webemdb.views.entry entryId %}">
            <img src="{% url webemdb_gif entryId %}" border='0' />
        </a>
        <a href="{% url webemdb.views.entry entryId %}">
            EMDB {{ entryId }}
        </a>
    {% endif %}
        
    <p>
        <a href="#" onclick="return openPopup('{% url web_image_viewer image.getId %}')"> Image Viewer </a>
        <!-- <a href="{% url webemdb_image image.getId %}">Filters</a> -->
    </p>
    
    <div id="dataHeader"></div>
</div>

<div class="pageTable">  
    <h3>Custom X,Y,Z projections</h3>
    <table>
        <tr>
            <td>
                <img class="plane" src="{% url webemdb_projection_axis image.getId 'z' %}" />
                <div class='caption'>Projection z</div>
            </td>
            <td>
                <img class="plane" src="{% url webemdb_projection_axis image.getId 'y' %}" />
                <div class='caption'>Projection y</div>
            </td>
            <td>
                <img class="plane" src="{% url webemdb_projection_axis image.getId 'x' %}" />
                <div class='caption'>Projection x</div>
            </td>
        </tr>
        <tr>
            <td>
                <img class="plane" src="{% url webemdb_slice_axis image.getId 'z' %}" />
                <div class='caption'>Slice z = {{ z }}/{{ image.getSizeZ }}</div>
            </td>
            <td>
                <img class="plane" src="{% url webemdb_slice_axis image.getId 'y' %}" />
                <div class='caption'>Slice y</div>
            </td>
            <td>
                <img class="plane" src="{% url webemdb_slice_axis image.getId 'x' %}" />
                <div class='caption'>Slice x</div>
            </td>
        </tr>
        </table>
        
        <h3>OMERO Z-projections</h3>
        <table>
        <tr>
            <td>
                <img class="plane" src="{% url webgateway.views.render_image image.getId 0 0 %}?p=intmax" />
                <div class='caption'>Max Intensity Projection</div>
            </td>
            <!-- <td>
                <img class="plane" src="{% url webemdb_meanprojection image.getId %}" />
                <div class='caption'>Mean Intensity Projection</div>
            </td> -->
            
        </tr>
    </table>
    
    <div class="clear"></div>
</div>

    
{% else %}

    Dataset not found

{% endif %}

{% endblock %}