{% extends "webadmin/base.html" %}
{% load i18n %}
{% load markup %}
{% load custom_tags %}

{% block title %}{% trans "Drive space" %}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% url webstatic "css/table.css" %}" type="text/css" media="screen"/>
{% endblock %}

{% block jscript %}
    <script type="text/javascript" src="{% url webstatic "javascript/jquery.tablesorter.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var usage = true;
            var offsetQuery = '';
            while (usage){ 
                $.ajax({  
                    type: "GET",  
                    url: "{% url waloaddrivespace %}",  
                    contentType: "application/json; charset=utf-8",  
                    data: offsetQuery,
    				dataType: "json",
    				timeout: 10000, 
    				async: false,
                    success: function(data){  
                        if (!data.loading) {
                            usage = false;
                            $("#status").html('');
                            $("#progress").hide();
                        }
                        
                        offsetQuery = "offset="+(data.offset);
                        
                        var l = $('table#drivespaceTable');
                        jQuery.each(data.usage, function(i, val) {
                            if($('tr#'+i).length == 0) {
                                l.append('<tr id="'+i+'"><td>' + val['user'] + '(id:'+i+')</td><td id="usage">' + val['size'] + '</td></tr>');
                            } else {
                                var v = $('tr#'+i).find('td#usage');
                                v.text( parseInt(v.text())+val['size'])
                            }
                        });
                        
                        $("#status").html('loading...');
                        $("#progress").show();
                        
                    },  
                    error: function(xhr, msg){
                        alert("{% trans 'Could not load tag component. Please contact Administrator.' %}");
                        usage = false;
                    }
                });
            };
            
            $("#status").html('');
            $("#progress").hide();
            
            $("#drivespaceTable").tablesorter( {sortList: [[1,1]]} ); 
        });
        
        
    </script>
{% endblock %}

{% block content %}
<h2>{% trans "Drive space" %}</h2>

<p>{% trans "Free space" %}: {{ driveSpace.free|filesizeformat }}</p>
<p>{% trans "Used space" %}: {{ driveSpace.used|filesizeformat }}</p>




<div class="myform">{% trans "Drive space usage" %}:</div><div id="usage"><img src="{% url webstatic "images/spinner.gif" %}" id="progress" style="display: none; float:left"/><div id="status"></div></div>

<table id="drivespaceTable" class="tablesorter">
    <thead>
        <tr><th>User</th><th>Usage [Bytes]</th></tr>
    </thead>
</table>
{% endblock %}
