{% extends "common/base/base_html.html" %}
{% load i18n %}

{% block link %}
    {{ block.super }}
    {% include "common/base/includes/css_link_body.html" %}
    <link rel="stylesheet" href="{% static "common/css/login.css" %}" type="text/css" />
{% endblock %}

{% block title %}
    {% trans "OMERO.web - Forgotten password" %}
{% endblock %}

{% block head %}
    {{ block.super }}
    {% include "common/base/includes/shortcut_icon.html" %}
{% endblock %}

{% block body %}
<div id="login-logo">
    <img src="{% static "webadmin/image/logo.png" %}" />
</div>
<div id="login">    
    <form action="{% url waforgottenpassword %}" method="post">
        <table><tbody>
            <tr><td>{% trans "If you have forgotten your password but know your username, and if you have a current email address in your OMERO registration details this page will be able to send you an email containing your NEW password and informations." %}</td></tr>
            {% if error %}<tr><td><ul class="errorlist"><li>{% trans "Error:" %} {{ error }}</li></ul></td></tr>{% endif %}
        </tbody></table>
        {% if form %}
        <table><tbody>
            {% for field in form %}
                <tr><td class="form">{{ field.label_tag }}{% if field.field.required %}*{% endif %}</td><td class="input">{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}{{ field.help_text|safe }}</td></tr>
            {% endfor %}
          </tbody></table>
        <!-- <tr><td>{% if form.user_name.errors %}{{ form.user_name.errors }}{% endif %}{{ form.user_name.help_text|safe }}</td> -->
        <center><input type="submit" value="Submit" /> <input type="button" value="Cancel" onclick="document.location.href='{% url walogin %}'"/></center>
        {% endif %}
    </form>    
</div>

<div id="bottom">
    <p>&copy; 2007-2011 University of Dundee & Open Microscopy Environment</p>
</div>

{% endblock %}