div#help_details, div#help_content{
    overflow: auto;
    padding: 10px;
}

div.feature-header {
font-weight: bold;
font-size: larger;
margin-bottom: 0.6em;
}
div.feature-icon {
margin-right: 1em;
float: left;
}
div.ome-feature {
height: 8em;
margin: 1em;
padding: 1em 0.7em;
-webkit-border-radius: 2em;
-moz-border-radius: 2em;
border-radius: 2em;
width: 17em;
float:left;
position: relative;
}
div.feature-link {
text-align: right;
}
div.feature-link a:link {
color: blue;
}
div.feature-link a:visited {
color: #436976;
}
div.feature-text a:link {
color: blue;
}
div.feature-text a:visited {
color: #436976;
}
