body {
    margin: 5px;
    padding: 5px;
    background-color: #aaa;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

#bottom {
    clear: both;
    color: #000000;
    font-size: 10px;
    text-align: center;
    margin: auto;
    width: 500px
}

#wrapper {
    margin: 5px auto;
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
    background-color: #ffffff;
    width: 850px;
}

#header {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}
#banner {
    background: url(/appmedia/omeroweb/images/logo.jpg) no-repeat;
    height: 100px;
}
#addform {
    padding-left: 25px;
}
#forgottenForm {
    padding: 25px;
}

#chart {
    width: 550px;
    margin: auto;
}
#imageTitle {
    margin: 5px;
    text-align: center;
}

#button {
    margin-top: 10px;
    width: 100%;
    text-align: center;
}

#footer {
    clear: both;
    color: #bbbbbb;
    font-size: 10px;
    border-top: 1px solid;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    text-align: center;
}

img {
    border: 0px;
    padding: 0px;
    vertical-align: middle;
}

img.action {
    padding-left: 3px;
    padding-right: 3px;
}

a:link,a:visited {
    color: #3467a7;
    text-decoration: none;
}

a:hover {
    color: #3467a7;
    text-decoration: none;
}

input {
    margin: 0;
    border: 1px solid #bbb;
    background-color: #f5f5f5;
}
select {
    margin: 0;
    background-color: #f5f5f5;
    border: 1px solid #bbb;
    min-width:220px;
}
textarea {
    margin: 0;
    background-color: #f5f5f5;
    border: 1px solid #bbb;
}
/* center */
#main {
    min-height: 420px;
    overflow: scroll;
    overflow: auto;
}

#center {
    padding: 10px;
    min-height: 500px;
    margin: 10px;
}

/* NAVIGATION FORMATTING BEGIN */
#navigation {
    margin: 0px;
    text-align: right;
    vertical-align: middle;
    text-transform: capitalize;
    font-weight: bold;
    border: 1px solid;
    background-color: #bbbbbb;
    padding: 5px 0 5px 0;
}

#navigation ul {
    margin: 0px;
    display: inline;
}

#navigation ul li {
    margin: 5px;
    padding: 5px;
    list-style: none;
    display: inline;
}

#navigation a:link,#navigation a:visited {
    color: #333333;
    text-decoration: none;
}

#navigation a.menu:link,#navigation a.menu:visited {
    color: #ffffff;
    text-decoration: none;
}

#navigation a:hover {
    color: #ffffff;
    text-decoration: none;
}
#hello {
    float: right;
}
#hello h1 {
    text-align: right;
}

h1 {
    color: #333333;
    font-size: 14px;
    text-align: left;
    margin: 5px;
}

h2 {
    color: #333333;
    font-size: 18px;
    text-align: left;
    margin-left: 5px;
}

#list {
    min-height: 370px;
}
#entryList {
    width: 360px;
}

table {
    text-align: center;
}

.scroller {
    margin: 0px auto 0px auto;
}

.list {
    width: 99%;
}
.entryList {
    width: 360px;    
}
table {
    text-align: center;
}
th {
    font-weight: bold;
}
td {
    text-align: left;
    padding: 0px;
}
td.form {
    text-align: left;
    padding: 2px 20px 2px 30px;
}

td.input {
    text-align: left;
    padding: 2px 2px 2px 20px;
    min-width: 300px;
}

td.input ul {
    list-style: none;
    margin-left: -30px;
}


ul.errorlist {
    list-style: none;
    color: #e3646f;
    margin: 0;
    padding: 0;
    text-align: center;
}

.error {
    color: #e3646f;
    margin: 0;
    padding: 0;
    text-align: center;
}


.document {
    text-decoration: none
}

.documentSelected {
    font-weight: bold
}

.clear {
    clear: both;
    width: 0px;
    margin: 0px;
    padding: 0px;
}

#piechart img{
    width: 600px;
}
#piechart.loading {
  background: url(/appmedia/omeroweb/images/spinner.gif) no-repeat center center;
}


div.myform {
    float: left;
}
div.photo {
    float: right;
}
div.hidden {
    display: none;
}