.simpleTree
{
	margin:0;
	padding:0;
}
.simpleTree li
{
    white-space: nowrap;
	list-style: none;
	margin:0;
	padding:0 0 0 34px;
	line-height: 16px;
}
.simpleTree li span
{
	display:inline;
	clear: left;
	white-space: nowrap;
	padding: 1px;
	border: 1 solid #fff;
}

.simpleTree ul
{
	margin:0; 
	padding:0;
}

.simpleTree .root
{
	margin-left:-16px;
}

.simpleTree .line
{
	margin:0 0 0 -16px;
	padding:0;
	line-height: 4px;
	height: 4px;
	font-size:3px;
	background: url(/appmedia/omeroweb/images/tree/line_bg.gif) 0 0 no-repeat transparent;
}
.simpleTree .line-last
{
	margin:0 0 0 -16px;
	padding:0;
	line-height: 4px;
	height: 4px;
	font-size:3px;
	background: url(/appmedia/omeroweb/images/tree/spacer.gif) 0 0 no-repeat transparent;
}
.simpleTree .line-over
{
	margin:0 0 0 -16px;
	padding:0;
	line-height: 4px;
	height: 4px;
	font-size:3px;
	background: url(/appmedia/omeroweb/images/tree/line_bg_over.gif) 0 0 no-repeat transparent;
}
.simpleTree .line-over-last
{
	margin:0 0 0 -16px;
	padding:0;
	line-height: 4px;
	height: 4px;
	font-size:3px;
	background: url(/appmedia/omeroweb/images/tree/line_bg_over_last.gif) 0 0 no-repeat transparent;
}

/*folder*/
.simpleTree .folder-open
{
	margin-left:-16px;
	background: url(/appmedia/omeroweb/images/tree/collapsable.png) 0 -2px no-repeat;
}
.simpleTree .folder-open-last
{
	margin-left:-16px;
	background: url(/appmedia/omeroweb/images/tree/collapsable-last.png) 0 -2px no-repeat;
}
.simpleTree .folder-open-last-static
{
	margin-left:-16px;
	background: url(/appmedia/omeroweb/images/tree/collapsable-last-static.png) 0 -2px no-repeat;
}
.simpleTree .folder-close
{
	margin-left:-16px;
	background: url(/appmedia/omeroweb/images/tree/expandable.png) 0 -2px no-repeat;
}
.simpleTree .folder-close-last
{
	margin-left:-16px;
	background: url(/appmedia/omeroweb/images/tree/expandable-last.png) 0 -2px no-repeat;
}
.simpleTree .folder-close-last-static
{
	margin-left:-16px;
	background: url(/appmedia/omeroweb/images/tree/expandable-last-static.png) 0 -2px no-repeat;
}

.simpleTree .doc
{
	cursor: pointer;
	margin-left:-16px;
	background: url(/appmedia/omeroweb/images/tree/leaf.png) 0 -1px no-repeat;
}
.simpleTree .doc-last
{
	margin-left:-16px;
	background: url(/appmedia/omeroweb/images/tree/leaf-last.png) 0 -1px no-repeat;
}

.simpleTree .ajax
{
	background: url(/appmedia/omeroweb/images/tree/spinner.gif) no-repeat 0 0;
	height: 16px;
	display:none;
}
.simpleTree .ajax li
{
	display:none;
	margin:0; 
	padding:0;
}
.simpleTree .trigger
{
	display:inline;
	margin-left:-32px;
	width: 16px;
	height: 16px;
	cursor:pointer;
}
.simpleTree .icon {
    margin-left: -16px;
}
.simpleTree .text
{
	cursor: pointer;
	padding:1px;
}
.simpleTree .text-select
{
	cursor: pointer;
	background-color: #ccc;
	padding:1px;
}
.simpleTree .root span {
    cursor: pointer;
}
.simpleTree .active
{
	cursor: pointer;
	background-color:#ccc;
	padding:1px;
	border: 1px dashed #555;
}

#drag_container
{
	background-color: #ccc;
	color:#000;
	font: normal 11px arial, tahoma, helvetica, sans-serif;
	padding:1px;
	border: 1px dashed #555;
}
#drag_container ul
{
	list-style: none;
	padding:0;
	margin:0;
}

#drag_container li
{
	list-style: none;
	line-height:18px;
	white-space: nowrap;
	padding:1px 1px 0px 16px;
	margin:0;
}
#drag_container li span
{
	padding:0;
}

#drag_container li.doc, #drag_container li.doc-last
{
	background: url(/appmedia/omeroweb/images/tree/leaf.png) no-repeat -17px 0;
}
#drag_container .folder-close, #drag_container .folder-close-last
{
	background: url(/appmedia/omeroweb/images/tree/expandable.png) no-repeat -17px 0;
}

#drag_container .folder-open, #drag_container .folder-open-last
{
	background: url(/appmedia/omeroweb/images/tree/collapsable.png) no-repeat -17px 0;
}
