img.pencil {
    float: left;
    padding: 8px 5px 0 0;
}
img.thumbnail {
    margin-right: 5px;
    border: 1px solid #bbb;
}
#annotation_form {
    max-width: 350px;
    margin: 0;
}

select.existing {
    width: 300px;
}

div.description {
    min-height:60px;
    overflow: auto;
    border: 1px solid #bbb;
    padding: 5px;
    background-color: #fff;
}
div.comment {
    float: left;
}
div.excomment {
    float: right;
}
div.lncomments{
    /*max-height: 230px;*/
    overflow: auto;
    border: 1px solid #bbb;
    padding: 10px;
    background-color: #fff;
}
div.urls {
    /*float: left;*/
}
div.exurls {
    /*float: right;*/
}
div.tags {
    /*float: left;*/
}
div.extags {
    /*float: left;*/
}
div.lntags{
    /*max-height: 110px;*/
    overflow: auto;
    border: 1px solid #bbb;
    padding: 0 10px;
    background-color: #fff;
}
div.file {
    float: left;
}
div.exfile {
    float: left;
}
div.lnfiles{
    /*max-height: 175px;*/
    overflow: auto;
    border: 1px solid #bbb;
    padding: 0 10px;
    background-color: #fff;
}
/* tabs */
#annotation_tabs {
    margin: 5px 0 0 ;
    background:none repeat scroll 0 0 #F3F3F3;
    border: 0;
}

#annotation_tabs ul {
    position:relative;
    float:left;
/*    width:350px;*/
    padding:0;
    margin: 0px;
    list-style:none;
}

/* comment display page */
#comment_wrapper {
    width:630px;
}
#comment_wrapper .photo {
    float: left;
    margin-top: -20px;
}
#comment {
    background:transparent url(/static/webclient/image/comment/comment_repeater.png) repeat-y scroll 0 0;
    width:590px;
    margin-left:50px;
}
#comment .head {
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    background:transparent url(/static/webclient/image/comment/comment_cap.png) no-repeat scroll 0 0;
    height:15px;
    margin-bottom:-15px;
    padding: 10px 0 0 20px;
}
#comment .timestamp {
    font-size: 10px;
    font-style: normal;
    color: #666666;
}
#comment .head cite {
    font-size: 100%;
    font-weight: bold;
    font-style: normal;
}
#comment .body {
    margin:20px 20px;
}
#comment .footer {
    background:transparent url(/static/webclient/image/comment/comment_foot.png) no-repeat scroll 0 0;
    height:45px;
    margin-top:-30px;
}

#comment_wrapper_rev {
    margin-left: 50px;
    width:630px;
}
#comment_wrapper_rev .photo {
    margin-top: -20px;
    float: right;
}
#comment_rev {
    background:transparent url(/static/webclient/image/comment/comment_repeater_rev.png) repeat-y scroll 0 0;
    width:590px;
}
#comment_rev .head {
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    background:transparent url(/static/webclient/image/comment/comment_cap_rev.png) no-repeat scroll 0 0;
    height:37px;
    margin-bottom:-37px;
    padding: 10px 0 0 20px;
}
#comment_rev .timestamp {
    font-size: 10px;
    font-style: normal;
    color: #666666;
}
#comment_rev .head cite {
    font-size: 100%;
    font-weight: bold;
    font-style: normal;
}
#comment_rev .body {
    margin:20px 20px;
}
#comment_rev .footer {
    background:transparent url(/static/webclient/image/comment/comment_foot_rev.png) no-repeat scroll 0 0;
    height:45px;
    margin-top:-30px;
}

.body_url {
    padding: 0px 20px;
}

.ann_comment_wrapper {
    width: 100%;

}
.ann_comment_wrapper div.avatar {
    float: left;
    width:25px; 
}

.ann_comment_wrapper .ann_comment_header{
    font-weight: bold;
}

table.metadata_details {
    width: 100%;
}
table.metadata_details td{
    border-bottom: 1px dotted #bbb;
}

div.plane_info {
    width:100%;
    overflow: auto;
    background: white;
    border: solid #ccc 1px;
}

div.plane_info table div {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 1px 4px
}

.can-collapse {
    background:transparent url(/static/common/image/table/desc-big.gif) no-repeat scroll bottom right;
    border: 1px solid #bbb;
    background-color: #fff;
    cursor:pointer;
    padding: 5px;
    margin:5px 0;
}
.defclosed,.closed{
    background:transparent url(/static/common/image/table/asc-big.gif) no-repeat scroll top right;
    background-color: #fff;
}

.show_xml {
    color: #1B7BC7;
    cursor: pointer;
}