/* 	
	----------------------------------------------------

	Dusty
	
	The OME UI Elements Library
	Domenico Gaudioso
	
	----------------------------------------------------
 */



	
/* 	
	----------------------------------------------------

	Table Of Contents:
	
	
	:: Buttons - Generic (.btn)
		:: Button - Blue (.btn.blue)
		:: Button - Silver (.btn.silver)

	:: Tags

	:: Context Box - Generic
		:: Context Box - Dark
	
	
	----------------------------------------------------
 */
	








/*
	------------------------------------------------
	:: Buttons - Generic
	------------------------------------------------
*/

button {
	padding:0 !important;
}


		/* Singular Buttons */
		.btn{
			-webkit-border-radius:3px;
			-moz-border-radius:3px;
			border-radius:3px;
			display:inline-block;
			padding:0;
		}
	
			.btn span{
				font-weight:bold;
				display:block;
				-webkit-border-radius:inherit;
				-moz-border-radius:inherit;
				border-radius:inherit;
			}
		
		
		/* Menu Buttons */

		.menu_btns {
			overflow:hidden;
		}
			
			.menu_btns li {
				float:left;
			}
			
			.menu_btns li:first-child {
				border-left:none !important;
				-webkit-border-top-left-radius:4px;
				-webkit-border-bottom-left-radius:4px;
				
				 -webkit-border-bottom-left-radius:4px;
				     -moz-border-radius-bottomleft:4px;
				         border-bottom-left-radius:4px;
				 -webkit-border-top-left-radius:4px; /* Saf3+, Chrome */
					  -moz-border-radius-topleft:4px; /* FF1+ */
					      border-top-left-radius:4px; /* Opera 10.5, IE 9 */ 
			}
			
				.menu_btns li:first-child a {
					-webkit-border-radius:inherit;
				}	
			
			.menu_btns li:last-child {
				border-right:none !important;
				-webkit-border-top-right-radius:4px;
				-webkit-border-bottom-right-radius:4px;
			}
			
				.menu_btns li:last-child a {
					-webkit-border-radius:inherit;
				}
		
				.menu_btns li a {
					display:block;
					text-indent: 100%;  
    white-space: nowrap;  
    overflow: hidden; 
					width:10px;
					height:20px;
					-webkit-transition: none !important;
				}
				
	
	
	
	/* Specific Buttons Images*/  
	
	.btn_view {background: url(/static/webgateway/img/icon_view.png) center center no-repeat;}
	.btn_folder {background: url(/static/webgateway/img/icon_folder.png) center center no-repeat;}
	.btn_download {background: url(/static/webgateway/img/icon_download.png) center center no-repeat;}
	.btn_filetype {background: url(/static/webgateway/img/icon_filetype.png) center center no-repeat;}
	.btn_view_error {background: url(/static/webgateway/img/icon_view_error.png) center center no-repeat;}
	.btn_info {background: url(/static/webgateway/img/icon_info.png )center center no-repeat;}
	.btn_add {background: url(/static/webgateway/img/icon_add.png )center center no-repeat;}
	.btn_delete {background: url(/static/webgateway/img/icon_delete.png )center center no-repeat;}
	.btn_edit {background: url(/static/webgateway/img/icon_edit.png )center center no-repeat;}
	
	button.btn_add span, button.btn_edit span {
		width:5px;
		height:14px;
	}
	
	a.btn_add span, a.btn_edit span {
		width:14px;
		height:16px;
	}
	
	
	
	

/*
	------------------------------------------------
	:: Button - Blue
	------------------------------------------------
*/

		
		.btn.blue {
			background-color:hsl(210,30%,60%);
			border:solid 1px hsl(210,30%,50%);
		}
		
			.btn.blue span {
				color: hsl(210,50%,20%);
				text-shadow:0 1px 0 rgba(255,255,255,.3);
				background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0)), to(rgba(255,255,255,.1)));
			}
			




/*
	------------------------------------------------
	:: Button - Silver
	------------------------------------------------
*/

		
		
			
			
		/* State */	
		
			
			
		.menu_btns.silver {
			border-top:solid 1px rgba(0,0,0,.1);
			border-left:solid 1px rgba(0,0,0,.2);
			border-right:solid 1px rgba(0,0,0,.2);
			border-bottom:solid 1px rgba(0,0,0,.2);
			-webkit-border-radius:4px;
			-webkit-box-shadow:0 1px 0 white;
			display:inline-block;
		}
		
		
		
			.btn.silver, .menu_btns.silver li {
				background-color:hsl(210,8%,90%);
				color:hsl(210,5%,30%);
				text-shadow: 0 1px 0 white;
			}
		
			.btn.silver {
				border:solid 1px hsl(210,8%,70%);
				-webkit-box-shadow:0 1px 0 rgba(255,255,255,.5);
			}
			
			.menu_btns.silver li {
				border-left: solid 1px rgba(255,255,255,.3);
				border-right:solid 1px rgba(0,0,0,.1);
				-webkit-transition: none !important;
			}
			
			
				.btn.silver span, .menu_btns.silver a {
					color:hsl(210,5%,30%);
					padding:4px 10px;
					line-height:1.3em;
					display:inline-block;
					border-top:solid 1px rgba(255,255,255,.6);
					background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0)), to(rgba(255,255,255,.3)));
				}

				
		
		
		
		
		/* Hover */	
		
		.btn.silver:hover, .menu_btns.silver li:hover {
			background-color:hsl(210,8%,94%);
			
		}
		
		
		
		/* Active, Focus */
		
		.btn.silver:active, .btn.silver:focus, .menu_btns.silver li:active, .menu_btns.silver li:focus {
			background-color:hsl(210,8%,70%);
			-webkit-transition:none;
		}
		
		
		.menu_btns.silver li:active, .menu_btns.silver li:focus {
			border-left: solid 1px rgba(0,0,0,.2);
			border-right:solid 1px transparent;
		}
		
		
			.btn.silver:active span, .btn.silver:focus span{
				border-top:solid 1px rgba(0,0,0,.3);
				text-shadow:0 1px 0 rgba(255,255,255,.4);
				-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.15);
				background-image:-webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,.2)), to(rgba(255,255,255,0)));
			}
			
			.menu_btns.silver li:active a, .menu_btns.silver li:focus a {
				border-top:solid 1px rgba(0,0,0,.4);
				background-image:-webkit-gradient(linear, left bottom, left top, from(rgba(255,255,255,0.4)), to(rgba(255,255,255,0)));
				-webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,.3);
			}
	
	
	
	
		
				
					






/*
	------------------------------------------------
	:: Tags
	------------------------------------------------
*/
    
    
    
    
a.tag {
    font-size: 1em;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	border:solid 1px red;
	display:inline-block;
	margin:2px 0;
	padding:.1em .7em 0;
	line-height:1.3em;
    -webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border:solid 1px hsl(205,40%,60%);
	background-image: -webkit-gradient(linear, left bottom, left top, from(hsl(205, 65%, 85%)), to(hsl(205, 60%, 90%)));
	background-image: -moz-linear-gradient(90deg, hsl(205, 65%, 85%) 0%, hsl(205, 60%, 90%) 100%);
	color:hsl(205,30%,35%);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
}
    
a.tag:hover {
	background-image: -webkit-gradient(linear, left bottom, left top, from(hsl(205, 70%, 75%)), to(hsl(205, 65%, 80%)));
	text-decoration:none;
	text-shadow: 0 1px 0 rgba(255,255,255,.4);
	color:hsl(205,30%,30%);        
}


.removeTag {
	color:hsl(210,20%,60%);
	cursor:pointer;
	font-weight:bold; 
	text-shadow: 0 1px 0 rgba(255,255,255,.7);
	display:inline-block;
	width:12px;
	height:12px;
	position:relative;
	top:-1px;
	right:-5px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius:20px;
	text-align:center;
	margin-left:5px;
	padding:0 !important;
	line-height:.8em;
	overflow:hidden;
}


.removeTag:hover {
	background-color:hsla(205,40%,60%,.7);
	color:hsl(210,20%,30%);
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}








/*
	------------------------------------------------
	:: Form
	------------------------------------------------
*/

	
	.standard_form {
		overflow:hidden;
	}
	
	
		.standard_form label {
			width:25%;
			display:inline-block;
			color:hsl(210,10%,50%);
			font-size:1.2em;
			text-shadow: 0 1px 0 white;
		}
		
		.standard_form input, .standard_form select, .standard_form textarea {
			display:inline-block;
			font-size:1.6em;
			margin-bottom:5px;
		}
		




	.standard_form input[type=text], input[type=password], textarea {
		width:70%;
		border: solid 1px rgba(0,0,0,.2);
		border-top: solid 1px rgba(0,0,0,.3);
		-webkit-box-shadow: 0 1px 0 white, inset 0 1px 1px rgba(0,0,0,.1);
		-moz-box-shadow: 0 1px 0 white, inset 0 1px 1px rgba(0,0,0,.1);
		box-shadow: 0 1px 0 white, inset 0 1px 1px rgba(0,0,0,.1);
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
		padding:5px 2px;
	}
			
	.standard_form input[type=text]:focus, input[type=password]:focus, input[type=text]:active, input[type=password]:active {
		border:solid 1px hsl(210,20%,50%);
	}
	
			
			
			
	.standard_form input[type="submit"] {
		cursor: pointer;
		float:right;
		margin-right:2px;
		display:block;
		background-color:hsl(210,50%,60%);
		background-image: -webkit-gradient(linear, left bottom, left top, from(hsl(210,40%,60%)), to(hsl(210,40%,70%)));
		border-top:solid 1px hsl(210,40%,50%);
		border-right:solid 1px hsl(210,40%,40%);
		border-left:solid 1px hsl(210,40%,40%);
		border-bottom:solid 1px hsl(210,40%,35%);
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.3);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.3);
		box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 1px rgba(0,0,0,.3);
		padding:5px 20px;
		font-size:1.3em;
		font-weight:bold;
		color: hsl(210,70%,10%);
		text-shadow: 0 1px 0 rgba(255,255,255,.3);
		border-radius:3px;
		font-family: Helvetica, Arial;
	}
			
			
			
	.standard_form input[type="submit"]:hover {
		background-image: -webkit-gradient(linear, left bottom, left top, from(hsl(210,40%,60%)), to(hsl(210,40%,76%)));
	}
			
	.standard_form input[type="submit"]:active, input[type="submit"]:focus {
		background-image: -webkit-gradient(linear, left bottom, left top, from(hsl(210,40%,65%)), to(hsl(210,40%,60%)));
		-webkit-box-shadow: none;
		border:solid 1px hsl(210,40%,40%);
	}
	
	






/*
	------------------------------------------------
	:: Dialog/Modal Boxes
	------------------------------------------------
*/

.ui-dialog-titlebar {
	padding:15px 10px;
	-webkit-border-top-left-radius:5px; /* Saf3+, Chrome */
	-webkit-border-top-right-radius:5px;
 	-moz-border-radius-topleft:5px; /* FF1+ */
	-moz-border-radius-topright:5px;
    border-top-left-radius:5px; /* Opera 10.5, IE 9 */ 
    border-top-right-radius:5px; 
	background-image:-webkit-linear-gradient(top,hsl(210,10%,90%) 0%,hsl(210,10%,85%) 100%); /* Chrome10+,Safari5.1+ */
	margin-bottom:15px;
	position: relative;
	border-bottom:solid 1px hsl(210,10%,80%);
}

	.ui-dialog-title{
		font-size:1.3em;
		color:hsl(210,10%,40%) !important;
		text-shadow:0 1px 0 white;
	}

		.ui-dialog .ui-dialog-titlebar-close { 
			position: absolute; 
			right: .5em; 
			top: 50%;
			width: 19px;
			margin: -10px 0 0 0;
			height: 18px; 
			border:none;
			background:url(/static/webgateway/img/close.png) center center no-repeat;
		}
	
		.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus {
			background:url(/static/webgateway/img/close.png) center center no-repeat;
		}
		
	
		.ui-dialog .ui-dialog-titlebar-close span { 
			display: block; 
			background:none;
		}
		
		.ui-icon-closethick {
			background:none;
		}
		
		
	











/*
	------------------------------------------------
	:: Search
	------------------------------------------------
*/




	#search input[type=text], .filtersearch input[type=text] {
		-webkit-border-radius:50px;
		-moz-border-radius:50px;
		border-radius:50px;
		border:solid 1px hsl(215,25%,40%);
		border-top:solid 1px hsl(215,35%,38%);
		padding: .2em .5em;
		-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 1px 1px rgba(0,0,0,.2);
		-moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 1px 1px rgba(0,0,0,.2);
		box-shadow: 0 1px 0 rgba(255,255,255,.15), inset 0 1px 2px rgba(0,0,0,.3);
	}

	#search input[type=submit] {
		text-indent: -9999px;
		position:absolute;
		top:4px;
		right:7px;
		background: url(../image//search.png) no-repeat;
		width:20px;
		height:20px;
		border:none;
		display:block;
		opacity:.2;
		-webkit-transition:opacity .2s linear;
	}
	
	#search input[type=submit]:hover {
		opacity:.6;
		cursor:pointer;
		-webkit-transition:opacity .2s linear;
	}
















/* 
	----------------------------------------

	:: Context Box - Dark
	
	----------------------------------------  
*/





	.contextbox_dark {
		border: solid 1px red;
		width: 250px;
		padding: 10px;
		border: solid 1px black;
		-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
		-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
		box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		background-color: hsl(210,0%,15%);
		font-size: 1.2em;
	}

		.contextbox_dark::after {
			background: url(../images/contextbox_arrowup.png) no-repeat;
		}

		.contextbox_dark h1 {
			color: white;
			text-shadow: 0 -1px 1px black;
		}

		.contextbox_dark .contextbox_inner {
			border:  solid 1px black;
			-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.1);
			-moz-box-shadow: 0 1px 0 rgba(255,255,255,.1);
			box-shadow: 0 1px 0 rgba(255,255,255,.1);
		}


	
					.contextbox_dark li a {
						padding: 1em;
						font-weight: lighter;
						display: block;
						font-family: 'Helveticaneue-Medium', Helvetica, Arial, sans-serif;
						color: hsl(0,0%,20%);
						text-shadow: 0 1px 0 white;
					}

























/* 
	------------------------------------------------------------


	Why is the OME Interface Elements Library called Dusty?


	As he rolls around the town of Dundee, Dusty gazes at
	the multiplicity of beautiful statues tastefully 
	littered across the urban landscape. He adores them in 
	all their splendour, their magestic presence. He is 
	inspired by their dedication - in a way, these status 
	represent the ultimate permanence, watching generations 
	go by as they stand their ground over the centuries. 
	These statues have inked themselves into the history of 
	the world.
	
	Dusty, unfortunately, hasn't done anything particularly 
	special to warrant a statue. He knows this is out of his
	league. He is merely a bike, after all. What change can 
	he possibly make?
	 
	
	This saddens him. I know this, because as I ride with 
	him around town talking about the fascinating 
	subjects of the world, he opens up to me. He wants to leave something 
	on this earth to be remembered by. He wants... 
	permanence.
	
	So, it is with great pleasure, that I, as the author of this 
	stylesheet dedicate the OME Interface Element stylesheet to 
	Dusty the Bicycle. He is our 'bootstrap'.
	
	Here's to you, Dusty. May your name be remembered as 
	long as OME uses this stylesheet.
	
	
	------------------------------------------------------------ 
*/





