/* table */

/* icons */
#dataIcons {
    list-style-type: none;
    margin: 0; 
    padding: 2px; 
    top: 0; 
    left: 0;
    position: relative;
}

#dataIcons li {
    border: 0px;
    float: left;
    text-align: center;
    height: 85px;
    width: 85px;
    padding: 5px; 
}

#dataIcons img, #dataIcons .readonly img, #dataIcons .linkonly img {
    border: 1px solid #fff;
    padding: 2px; 
}

#dataIcons .ui-selecting img{ border: 1px dashed #555; padding: 2px; background-color:#ccc; }
#dataIcons .ui-selected img{ border: 1px dashed #555; padding: 2px; background-color:#ccc; }

em {
    background-color: #fff;
    border: 1px solid #bbb;
    position: absolute;
    left: 0px;
    padding: 5px;
    z-index: 2;
    display: none;
}

div.cloud {
    border: 1px solid #bbb;
    background-color: #fff;
    position: relative;
    display: none;
    top: -100;
}

#hierarchy {
    max-height: 150px;
    overflow-y: auto;
}
.loadMoreData {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}

.tag {
    width: 100%;
}

.miniview {
    /* This is for the miniviewer in image_details */
    width: 300px;
    height: 300px;
    position: relative;
}
.miniview_desc {
    margin: 0 0 20px 20px;
}
.miniplateview {
    /* This is for the miniviewer in image_details */
    margin-top:10px;
}
.miniplateview_desc {
    margin: 0;
    padding: 0 20px;
}

.disabled-metadata {
}


div.paging {
    font-size: 12px;
    text-align: center;
    margin: 0;
    padding: 10px 0px 30px 0px;
}
div.paging input.button_pagination {
    border: 0;
    background-color: transparent;
    color: #1b7bc7;
    padding: 0;
}

#spw {
    width: 100%;
}

#spw table {
    background:#fff none repeat scroll 0 0;
    width: 0;
    table-layout: auto;
}
#spw table td {
    padding: 1px;
    border: 1px solid #ccc;
    width: 25px;
}
#spw table td.well {
    background: #eee;
}

#spw table td.ui-selecting { border: 1px dashed #555; padding: 1px; background-color:#ccc;}
#spw table td.ui-selected { border: 1px dashed #555; padding: 1px; background-color:#ccc;}

#index table {
    background:#fff none repeat scroll 0 0;
    width: 0;
}