html {
}

html.noscroll {
    
    overflow: hidden;
}

.header_chooser {
    float:left;
    position:relative;
    top:-2px;
    padding:0px 5px;
}

body.zoom {
    width: 100%;
    background: no-repeat;
}

.error {
    color: #e3646f;
}

.disabled {
    background: #dcdcdc;
    color: #777777;
}

#content_zoom {
    margin: 10px;
}

#path {
    position: relative;
    padding:0;
}

.toolbar {
    height:20px;
    padding:5px;
    background-color:#fff;
    width: 100%; 
    border-bottom: 1px solid #bbb;
}
.toolbar_noborder {
    height:20px;
    padding:5px;
    width: 100%; 
}
.align_left {
    float:left;
}
.align_right {
    float:right;
    text-align: right;
}
.align_center {
    text-align: center;
}
#searching {
    padding: 10px;
    overflow: auto;
}
#view_grey  {
    height:20px;
    padding:5px;
    background-color:#f3f3f3;
    width: 100%;    
}

#actionWrapper {
    position: absolute;
    padding: 0;
    top: 0;
    left: 0;
}
#baskets {
    margin: 0 5px;
    float:left;
}
#queue, #jobstatus {
    margin: 0 5px;
    float:left;
}

#dataTable img {
    /*border: 1px solid white;*/
    padding: 2px;
}

.tree {
    overflow: auto;
    min-width:400px;
}

img.action {
    padding-left: 3px;
    padding-right: 3px;
}

a {
    color: #1b7bc7;
    text-decoration: none;
    border: none;
    cursor:pointer;
}
a:hover,a:link,a:visited {
    color: #1b7bc7;
    text-decoration: none;
    border: none;
}

iframe {
    border:0;
    overflow: auto;
}

table {
}

td {
    vertical-align:top;
}

th {
    font-weight: bold;
    vertical-align:top;
    text-align: left;
}

input {
    margin: 0;
    border: 1px solid #bbb;
    background-color: #fff;
    font-size: 12px;
    font-family: Arial, Verdana, Lucida, Helvetica, sans-serif;
    color: #444;
}
input.button {
    border: 0;
    background-color: transparent;
    vertical-align:middle;
}
input.button-disabled {
    opacity:0.4;
    cursor:default !important;
}

select {
    margin: 0;
    background-color: #fff;
    border: 1px solid #bbb;
    font-size: 12px;
    font-family: Arial, Verdana, Lucida, Helvetica, sans-serif;
    color: #444;
}
textarea {
    margin: 0;
    background-color: #fff;
    border: 1px solid #bbb;
}

form table {
    border: 0px;
    table-layout: auto;
}

form td {
    padding: 2px;
}

form th {
    border: 0px;
}

ul.errorlist {
    list-style: none;
    color: #e3646f;
    margin: 0;
    padding: 10px 0 0;
    text-align: center;
}
ul.errorlist li {
    border-style:none;
    border-width:0;
}

ul.criteria li{
    list-style: none;
    float: left;
    margin: 0;
    margin-right: 5px;
}

.clear {
    clear: both;
    width: 0px;
    margin: 0px;
    padding: 0px;
}
.separate70 {
    clear: both;
    height: 70px;
    margin: 0px;
    padding: 0px;
}
.separate50 {
    clear: both;
    height: 50px;
    margin: 0px;
    padding: 0px;
}
.separate30 {
    clear: both;
    height: 30px;
    margin: 0px;
    padding: 0px;
}
.hide {
    display: none !important;
}
.details {
    border-bottom:1px solid #BBBBBB;
}

label {
    font-weight: bold;
}
.box {
    float:left;
    margin:15px 0 10px 0;
}

.link_box {
    border-top:1px solid #BBBBBB;
}
.content_details {
    padding: 10px;
}
#content_details {
    padding: 0 20px 0 10px;
    overflow: auto;
}
#metadata_details {
    overflow: hidden;
}
#tree_details {
    overflow: auto;
}

.hiddenField {
    display: none;
}