.slider {
    height: 20px;
    float: left;
    margin:5px 0;
    padding:2px;
}
.slider_container {
    position: relative;
    margin-top: 50px;
    height: 40px;
} 
.slider_text { 
    height: 19px; 
    width: 40px; 
    padding: 2px 0;
    overflow: hidden; 
    float: left; 
}
.small_label { 
    background: url(/static/webclient/image/minus.png) no-repeat; 
    height: 19px; 
    width: 19px; 
    overflow: hidden; 
    float: left; 
} 
.large_label { 
    background: url(/static/webclient/image/plus.png) no-repeat; 
    height: 19px; 
    width: 19px; 
    overflow: hidden; 
    float: left; 
} 
.slider_bar { 
    background: url(/static/webclient/image/bar.png) no-repeat; 
    height: 19px; 
    width: 100px;  
    float: left; 
    margin: 0px 5px; 
    position: relative;
} 
.slider_handle { 
    background: url(/static/webclient/image/selector.png) no-repeat; 
    height: 19px; 
    width: 20px; 
    overflow: hidden; 
    position: absolute; 
    top: 1px;
} 
#slider_callout { 
    height: 45px; 
    width: 40px; 
    overflow: hidden; 
    position: absolute; 
    top: -20px; 
    margin-left:-10px;  
    padding: 8px 0px 0px 0px; 
    color: #555; 
    font-weight: bold; 
    text-align: center;
}