{% extends "webemdb/base/base_main.html" %}

{% block title %} About OMERO EMDB {% endblock %}

{% block link %}

<style type="text/css">

#about{
    position: relative;
    background:white;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-top: 1px;
    margin-top:15px;
}
</style>

{% endblock %}


{% block content %}

<div id="about">
    <h2>About OMERO EMDB</h2>

    <div id="logos">
        <table>
            <tr><td>
                <img src="{% url webemdb 'images/ebi.png' %}" />
            </td><td>
                <img src="{% url webemdb 'images/ome.png' %}" />
            </td><td>
                <img src="{% url webemdb 'images/bbsrc_medium.gif' %}" />
            </tr>
        </table>
    </div>

    <p>
        This project is a collaboration between the the <a href="http://www.ebi.ac.uk/">EBI</a>, the <a href="http://www.openmicroscopy.org.uk/">Open Microscopy Environment</a>, the <a href="http://www.dundee.ac.uk">University of Dundee</a> and is funded by the <a href="http://bbsrc.ac.uk/">BBSRC</a>.
    </p>
    
    <p> For an overview of the features and tech of this OMERO-powered site, please see this 
        <a href="http://cvs.openmicroscopy.org.uk/snapshots/movies/omero-4-2/mov/Extending-OMERO-EMDB.mov">demo movie</a>
        (11 mins).
    </p>
</div>

{% endblock %}