{% extends "webemdb/base/base_main.html" %}

{% block title %} Welcome {% endblock %}

{% block link %}
<link rel="stylesheet" href="{% url webemdb 'css/index.css' %}" type="text/css" />
{% endblock %}

{% block content %}

    <div id="welcome">
    <h3>Welcome to OMERO EMDB</h3>
    
    Total EMDB entries: {{ entryCount }} <br>
    Most recent entries:
    <ul>
        {% for p in projects %}
          <li><a href="{% url webemdb.views.entry p.getName %}">{{ p.getName }}</a> {{ p.description }}</li>
        {% endfor %}
    </ul>
    </div>

{% endblock %}