{% extends "webemdb/base/base_main.html" %}

{% block title %} Welcome {% endblock %}

{% block link %}
<link rel="stylesheet" href="{% url webemdb 'css/index.css' %}" type="text/css" />
<style type="text/css">
.randomGifs {
    text-align:center;
}
    #logos {
        z-index:2;
        position:absolute;
        right:0px;
        top:0px;
    }
</style>

{% endblock %}

{% block content %}

    <div id="welcome">
        <div id="logos">
            <table>
                <tr><td>
                    <img src="{% url webemdb 'images/ebi.png' %}" />
                </td><td>
                    <img src="{% url webemdb 'images/bbsrc.gif' %}" />
                </td><td>
                    <img src="{% url webemdb 'images/ome.png' %}" />
                </tr>
            </table>
        </div>
    <h3>Welcome to OMERO EMDB</h3>
    This EMDB repository is hosted by an OMERO server. <br />
    Browse by <a href="{% url webemdb_entries %}">Entries</a> or <a href="{% url webemdb_publications %}">Publications</a> or read more <a href="{% url webemdb_about %}">About the project</a>.
    <p>
    Total EMDB entries: {{ entryCount }} <br />
    Most recent entries:
    </p>
    <table>
        {% for p in projects %}
            <tr><td><a href="{% url webemdb.views.entry p.id %}">
                    <img src="{% url webemdb_gif p.id %}" border='0' class="previewGif" />
                </a></td>
                <td><a href="{% url webemdb.views.entry p.id %}">{{ p.id }}</a> {{ p.title }} </td>
                <td> {{ p.sample }} </td>
        {% endfor %}
    </table>
    
    <div class="randomGifs">
        {% for rnd in randomIds %}
            <a href="{% url webemdb.views.entry rnd %}">
                <img src="{% url webemdb_gif rnd %}" border='0' class="previewGif" />
            </a>
        {% endfor %}
    </div>

{% endblock %}