{% extends "webemdb/base/base_main.html" %}

{% block title %} Welcome {% endblock %}

{% block link %}
<link rel="stylesheet" href="{% url webemdb 'css/index.css' %}" type="text/css" />
<style type="text/css">
.randomGifs {
    text-align:center;
}
</style>

{% endblock %}

{% block content %}

    <div id="welcome">
    <h3>Welcome to OMERO EMDB</h3>
    
    Total EMDB entries: {{ entryCount }} <br>
    Most recent entries:
    <table>
        {% for p in projects %}
            <tr><td><a href="{% url webemdb.views.entry p.id %}">
                    <img src="{% url webemdb_gif p.id %}" border='0' class="previewGif" />
                </a></td>
                <td><a href="{% url webemdb.views.entry p.id %}">{{ p.id }}</a> {{ p.title }} </td>
                <td> {{ p.sample }} </td>
        {% endfor %}
    </table>
    
    <div class="randomGifs">
        {% for rnd in randomIds %}
            <a href="{% url webemdb.views.entry rnd %}">
                <img src="{% url webemdb_gif rnd %}" border='0' class="previewGif" />
            </a>
        {% endfor %}
    </div>

{% endblock %}