{% extends "webclient/base/base_container.html" %}
{% load i18n %}
{% load markup %}
{% load custom_tags %}
{% load wikitags %}

{% block link %}
    <link rel="stylesheet" href="{% url webstatic "css/container.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% url webstatic "css/images.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% url webstatic "css/tooltip.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% url webstatic "css/table.css" %}" type="text/css" media="screen"/>
{% endblock %}

{% block jscript %}

    <script type="text/javascript" src="{% url webstatic "javascript/jquery.tooltip.js" %}"></script>
    
    <script type="text/javascript" src="{% url webstatic "javascript/ui/ui.core.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/ui/ui.datepicker.js" %}"></script>
    
{% endblock %}

{% block script %}

    <script type="text/javascript" src="{% url webstatic "javascript/actions.js" %}"></script>
    
    <script type="text/javascript">
        $(document).ready(function() 
            {
                var h = $(window).height()-200;
                $("div#searching").css('height', h+11);
                $("div#content_details").css('height', h+31);
                $("div#metadata_details").css('height', h+31);
                
                $('#dateperiodinput').datepicker({
                    changeMonth: true, 
                    changeYear: true,
                    firstDay: 1, 
                    dateFormat: 'yy-mm-dd', 
                });
                
                $("#searching, #daterange").tooltip({ 
                    track: true, 
                    delay: 0, 
                    showURL: false, 
                    opacity: 1, 
                    fixPNG: true, 
                    showBody: " - ", 
                    top: -15, 
                    left: 5 
                });
                
                $("#search_button").click(function() { 
                    var url = null;
                    var query = $("input[name='query']"); 
                    var dateperiodinput = $("input[name='dateperiodinput']"); 
                    if(query.val()!=null && query.val()!="") {
                        url = "query="+query.val();
                    }
                    if(dateperiodinput.val()!=null && dateperiodinput.val()!="") {
                        if(url!=null) {
                            url = url + "&dateperiodinput="+dateperiodinput.val();
                        } else {
                            url = "dateperiodinput="+dateperiodinput.val();
                        }
                    }
                    $("input[name='datatype']:checked").each(function(){
                        if(url != null ) {
            		        url = url+"&"+this.value+"=on";
            		    } else {
            		        url = this.value+"=on";
            		    }
            		});
                    $("div#content_details").html('<p>{% trans "Loading data... please wait" %} <img src ="{% url webstatic "images/tree/spinner.gif" %}"/></p>');
                    $("div#content_details").load('{% url load_searching "form" %}?'+url);
                    return false;
                });
                
                $("#batch_search_button").click(function() {
                    var batch_query = $("textarea[name='batch_query']").val();
                    if (batch_query == "") {
                        alert("No query entered");
                        return false;
                    }
                    var delimiter = $("input[name='delimiter']:checked").val();
                    var lines = batch_query.split('\n');
                    var regex = new RegExp("\\w+D\\d+D\\d+".replace(/D/g, delimiter));
                    for (i in lines) {
                        if (!regex.test(lines[i])) {
                            alert("Format error at line " + i + ": \n\"" + lines[i] + "\"\n\nDid you select the correct delimiter?");
                            return false;
                        }
                    }
                    var data = $("#batch_searching_form").serialize();
                    $("div#content_details").html('<p>{% trans "Loading data... please wait" %} <img src ="{% url webstatic "images/tree/spinner.gif" %}"/></p>');
                    $("div#content_details").load('{% url load_searching %}', data);
                    return false;
                });
        })
    </script>

{% endblock %}

{% block left %}

<div id="searching">
    <div>
        <p>{% trans "Searching feature enables you to search within the images, datasets, projects, plates and screens stored on the server. It supports single and multiple character wildcard searches." %}</p>
    </div>
    <div class="clear"></div>

    <p>
    <form id="searching_form">
        <table>
            <tr><th>{% trans "Search for" %} *:</th><td><input class="search" type="text" name="query" value="{{ manager.criteria.query }}" size="35"/>  <span id="searching" title="Searching - <small>Performs a single character wildcard search use the <b>'?'</b> symbol. The single character wildcard search looks for terms that match that with the single character replaced. To perform a multiple character wildcard search use the <b>'*'</b> symbol. <br/><br/>
            For example, to search for <i>'text'</i> or <i>'test'</i> you can use the search: <b>'te?t'
    </b>. Multiple character wildcard searches looks for 0 or more characters. For example, to search for <i>'test'</i>, <i>'tests'</i> or <i>'tester'</i>, you can use the search: <b>'test*'</b>. You can also use the wildcard searches in the middle or the beginning of a term.</small>"><img src="{% url webstatic "images/help16.png" %}" /></span></td></tr>
            <!--<tr><th>by date:</th><td><input type="text" id="dateinput" name="date" value="" size="15"/></td></tr>-->
            <tr><th>{% trans "Date" %}:</th><td><input type="text" id="dateperiodinput" name="dateperiodinput" value="{{ manager.criteria.period }}" size="25"/> <span id="daterange" title="Date - <small>Enables you to specify the one particular date or range of the creation data. To select the range, separate them by '_'. If you want to change the date click on the field again and pick the date.</small>"><img src="{% url webstatic "images/help16.png" %}" /></span></td></tr>
            <tr><th>{% trans "In" %} *:</th><td>
                <ul class="criteria">
                    <li><input type="checkbox" name="datatype" value="images" CHECKED />{% trans "Images" %}</li>
                    <li><input type="checkbox" name="datatype" value="datasets" />{% trans "Datasets" %}</li>
                    <li><input type="checkbox" name="datatype" value="projects" />{% trans "Projects" %}</li>
                </ul>
                <ul class="criteria">
                    <li><input type="checkbox" name="datatype" value="plates" />{% trans "Plates" %}</li>
                    <li><input type="checkbox" name="datatype" value="screens" />{% trans "Screens" %}</li>
                </ul>
            </td></tr>
        </table>
        <input id="search_button" type="button" value="Search" /> 
    </form>    
    </p>
    <div>
        <h1>{% trans "Batch searching" %}</h1>
        <p>{% trans "The batch searching feature enables you to search for multiple images stored on the server." %}</p>
    </div>
    <p>
    <form id="batch_searching_form">
        <table>
            <tr><th>{% trans "Search for" %}</th>
            <td><textarea name="batch_query" cols="35" rows="8" wrap="hard"></textarea><span id="searching" title="Batch search - <small>Each line of the textbox should consist of exactly 3 elements(/columns). The elements should contain the following information in order: plate name, row, column. The columns are separated by a delimiter which can be selected below the textbox.<br/><br/>
    +</small><b>Example search:</b><small><pre>
    +Foo	0	0
    +Bar	2	3
    +</pre> The above searches for images in two wells. The first well is located in row 0, column 0 (=well A01) of a plate with name Foo. The second well is located in row 2, column 3 (=well C04) of a plate with name Bar.</small>"><img src="{% url webstatic "images/help16.png" %}" /></span></td>
        </table>
        {% trans "Delimiter:" %}
        <input type="radio" name="delimiter" value="," />{% trans "comma (,)"  %} <input type="radio" name="delimiter" value=";" />{% trans "semi-colon (;)" %} <input type="radio" name="delimiter" value="\t" checked="yes" />{% trans "horizontal tab" %} <input type="radio" name="delimiter" value="|" />{% trans "vertical bar (|)" %}
        <br/><input id="batch_search_button" type="button" value="Search"/>
    </form>
    </p>
</div>

{% endblock %}

{% block center %}

<div id="content_details"> </div>

{% endblock %}


{% block right %}

<div id="metadata_details" style="overflow: auto;"> </div>

{% endblock %}