#
#   $Id$
#
#   Copyright 2007 Glencoe Software, Inc. All rights reserved.
#   Use is subject to license terms supplied in LICENSE.txt
#
#   See the glacier2_example.config file for reference documentation
#

#
# DO NOT CHANGE. Name to lookup on the blitz server.
#
Glacier2.InstanceName=OMERO.Glacier2

#
# Host configurations. Only change the ip addresses, not the ports.
#  If blitz and the router are colocated, only Client.Endpoints needs 
#  to be changed.
#
Glacier2.Admin.Endpoints=tcp -p 9997 -h 127.0.0.1
Glacier2.Client.Endpoints=tcp -p 9998 -h 127.0.0.1
Glacier2.Server.Endpoints=tcp -h 127.0.0.1
Glacier2.SessionManager=Manager:tcp -h 127.0.0.1 -p 9999
Glacier2.PermissionsVerifier=Verifier:tcp -h 127.0.0.1 -p 9999

#
# Performance configurations. 
#   Especially useful is session timeout (effects license releases).
#
Glacier2.SessionTimeout=600
Ice.ThreadPerConnection.StackSize=262144
