Ice.Default.Router=OMERO.Glacier2/router:tcp -p 8000 -h 127.0.0.1
Ice.ACM.Client=0
Ice.MonitorConnections=60
Ice.RetryIntervals=-1
Ice.Warn.Connections=1
Ice.ImplicitContext=Shared
omero.user=user
omero.pass=CHANGE_ME
omero.rootpass=ome

# For starting server
BlitzAdapter.Endpoints=tcp -p 9999

#
# Garbage collection times (in secs)
#
Ice.GC.Interval=60
Ice.Trace.GC=1

#
# Logging
#
Ice.Warn.Connections=0
