#
# OmeroBlitz configuration file
#
# This file is usable by all clients to connect to the Blitz server,
# and is also usable for manual calls to `java -jar blitz.jar` outside
# of the IceGrid framework. Rather than editing this file, it is possible
# to use a multiple file argument to Ice.Config, e.g.:
#
#   --Ice.Config=etc/ice.config,etc/private.config
#

# User properties
# ---------------
# These properties are required for connecting to a server. The
# IP address is critical for a proper connection. Many clients
# will provide the username and password at runtime, but for
# running scripts and similarly it may be useful to define it
# here.
Ice.Default.Router=OMERO.Glacier2/router:tcp -p 4063 -h mage.openmicroscopy.org.uk
omero.user=user
omero.pass=CHANGE_ME

# Mainly for testing, this is the root password.
omero.rootpass=ome

#
# Garbage collection times (in secs)
#
Ice.GC.Interval=60

#
# Logging
#
Ice.Warn.Connections=0
Ice.Trace.GC=0


#
# Router properties. These should not need modification.
#
Ice.ACM.Client=0
Ice.MonitorConnections=60
Ice.RetryIntervals=-1
Ice.ImplicitContext=Shared

# The following properties are useful when starting server via twistd
# or directly via java -jar and is not intended for use with IceGrid.
BlitzAdapter.Endpoints=tcp -h mage.openmicroscopy.org.uk -p 9999
StatusCheck=BlitzManager:tcp -h mage.openmicroscopy.org.uk -p 9999
StatusCheck.Router=""
