.chosen-container-multi .chosen-choices li.search-choice-current {
  cursor: pointer;
  border: 1px solid hsl(210,30%,40%);
  color: hsl(210,80%,10%);
  text-shadow:0 1px 0 rgba(255,255,255,.4);
  background: #E3646F; /* Old browsers */
  background: -moz-linear-gradient(center top , #E3646F 0%, #E3646F 100%) repeat scroll 0 0 #FFFFFF
  background-color:hsl(210,30%,70%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#E3646F', endColorstr='#E3646F',GradientType=0 ); /* IE6-9 */
  background:linear-gradient(top, hsl(210,40%,70%) 0%,hsl(210,40%,60%) 100%); /* W3C */
    
}


.chosen-container-single {
    width:320px;
    min-width:320px;
    max-width:320px;
}

.empty-choice {
    color: #e3646f;
}


.standard_form .hidden {
    display: none;
}

/*
It seems to be impossible to style select to fill remaining
space in a line. chosen calculates the size of the select and
replaces it with the chosen select with the same width.
*/
#email_content select {
  width: 70%;
  background-color: red;
}
#email_content .chzn-choices {
  width: 100%;
}