.message {
    padding: 3px 3px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color:white;
    font-size: 1.2em;
    color: hsl(210,10%,50%);
    text-shadow: 0 1px 0 white;
    font-weight: bold;
}

.message.success {
    box-shadow: 0 0 5px green;
}

.message.warning {
    box-shadow: 0 0 5px yellow;
}