table.formTable {
    margin: 0 20px;
}
table.formTable td {
    padding: 3px;
}
input.button {
    background: #ddd ;
    border:1px solid #919191;
    color:#000000;
    font-weight:bold;
    font-size: 11px;
    margin:0px;
    padding:2px 4px;
    text-align:center;
    margin-right: 5px;
}
label.horizontalLabel {
    font-size: 0.8em;
}

table.formTable td.pickListTd {
    width: 50px;
}
table.formTable td.pickListRight {
    padding-right: 15px;
}
.pickList {
    border: 1px solid #ccc;
    width: auto;
}
.pickListSelected {
    padding-top: 6px;
}
.pickListAvailable {
    padding-top: 6px;
}
table.formTable td.pickListButtons {
    padding: 0;
    width: 50px;
}
div.pickListButtons {
    padding-top: 20%;
    width: 100%;
    text-align: center;
}
input.addButton,
input.removeButton,
input.addAllButton,
input.removeAllButton{
    border-color: #ccc;
    text-align: center;
    margin: 2px;
    padding: 0px;
}
input.removeButton,
input.removeAllButton {
    margin-top: 2px;
}
input.addAllButton {
    margin-top: 15px;
}

.pickListSelectedHidden {
    display: none;
}
.pickListRadio {
    border:1px solid #bbb;
    height:168px;
    max-width:300px;
    overflow:auto;
    vertical-align:top;
}
.pickListRadio ul{
    list-style: none;
    margin-left: -20px;
}
