{% extends "webemdb/base/base_main.html" %}

{% block title %} {{ project.name }} {% endblock %}

{% block link %}
<link rel="stylesheet" href="{% url webemdb 'css/entry.css' %}" type="text/css" />
<!-- for viewport -->
<link rel="stylesheet" href="/appmedia/webgateway/css/jquery-plugin-gs_slider.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="/appmedia/webgateway/css/weblitz-viewport.css" type="text/css" media="screen"/>
{% endblock %}

{% block jscript %}
<script type="text/javascript" src="{% url webemdb 'javascript/entry.js' %}"></script>
<!-- for viewport -->
<script type="text/javascript" src="/appmedia/webgateway/js/weblitz-viewport.js"></script>
<script type="text/javascript" src="/appmedia/webgateway/js/jquery-plugin-viewportImage.js"></script>
<script type="text/javascript" src="/appmedia/webgateway/js/jquery-plugin-gs_slider.js"></script>
<script type="text/javascript" src="/appmedia/webgateway/js/gs_utils.js"></script>
{% endblock %}

{% block content %}
{% if project %}

<table class="pageTable">
<tr><td>
    <table width="100%" id="entry_menu"><tr>
            <td align="center"><span class="nav" id="Summary">Summary</span></td>
            <td align="center"><span class="nav" id="Visualisation">Visualisation</span></td>
            <td align="center"><span class="nav" id="Sample">Sample</span></td>
            <td align="center"><span class="nav" id="Experiment">Experiment</span></td>
            <td align="center"><span class="nav" id="Processing">Processing</span></td>
            <td align="center"><span class="nav" id="MapInformation">Map Information</span></td>
    </tr></table>
</td></tr>
<tr>
    <td valign="top">
        <table id="entry_header">
        <tr>
            <td valign="top">
                <div>{% if gif %}<img id="entryImage" height="200" src="{% url webemdb_file gif.id %}" />{% endif %}</div>
            </td>
            <td valign="top">
                <div class="entryTitle" id="articleTitle"></div>
                <div class="entryTitle" id="authors"></div>
                <div class="entrySubtitle">
                    <div id="entrySub">Aggregation State: <span id="aggregationState"></span></div>
                    Download: 
                    {% if xml %}<a id="emdbxml" href="{% url webemdb_file xml.id %}">{{ xml.getFileName }}</a> {% endif %}
                    {% if img and map %}<a id="emdbmap" href="{% url webemdb_file map.id %}">{{ map.getFileName }}</a> {% endif %}
                    
                    {% if data %} View: <a href="{% url webemdb_data project.name %}">Associated data</a>{% endif %}
                </div>
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>

<table class="pageTable" id="contentTable"><tr><td>
        <div id="emdb_data">
            
            <div class="content" id="SummaryData">
                
                <table>
                    <tr><td align="right" width="20%" class="label">Status: </td>
                        <td><span id="status"></span></td></tr>
                    <tr><td align="right" class="label">Deposition Date: </td>
                        <td><span id="depositionDate"></span></td></tr>
                    <tr><td align="right" class="label">Header Release Date: </td>
                        <td><span id="headerReleaseDate"></span></td></tr>
                    <tr><td align="right" class="label">Map Release Date: </td>
                        <td><span id="mapReleaseDate"></span></td></tr>
                    <tr><td align="right" valign="top" class="label">Primary Citation: </td>
                        <td><span id="authors2"></span><br>
                        <span id="articleTitle2"></span>
                        <span id="journal"></span> (<span id="year"></span>)
                        <b><span id="volume"></span></b>,
                        <span id="firstPage"></span>-<span id="lastPage"></span>
                        [PubMed entry <a id="externalReference"></a>]</td></tr>
                    <tr><td align="right" class="label">Resolution: </td>
                        <td><span id="resolutionByAuthor"></span> &Aring;
                        (Resolution determined by <span id="resolutionMethod"></span>)</td>
                    </tr>
                </table>
            </div>
            <div class="content" id="VisualisationData">
                <div class="content_title">Visualisation:</div>
                <div>
                    <span id="annotationDetails"></span> Suggested Viewing Contour: <span id="contourLevel"></span>
                </div>
                <table width='100%'><tr>
                    <td valign='top'> 
                <!-- <div class="visMenu"> -->
                    <div class="visOption" id='visPreview'>
                        {% if gif %}
                        <div class="visIcon"><img width='75' src="{% url webemdb_file gif.id %}" /></div>
                        <div class="visText">Snapshot</div>
                        {% else %}
                            <div> Preview image not available </div>
                        {% endif %}
                        <div class="clean"></div>
                    </div>
                    <div class="clean"></div>
                    {% if img %}
                    <div class="visOption" id='visOmero'>
                        <div class="visIcon"><img src="{% url webgateway.views.render_thumbnail img.id 75 %}"> </div>
                        <div class="visText">OMERO Image Viewer </div>
                        <div class="clean"></div>
                        <!-- This is a hidden link, used by javascript to load the viewport if/when the option is chosen -->
                        <a id="viewportLink" href="{% url webemdb.views.viewport img.id %}">Open viewport</a>
                    </div>
                    <div class="clean"></div>
                    {% else %}
                        <div class="visOption"> OMERO image not available </div>
                    {% endif %}
                    
                    {% if bit %}
                    <div class="visOption" id='visAstexBit'>
                        <div>
                            <div class="visIcon"><img width='75' src="{% url webemdb_file gif.id %}" /> </div>
                            <div class="visText">
                                Open Astex Viewer - Preview
                                {% if sizeWarning %} <!-- display warning if necessary -->
                                <div id="sizeWarning">This is a large/complex map. The viewer may not have enough memory to view it</div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- following links will be hidden - used by javascript to load applet (and map) or replace map -->
                        <a id="oavLink" href="{% url webemdb_oa_viewer bit.id %}">OA Viewer</a>
                        <a id="oavBitLink" href="{% url webemdb_bit bit.id %}">bit mask link</a>
                        <div class="clean"></div>
                    </div>
                    
                    {% endif %}
                    
                    {% if map %}
                    <div class="visOption" id='visAstexMap'>
                        <div>
                            <div class="visIcon"><img width='75' src="{% url webemdb_file gif.id %}" /> </div>
                            <div class="visText">
                                Open Astex Viewer - Full Map
                            </div>
                        </div>
                        <!-- following links will be hidden - used by javascript to load applet (and map) or replace map -->
                        <a id="oavLinkMap" href="{% url webemdb_oa_viewer map.id %}">OA Viewer Full Map</a>
                        <a id="oavMapLink" href="{% url webemdb_map map.id %}">map link</a>
                        <div class="clean"></div>
                    </div>
                    {% endif %}
                    
                    {% if smallMap %}
                    <div class="visOption" id='visAstexSmallMap'>
                        <div>
                            <div class="visIcon"><img width='75' src="{% url webemdb_file gif.id %}" /> </div>
                            <div class="visText">
                                Open Astex Viewer - Small Map (resized to allow viewing in web browser)
                            </div>
                        </div>
                        <!-- following links will be hidden - used by javascript to load applet (and map) or replace map -->
                        <a id="oavLinkSmallMap" href="{% url webemdb_oa_viewer smallMap.id %}">OA Viewer Small Map</a>
                        <a id="oavSmallMapLink" href="{% url webemdb_map smallMap.id %}">small map link</a>
                        <div class="clean"></div>
                    </div>
                    {% endif %}
                    
                    
                    <div id="oavControls">
                        <!-- <div class="oavControl" id='red'>Red</div> -->
                        Rotate: Click + Drag<br />
                        Zoom: Shift + Drag Up/Down<br />
                        {% if not sizeWarning %} <!-- should be viewable -->
                        <p>If the map fails to display, try restarting your browser</p>
                        {% endif %}
                            
                        {% for pdb in pdbs %}
                            <div>
                            Load pdb:<a href="{% url webemdb_pdb pdb.id %}" class="oavLoadPdb">{{ pdb.getFileName }}</a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="clean"></div>
                </td>
                <td valign="top" align="left" width="100%">
                <!-- </div>
                <div class="visDisplay"> -->
                    <!-- various viewers, shown and hidden as required -->
                    <div class="visViewer" id="visPreviewPane">
                        {% if gif %}
                        <img id="bigImg" src="{% url webemdb_file gif.id %}" />
                        {% endif %}
                    </div>
                    <div class="visViewer" id="visOmeroPane">
                        <iframe id="visOmeroIframe" scrolling="no" height="100%" width="100%"></iframe>
                    </div>
                    <div class="visViewer" id="visAstexPane">
                        <div id="oav" height='500px'>
                            <!-- AJAX loads the OpenAstexViewer here as needed -->
                        </div>
                    </div>
                
                </td>
                </tr></table>
                <div id="imageId">{{ img.id }}</div>
            </div>
            <div class="content" id="SampleData">
                <div class="content_title">Sample:</div>
                <div id="sample"></div>
                Components
                <div id="sampleComponentList"></div>
            </div>
            <div class="content" id="ExperimentData">
                <div class="content_title">Experiment</div>
                <div id="expData"></div>
                <!-- javascript adds tables with data for these sections -->
                Sample Preparation
                <div id="samplePreparation"></div>
                Vitrification
                <div id="vitrification"></div>
                Imaging Conditions
                <div id="imaging"></div>
            </div>
            <div class="content" id="ProcessingData">
                <div class="content_title">Processing</div>
                 Reconstruction
                <div id="reconstruction"></div>
                <table width='100%'><tr><td valign='top'>
                Image Scans
                <div id="imageScans"></div>
                </td><td valign='top'>
                Fitting
                <div id="fitting"></div>
                </tr></table>
            </div>
            <div class="content" id="MapInformationData">
                <div class="content_title">Map Information</div>
                <table width='100%'><tr><td valign='top'>
                Statistics
                <div id="statistics"></div>
                </td><td valign='top'>
                Map
                <div id="map"></div>
                </tr></table>
            </div>
        </div>
    </td>
</tr>
</table>
    
{% else %}

    EMDB entry not found

{% endif %}

{% endblock %}