{% extends "webemdb/base/base_main.html" %}

{% block title %} {{ project.name }} {% endblock %}

{% block link %}
<link rel="stylesheet" href="/appmedia/webemdb/css/entry.css" type="text/css" />
{% endblock %}

{% block jscript %}
<script type="text/javascript" src="/appmedia/webemdb/javascript/entry.js"></script>
{% endblock %}

{% block content %}
{% if project %}
<table id="entry_header">
<tr>
    <td valign="top">
        <div><img id="entryImage" height="200" src="{% url webemdb.views.file project.name gif.id %}" /></div>
    </td>
    <td valign="top">
        <div class="entryTitle"><span id="articleTitle"></span></div>
        <div class="entryTitle"><span id="authors"></span></div>
        <div class="entrySubtitle">
            Aggregation State: <span id="aggregationState"></span><br />
            Download: <a id="emdbxml" href="{% url webemdb.views.file project.name xml.id %}">{{ xml.getFileName }}</a>
            <a id="emdbxml" href="{% url webemdb.views.map img.id map.id %}">{{ map.getFileName }}</a>
        </div>
    </td>
</tr>
</table>

<table id="entry_data">
<tr><td>
    <table width="100%" id="entry_menu"><tr>
            <td align="center"><a href="" class="nav" id="Summary">Summary</a></td>
            <td align="center"><a href="" class="nav" id="Visualisation">Visualisation</a></td>
            <td align="center"><a href="" class="nav" id="Sample">Sample</a></td>
            <td align="center"><a href="" class="nav" id="Experiment">Experiment</a></td>
            <td align="center"><a href="" class="nav" id="Processing">Processing</a></td>
            <td align="center"><a href="" class="nav" id="MapInformation">Map Information</a></td>
    </tr></table>
</td></tr>
</tr>
    <td valign="top">
        <div id="emdb_data">
            <div class="content" id="SummaryData">
                <div class="content_title">Summary:</div>
                <table>
                    <tr><td align="right" width="20%" class="label">Status: </td>
                        <td><span id="status"></span></td></tr>
                    <tr><td align="right" class="label">Deposition Date: </td>
                        <td><span id="depositionDate"></span></td></tr>
                    <tr><td align="right" class="label">Header Release Date: </td>
                        <td><span id="headerReleaseDate"></span></td></tr>
                    <tr><td align="right" class="label">Map Release Date: </td>
                        <td><span id="mapReleaseDate"></span></td></tr>
                    <tr><td align="right" valign="top" class="label">Primary Citation: </td>
                        <td><span id="authors2"></span><br>
                        <span id="articleTitle2"></span>
                        <span id="journal"></span>(<span id="year"></span>)
                        <b><span id="volume"></span></b>,
                        <span id="firstPage"></span>-<span id="lastPage"></span>
                        [PubMed entry <a id="externalReference"></a>]</td></tr>
                    <tr><td align="right" class="label">Resolution: </td>
                        <td><span id="resolutionByAuthor"></span> &Aring;
                        (Resolution determined by <span id="resolutionMethod"></span>)</td>
                    </tr>
                </table>
            </div>
            <div class="content" id="VisualisationData">
                <table><tr>
                    <td valign="top">
                    <div class="content_title">Visualisation:</div>
                    <span id="annotationDetails"></span><br />
                    Suggested contour level for viewing the map <span id="contourLevel"></span><br />
                    <img src="{% url webgateway.views.render_thumbnail img.id %}">
                    <a href="{% url webgateway.views.full_viewer img.id %}" target="new">OMERO Viewer in new window</a><br>
                    <a href="{% url webemdb.views.oa_viewer project.name bit.id %}" target="new">Open Astex Viewer in new window</a>
                    </td>
                    <td valign="top">
                    <img id="bigImg" src="{% url webemdb.views.file project.name gif.id %}" />
                    </td>
                </tr></table>
            </div>
            <div class="content" id="SampleData">
                <div class="content_title">Sample:</div>
                
                <lu>
                <li>Sample Name: <span id="name"></span></li>
                <li>Aggregation State: <span id="aggregationState2"></span></li>
                <li>Theoretical Molecular Weight: <span id="molWtTheo"></span></li>
                <li>Components: <div id="sampleComponentList"></div>
                </lu>
            </div>
            <div class="content" id="ExperimentData">
                <div class="content_title">Experiment</div>
                <div id="expData"></div>
                <!-- javascript adds tables with data for these sections -->
                Sample Preparation
                <div id="samplePreparation"></div>
                Vitrification
                <div id="vitrification"></div>
                Imaging Conditions
                <div id="imaging"></div>
            </div>
            <div class="content" id="ProcessingData">
                <div class="content_title">Processing</div>
                {% include "webemdb/entries/processing.html" %}
            </div>
            <div class="content" id="MapInformationData">
                <div class="content_title">Map Information</div>
            </div>
        </div>
    </td>
</tr>
</table>
    
{% else %}

    EMDB entry not found

{% endif %}

{% endblock %}