<html>

<head>

<!-- for viewport -->
<link rel="stylesheet" href="/appmedia/webgateway/css/jquery-plugin-gs_slider.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="/appmedia/webgateway/css/weblitz-viewport.css" type="text/css" media="screen"/>

<script type="text/javascript" src="{% url webstatic "javascript/jquery_1.4.2.js" %}"></script>
<!-- for viewport -->
<script type="text/javascript" src="/appmedia/webgateway/js/weblitz-viewport.js"></script>
<script type="text/javascript" src="/appmedia/webgateway/js/jquery-plugin-viewportImage.js"></script>
<script type="text/javascript" src="/appmedia/webgateway/js/jquery-plugin-gs_slider.js"></script>
<script type="text/javascript" src="/appmedia/webgateway/js/gs_utils.js"></script>

</head>

<body>
<script type="text/javascript">
        $(document).ready(function() 
            {
                var viewport = $.WeblitzViewport($("#viewport"), "/webclient" );
                viewport.load({{ imageId }});
        });
</script>



    <div class="miniview" id="viewport"></div>

</body>
</html>
    
        
        
    