{% extends "webmobile/base/base_header.html" %}

{% block header-title %}
    Recent:
        {% if exp %} 
            {{ exp.getFullName }}
        {% else %}
            Group
        {% endif %}
{% endblock %}


{% block content %}
<div class='bottom-header'>
    {% if exp %}
    <div class='tab-item{% ifequal obj_type 'all' %} selected{% endifequal %}'>
        <a href="{% url webmobile_recent 'all' exp.id %}">All Recent</a>
    </div>
    <div class='tab-item{% ifequal obj_type 'images' %} selected{% endifequal %}'>
        <a href="{% url webmobile_recent 'images' exp.id %}">Images</a>
    </div>
    <div class='tab-item{% ifequal obj_type 'anns' %} selected{% endifequal %}'>
        <a href="{% url webmobile_recent 'anns' exp.id %}">Annotations</a>
    </div>
    <div class='tab-item{% ifequal obj_type 'rois' %} selected{% endifequal %}'>
        <a href="{% url webmobile_recent 'rois' exp.id %}">ROIs</a>
    </div>
    {% else %}
    <div class='tab-item{% ifequal obj_type 'all' %} selected{% endifequal %}'>
        <a href="{% url webmobile_recent 'all' %}">All Recent</a>
    </div>
    <div class='tab-item{% ifequal obj_type 'images' %} selected{% endifequal %}'>
        <a href="{% url webmobile_recent 'images' %}">Images</a>
    </div>
    <div class='tab-item{% ifequal obj_type 'anns' %} selected{% endifequal %}'>
        <a href="{% url webmobile_recent 'anns' %}">Annotations</a>
    </div>
    <div class='tab-item{% ifequal obj_type 'rois' %} selected{% endifequal %}'>
        <a href="{% url webmobile_recent 'rois' %}">ROIs</a>
    </div>
    {% endif %}
    <div style="clear:both"></div>
</div>


<div>
{% for r in recent %}

    <a href="{{ r.url }}">
        <div class="list-item"> 
            <div style="padding:8px">
                
                {% ifequal r.parent_type 'Image' %}
                    <img class='recent_thumb' border='0' src="{% url webgateway.views.render_thumbnail r.parent_id 40 %}" />
                {% endifequal %}
                
                {% ifequal r.display_type 'Image' %}
                    <img class='recent_thumb' border='0' src="{% url webgateway.views.render_thumbnail r.obj.id 40 %}" />
                {% else %}
                    <span class='gray'>{{ r.display_type }}</span>
                {% endifequal %}
                
                {% if r.obj.getName %} {{ r.obj.getName }} {% endif %}
                {% if r.obj.textValue %} {{ r.obj.textValue }} {% endif %}
                    
                {% if r.parent_type %}
                    <div class='small'>
                        <span class='gray'>On:</span> {{ r.parent_type }}
                        {% if r.parent_id %} ID {{ r.parent_id }} {% endif %}
                    </div>
                {% endif %}
                
                <div class='small'>
                    <span class='gray'>{{ r.timeAgo }}</span> 
                    {% if r.roi_owner %}
                        ROI added by {{ r.roi_owner }}
                    {% else %}
                        By {{ r.obj.getOwnerFullName }}
                    {% endif %}
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </a>
    
{% endfor %}
</div>

<div class="bottom-header">
    Show Recent Activity by:
</div>

<div class="bottom-header">

    <a href="{% url webmobile_recent 'all' %}">
        <div class="tab-item">Group ({{ client.getEventContext.groupName }})</div>
    </a>
    
    {% for m in members %}
        <a href="{% url webmobile_recent 'all' m.id %}">
            <div class="tab-item">{{ m.getFullName }}  ({{ m.getName }})</div>
        </a>
    {% endfor %}
    <div style="clear:both"></div>
</div>

{% endblock %}
