{% extends "webmobile/base/base_header.html" %}

{% block header-title %}
    Recent:
        {% if exp %} 
            {{ exp.getFullName }}
        {% else %}
            Group
        {% endif %}
{% endblock %}


{% block content %}
<div class='bottom-header'>
    {% if exp %}
    <div class='tab-item'><a href="{% url webmobile_recent 'all' exp.id %}">All Recent</a></div>
    <div class='tab-item'><a href="{% url webmobile_recent 'images' exp.id %}">Images</a></div>
    <div class='tab-item'><a href="{% url webmobile_recent 'anns' exp.id %}">Annotations</a></div>
    {% else %}
    <div class='tab-item'><a href="{% url webmobile_recent 'all' %}">All Recent</a></div>
    <div class='tab-item'><a href="{% url webmobile_recent 'images' %}">Images</a></div>
    <div class='tab-item'><a href="{% url webmobile_recent 'anns' %}">Annotations</a></div>
    {% endif %}
    <div style="clear:both"></div>
</div>


<div>
{% for r in recent %}

    <a href="#">
        <div class="list-item"> 
            <div style="padding:8px">
                
                {% ifequal r.display_type 'Image' %}
                    <img class='recent_thumb' border='0' src="{% url webgateway.views.render_thumbnail r.obj.id 40 %}" />
                {% else %}
                    <span class='gray'>{{ r.display_type }}</span>
                {% endifequal %}
                
                {% if r.obj.getName %} {{ r.obj.getName }} {% endif %}
                {% if r.obj.textValue %} {{ r.obj.textValue }} {% endif %}
                    
                <div class='small'>
                    <span class='gray'>{{ r.timeAgo }}</span> By {{ r.obj.getOwnerFullName }}
                </div>
                <div style="clear:both"></div>
            </div>
        </div>
    </a>
    
{% endfor %}
</div>


{% endblock %}
