{% extends "webmobile/base/base_header.html" %}

{% block header-title %}
    OMERO mobile:
{% endblock %}

{% block jscript %}
<script type="text/javascript" src="{% url webstatic "javascript/jquery_1.3.2.js" %}"></script>

<script type="text/javascript">
$(document).ready(function() {
    $("#left_pane a").click(function(event) {
        var href = $(this).attr('href');
        $("#middle_pane").load(href + " #recent_activity");
        event.preventDefault();
        return false;
    });
    
    $("#middle_pane").click(function(event) {
        var $target = $(event.target);
        var $links = $target.parents().filter('a');
        $links.each(function() {
            var href = $(this).attr('href');
            $("#right_pane").load(href + " #page_content");
            event.preventDefault();
            return false;
        });
    });
});
</script>    

{% endblock %}

{% block content %}
<!-- split page into 3 columns -->
<table width="100%">
<tr>
<td width="25%" id="left_pane" valign="top">
    
    <div class='sub-header'>
        Recent Activity:
    </div>

    <div class='list-item'> 
        <div>Mine</div> 
        <div style="clear:both"></div>
        
        <div class='tab-item'>
            <a href="{% url webmobile_recent 'all' exp.id %}">All</a>
        </div>
        <div class='tab-item'>
            <a href="{% url webmobile_recent 'images' exp.id %}">Images</a>
        </div>
        <div class='tab-item'>
            <a href="{% url webmobile_recent 'anns' exp.id %}">Annotations</a>
        </div>
        <div class='tab-item'>
            <a href="{% url webmobile_recent 'rois' exp.id %}">ROIs</a>
        </div>
    
        <div style="clear:both"></div>
    </div>
    
    
    <div class='list-item'>
        <div>Group</div> 
        <div style="clear:both"></div>
        
        <div class='tab-item'>
            <a href="{% url webmobile_recent 'all' %}">All</a>
        </div>
        <div class='tab-item'>
            <a href="{% url webmobile_recent 'images' %}">Images</a>
        </div>
        <div class='tab-item'>
            <a href="{% url webmobile_recent 'anns' %}">Annotations</a>
        </div>
        <div class='tab-item'>
            <a href="{% url webmobile_recent 'rois' %}">ROIs</a>
        </div>
        
        <div style="clear:both"></div>
    </div>
    
    
    <div class='list-item'> 
    
        <div>Collaborative</div>
        <div class='tab-item'>
            <a href='{% url webmobile_collab_my_anns %}'>Me > Others</a>
        </div>
        <div class='tab-item'>
            <a href='{% url webmobile_collab_my_data %}'>Others > Me</a>
        </div>
        
        <div style="clear:both"></div>
    </div>
</td>

<td width="50%" valign="top">
    <div style="scroll:auto" id="middle_pane"></div>
</td>

<td width="25%" valign="top">
    <div id="right_pane"></div>
</td>
</tr>
</table>

{% endblock %}
