<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <title>{% block title %}{% endblock %}</title>
    
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    {% block meta %}{% endblock %}
    
    {% block link %}{% endblock %}
    
    <script type="text/javascript" src="{% url webstatic "javascript/jquery_1.3.2.js" %}"></script>
    {% block jscript %}{% endblock %}
    
    {% block script %}{% endblock %}

</head>

<body>
    
    {% block body %}{% endblock %}
    
</body>

</html>