{% extends "webclient/base/base_main.html" %}
{% load i18n %}
{% load markup %}
{% load custom_tags %}
{% load wikitags %}

{% block link %}
    <link rel="stylesheet" href="{% url webstatic "css/container.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% url webstatic "css/table.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% url webstatic "css/datepicker.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% url webstatic "css/tooltip.css" %}" type="text/css" media="screen"/>
    
{% endblock %}

{% block jscript %}
    
    
    <script type="text/javascript" src="{% url webstatic "javascript/ui/ui.datepicker.js" %}"></script>
    
    <script type="text/javascript" src="{% url webstatic "javascript/jquery.tablesorter.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/jquery.quicksearch.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/jquery.tooltip.js" %}"></script>
{% endblock %}


{% block script %}
    
    <script type="text/javascript" src="{% url webstatic "javascript/actions.js" %}"></script>
        
    <script type="text/javascript">
        $(document).ready(function() 
            { 
                ("#dataTable").tablesorter( {sortList: [[1,0]]} ); 
                
                {% if manager.c_size %}
                $('table#dataTable tbody tr').quicksearch({
                    attached: "div#view",
                    position: "before",
                    stripeRowClass: null,
                    labelText: '{% trans "Filter" %}:',
                    inputText: '...',
                    loaderImg: '{% url webstatic "images/tree/spinner.gif" %}',
                });
                {% endif %}
        })
    </script>

{% endblock %}

{% block top %}

<div>
    <h1>{% trans "Shares and Discussions." %}</h1>

    <p>{% trans "Here you can create a" %} <strong>{% trans "Share" %}</strong> {% trans "to share and discuss your images with others, or" %} <strong>{% trans "Discussion" %}</strong> {% trans "to discuss with no images. Existing Shares and Discussions are shown below." %}</p>
</div>
<div class="separate30"></div>

{% endblock %}

{% block left %}
<!--content-->

<div>
    {% if share.sharesSize %}
        <h1 id="data">{{ share.sharesSize }} {% trans "items" %}:</h1>
    {% else %}
        <h1>{% trans "No items" %}:</h1>
    {% endif %}
    
    <div> 
        | <a href="{% url basket_action "toshare" %}" target="metadata_details"><img src="{% url webstatic "images/folder_html16.png" %}" alt="sh" title="Create share for images stored currently in the basket"/></a>
        <a href="{% url basket_action "todiscuss" %}" target="metadata_details"><img src="{% url webstatic "images/wp_protocol16.png" %}" alt="d" title="Create discussion."/></a> |
    </div>
    <div class="clear"> </div>
    
    <div class="content">
        {% include "webclient/share/share_data_table.html" %}
    </div>
    {% include "webclient/container_paging.html" %}
    
</div>

{% endblock %}

{% block right %}

<iframe width="100%" height="680" name="metadata_details"></iframe>

{% endblock %}

