body {
    font-family:Sans-Serif;
    color:#000;
    padding:0px;
    margin:0px;
    background:#ddd;
    width: 260px;
}

a {
    color: #339;
    text-decoration: none;
}

a .list-item {
    color:#000;
}

#top-header {
    background:white;
    padding: 2px;
    padding-left: 5px;
    border: 1px solid gray;
    border-width: 0px 0px 1px 0px;
}

#top-header-right {
    float: right;
    height: 30px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
}

.header {
    padding: 12px 7px;
    background:url(/m/appmedia/img/toolbar.png) repeat-x scroll 0 0 #6D84A2;
    color:#fff;
}

#header-title {
    font-size:20px;
    float: left;
}

#header-right {
    color: black;
    float: right;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.bottom-header {
    padding: 3px 3px 1px 3px;
    font-size:85%;
    border: 1px solid gray;
    border-width: 0px 0px 1px 0px;
}
.sub-header {
    padding: 5px 5px 2px 5px;
    font-size:90%;
    border: 1px solid gray;
    border-width: 0px 0px 1px 0px;
}
#bottom-header-left {
    float: left;
}
#bottom-header-right {
    float: right;
}

#footer {
    font-family: Arial;
    font-size: 10pt;
    padding: 5px;
}

.gray {
    color: #666;
}
.smallgray {
    font-size: 75%;
    color: #666;
}
.small {
    font-size: 75%;
}

.details {
    font-size: 16px;
}

.subtitle {
    margin: 10px;
}

.list-container {
    border: 1px solid gray;
    background-color:#fff;
    margin: 10px;
}

.list-item {
    border: 1px solid gray;
    border-width: 0px 0px 1px 0px;
    background-color:#fff;
    margin: 0px;
}
.list-item a {
    color: #000;
}
.item-name {padding: 12px;}

.tab-item {
    padding: 4px;
    margin: 1px;
    float:left;
    background-color:#eee;
    border: 1px solid #ddd;
}
.selected {
    border: 1px solid #000;
}

.item-selected {
    padding: 12px;
    color: #333399;
}

.datasets {
    margin-left: 10px;
}

.thumbs {
    list-style-type: none;
    margin: 0; 
    padding: 2px; 
    top: 0; 
    left: 0;
    position: relative;
}

.thumbs li {
    border: 0px;
    float: left;
    text-align: center;
    height: 90px;
    width: 90px;
    margin: 5px; 
}

img.thumbnail {
    margin: 0px;
    border: 0px;
    height:auto; 
    width: auto;
}

img.recent_thumb {
    float:left;
    margin-right: 5px;
}

.page-content {
    background: white;
    padding: 5px;
}

.page-content-underline {
    background: white;
    padding: 5px;
    border: 1px solid gray;
    border-width: 0px 0px 1px 0px;
}

img.preview {
    max-width: 250px;
    max-height: 250px;
    padding-bottom: 10px;
}

.linkClass {
  background-color: #373c40;
  color: #fff;
  width: 80px;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  position: absolute;
  z-index: 6;
  cursor: pointer;
}

img.enlarged {
  position: absolute;
  z-index: 5;
  cursor: pointer;
}

.clear {
    clear: both;
}