/*
 * Quick mash-up of CSS for the TG quick start page.
 */

html, body {
	margin: 10px;
	padding: 0;
	background-color: #B3B3E6;
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#wrapper {
	margin: 5px 5px 5px 5px;
	border: 1px solid black;
	padding: 5px 5px 5px 5px;
	background-color: #ffffff;
}

img {
	border: 0px;
	padding: 0px;
	vertical-align: middle;
}

a:link,a:visited {
	color: #e1253f;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: none;
}

p {
	text-align: left;
}
#long {
	width: 100%;
	max-height: 100px;
	overflow-x: auto;
	overflow-y: auto;
}

h1 {
	color: #555;
	font-size: 24px;
	font-weight: bold;
}
.welcome {
	text-align: center;
}
.table {
	font-size: 16px;
}

table {
	margin: 5px;
	width: 100%;
}

th {
	border: 1px solid #aaa; 
	background-color: #f7f7f7;
}
.line {
	width: 5%;
}
.column {
	width: 7%;
}
.type {
	width: 10%;
}
.msg {
	width: 78%;
}

td {
	text-align: left;
	vertical-align: middle;
	padding: 2px 2px 2px 20px;
}

#welcome {
	padding: 20px;
}

#validator {
	margin: 5px 20% 5px 20%;
	border: 1px solid black;
	padding: 20px;
	border: 1px solid #aaa; 
	background: #f7f7f7;
	text-align: center;
	font-weight: bold;
}

#banner {
	background-color: #000066;
	background-image: url(/static/images/ome_trac_back_top.png);
	background-repeat: no-repeat;
	background-position: center right;
	margin: 2px;
	height: 78px;
}

#main_content {
	min-height: 300px;
	margin: 20px;
}

#footer {
	clear: both;
	color: #bbbbbb;
	font-size: 10px;
	border-top: 1px solid;
	margin: 10px;
	padding-top: 10px;
	padding-bottom: 0px;
	text-align: center;
}

#status_block {
	color: #e1253f;
	margin: 10px;
	text-align: center;
	font-size: 120%;
	font-weight: bolder;
}

/* NAVIGATION FORMATTING BEGIN */
#navigation {
	margin: 0px;
	text-align: right;
	vertical-align: middle;
	text-transform: capitalize;
	padding: 5px 0 5px 0;
}

#navigation ul {
	margin: 0px;
	display: inline;
}

#navigation ul li {
	padding:3px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	text-align:right;
	margin: 5px;
	padding: 5px;
	display: inline;
}

#navigation a:link,#navigation a:visited {
	color: #e1253f;
	text-decoration: none;
}

#navigation a:hover {
	color: #000;
	text-decoration: none;
	
}
