<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Image Dimensions Viewer</title>

<style type="text/css">

body {
    font-family: arial;
}
form dir {
    padding:0px;
    margin:0px;
}
.img_panel {
    {% if size.height %} max-height: {{ size.height }}px;{% endif %}
    {% if size.width %} max-width: {{ size.width }}px;{% endif %}
    border-width: 0px;
    margin: 5px;
}

#header {
    background: #ddd;
    padding: 10px 10px 5px 10px;
}
#header dir{
    padding:0px;
    margin:0px;
}
</style>

<script type="text/javascript" src="{% url webstatic "javascript/jquery_1.3.2.js" %}"></script>
<script type="text/javascript">

$(document).ready(function() {
    
});

function hideHeader() {
    if (document.getElementById) {
        document.getElementById("header").style.display = 'none';
    }
    return false;
}
</script>

</head>

<body>
    
<div id="header">
    <div>
        <a href="{% url webfigure_index %}">Home</a>
    </div>
    
    <div style="float:left">
    <form method='get' action="">
        <div>
            <label>Image ID</label>
            <input type="text" name="imageId" {% if image %} value="{{ image.id }}" {% endif %} /> 
            <a href="{% url webfigure_image_dimensions %}">Clear</a>
        </div>
    {% if image %}
        <div style="float:left">
            <div>
                Dimensions:<br />
                X:
                <select name="xDim">
                    <option value="T" {% ifequal xDim "T" %} selected=true {% endifequal %} >Time</option>
                    <option value="Z" {% ifequal xDim "Z" %} selected=true {% endifequal %} >Z</option>
                    <option value="C" {% ifequal xDim "C" %} selected=true {% endifequal %} >Channel</option>
                </select>
                <input type="text" name="xFrames" {% if xFrames %} value="{{ xFrames }}" {% endif %} /> <br />
                
                Y:
                <select name="yDim">
                    <option value="T" {% ifequal yDim "T" %} selected=true {% endifequal %} >Time</option>
                    <option value="Z" {% ifequal yDim "Z" %} selected=true {% endifequal %} >Z</option>
                    <option value="C" {% ifequal yDim "C" %} selected=true {% endifequal %} >Channel</option>
                </select>
                <input type="text" name="yFrames" {% if yFrames %} value="{{ yFrames }}" {% endif %} /> <br />
                
                Greyscale:
                <input type="checkbox" name="mode" {% ifequal mode "g" %} checked="true" {% endifequal %} />
            </div>
        </div>
    
    {% else %}

    Please start by entering Image ID
    
    {% endif %}
        <div>
            <input type="submit" value='update' />
        </div>
        <div style="clear: both"></div>
    </form>
    </div>
    
    <div style="clear: both"></div>
    
    <div style="float:right">
        <a href="#" onclick="return hideHeader()">hide</a>
    </div>
    <div style="clear: both"></div>
    
</div>
    
{% if image %}

<table border=0>
    {% for row in grid %}
    
        {% if forloop.first %}
        <!-- column names -->
        <td></td>
            {% for x in xRange %}
                <td>{{ xDim }}: {{ x }} </td>
            {% endfor %}
        {% endif %}
        
    <tr>
        {% for cell in row %}
            
            {% if forloop.first %}
            <!-- row name -->
            <td>{{ yDim }}: </td>
            {% endif %}
            
            <td> 
                <img class='img_panel' src="{% url webgateway.views.render_image image.id cell.0 cell.2 %}?c={{ cell.1 }}&m={{ mode }}" />
            </td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

{% endif %}

</body> </html>