<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>WebTest</title>

<script src="/appmedia/omeroweb/javascript/jquery_1.3.2.js" type="text/javascript"></script>

<script type="text/javascript">

</script>

</head>

<body>
<h2>Spim Data</h2>

{% for i in images %}
    <div>
    {{ i.getName }} ID: {{ i.getId }}
    </div>
{% endfor %}

{% for ob in obs %}
    <div>
        Objective:
        <p>
        <table>
        {% for o in ob %}
            <tr>
                <td> {{ o.0 }}:</td><td> {{ o.1 }} </td>
            </tr>
        {% endfor %}
        </table>
        </p>
    </div>
{% endfor %}


</body>

</html>