{% extends "webmobile/base/base_header.html" %}

{% block header-title %}
    {{ title }}: {{ object.name }}
{% endblock %}


{% block content %}
<div id='bottom-header'>
    <div id='bottom-header-left'>
        {% ifequal obj_type 'project' %}
            <a href='{% url webmobile_project object.id %}'>details</a>
        {% endifequal %}
    </div>
    <div style="clear:both"></div>
</div>

<div class='page-content-underline'>
    <form action="." method="POST">
        <div style="padding:5px 1px">Name: <input type='text' name='name' value='{{ object.name }}'></input></div>
        <div style="padding:5px 1px">Description: <br />
        <textarea rows='3' style="width: 95%" name='description'>{% if object.description %}{{ object.description }}{% endif %}</textarea>
        </div>
        <input type="submit" value="Save" />
    </form>
</div>

{% endblock %}
