{% extends "webmobile/base/base_header.html" %}

{% block header-title %}
    {{ title }}: {{ object.name }}
{% endblock %}


{% block content %}
<div class='bottom-header'>
    <div id='bottom-header-left'>
        {% ifequal obj_type 'project' %}
            <a href='{% url webmobile_project object.id %}'>project</a>
        {% endifequal %}
        {% ifequal obj_type 'dataset' %}
            <a href='{% url webmobile_dataset object.id %}'>dataset</a>
        {% endifequal %}
    </div>
    <div id='bottom-header-right'>
        {% if object.isOwned %}
            <a href="{% url webmobile_edit_object obj_type object.id %}">edit</a>
        {% endif %}
    </div>
    <div style="clear:both"></div>
</div>

<div class='page-content-underline'>
    <div>ID: {{ object.id }}</div>
    <div>Owned by: {{ object.getOwnerFullName }}</div>
    
    {% if object.description %}
        <p>{{ object.description }}</p>
    {% endif %}
    
    {% if object.getParent %} 
    <!-- only Datasets have parents, not Projects. TODO: handle multiple parents -->
        <div>
            Project: 
            <a href="{% url webmobile_project object.getParent.id %}">
                {{ object.getParent.getName }}
            </a>
        </div>
    {% endif %}
    
</div>

<div style="background:#ddd; padding:2px 6px">Annotations</div>

<div class='page-content-underline'>
    
    {% include 'webmobile/includes/annotations.html' %}

</div>

<div class='page-content-underline'>
    Comments:
    
    {% include 'webmobile/includes/comments.html' %}
    
</div>

{% endblock %}
