{% extends "webmobile/base/base_header.html" %}

{% block header-title %}
    Projects:
{% endblock %}

{% block header-right %}
    {% if experimenter %}
        Owned by: 
        <a href="{% url webmobile_groups_members %}">{{ experimenter.getFullName }} ></a>
    {% endif %}
{% endblock %}

{% block content %}
<div class='bottom-header'>
    <div id='bottom-header-left'> 
        Sort by: 
        <a href="?sort=name">Name</a> |
        <a href="?sort=recent">Most Recent</a>
    </div>
    
    <div style="clear:both"></div>
</div>


<div>
{% for proj in projects %}

    <a href="{% url webmobile_project proj.id %}">
        <div class="list-item"> 
            <div class="item-name">{{ proj.getName|slice:":20" }} </div>
        </div>
    </a>
    
{% endfor %}
</div>

{% if datasets %}
    <div class='sub-header'>Datasets</div>
    
    <div>
        {% for ds in datasets %}
            <a href="{% url webmobile_dataset ds.id %}">
                <div class="list-item"> 
                    <div class="item-name">{{ ds.getName|slice:":20" }} </div>
                </div>
            </a>

        {% endfor %}
    </div>
{% endif %}

{% if experimenter %}
    <a href="{% url webmobile_orphaned_images experimenter.id %}">
{% else %}
    <a href="{% url webmobile_orphaned_images client.getEventContext.userId %}">
{% endif %}
        <div class="list-item" style="background:#ddd">
            <div class="item-name">Orphaned Images</div>
        </div>
    </a>

{% endblock %}
