{% extends "webmobile/base/base_header.html" %}

{% block header-title %}
    Project: {{ project.name }}
{% endblock %}

{% block header-right %}<a href="{% url webmobile_project_details project.id %}">details ></a>{% endblock %}

{% block content %}

<div class="projects">
{% for dataset in project.listChildren %}

    <a href="{% url webmobile_dataset dataset.id %}">
        <div class="list-item"> 
            <div class="item-name">{{ dataset.getName|slice:":20" }}</div>
        </div>
    </a>
    
{% endfor %}
</div>

{% endblock %}
