{% extends "webmobile/base/base_header.html" %}

{% block header-title %}
    Screen: {{ screen.name }}
{% endblock %}

{% block content %}

<div class='bottom-header'>
    <div id='bottom-header-left'>
        <a href="{% url webmobile_screens %}">All Screens</a>
    </div>
    <div id='bottom-header-right'>
        <a href="{% url webmobile_screen_details screen.id %}">details</a>
    </div>
    <div style="clear:both"></div>
</div>

<div>
{% for plate in screen.listChildren %}

    <a href="{% url webmobile_plate plate.id %}">
        <div class="list-item"> 
            <div class="item-name">{{ plate.getName|slice:":20" }}</div>
        </div>
    </a>
    
{% endfor %}
</div>

{% endblock %}
