<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <META HTTP-EQUIV="Content-Style-Type" CONTENT="text/css">
    
        <title>
        
            OMERO.web - embed viewer

        </title>
        
        <link rel="stylesheet" type="text/css" href="http://localhost/static/omeroweb.viewer.min.css">
        
        
        <style type="text/css">
    		<!--
            body {
                overflow:auto;
            }
            .viewport {
                height: 400px;
                position: relative;
                width: 600px;
            }
            .zoom button {
                background-color: #777777;
                height: 22px;
                width: 22px;
                padding: 0;
                margin-bottom: 4px;
                margin-left: 0px;
            }

    		-->
    	</style>
        
        <script type="text/javascript" src="http://localhost/static/omeroweb.viewer.min.js"></script>
    
        <script type="text/javascript">
            
            var _refresh = function (ev, viewport) {

                /**
                 * This function is called when an image is initially loaded.
                 * This is the place to sync everything; rendering model, quality, channel buttons, etc.
                 */

                /**
                 * Load channels and create buttons
                 */
                var channels = viewport.getChannels();
                for (i in channels) {
                    $('#viewport-channels-box').append('<button id="viewer-ch-' + i + '"\
                        class="squared' + (channels[i].active ? ' pressed' : '') + '"\
                        style="background-color: #' + channels[i].color + '"\
                        title="' + channels[i].label + '">' + channels[i].label + '</button>');
                }

                /**
                 * Attach functions to the click event on specific buttons
                 */

                $('#viewport-channels-box button.squared').click(function (e) {
                    viewport.toggleChannel(e.target.id.split("-")[2]);
                });

                $("#viewport-full-size").click(function () {
                    viewport.setZoom(100);
                });

                $("#viewport-full-screen").click(function () {
                    viewport.setZoomToFit();
                });

                $("#viewport-zoom").change(function (e) {
                    var percent = parseFloat($(this).attr('value').replace(/%/, ''));
                    if (isNaN(percent)) {
                        percent = 100;
                    }
                    viewport.setZoom(percent);
                });
            }
            
            
            $(document).ready(function () {

                /* Prepare the viewport */
                var viewport_big_image = $.WeblitzViewport($("#viewport_big_image"), "http://v.jcb-dataviewer.glencoesoftware.com/webclient/", {
                    'mediaroot': "http://v.jcb-dataviewer.glencoesoftware.com/static/"
                });
                
                /* Load the selected image into the viewport */
                viewport_big_image.load(201);


                /* Prepare the viewport */
                var viewport = $.WeblitzViewport($("#viewport"), "http://jcb-dataviewer.rupress.org/webgateway/", {
                    'mediaroot': " https://jcb-dataviewer.rupress.org/static/"
                });
                viewport.bind('imageLoad', _refresh);

                /* Prepare the Zoom spin button */
                $("INPUT.spin-button").SpinButton({
                    min: 0
                });

                /* Load the selected image into the viewport */
                viewport.load(292408);

                /* Bind zoomimg action to the zoom button */
                viewport.bind('zoom', function (e, percent) {
                    $("#viewport-zoom").attr('value', '' + percent /*+'%'*/ );
                });
                
            });
        </script>
	
    </head>
<body>

    <div class="manuscript_details">
        <h1 id="manuscript-title">Virtual nanoscopy: Generation of ultra-large high resolution electron microscopy maps</h1>
        <p id="manuscript-authors">Frank G.A. Faas, M. Cristina Avramut, Bernard M. van den Berg, A. Mieke Mommaas, Abraham J. Koster, Raimond B.G. Ravelli</p>
        <p style="clear: both;" id="article-details"><span id="manuscript-citation">JCB vol. 198 no. 3 457-457</span>
                &nbsp; Article DOI: <a href="http://dx.doi.org/10.1083/jcb.201201140" target="_blank" id="article-doi">10.1083/jcb.201201140</a>
                &nbsp; DataViewer DOI: <a href="http://dx.doi.org/10.1083/jcb.201201140.dv" target="_blank" id="dataviewer-doi">10.1083/jcb.201201140.dv</a>
                &nbsp;<a onclick="$('#metadata-postit').toggle(); return false;" href="#">[Image Information]</a></p>
    </div>
    <div id="viewport_big_image" class="viewport"></div>
    
    <div class="manuscript_details">
         <h1 id="manuscript-title"><a href="http://jcb-dataviewer.rupress.org/jcb/browse/6805/">Analysis of the local organization and dynamics of cellular actin networks</a></h1>

        <p id="author-list">Weiwei Luo, Cheng-han Yu, Zi Zhao Lieu, Jun Allard, Alex Mogilner, Michael P. Sheetz, Alexander D. Bershadsky</p>
        <p style="clear: both;" id="article-details">JCB vol. 202 no. 7 1057-1073 &nbsp; Article DOI: <a href="http://dx.doi.org/10.1083/jcb.201210123" target="_blank">10.1083/jcb.201210123</a> &nbsp; DataViewer DOI: <a href="http://dx.doi.org/10.1083/jcb.201210123.dv" target="_blank">10.1083/jcb.201210123.dv</a>

        </p>
    </div>
    <div id="viewport" class="viewport"></div>
    <div class="zoom">
        <label for="viewport-zoom">Zoom (%)</label>
        <br />
        <input type="text" class="spin-button" id="viewport-zoom" value="100" size="5" />
        <button id="viewport-full-size" title="Actual size">1:1</button>
        <button id="viewport-full-screen" title="Zoom image to fit">Fit</button>
    </div>
    <div>
        <label for="viewport-channels-box">Channels</label>
        <br /> <span id="viewport-channels-box"></span>

    </div>
    
</body>
</html>