#annotation {
    border-top:1px solid #BBBBBB;
    margin-top: 50px;
}
#annotation_form {
    margin-top: 30px;
    padding-bottom: 50px;
    border-bottom:1px solid #BBBBBB;
    height: 300px;
}

#annotation_tabs {
    margin: 0;
    width: 100%;
}
#annotation_tabs.ui-tabs-nav {

}
select.existing {
    width: 450px;
}

div.comment {
    float: left;
}
div.excomment {
    float: right;
    margin-top: 25px;
}
div.tags {
    float: right;
}
div.extags {
    float: left;
}

div.file {
    float: right;
}
div.exfile {
    float: left;
}
/* tabs */

.ui-tabs-nav { padding: 0;  position: relative; }
.ui-tabs-nav li { 
    float: left; 
    border-bottom:0; 
    margin: 0 5px 0; 
    padding: 0; 
    list-style: none;
    border-color:#BBBBBB #BBBBBB;
    border-style:solid solid none;
    border-width:1px 1px 0;
    background: #fff;
}
.ui-tabs-nav li a { 
    display:block; 
    text-decoration: none; 
    padding: 5px 15px; 
}
.ui-tabs-nav li.ui-tabs-selected {  
    background: #eee;
}
.ui-tabs-panel { padding: 10px 0;  display: block; border: 0; background: none; border-top:1px solid #BBBBBB;}
.ui-tabs-hide { display: none !important; }

/* comment display page */
#comment_wrapper {
    width:630px;
}
#comment_wrapper .photo {
    float: left;
    margin-top: -20px;
}
#comment {
    background:transparent url(/webclient/static/images/comment/comment_repeater.png) repeat-y scroll 0 0;
    width:590px;
    margin-left:50px;
}
#comment .head {
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    background:transparent url(/webclient/static/images/comment/comment_cap.png) no-repeat scroll 0 0;
    height:15px;
    margin-bottom:-15px;
    padding: 10px 0 0 20px;
}
#comment .timestamp {
    font-size: 10px;
    font-style: normal;
    color: #666666;
}
#comment .head cite {
    font-size: 100%;
    font-weight: bold;
    font-style: normal;
}
#comment .body {
    margin:20px 20px;
}
#comment .footer {
    background:transparent url(/webclient/static/images/comment/comment_foot.png) no-repeat scroll 0 0;
    height:45px;
    margin-top:-30px;
}

#comment_wrapper_rev {
    margin-left: 50px;
    width:630px;
}
#comment_wrapper_rev .photo {
    margin-top: -20px;
    float: right;
}
#comment_rev {
    background:transparent url(/webclient/static/images/comment/comment_repeater_rev.png) repeat-y scroll 0 0;
    width:590px;
}
#comment_rev .head {
    font-size: 11px;
    font-style: normal;
    font-weight: bold;
    background:transparent url(/webclient/static/images/comment/comment_cap_rev.png) no-repeat scroll 0 0;
    height:37px;
    margin-bottom:-37px;
    padding: 10px 0 0 20px;
}
#comment_rev .timestamp {
    font-size: 10px;
    font-style: normal;
    color: #666666;
}
#comment_rev .head cite {
    font-size: 100%;
    font-weight: bold;
    font-style: normal;
}
#comment_rev .body {
    margin:20px 20px;
}
#comment_rev .footer {
    background:transparent url(/webclient/static/images/comment/comment_foot_rev.png) no-repeat scroll 0 0;
    height:45px;
    margin-top:-30px;
}

.body_url {
	padding: 0px 20px;
}

