#cart {
    
}
.project {
    border: 1px solid #bbb ;
    float:left;
    width: 960px;
    padding: 10px;
    margin: 10px;
}
.datasetInProject {
    float:left;
    width: 940px;
    padding: 10px;
}
.dataset {
    border: 1px solid #bbb ;
    float:left;
    width: 960px;
    padding: 10px;
    margin: 10px;
}
.imageInDataset {
}
.image {
    padding: 10px;
}
