.content {
    min-width:550px;
}
.tagcontent {
    max-height: 650px;
    width:515px;
    overflow: scroll;
    overflow: auto;
}
form.quicksearch {
    float: right;
    margin: 10px 20px 0 0;
}
input.qs_input{
    width: 100px;
}

