#products .ui-selecting img{ border: 2px dashed #444; padding: 2px; }
#products .ui-selected img{ border: 2px dashed #444; padding: 2px; color: white; }

#products {
    list-style-type: none;
    margin: 0; 
    padding: 2px; 
    top: 0; 
    left: 0;
    position: relative;
}
#products img {
    border: 2px solid #fff;
    padding: 2px; 
}

#products li {
    border: 0px;
    float: left;
    text-align: center;
    height: 100px;
    width: 100px;
    padding: 5px; 
}
#products li.owner_name{
    font-size: 15px;
    text-align: left;
    margin: 0;
    padding: 5px 0;
    font-weight: bold;
    width: 99%;
    border-bottom: 1px solid #bbb;
}
#products li.tagname{
    text-align: left;
    margin: 0;
    width: 100%;
    height: 40px;
}
#products li.dataset{
    text-align: left;
    margin: 0px;
    padding: 5px 0;
    width: 99%;
}
#products li.clear{
    clear:both;
    width: 0;
}

#products li div.product {
    border: 0px;
    float: left;
    text-align: center;
    margin: 8px;
}
em {
    background-color: #fff;
    border: 1px solid #bbb;
    position: absolute;
    left: 0px;
    padding: 5px;
    z-index: 2;
    display: none;
}

div.cloud {
    border: 1px solid #bbb;
    background-color: #fff;
    position: relative;
    display: none;
    top: -100;
}

#hierarchy {
    max-height: 150px;
    overflow-y: auto;
}
.loadMoreData {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}

.tag {
    width: 100%;
}

.toolbar {
    float:right;
    text-align: right;
    background-color: #fff;
    padding: 10px 0;
}
.toolbar-tree-details {
    top: 0;
    right: 0;
    text-align: right;
    border: 1px solid #bbb;
    background-color: #fff;
    padding: 5px;
}
.miniview {
    /* This is for the miniviewer in image_details */
    width: 300px;
    height: 300px;
    position: relative;
}
.miniview_desc {
    margin: 0 0 20px 20px;
}
.miniplateview {
    /* This is for the miniviewer in image_details */
    margin-top:10px;
}
.miniplateview_desc {
    margin: 0;
    padding: 0 20px;
}
.image_details {
    width: 450px;
    height: 600px;
}

.description {
    width: 320px;
    height: 70px;
    border: 1px solid #bbb;
    overflow: auto;
}

#metadata_tab table td{
    width: 50%;
}
#metadata_tab table th{
    background: #fff;
}
#metadata_tab table th.header{
    background: #eee;
    border: 1px solid #bbb;
}
#metadata_tab table th.header h1{
    margin-left: 10px;
}
.disabled {
    background-color: #fff;
    color: #555;
    border: 0;
}

div.paging {
    font-size: 15px;
    text-align: center;
    margin: 0;
    padding: 10px 0px 30px 0px;
}
