#products {
    list-style: none; 
    margin: 0; 
    padding: 0; 
    top: 0; 
    left: 0;
    position: relative;
    border: 0px hidden #000;
}
#products img.imgzoom {
    border: 1px solid #999;
    cursor: move;
}

#products img.catzoom {
    border: 0px;
    cursor: move;
}
#products li {
    border: 0px;
    float: left;
    text-align: center;
    margin: 5px 3px 10px;
    width: 160px;
}
#products li.owner_name{
    font-size: 15px;
    text-align: left;
    margin: 0px;
    padding: 5px;
    font-weight: bold;
    width: 99%;
    border-bottom: 1px solid #bbb;
}
#products li.header_name{
    font-size: 15px;
    text-align: left;
    margin: 0px;
    padding: 5px 0;
    font-weight: bold;
    width: 99%;
}
#products li.clear{
    clear:both;
    width: 0;
}

em {
    background-color: #fff;
    border: 1px solid #bbb;
    position: absolute;
    left: 0px;
    padding: 5px;
    z-index: 2;
    display: none;
}

div.cloud {
    border: 1px solid #bbb;
    background-color: #fff;
    position: relative;
    display: none;
    top: -100;
}

div#view, div#header_name {
    float:left;
    height:20px;
    margin:5px 0;
    padding:2px;
}

.quicksearch {
    float: right;
}

#hierarchy {
    max-height: 150px;
    overflow-y: auto;
}
.loadMoreData {
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}

.project {
    width: 75%;
}
.dataset {
    width: 75%;
}
.tag {
    width: 75%;
}
.image {
    width: 75%;
}
.toolbar {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    background-color: #fff;
    padding: 5px 3px;
}
.toolbar-tree-details {
    top: 0;
    right: 0;
    text-align: right;
    border: 1px solid #bbb;
    background-color: #fff;
    padding: 5px;
}
.thumbnail {
    float: left;
    width: 600px;
    padding: 0;
}
.metadata {
    float: right;
    margin: -8px 0 20px 0;
}

.ui-accordion-help {
    list-style-type:none;
    margin:0;
    padding:0;
    width: 220px;
}

.ui-accordion-metadata {
    list-style-type:none;
    margin:0;
    padding:0;
    width: 350px;
}
.ui-accordion-metadata  table td {
    padding: 2px;
}
.ui-accordion-header {
    border-bottom: 1px solid #bbb;
    padding: 5px 5px 1px 10px;
    display:block;
    height:20px;
    position:relative;
    text-decoration:none;
}
a.ui-accordion-header  {
    text-decoration: none;
}
a.ui-accordion-header:hover,a.ui-accordion-header:link,a.ui-accordion-header:visited {
    text-decoration: none;
}

a.selected {
    background: #eee;
}

input.disable {
    border: 0;
    background-color: #fff;
    color: #555;
}
.box {
    float:left;
    margin:15px 0 10px 0;
}
