a.smalltag {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
}
a.smalltag:hover,a.smalltag:link,a.smalltag:visited {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
}

a.middletag {
    font-size: 20px;
    font-weight: normal;
}
a.middletag:hover,a.middletag:link,a.middletag:visited {
    font-size: 20px;
    font-weight: normal;
}

a.bigtag {
    font-size: 24px;
    font-weight: normal;
    font-weight: bold;
}
a.bigtag:hover,a.bigtag:link,a.bigtag:visited {
    font-size: 24px;
    font-weight: normal;
    font-weight: bold;
}

