#navigation {
    background:transparent url(/webclient/static/images/menu/menu.jpg) no-repeat scroll right top;
    height:90px;
    left:0;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    margin:0;
    overflow:hidden;
    padding:0;
    width:649px;
}
#navigation li {
    float: right;
	width: 59px;
	height: 90px;
}
#navigation li a {
	display: block; 
	margin-top: -90px; 
    padding-left:59px;
	height: 90px; 
	width: 59p; 
	overflow: hidden; 
	background: #000; 
	opacity: 0.8; 
}
#navigation .home a {
	background: url(/webclient/static/images/menu/home.jpg) no-repeat bottom right;
}
#navigation .mydata a {
	background: url(/webclient/static/images/menu/mydata.jpg) no-repeat bottom right;
}
#navigation .collaboration a {
	background: url(/webclient/static/images/menu/collaboration.jpg) no-repeat bottom right;
}
#navigation .share a {
	background: url(/webclient/static/images/menu/share.jpg) no-repeat bottom right;
}
#navigation .search a {
	background: url(/webclient/static/images/menu/search.jpg) no-repeat bottom right;
}
#navigation .history a {
	background: url(/webclient/static/images/menu/history.jpg) no-repeat bottom right;
}
#navigation .import a {
	background: url(/webclient/static/images/menu/import.jpg) no-repeat bottom right;
}
#navigation .person a {
	background: url(/webclient/static/images/menu/person.jpg) no-repeat bottom right;
}
#navigation .help a {
	background: url(/webclient/static/images/menu/help.jpg) no-repeat bottom right;
}
#navigation .contact a {
	background: url(/webclient/static/images/menu/contact.jpg) no-repeat bottom right;
}
