#spw table {
    background:#fff none repeat scroll 0 0;
    width: 0;
}
#spw table td {
    border: 1px solid #bbb;
    width: 25px;
}
#spw table td.full {
    border: 1px solid #bbb;
    width: 25px;
    background: #eee;
}

#index table {
    background:#fff none repeat scroll 0 0;
    width: 0;
}