/* tables */
table.tablesorter {
    background-color: #eee;
    margin:0;
    width: 100%;
    text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #eee;
    padding: 2px 10px 2px 2px;
}
table.tablesorter thead tr .header {
    background-image: url(../images/table/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    padding: 1px;
    background-color: #FFF;
    vertical-align: middle;
    text-align: justify;
}
table.tablesorter tbody tr.odd td {
    background-color:#ccc;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(../images/table/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(../images/table/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #ccc;
}
