#context {
    float: right;
    width:460px;
}

#tree {
    float: left;
}

.simpleTree
{
	overflow:auto;
	margin:0;
	padding:0;
	max-width:520px;
}
.simpleTree li
{
	list-style: none;
	margin:0;
	padding:0 0 0 34px;
	line-height: 14px;
}
.simpleTree li span
{
	display:inline;
	clear: left;
	white-space: nowrap;
}
.simpleTree ul
{
	margin:0; 
	padding:0;
}
.simpleTree .root
{
	margin-left:-16px;
	background: url(/webclient/static/images/tree/root.gif) no-repeat 16px 0 #ffffff;
}
.simpleTree .line
{
	margin:0 0 0 -16px;
	padding:0;
	line-height: 5px;
	height: 5px;
	font-size:3px;
	background: url(/webclient/static/images/tree/line_bg.gif) 0 0 no-repeat transparent;
}
.simpleTree .line-last
{
	margin:0 0 0 -16px;
	padding:0;
	line-height: 5px;
	height: 5px;
	font-size:3px;
	background: url(/webclient/static/images/tree/spacer.gif) 0 0 no-repeat transparent;
}
.simpleTree .line-over
{
	margin:0 0 0 -16px;
	padding:0;
	line-height: 5px;
	height: 5px;
	font-size:3px;
	background: url(/webclient/static/images/tree/line_bg_over.gif) 0 0 no-repeat transparent;
}
.simpleTree .line-over-last
{
	margin:0 0 0 -16px;
	padding:0;
	line-height: 5px;
	height: 5px;
	font-size:3px;
	background: url(/webclient/static/images/tree/line_bg_over_last.gif) 0 0 no-repeat transparent;
}
.simpleTree .folder-open
{
	margin-left:-16px;
	background: url(/webclient/static/images/tree/collapsable.png) 0 -2px no-repeat #fff;
}
.simpleTree .folder-open-last
{
	margin-left:-16px;
	background: url(/webclient/static/images/tree/collapsable-last.png) 0 -2px no-repeat #fff;
}
.simpleTree .folder-open-last-static
{
	margin-left:-16px;
	background: url(/webclient/static/images/tree/collapsable-last-static.png) 0 -2px no-repeat #fff;
}
.simpleTree .folder-close
{
	margin-left:-16px;
	background: url(/webclient/static/images/tree/expandable.png) 0 -2px no-repeat #fff;
}
.simpleTree .folder-close-last
{
	margin-left:-16px;
	background: url(/webclient/static/images/tree/expandable-last.png) 0 -2px no-repeat #fff;
}
.simpleTree .folder-close-last-static
{
	margin-left:-16px;
	background: url(/webclient/static/images/tree/expandable-last-static.png) 0 -2px no-repeat #fff;
}
.simpleTree .subfolder-open
{
	margin-left:-16px;
	background: url(/webclient/static/images/tree/collapsable-sub.png) 0 -2px no-repeat #fff;
}
.simpleTree .subfolder-open-last
{
	margin-left:-16px;
	background: url(/webclient/static/images/tree/collapsable-sub-last.png) 0 -2px no-repeat #fff;
}
.simpleTree .subfolder-open-last-static
{
	margin-left:-16px;
	background: url(/webclient/static/images/tree/collapsable-sub-last-static.png) 0 -2px no-repeat #fff;
}
.simpleTree .subfolder-close
{
	margin-left:-16px;
	background: url(/webclient/static/images/tree/expandable-sub.png) 0 -2px no-repeat #fff;
}
.simpleTree .subfolder-close-last
{
	margin-left:-16px;
	background: url(/webclient/static/images/tree/expandable-sub-last.png) 0 -2px no-repeat #fff;
}
.simpleTree .subfolder-close-last-static
{
	margin-left:-16px;
	background: url(/webclient/static/images/tree/expandable-sub-last-static.png) 0 -2px no-repeat #fff;
}
.simpleTree .doc
{
	cursor: default;
	margin-left:-16px;
	background: url(/webclient/static/images/tree/leaf.png) 0 -1px no-repeat #fff;
}
.simpleTree .doc-last
{
	margin-left:-16px;
	background: url(/webclient/static/images/tree/leaf-last.png) 0 -1px no-repeat #fff;
}
.simpleTree .ajax
{
	background: url(/webclient/static/images/tree/spinner.gif) no-repeat 0 0 #ffffff;
	height: 16px;
	display:none;
}
.simpleTree .ajax li
{
	display:none;
	margin:0; 
	padding:0;
}
.simpleTree .trigger
{
	display:inline;
	margin-left:-32px;
	width: 28px;
	height: 11px;
	cursor:pointer;
}
.simpleTree .text
{
	cursor: default;
}
.simpleTree .text-select
{
	cursor: default;
	background-color: #eee
}
.simpleTree .active
{
	cursor: default;
	background-color:#fff;
	padding:0px 2px;
	border: 1px dashed #444;
}
#drag_container
{
	background:#ffffff;
	color:#000;
	font: normal 11px arial, tahoma, helvetica, sans-serif;
	border: 1px dashed #767676;
}
#drag_container ul
{
	list-style: none;
	padding:0;
	margin:0;
}

#drag_container li
{
	list-style: none;
	background-color:#ffffff;
	line-height:18px;
	white-space: nowrap;
	padding:1px 1px 0px 16px;
	margin:0;
}
#drag_container li span
{
	padding:0;
}

#drag_container li.doc, #drag_container li.doc-last
{
	background: url(/webclient/static/images/tree/leaf.png) no-repeat -17px 0 #ffffff;
}
#drag_container .folder-close, #drag_container .folder-close-last
{
	background: url(/webclient/static/images/tree/expandable.png) no-repeat -17px 0 #ffffff;
}

#drag_container .folder-open, #drag_container .folder-open-last
{
	background: url(/webclient/static/images/tree/collapsable.png) no-repeat -17px 0 #ffffff;
}
