<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, minimum-scale=0.1, maximum-scale=10.0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<title>Scrolling DIV demo on iPhone / iPod Touch / Android / iPad</title>

<script type="text/javascript" src="{% url mobile_static 'js/iscroll.js?v3.7.1' %}"></script>
<script type="text/javascript" src="{% url webstatic "javascript/jquery_1.3.2.js" %}"></script>

<script type="text/javascript">

var tileSizeX = 128;
var tileSizeY = 128;

var $wrapper = null;
var imgSrc = null;

var viewportX = 0;
var viewportY = 0;

//var console = null;

var log = function(text) {
    try{
        console.log(text);
    } catch (ex) {}
}

var checkViewportMove = function() {
    
    var scrollX = window.pageXOffset; 
    var scrollY = window.pageYOffset;
    
    if ((scrollX != viewportX) || (scrollY != viewportY)) {
        refreshViewport();
    }
    viewportX = scrollX;
    viewportY = scrollY;
}

var refreshViewport =  function() {
    
    $wrapper.empty();
    
    var imgWidth = parseInt($wrapper.attr("width"));
    var imgHeight = parseInt($wrapper.attr("height"));
    
    // get the viewport location
    var scrollX = parseInt(window.pageXOffset); 
    var scrollY = parseInt(window.pageYOffset); 
    var scrollW = parseInt(window.innerWidth);
    var scrollH = parseInt(window.innerHeight);
    
    // need to work out the tiles in the viewport
    var rightEdge = Math.min( (scrollX + scrollW), imgWidth);
    var bottomEdge = Math.min( (scrollY + scrollH), imgHeight);
    var firstCol = parseInt(scrollX / tileSizeX);
    var firstRow = parseInt(scrollY / tileSizeY);
    var colCount = (rightEdge / tileSizeX ) - firstCol;
    var rowCount = (bottomEdge / tileSizeY ) - firstRow;
    
    //alert("firstCol: " + firstCol + " firstRow: " + firstRow);
    
    // lay them out
    for (var c=0; c<colCount; c++) {
        
        for (var r=0; r<rowCount; r++) {
            
            var col = firstCol+c;
            var row = firstRow+r;
            log("col: " + col);
            log("row: " + row);
            var left = col * tileSizeX;
            var top = row * tileSizeY;
            var tileHtml = "<div class='tile' style='top:"+top+"px; left:"+left+"px; width:"+tileSizeX+"px; height:"+tileSizeY+"px'>";
            //tileHtml += "Col: " + col + " cCount: " + c + "<br />";
            //tileHtml += "Row: " + row + " rCount: " + r;
            tileHtml += "<img src='" + imgSrc + "?region="+left+","+top+","+tileSizeX+","+tileSizeY+"' />";
            
            tileHtml += "</div>"
            //alert(tileHtml);
            log(tileHtml);
            $wrapper.append($(tileHtml));
        }
        
    }
}

$(document).ready(function() {
    
    $wrapper = $("#wrapper");
    imgSrc = $("#full_image").attr('src');
    
    refreshViewport();
    
    setInterval(checkViewportMove, 5000);
});

</script>

<style type="text/css">

body {
    padding: 0px;
    margin: 0px;
    width: {{ w }}px;
    height: {{ h }}px;
}
#wrapper {
    position: relative;
    border: solid red 2px;
}
.tile {
    position:absolute;
    border: solid gray 1px;
}
</style>

<body>
    <div id="wrapper" width="{{ w }}" height="{{ h }}">
        
        <img id='full_image' style="display:none" src="{% url webgateway.views.render_image_region image.id z 0 %}">
        
    </div>
</body>
</html>