<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping resource="ome/model/acquisition/Microscope.hbm.xml" />
        <mapping resource="ome/model/acquisition/Dichroic.hbm.xml" />
        <mapping resource="ome/model/acquisition/ExcimerLaserMedia.hbm.xml" />
        <mapping resource="ome/model/display/CSContext.hbm.xml" />
        <mapping resource="ome/model/acquisition/ExcitationFilter.hbm.xml" />
        <mapping resource="ome/model/core/PixelsDimensions.hbm.xml" />
        <mapping resource="ome/model/acquisition/AcquisitionContext.hbm.xml" />
        <mapping resource="ome/model/roi/RoiMap.hbm.xml" />
        <mapping resource="ome/model/experiment/Experiment.hbm.xml" />
        <mapping resource="ome/model/display/CodomainMapContext.hbm.xml" />
        <mapping resource="ome/model/roi/Roi5D.hbm.xml" />
        <mapping resource="ome/model/display/QuantumDef.hbm.xml" />
        <mapping resource="ome/model/acquisition/FilamentType.hbm.xml" />
        <mapping resource="ome/model/acquisition/Detector.hbm.xml" />
        <mapping resource="ome/model/acquisition/DyeLaser.hbm.xml" />
        <mapping resource="ome/model/acquisition/OTF.hbm.xml" />
        <mapping resource="ome/model/core/ImagingEnvironment.hbm.xml" />
        <mapping resource="ome/model/acquisition/ExcimerLaser.hbm.xml" />
        <mapping resource="ome/model/acquisition/Filter.hbm.xml" />
        <mapping resource="ome/model/acquisition/GasLaserMedia.hbm.xml" />
        <mapping resource="ome/model/enums/PIType.hbm.xml" />
        <mapping resource="ome/model/acquisition/CustomizedFilterSet.hbm.xml" />
        <mapping resource="ome/model/core/Pixels.hbm.xml" />
        <mapping resource="ome/model/acquisition/LaserMedia.hbm.xml" />
        <mapping resource="ome/model/acquisition/SolidStateLaser.hbm.xml" />
        <mapping resource="ome/model/stats/StatsInfo.hbm.xml" />
        <mapping resource="ome/model/display/ChannelBinding.hbm.xml" />
        <mapping resource="ome/model/acquisition/LightSettings.hbm.xml" />
        <mapping resource="ome/model/enums/DimensionOrder.hbm.xml" />
        <mapping resource="ome/model/acquisition/Manufactured.hbm.xml" />
        <mapping resource="ome/model/meta/Experimenter.hbm.xml" />
        <mapping resource="ome/model/meta/ExperimenterGroup.hbm.xml" />
        <mapping resource="ome/model/meta/ContactDetails.hbm.xml" />
        <mapping resource="ome/model/meta/GroupExperimenterMap.hbm.xml" />
        <mapping resource="ome/model/core/StageLabel.hbm.xml" />
        <mapping resource="ome/model/acquisition/SemiConductorLaser.hbm.xml" />
        <mapping resource="ome/model/acquisition/FreeElectronLaser.hbm.xml" />
        <mapping resource="ome/model/roi/Square.hbm.xml" />
        <mapping resource="ome/model/acquisition/Arc.hbm.xml" />
        <mapping resource="ome/model/acquisition/FilterSet.hbm.xml" />
        <mapping resource="ome/model/meta/Event.hbm.xml" />
        <mapping resource="ome/model/enums/FamilyType.hbm.xml" />
        <mapping resource="ome/model/display/PSContext.hbm.xml" />
        <mapping resource="ome/model/acquisition/FilterCombination.hbm.xml" />
        <mapping resource="ome/model/acquisition/EmissionFilter.hbm.xml" />
        <mapping resource="ome/model/acquisition/DetectorType.hbm.xml" />
        <mapping resource="ome/model/core/Image.hbm.xml" />
        <mapping resource="ome/model/roi/ShapeArea.hbm.xml" />
        <mapping resource="ome/model/meta/EventDiff.hbm.xml" />
        <mapping resource="ome/model/core/OriginalFile.hbm.xml" />
        <mapping resource="ome/model/enums/ExperimentType.hbm.xml" />
        <mapping resource="ome/model/core/Channel.hbm.xml" />
        <mapping resource="ome/model/display/Thumbnail.hbm.xml" />
        <mapping resource="ome/model/display/RenderingDef.hbm.xml" />
        <mapping resource="ome/model/core/PixelsOrignalFileMap.hbm.xml" />
        <mapping resource="ome/model/acquisition/Instrument.hbm.xml" />
        <mapping resource="ome/model/display/Color.hbm.xml" />
        <mapping resource="ome/model/core/PlaneInfo.hbm.xml" />
        <mapping resource="ome/model/acquisition/MetalVaporLaser.hbm.xml" />
        <mapping resource="ome/model/meta/EventLog.hbm.xml" />
        <mapping resource="ome/model/acquisition/Objective.hbm.xml" />
        <mapping resource="ome/model/acquisition/PulseType.hbm.xml" />
        <mapping resource="ome/model/acquisition/Laser.hbm.xml" />
        <mapping resource="ome/model/display/RIContext.hbm.xml" />
        <mapping resource="ome/model/acquisition/FilterType.hbm.xml" />
        <mapping resource="ome/model/acquisition/LightSource.hbm.xml" />
        <mapping resource="ome/model/acquisition/MicroscopeType.hbm.xml" />
        <mapping resource="ome/model/roi/RoiExtent.hbm.xml" />
        <mapping resource="ome/model/acquisition/SemiConductorLaserMedia.hbm.xml" />
        <mapping resource="ome/model/acquisition/GasLaser.hbm.xml" />
        <mapping resource="ome/model/acquisition/FreeElectronLaserMedia.hbm.xml" />
        <mapping resource="ome/model/acquisition/SolidStateLaserMedia.hbm.xml" />
        <mapping resource="ome/model/acquisition/ArcType.hbm.xml" />
        <mapping resource="ome/model/acquisition/MetalVaporLaserMedia.hbm.xml" />
        <mapping resource="ome/model/acquisition/DetectorSettings.hbm.xml" />
        <mapping resource="ome/model/enums/PixelsType.hbm.xml" />
        <mapping resource="ome/model/acquisition/Filament.hbm.xml" />
        <mapping resource="ome/model/acquisition/DyeLaserMedia.hbm.xml" />
        <mapping resource="ome/model/enums/Format.hbm.xml" />
        <mapping resource="ome/model/enums/ModelType.hbm.xml" />
        <mapping resource="ome/model/roi/RoiSet.hbm.xml" />
        <mapping resource="ome/model/core/LogicalChannel.hbm.xml" />
    </session-factory>
</hibernate-configuration>
