{% extends "base.html" %}
{% load i18n %}
{% load markup %}
{% load custom_tags %}

{% block title %}{% trans "Drive space" %}{% endblock %}

{% block jscript %}
    <script type="text/javascript" src="{% get_webadmin_static_url %}/js/jquery_1.2.6.js"></script>
    <script>
        $(document).ready(function(){
            
            $("div#piechart").html('<img src="{% get_webadmin_static_url %}/images/tree/spinner.gif"/>');
            $("div#piechart").load("{% get_webadmin_root_url %}/piechart/");
        });
      </script>
{% endblock %}

{% block content %}
<div>
<h2>{% trans "Drive space" %}</h2>

<p>{% trans "Pie-chart shows usage of main hard drive." %}</p>
<br/>

<div id="piechart"></div>

</div>
<br/>
<p>{% trans "Free space" %}: {{ driveSpace.free }} [KB]</p>
<p>{% trans "Used space" %}: {{ driveSpace.used }} [KB]</p>

<p>{% trans "Top ten list" %}:</p>
<ol>
{% for item in topTen %}
    <li>{{ item.0 }} - {{ item.1 }} [KB]</li>
{% endfor %}
</ul>
{% endblock %}