<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>WebTest</title>
</head>

<body>
<h1>WebTest</h1>
<hr>
<ul>
{% for proj in client.listProjects %}
  <li>{{ proj.getName }}
    <ul>
      {% for ds in proj.listChildren %}
      <li>{{ ds.getName }}
        <ul>
          {% for img in ds.listChildren %}
          <li><img src="{% url webgateway.views.render_thumbnail img.id %}">{{ img.getName }}</li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>

<a href="{% url webtest_logout %}">logout</a>
<hr>
</body> </html>