<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
  <title>test</title>

  <script type="text/javascript" src="http://localhost:8000/appmedia/omeroweb/javascript/jquery_1.4.2.js"></script>

  <script type="text/javascript">

      function openPopup(url) {
          owindow = window.open(url, 'anew', config='height=600,width=850,left=50,top=50,toolbar=no,menubar=no,scrollbars=yes,resizable=yes,location=no,directories=no,status=no');
          if(!owindow.closed) owindow.focus();
          return false;
      }

  </script>

  <script type="text/javascript">
      $(document).ready(function() 
          {
              /*$.ajax({ 
                  url: "http://localhost:8000/webclient/login/?username=ola&password=ome&server=1&noredirect=1", 
                  success: function(msg){
                      alert(msg);
                      $("div#metadata_details").html('<iframe width="850" height="600" src="http://localhost:8000/webclient/img_detail/55/" id="metadata_details" name="metadata_details"></iframe>');
                      $('iframe#metadata_details').load();
                  },
                  error: function(xhr, msg){  
                        alert(msg);  
                    }
               });*/
              
            
              
      });
  </script>
  
  
</head>
<body>
    
    <a href="#" onclick="return openPopup('http://localhost:8000/webclient/img_detail/55/')">Open viewer</a>
    
    <div id="metadata_details"><iframe width="850" height="600" src="http://mage.openmicroscopy.org.uk/webclient/login/?username=root&password=ome&server=1&url=http://mage.openmicroscopy.org.uk/webclient/img_detail/131302/" id="metadata_details" name="metadata_details"></iframe></div>
    
    
</body>
</html>
