##################### Shoola Log Service Configuration File ####################


################################################################################
#	START OF BASE CONFIGURATION
#	
#

# Define the base appender.  Don't edit this.
log4j.appender.BASE = org.apache.log4j.RollingFileAppender

# The log directory and log file are specified in container.xml and then set by
# the container. This entry is just a placeholder.  Don't edit this.
log4j.appender.BASE.File = DEFINED_BY_CONTAINER

# Maximum size that the output file is allowed to reach before being rolled over
# to backup files.
log4j.appender.BASE.MaxFileSize = 100KB 

# Maximum number of backup files to keep around.		
log4j.appender.BASE.MaxBackupIndex = 100
					
# Define the output layout of the base appender.
log4j.appender.BASE.layout = org.apache.log4j.PatternLayout
log4j.appender.BASE.layout.ConversionPattern = \
	%r ms since start (%d) ** %p **%n \
	[thread: %t][class: %c] -%n \
	%m%n%n
		
# Set the the root logger level and appender.  Don't edit this.
log4j.rootLogger = debug, BASE

#
#	END OF BASE CONFIGURATION
#
################################################################################


# Print only messages of level WARN or above coming from the HTTP libs.
log4j.logger.org.apache = WARN
log4j.logger.httpclient = WARN


