{% load custom_tags %}

<div id="annotation_form">
    {% if form_comment %}
    <div class="comment">
        <h1>Add new comment:</h1>
        <form action="" method="post"><input type="hidden" name="action" value="comment" />
        <table>
            {% for field in form_comment %}
                <tr>
                    <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text|safe }}</td>
                </tr>
            {% endfor %}
                <tr><td colspan="2"><input type="submit" value="Save" /></td></tr>
            </table>
        </form>
        <script type="text/javascript">
            var googie_spell = new GoogieSpell("static_core/googiespell/", "/webclient/spellchecker/?lang=");
            googie_spell.decorateTextarea("id_content", null, "600px");
        </script>
    </div>
    
    {% endif %}

    {% if form_url %}
    <div class="url">
        <h1>Add new url:</h1>
        <form action="" method="post"><input type="hidden" name="action" value="url" />
        <table>
            {% for field in form_url %}
                <tr>
                    <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text }}</td>
                </tr>
            {% endfor %}
                <tr><td colspan="2"><input type="submit" value="Save" /></td></tr>
            </table>
        </form>
    </div>
    {% endif %}

    {% if form_file %}
    <div class="file">
        <h1>Upload a file</h1>
        <form enctype="multipart/form-data" method="post"><input type="hidden" name="action" value="file" />
        <table>
        {% for field in form_file %}
            <tr>
                <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text }}</td>
            </tr>
        {% endfor %}
        </table>
        <input type="submit" value="Upload" />
        </form>
    </div>
    {% endif %}
</div>

