{% load i18n %}
{% load custom_tags %}

    <link rel="stylesheet" href="{% url webstatic "css/googiespell.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% url webstatic "css/annotation.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% url webstatic "css/autocomplete.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% url webstatic "css/tooltip.css" %}" type="text/css" media="screen"/>

    <link rel="stylesheet" href="/webgateway/appmedia/css/jquery-plugin-slider.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/webgateway/appmedia/css/weblitz-viewport.css" type="text/css" media="screen"/>

    <script type="text/javascript" src="{% url webstatic "javascript/ui/ui.tabs.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/jquery.tooltip.js" %}"></script>
    
    <script type="text/javascript" src="{% url webstatic "javascript/googiespell/AJS.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/googiespell/googiespell.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/googiespell/cookiesupport.js" %}"></script>

    <script type="text/javascript">
        $(document).ready(function() 
            {                   
                {% if manager.image %}
                    var viewport = $.WeblitzViewport($("#viewport"), "/webgateway" );
                    viewport.load({{ manager.image.id }});
                {% endif %}
                {% if manager.well %}
                    var viewport = $.WeblitzViewport($("#viewport"), "/webgateway" );
                    viewport.load({{ manager.well.selectedWellSample.image.id }});
                {% endif %}

                $("#annotation_tabs").tabs();

                $("{% for t in manager.tag_annotations %}#tagdesc{{ t.id }}, {% endfor %}#tag").tooltip({ 
                    track: true, 
                    delay: 0, 
                    showURL: false, 
                    opacity: 1, 
                    fixPNG: true, 
                    showBody: " - ", 
                    top: -15, 
                    left: 5 
                });

            });

    </script>
    

<div id="annotation_form" >
    <div id="annotation_tabs" class="ui-tabs">
        <ul>
            {% if manager.image or manager.well %}<li><a href="#preview_tab">{% trans "Preview" %}</a></li>{% endif %}
            <li><a href="#metadata_tab">{% trans "Metadata" %}</a> |</li>
            <li><a href="#annotation_tab">{% trans "Annotations" %}</a> |</li>
        </ul>
        <div class="clear"></div>
        
        
        {% if manager.image %}
        <!-- VIEWER -->
        <div id="preview_tab">
            <h1>{{ manager.image.name }}</h1>
            <div class="miniview" id="viewport"></div>
            {% if manager.image.description %}
            <br/>
            <p>Description:</p>
            <div class="description">{{ manager.image.description|default_if_none:"no description"|linebreaks }}</div>
            {% endif %}
        </div>
        {% endif %}
        {% if manager.well %}
        <!-- VIEWER -->
        <div id="preview_tab">
            <h1>{{ manager.well.selectedWellSample.image.name }}</h1>
            <div class="miniview" id="viewport"></div>
            {% if manager.well.description %}
            <br/>
            <p>Description:</p>
            <div class="description">{{ manager.well.description|default_if_none:"no description"|linebreaks }}</div>
            {% endif %}
        </div>
        {% endif %}
        
        <!-- METADATA -->
        <div id="metadata_tab">
            {% if manager.image %}
            <h1>{{ manager.image.name }}{% if manager.image.isOwned %} <a href="{% url manage_action_containers "edit" "image" manager.image.id %}?url={{url}}"><img src="{% url webstatic "images/color_line16.png" %}" alt="e" title="edit"/></a> | {% endif %}<a href="#" onclick="return popup('{% url image_viewer manager.image.id %}')"><img src="{% url webstatic "images/tree/kview.png" %}" alt="v" title="view"/></a></h1>            
            <table>
                <!--<tr><td><label>{% trans "Image name" %}: </label></td><td></td></tr>-->
                <!--{% if manager.image.description %}<tr><td colspan="2">{{ manager.image.description|default_if_none:"no description"|linebreaks }}</td></tr>{% endif %}-->
                <tr><td><label>{% trans "Image date" %}: </label></td><td>{{ manager.image.getDate|date:"Y m d H:i:s" }}</td></tr>
                <tr><td><label>{% trans "Dimensions" %} (XYZT): </label></td><td>{{ manager.image.getWidth }} x {{ manager.image.getHeight }} x {{ manager.image.z_count }} x {{ manager.image.t_count }}</td></tr>
                <tr><td><label>{% trans "Pixel size" %} (XYZ) [&micro;m]: </label></td><td>{{ manager.image.getPixelSizeX|default_if_none:"-" }} x {{ manager.image.getPixelSizeY|default_if_none:"-" }} x {{ manager.image.getPixelSizeZ|default_if_none:"-" }}</td></tr>
            </table>
            {% else %}
                {% if manager.dataset %}
                <h1>Dataset details:{% if manager.dataset.isOwned %} <a href="{% url manage_action_containers "edit" "dataset" manager.dataset.id %}?url={{url}}">{% trans "Edit" %} <img src="{% url webstatic "images/color_line16.png" %}" alt="e" title="edit"/></a>{% endif %}
                </h1>
                <table>
                    <tr><td><label>{% trans "Dataset name" %}:</label></td><td>{{ manager.dataset.name }}</td></tr>
                    <tr><td><label>{% trans "Dataset date" %}:</label></td><td>{{ manager.dataset.getDate|date:"Y m d H:i:s" }}</td></tr>
                    <tr><td><label>{% trans "Description" %}:</label></td><td>{{ manager.dataset.description|default_if_none:"no description"|linebreaks }}</td></tr>
                </table>
                {% else %}
                    {% if manager.project %}
                    <h1>Project details:{% if manager.project.isOwned %} <a href="{% url manage_action_containers "edit" "project" manager.project.id %}?url={{url}}">{% trans "Edit" %} <img src="{% url webstatic "images/color_line16.png" %}" alt="e" title="edit"/></a>{% endif %} 
                    </h1>
                    <table>
                        <tr><td><label>{% trans "Project name" %}:</label></td><td>{{ manager.project.name }}</td></tr>
                        <tr><td><label>{% trans "Project date" %}:</label></td><td>{{ manager.project.getDate|date:"Y m d H:i:s" }}</td></tr>
                        <tr><td><label>{% trans "Description" %}:</label></td><td>{{ manager.project.description|default_if_none:"no description"|linebreaks }}</td></tr>
                    </table>
                    {% endif %}
                {% endif %}
            {% endif %}
            
            {% if manager.well %}
            <h1>{{ manager.well.selectedWellSample.image.name }} {% if manager.well.selectedWellSample.image.isOwned %} <a href="{% url manage_action_containers "edit" "image" manager.well.selectedWellSample.image.id %}?url={{url}}"><img src="{% url webstatic "images/color_line16.png" %}" alt="e" title="edit"/></a> | {% endif %}<a href="#" onclick="return popup('{% url image_viewer manager.well.selectedWellSample.image.id %}')"><img src="{% url webstatic "images/tree/kview.png" %}" alt="v" title="view"/></a></h1>
            <table>
                <!--<tr><td><label>{% trans "Image name" %}:</label></td><td>{{ manager.well.selectedWellSample.image.name }}</td></tr>-->
                <!--{% if manager.well.selectedWellSample.image.description %}<tr><td colspan="2">{{ manager.well.selectedWellSample.image.description|default_if_none:"no description"|linebreaks }}</td></tr>{% endif %}-->
                <tr><td><label>{% trans "Image date" %}:</label></td><td>{{ manager.well.selectedWellSample.image.getDate|date:"Y m d H:i:s" }}</td></tr>
                <tr><td><label>{% trans "Dimensions" %} (XYZT):</label></td><td>{{ manager.well.selectedWellSample.image.getWidth }} x {{ manager.well.selectedWellSample.image.getHeight }} x {{ manager.well.selectedWellSample.image.z_count }} x {{ manager.well.selectedWellSample.image.t_count }}</td></tr>
                <tr><td><label>{% trans "Pixel size" %} (XYZ) [&micro;m]: </label></td><td>{{ manager.well.selectedWellSample.image.getPixelSizeX|default_if_none:"-" }} x {{ manager.well.selectedWellSample.image.getPixelSizeY|default_if_none:"-" }} x {{ manager.well.selectedWellSample.image.getPixelSizeZ|default_if_none:"-" }}</td></tr>
            </table>
            {% else %}
                {% if manager.plate %}
                <h1>Plate details: <a href="{% url manage_action_containers "edit" "plate" manager.plate.id %}?url={{url}}">{% trans "Edit" %} <img src="{% url webstatic "images/color_line16.png" %}" alt="e" title="edit"/></a>
                </h1>
                <table>
                    <tr><td><label>{% trans "Plate name" %}:</label></td><td>{{ manager.plate.name }}</td></tr>
                    <tr><td><label>{% trans "Plate date" %}:</label></td><td>{{ manager.plate.getDate|date:"Y m d H:i:s" }}</td></tr>
                    <tr><td><label>{% trans "Description" %}:</label></td><td>{{ manager.plate.description|default_if_none:"no description"|linebreaks }}</td></tr>
                </table>
                {% else %}
                    {% if manager.screen %}
                    <h1>Screen details: <a href="{% url manage_action_containers "edit" "screen" manager.screen.id %}?url={{url}}">{% trans "Edit" %} <img src="{% url webstatic "images/color_line16.png" %}" alt="e" title="edit"/></a>
                    </h1>
                    <table>
                        <tr><td><label>{% trans "Screen name" %}:</label></td><td>{{ manager.screen.name }}</td></tr>
                        <tr><td><label>{% trans "Screen date" %}:</label></td><td>{{ manager.screen.getDate|date:"Y m d H:i:s" }}</td></tr>
                        <tr><td><label>{% trans "Description" %}:</label></td><td>{{ manager.screen.description|default_if_none:"no description"|linebreaks }}</td></tr>
                    </table>
                    {% endif %}
                {% endif %}
            {% endif %}
            
            {% if manager.well or manager.image%}
            <h1>Acquisition metadata:</h1>

            <table class="metadata_details">
            {% if manager.global_metadata %}
                <tr><th colspan="3" class="header"><h1>{% trans "Global metadata" %}: <input type="button" value="Download {{ manager.original_metadata.getFileName }}" onClick="document.location.href='{% url manage_annotation "download" manager.original_metadata.id %}';"/></h1></th></tr>
                {% for gm in manager.global_metadata %}
                    <tr><td><label>{{ gm.0 }}</label></td><td>{{ gm.1 }}</td></tr>
                {% endfor %}
                <tr><th colspan="3"><br/></th></tr>
            {% endif %}
            {% if manager.series_metadata %}
                <tr><th colspan="3" class="header"><h1>{% trans "Series metadata" %}: <input type="button" value="Download {{ manager.original_metadata.getFileName }}" onClick="document.location.href='{% url manage_annotation "download" manager.original_metadata.id %}';"/></h1></th></tr>
                {% for sm in manager.series_metadata %}
                    <tr><td><label>{{ sm.0 }}</label></td><td>{{ sm.1 }}</td></tr>
                {% endfor %}
                <tr><th colspan="3"><br/></th></tr>
            {% endif %}
            {% if form_objective or form_environment or form_stageLabel %}
                <tr><th colspan="3" class="header"><h1>{% trans "Image" %}:</h1></th></tr>
                {% if form_objective %}
                <tr><th><br/>{% trans "Objective" %}:</th><th colspan="2"></th></tr>
                    {% for field in form_objective %}
                    <tr><td>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</td>
                        <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
                {% if form_environment %}
                <tr><th><br/>{% trans "Environment" %}:</th><th colspan="2"></th></tr>
                    {% for field in form_environment %}
                    <tr><td>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</td>
                        <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
                {% if form_stageLabel %}
                <tr><th><br/>{% trans "Stage label" %}:</th><th colspan="2"></th></tr>
                    {% for field in form_stageLabel %}
                    <tr><td>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</td>
                        <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
                <tr><th colspan="3"><br/></th></tr>
            {% endif %}
            {% if form_objective or form_filters or form_detectors %}
                <tr><th colspan="3" class="header"><h1>{% trans "Microscope" %}:</h1></th></tr>
                {% if form_objective %}
                <tr><th><br/>{% trans "Objective" %}:</th><th colspan="2"></th></tr>
                    {% for field in form_objective %}
                    <tr><td>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</td>
                        <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text }}</td>
                    </tr>
                    {% endfor %}
                {% endif %}
                {% for form in form_filters %}
                    <tr><th><br/>{% trans "Filter" %}:</th><th colspan="2"></th></tr>
                    {% for field in form %}
                    <tr><td>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</td>
                        <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
                {% for form in form_detectors %}
                    <tr><th><br/>{% trans "Detector" %}:</th><th colspan="2"></th></tr>
                    {% for field in form %}
                    <tr><td>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</td>
                        <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
                <tr><th colspan="3"><br/></th></tr>
            {% endif %}
            {% for ch in form_channels %}
                <tr><th colspan="3" class="header"><h1>{% trans "Channel" %} : <span style="padding:0 3px; color:#000; border:1px solid #bbb; ;background-color: #{{ ch.color }};">{{ ch.name }}</span></h1></th></tr>
                {% for field in ch.form %}
                <tr><td>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</td>
                    <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text }}</td>
                </tr>
                {% endfor %}
                {% if ch.form_emission_filter %}
                <tr><th><br/>{% trans "Filter" %}:</th><th colspan="2"></th></tr>
                {% for field in ch.form_emission_filter %}
                <tr><td>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</td>
                    <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text }}</td>
                </tr>
                {% endfor %}
                {% endif %}
                {% if ch.form_detector_settings %}
                <tr><th><br/>{% trans "Detector" %}:</th><th colspan="2"></th></tr>
                {% for field in ch.form_detector_settings %}
                <tr><td>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</td>
                    <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text }}</td>
                </tr>
                {% endfor %}
                {% endif %}
                {% if ch.form_light_source %}
                <tr><th><br/>{% trans "Light source" %}:</th><th colspan="2"></th></tr>
                {% for field in ch.form_light_source %}
                <tr><td>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</td>
                    <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text }}</td>
                </tr>
                {% endfor %}
                {% endif %}
                {% if ch.form_dichroic %}
                <tr><th><br/>{% trans "Dichroic" %}:</th><th colspan="2"></th></tr>
                {% for field in ch.form_dichroic %}
                <tr><td>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</td>
                    <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text }}</td>
                </tr>
                {% endfor %}
                {% endif %}
                <tr><th colspan="3"><br/></th></tr>
            {% endfor %}
            </table>
            <br/><p>*{% trans "N/A - this value is not available." %}</p>
            {% endif %}
        </div>        
        
        <!-- ANNOTATIONS -->
        <div id="annotation_tab">
            <div class="clear"></div>
            <h1>{% trans "Comments" %}:</h1>
            {% if manager.txannSize %}
            <div class="lncomments">            
                {% for tann in manager.text_annotations %}
                <div id="ann_comment_wrapper">
                    <div class="avatar"><img src="{% url load_photo tann.details.owner.id.val %}" alt="{{ tann.getOwnerFullName }}" title="{{ tann.getOwnerFullName }}" width="40" height="40" /></div>
                    <div class="ann_comment"><span class="ann_comment_header">{{ tann.getOwnerFullName }} {% trans "posted comment at" %} {{ tann.creationEventDate|date:"Y m d H:i:s" }}</span> {% if tann.canWrite %}<a href="{% url manage_action_containers "edit" "comment" tann.id %}?url={{ url }}"><img src="{% url webstatic "images/color_line16.png" %}" alt="e" title="edit"/></a>{% endif %}<br/>
                        {{ tann.textValue|safe|linebreaks }}
                    </div>
                </div>
                <div class="clear"></div>
               
                {% endfor %}
            </div>
            {% else %}
                <p>Have not been commented yet.</p>    
            {% endif %}
            
            <div class="clear"></div>
            
            {% if form_comment %}
            <div class="comment">
                <h1>{% trans "Add new comment" %}:</h1>
                <form action="#comments_tab" method="post"><input type="hidden" name="action" value="comment" />
                <table>
                    {% for field in form_comment %}
                        <tr>
                            <td colspan="2">{% if field.errors %}{{ field.errors }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td>{{ field }}</td><td>{{ field.help_text|safe }}</td>
                        </tr>
                    {% endfor %}
                        <tr><td colspan="2"><input type="submit" value="{% trans 'Save' %}" /></td></tr>
                </table>
                </form>
                <script type="text/javascript">
                    var googie_spell = new GoogieSpell("static_core/googiespell/", "{% url spellchecker %}"+"?lang=");
                    googie_spell.decorateTextarea("id_content", null, "600px");
                </script>
            </div>
            {% endif %}

            <div class="clear"></div>
            <!-- TAGS -->
            <h1>{% trans "Tags" %}:</h1>
            {% if manager.tgannSize %}
            <div class="lntags"> <h1>                  
            {% for tag in manager.tag_annotations %}
                <span id="tagdesc{{ tag.id }}" title="{{ tag.textValue }} - <small>{{ tag.description|default_if_none:"no description"|safe|linebreaks  }}</small>"><a href="{% url manage_data_by_tag tag.id %}"> {{ tag.textValue }}</a></span> {% if tag.canWrite %}<a href="{% url manage_action_containers "remove" %}?parent={% if manager.image %}img-{{ manager.image.id}}{% else %}{% if manager.dataset %}ds-{{ manager.dataset.id}}{% else %}{% if manager.project %}pr-{{ manager.project.id}}{% endif %}{% endif %}{% endif %}&source=tann-{{ tag.id }}&url={{ url }}#tags_tab" onClick="return confirm('Unlink tag?');"><img src="{% url webstatic "images/cut16.png" %}" alt="u" title="unlink"/></a>{% endif %}, 
            {% endfor %}
            </h1></div>
            {% else %}
                <p>Have not been tagged yet.</p>
            {% endif %}
            
            <div class="clear"></div>
            
            {% if form_tag %}
            <div class="tags">
                <h1>{% trans "Add new tag" %}:</h1>
                <form action="#tags_tab" method="post"><input type="hidden" name="action" value="tag" />
                <table>
                    {% for field in form_tag %}
                        <tr>
                            <td></td><td colspan="2">{% if field.errors %}{{ field.errors }}{% endif %}</td>
                        </tr>
                        <tr>
                            <td>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</td><td>{{ field }}</td><td>{{ field.help_text|safe }}</td>
                        </tr>
                    {% endfor %}
                    <tr><td></td><td colspan="2"><input type="submit" value="{% trans 'Save' %}" /></td></tr>
                    </table>
                </form>
            </div>
            {% endif %}
            
            <div class="extags">
                <h1>{% trans "Use existing tag" %}:</h1>
                <form action="#tags_tab" method="post"><input type="hidden" name="action" value="usetag" />
                <table>
                {% for field in form_tags %}
                    <tr>
                        <td colspan="2">{% if field.errors %}{{ field.errors }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td>{{ field }}</td><td>{{ field.help_text|safe }}</td>
                    </tr>
                {% endfor %}
                <tr><td colspan="2"><input type="submit" value="{% trans 'Save' %}" /></td></tr>
                </table>
                </form>
            </div>

            <div class="clear"></div>
            
            <!-- FILES -->
            <h1>{% trans "Files" %}:</h1>
            {% if manager.fileannSize %}
            <div class="lnfiles">
                {% for fileann in manager.file_annotations %}
                <p><a href="#" onClick="document.location.href='{% url manage_annotation "download" fileann.id %}';">{{ fileann.getFileName }}</a> ({{ fileann.getFileSize|default_if_none:0|filesizeformat }}) {% trans "by" %} {{ fileann.getDetails.getOwner.getInitialName }} {% trans "at" %} {{ fileann.creationEventDate|date:"Y m d H:i:s" }} {% if fileann.canWrite and not fileann.isOriginalMetadat %}<a href="{% url manage_action_containers "remove" %}?parent={% if manager.image %}img-{{ manager.image.id}}{% else %}{% if manager.dataset %}ds-{{ manager.dataset.id}}{% else %}{% if manager.project %}pr-{{ manager.project.id}}{% endif %}{% endif %}{% endif %}&source=fann-{{ fileann.id }}&url={{ url }}#files_tab" onClick="return confirm('Unlink file?');"><img src="{% url webstatic "images/cut16.png" %}" alt="u" title="unlink"/></a>{% endif %}</p>
                {% endfor %}
            </ol>
            </div>
            {% else %}
                <p>No file has been attached yet.</p>
            {% endif %}
            
            <div class="clear"></div>
            
            {% if form_file %}
            <div class="file">
                <h1>{% trans "Upload a new file" %}:</h1>
                <form action="#files_tab" enctype="multipart/form-data" method="post"><input type="hidden" name="action" value="file" />
                <table>
                {% for field in form_file %}
                    <tr>
                        <td colspan="2">{% if field.errors %}{{ field.errors }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td>{{ field }}</td><td>{{ field.help_text|safe }}</td>
                    </tr>
                {% endfor %}
                <tr><td colspan="2"><input type="submit" value="{% trans 'Save' %}" /></td></tr>
                </table>
                </form>
            </div>
            {% endif %}

            <div class="exfile">
                <h1>{% trans "Attache existing file" %}:</h1>
                <form action="#files_tab" method="post"><input type="hidden" name="action" value="usefile" />
                <table>
                {% for field in form_files %}
                    <tr>
                        <td colspan="2">{% if field.errors %}{{ field.errors }}{% endif %}</td>
                    </tr>
                    <tr>
                        <td>{{ field }}</td><td>{{ field.help_text|safe }}</td>
                    </tr>
                {% endfor %}
                <tr><td colspan="2"><input type="submit" value="{% trans 'Save' %}" /></td></tr>
                </table>
                </form>
            </div>
            
        </div>

    </div>
    
</div>
