{% load i18n %}
{% load markup %}
{% load custom_tags %}
<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="{% url webstatic "css/layout.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% url webstatic "css/menu.css" %}" type="text/css" />
    <link rel="stylesheet" href="{% url webstatic "css/images.css" %}" type="text/css" media="screen"/>
    
    {% block link %}{% endblock %}

    <link rel="shortcut icon" href="{% url webstatic "images/ome.ico" %}" type="image/x-icon" />

    <title>{% trans "Webclient" %} {% block title %}{% endblock %}</title>

    {% block jscript %}{% endblock %}

    {% block script %}{% endblock %}

</head>
<body>
<div id="shareBodyWrapper">
<div id="share">
    <div id="share_menu">
        <h1>{% trans "Go back to" %} <a href="{% url manage_shares %}">{% trans "Webclient" %}</a>{% if share.share.isOwned %} {% trans "or Edit" %} <a href="{% url manage_share_action "edit" share.share.id %}"><img src="{% url webstatic "images/color_line16.png" %}" alt="e" title="edit"/></a>{% endif %}</h1>
    </div>
    <div id="content">{% block center %}{% endblock %}</div>
</div>
</div>
<div id="footer">
    <div>
        <a href="{% url webindex %}" title="Home">{% trans "Home" %}</a> | 
        <a href="{% url basket %}" title="Basket">{% trans "Basket" %}</a> |  
        <a href="{% url manage_data "mydata" %}?view=table" title="My Data">{% trans "My Data" %}</a> | 
        <a href="{% url manage_data "userdata" %}?view=table" title="Userdata">{% trans "Team" %}</a> | 
        <a href="{% url manage_shares %}?view=table" title="Share">{% trans "Share" %}</a> | 
        <a href="{% url history %}" title="History">{% trans "History" %}</a> | 
        <a href="{% url search %}?view=table" title="Search">{% trans "Search" %}</a> | 
        <a href="{% url importer %}" title="Import">{% trans "Import" %}</a> | 
        <a href="{% url myaccount %}" title="Person">{% trans "Person" %}</a> | 
        <a href="{% url help %}" title="Help">{% trans "Help" %}</a> | 
        <a href="mailto:" title="Contact">{% trans "Contact" %}</a>    
    </div>
    <p>&copy;2009 University of Dundee & Open Microscopy Environment</p>
    <div class="separate70"></div>
</div>
</body>
</html>
