{% extends "omeroweb/base_main.html" %}
{% load i18n %}
{% load markup %}
{% load custom_tags %}

{% block header %}
<div id="path">
    
    <div id="logout">
        | {% for field in form_active_group %} {% trans "current group" %}: {{ field }} {% if field.errors %}{{ field.errors }}{% endif %}{% endfor %}
        | <a href="{% url weblogout %}">{% trans "logout" %}</a> |
    </div>
    <div id="basket"><a href="{% url basket_action %}"><img src="{% url webstatic "images/basket.png" %}" /> {% trans "BASKET" %}</a> {% trans "contains" %} <span id="cartTotal">{{ nav.basket }}</span> {% trans "items" %}</div>
    <div id="logout">
        | {% for field in form_active_group %} {% trans "current group" %}: {{ field }} {% if field.errors %}{{ field.errors }}{% endif %}{% endfor %}
        | <a href="{% url weblogout %}">{% trans "logout" %}</a> |
    </div>
    
</div>

<div class="clear"> </div>

{% endblock %}

{% block content %}

<table cellspacing="0" cellpadding="0">
    <tbody>
    <tr>
        <td id="left_panel">{% block left %}{% endblock %}</td>
        <td class="trayhandle-left collapsibletrayhandle-left">
            <div id="swapTree"><img id="lhid_trayhandle_icon_left" class="expanded-left" src="{% url webstatic "images/tree/spacer.gif" %}" tabindex="0"></div>
        </td>
        <td id="center_panel">{% block center %}{% endblock %}</td>
        <td class="trayhandle collapsibletrayhandle-right">
            <div id="swapMeta"><img id="lhid_trayhandle_icon_right" class="expanded-right" src="{% url webstatic "images/tree/spacer.gif" %}" tabindex="0"></div>
        </td>
        <td id="right_panel">{% block right %}{% endblock %}</td>
    </tr>
    </tbody>
</table>

{% endblock %}