{% load i18n %}
{% load markup %}
{% load custom_tags %}
<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/menu.css" type="text/css" />
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/images.css" type="text/css" media="screen"/>
    
    {% block link %}{% endblock %}

    <link rel="shortcut icon" href="{% get_webclient_static_url %}/images/ome.ico" type="image/x-icon" />

    <title>{% trans "Webclient" %} {% block title %}{% endblock %}</title>

    {% block jscript %}{% endblock %}

    {% block script %}{% endblock %}

</head>
<body>
<div id="shareBodyWrapper">
<div id="share">
    <div id="share_menu">
        <h1>{% trans "Go back to" %} <a href="{% get_webclient_root_url %}/share/">{% trans "Webclient" %}</a>{% if share.share.isOwned %} {% trans "or Edit" %} <a href="{% get_webclient_root_url %}/share/edit/{{ share.share.id }}/"><img src="{% get_webclient_static_url %}/images/color_line16.png" alt="e" title="edit"/></a>{% endif %}</h1>
    </div>
    <div id="content">{% block center %}{% endblock %}</div>
</div>
</div>
<div id="footer">
    <div>
        <a href="{% get_webclient_root_url %}/" title="Home">{% trans "Home" %}</a> | 
        <a href="{% get_webclient_root_url %}/mydata/?view=table" title="My Data">{% trans "My Data" %}</a> | 
        <a href="{% get_webclient_root_url %}/userdata/?view=table" title="Collaboration">{% trans "Team" %}</a> | 
        <a href="{% get_webclient_root_url %}/share/?view=table" title="Share">{% trans "Share" %}</a> | 
        <a href="{% get_webclient_root_url %}/history/calendar/{% get_calendar_url %}" title="History">{% trans "History" %}</a> | 
        <a href="{% get_webclient_root_url %}/search/?view=table" title="Search">{% trans "Search" %}</a> | 
        <a href="{% get_webclient_root_url %}/impexp/image/" title="Import">{% trans "Import" %}</a> | 
        <a href="{% get_webclient_root_url %}/myaccount/" title="Person">{% trans "Person" %}</a> | 
        <a href="{% get_webclient_root_url %}/help/index/" title="Help">{% trans "Help" %}</a> | 
        <a href="mailto:" title="Contact">{% trans "Contact" %}</a>        
    </div>
    <p>&copy;2009 University of Dundee & Open Microscopy Environment</p>
    <div class="separate70"></div>
</div>
</body>
</html>
