{% extends "omeroweb/base.html" %}
{% load i18n %}
{% load markup %}
{% load custom_tags %}
{% load wikitags %}

{% block link %}
    <link rel="stylesheet" href="{% url webstatic "css/container.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% url webstatic "css/tooltip.css" %}" type="text/css" media="screen"/>
{% endblock %}

{% block jscript %}
    
    <script type="text/javascript" src="{% url webstatic "javascript/jquery.tooltip.js" %}"></script>

{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% url webstatic "javascript/actions.js" %}"></script>    
    <script type="text/javascript" src="{% url webstatic "javascript/basket.js" %}"></script>
    
    <script type="text/javascript">
        $(function() {
            $("#sharing, #empty").tooltip({ 
                track: true, 
                delay: 0, 
                showURL: false, 
                opacity: 1, 
                fixPNG: true, 
                showBody: " - ", 
                top: -15, 
                left: 5 
            });
        });
    </script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            $("#products li.product").css('width', 160);
            $("#products li.product").css('height', 150);
            $('#products img.imgzoom').attr('width', 120);
            $('#products img.catzoom').attr('width', 120);
        });
    </script>
    <script>
    var popup = function (url) {
          window.open(url,'_blank','toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,width=1000,height=800');
          return false;
    }
    </script>
    
{% endblock %}

{% block top %}

<div>
    <h1>{% trans "Basket" %}</h1>
    <p>{% trans "This page shows the current contents of your basket. You can delete any item from your basket by clicking the delete button below the item. If you have finished adding items to your basket, you can go to the <strong>Share</strong> or <strong>Discussion</strong> by choosing the button from the menu below." %}</p>
</div>

<div class="separate30"></div>

{% endblock %}


{% block left %}
<!--content-->

<div>
    
    <div id="view"> 
        | {% if basket.sizeOfBasket %}<a href="{% url basket_action "toshare" %}" target="metadata_details"><img src="{% url webstatic "images/folder_html16.png" %}" alt="sh" title="Create share for images stored currently in the basket"/></a>{% endif %}
        <a href="{% url basket_action "todiscuss" %}" target="metadata_details"><img src="{% url webstatic "images/wp_protocol16.png" %}" alt="d" title="Create discussion."/></a> |
        {% if basket.sizeOfBasket %}<input type="submit" name="action" value="Empty" onClick="location.href='{% url empty_basket %}'"/>
        <span id="empty" title="{% trans 'Empty basket' %} - <small>{% trans 'Empty the basket.' %}</small>"><img src="{% url webstatic "images/help16.png" %}" /></span> |{% endif %}
    </div>
    <div class="clear"> </div>
        
    <div class="content">
        {% include "omeroweb/basket_data_icon.html" %}
    </div>
</div>

{% endblock %}

{% block right %}

<iframe width="100%" height="680" name="metadata_details"></iframe>

{% endblock %}
