{% extends "omeroweb/base.html" %}
{% load markup %}
{% load custom_tags %}


{% block link %}
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/share.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/tree.css" type="text/css" media="screen"/>
	<link rel="stylesheet" href="{% get_webclient_static_url %}/css/datepicker.css" type="text/css" />
	<link rel="stylesheet" href="{% get_webclient_static_url %}/css/googiespell.css" type="text/css" media="screen"/>
{% endblock %}

{% block jscript %}
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery_1.2.6.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/ui.core.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/ui.datepicker.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.simple.tree.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/AJS.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/googiespell.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/cookiesupport.js"></script>
{% endblock %}


{% block script %}
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/menu.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/blitzcon.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/popup.js"></script>
    
    <script type="text/javascript">
    var simpleTreeCollection;
    $(document).ready(function(){
        simpleTreeCollection = $('.simpleTree').simpleTree({
            autoclose: false,
            afterClick:function(node){
                //alert("text-"+$('span:first',node).text());
            },
            afterDblClick:function(node){
                //alert("text-"+$('span:first',node).text());
            },
            afterMove:function(destination, source, pos){
                //alert("destination-"+$('span:first',destination).html()+" source-"+$('span:first',source).text()+" pos-"+pos);
                //alert("destination-"+$(destination).attr('id')+" source-"+$(source).attr('id')+" pos-"+pos);
            },
            afterAjax:function(){
                //alert('Loaded');
            },
            animate:true
            //,docToFolderConvert:true
            });

    });
    </script>
	<script>
      $(document).ready(function(){
          $('#id_expiretion').datepicker({firstDay: 1, dateFormat: 'yy-mm-dd'});
      });
    </script>
{% endblock %}

{% block center %}
	<h1>Create new share</h1>
    
    <ul class="simpleTree">
    <li class="root" id='0'><span>share@{{ nav.blitz }}</span>
        <ul>
        {% for c in basket.projectInBasket %}
        <li id='pr-{{ c.id }}'><span>{{ c.id }}  {{ c.name }}</span> (by {{c.getOwner}})
            <ul>
                {% for d in c.listChildren %}
                    <li id='ds-{{ d.id }}' ><span>{{ d.id }} {{ d.name }}</span> (by {{d.getOwner}})
                        <ul class="ajax">
                            <li id='{{ d.child.id.val }}'>{url:{% get_webclient_root_url %}/basket/dataset/{{ d.id }}/}</li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
        {% for c in basket.datasetInBasket %}
            <li id='ds-{{ c.id }}'><span>{{ c.id }} {{ c.name }}</span> (by {{c.getOwner}})
                <ul class="ajax">
                    <li id='{{ c.id }}'>{url:{% get_webclient_root_url %}/basket/dataset/{{ c.id }}/}</li>
                </ul>
            </li>
        {% endfor %}
        {% for d in basket.imageInBasket %}
            <li id='img-{{ d.id }}'> {{ d.id }} {{ d.shortName }} <a href="#" onclick="popup('','_blank','{{ d.id }}'); return false;"><img src="{% get_webclient_static_url %}/images/tree/kview.png" alt="v" title="view"/></a> (by {{d.getOwner}})</li>
        {% endfor %}
        </ul>
    </li></ul>
    
	<div>
		<form action="{% get_webclient_root_url %}/share/create/" method="post">
			<table class="forms">
			{% for field in form %}
				<tr><th>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</th>
					<td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}{{ field.help_text }}</td>
				</tr>
			{% endfor %}
			    <tr><td colspan="2"><input type="submit" value="Save" /></td></tr>
			</table>
		</form>
		<script type="text/javascript">
            var googie_spell = new GoogieSpell("static_core/googiespell/", "/webclient/spellchecker/?lang=");
            googie_spell.decorateTextarea("id_message", null, "600px");
        </script>
	</div>


<script type="text/javascript">
$(document).ready(
	function () {
		$('a.closeEl').bind('click', toggleContent);
	}
);
var toggleContent = function(e)
{
	var targetContent = $('div.itemContent', this.parentNode.parentNode);
	if (targetContent.css('display') == 'none') {
		targetContent.slideDown(300);
		$(this).html('[-]');
	} else {
		targetContent.slideUp(300);
		$(this).html('[+]');
	}
	return false;
};
</script>
{% endblock %}

