{% extends "omeroweb/base.html" %}
{% load i18n %}
{% load markup %}
{% load custom_tags %}
{% load wikitags %}

{% block link %}
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/images.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/slider.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/basket.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/tooltip.css" type="text/css" media="screen"/>
{% endblock %}

{% block jscript %}
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery_1.2.6.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.tooltip.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.dimensions.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.bgiframe.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.delegate.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/AJS.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/googiespell.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/cookiesupport.js"></script>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/menu.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/blitzcon.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/basket.js"></script>
    
    <script type="text/javascript">
        $(function() {
            $("#sharing, #empty").tooltip({ 
                track: true, 
                delay: 0, 
                showURL: false, 
                opacity: 1, 
                fixPNG: true, 
                showBody: " - ", 
                top: -15, 
                left: 5 
            });
        });
    </script>
{% endblock %}

{% block center %}

{% ifequal basket.sizeOfBasket 0 %}

    <h1>{% trans "Your basket is empty." %}</h1>
    <div class="error"><p>{% trans "Your basket is empty. Please add some of your bio-data from" %} <a href="{% get_webclient_root_url %}/mydata/">{% trans "My data" %}</a> {% trans "or initiate a discussion." %}</p></div>
    
{% else %}

    <h1>{% trans "Your basket contains" %} {{ basket.sizeOfBasket }} {% trans "items." %}</h1>
    
    <div id="cart">
    
    {% if basket.imgSize %}
    <div class="clear"></div>
    <h1>{% trans "Images" %}:</h1>
    <div class="image"><ul id="products">
        {% for e in basket.imageInBasket %}
            <li id="image-{{ e.id }}"class="product"><em>{{ e.name }}</em>
                <a href="#" onclick="popup('','_blank',{{ e.id }}); return false;"><img id="{{ e.id }}" class="imgzoom" src="{% get_webclient_root_url %}/render_thumbnail/64/{{ e.id }}/" alt="image" title="{{ e.name }}"/></a>
                <a href="#" onclick="fromBasket('image', '{{ e.id }}'); return false;"><img src="{% get_webclient_static_url %}/images/cancel16.png" alt="r" title="remove"/></a>
            </li>
        {% endfor %}
    </ul></div>
    {% endif %}
    
    </div>

    <div class="clear"></div>
    <br/>
    <div>
        <h1>{% trans "Available actions" %}:</h1>
        <input type="submit" name="action" value="Share" onClick="location.href='{% get_webclient_root_url %}/basket/toshare/'"/> 
        <span id="sharing" title="{% trans 'Create share' %} - <small>{% trans 'Creates share for images stored currently in the basket.' %}</small>"><img src="{% get_webclient_static_url %}/images/help16.png" /></span> 
        <!--<input type="submit" name="action" value="Blog" onClick="location.href='{% get_webclient_root_url %}/basket/toblog/'"/>
        <input type="submit" name="action" value="Annotate" onClick="location.href='{% get_webclient_root_url %}/basket/toannotate/'"/> 
        <input type="submit" name="action" value="Tag" onClick="location.href='{% get_webclient_root_url %}/basket/totag/'"/>-->
        <input type="submit" name="action" value="Empty" onClick="location.href='{% get_webclient_root_url %}/empty/'"/>
        <span id="empty" title="{% trans 'Empty basket' %} - <small>{% trans 'Empty the basket.' %}</small>"><img src="{% get_webclient_static_url %}/images/help16.png" /></span>
    </div>
    
{% endifequal %}

{% endblock %}
