{% extends "omeroweb/base.html" %}
{% load i18n %}
{% load markup %}
{% load custom_tags %}

{% block link %}
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/basket.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/datepicker.css" type="text/css" />
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/googiespell.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/tooltip.css" type="text/css" media="screen"/>
{% endblock %}

{% block jscript %}
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery_1.2.6.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.tooltip.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.dimensions.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.bgiframe.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.delegate.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/ui.core.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/ui.datepicker.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.simple.tree.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/AJS.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/googiespell.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/cookiesupport.js"></script>
{% endblock %}


{% block script %}
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/menu.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/blitzcon.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/basket.js"></script>
    <script>
      $(document).ready(function(){
          $('#id_expiration').datepicker({firstDay: 1, dateFormat: 'yy-mm-dd'});
          
      });
    </script>
    <script type="text/javascript">
        $(function() {
            $("#markup_c, #enable, #expire").tooltip({ 
                track: true, 
                delay: 0, 
                showURL: false, 
                opacity: 1, 
                fixPNG: true, 
                showBody: " - ", 
                top: -15, 
                left: 5 
            });
        });
    </script>
{% endblock %}

{% block center %}

{% if basket.sizeOfBasket %}
    <h1>{% trans "Create new share" %} ({{ basket.sizeOfBasket }} {% trans "items" %}):</h1>
    
    <div id="cart">
    
    {% if basket.imgSize %}
    <div class="clear"></div>
    <h1>{% trans "Images" %}</h1>
    <div class="image"><ul id="products">
        <li class="clear"> </li>
        {% for e in basket.imageInBasket %}
            <li id="image-{{ e.id }}"class="product"><em>{{ e.name }}</em>
                <a href="#" onclick="popup(null,'_blank',{{ e.id }}); return false;"><img id="{{ e.id }}" class="imgzoom" src="{% get_webclient_root_url %}/render_thumbnail/64/{{ e.id }}/" alt="image" title="{{ e.name }}"/></a>
                <a href="#" onclick="fromBasket('image', '{{ e.id }}'); return false;"><img src="{% get_webclient_static_url %}/images/cancel16.png" alt="r" title="remove"/></a>
            </li>
        {% endfor %}
    </ul></div>
    {% endif %}
    
    <div class="clear"></div>

    <div>
        <form action="{% get_webclient_root_url %}/share/create/" method="post">
            <table>
            {% for field in form %}
                <tr><th>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</th>
                    <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text|safe }}</td>
                </tr>
            {% endfor %}
                <tr><td colspan="2"><input type="submit" value="{% trans 'Save' %}" /></td></tr>
            </table>
        </form>
        <script type="text/javascript">
            var googie_spell = new GoogieSpell("static_core/googiespell/", "/webclient/spellchecker/?lang=");
            googie_spell.decorateTextarea("id_message", null, "600px");
        </script>
    </div>
{% else %}
    <h1>{% trans "Your basket is empty." %}</h1>
    <div class="error"><p>{% trans "Your basket is empty. Please add some of your bio-data from" %} <a href="{% get_webclient_root_url %}/mydata/">{% trans "My data" %}</a>.</p></div>
{% endif %}
{% endblock %}

