{% extends "omeroweb/base.html" %}
{% load markup %}
{% load custom_tags %}
{% load wikitags %}

{% block link %}
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/images.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/slider.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/basket.css" type="text/css" media="screen"/>
{% endblock %}

{% block jscript %}
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery_1.2.6.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/AJS.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/googiespell.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/cookiesupport.js"></script>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/menu.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/blitzcon.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/popup.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/basket.js"></script>
{% endblock %}

{% block center %}

{% ifequal basket.sizeOfBasket 0 %}

    <h1>Your basket is empty.</h1>
    <div class="error"><p>Your basket is empty. Please add some of your bio-data from <a href="{% get_webclient_root_url %}/mydata/">My data</a> or initiate a discussion.</p></div>
    <div>Available actions: 
        <input type="submit" name="action" value="Discuss" onClick="location.href='{% get_webclient_root_url %}/basket/todiscuss/'"/> 
        <input type="submit" name="action" value="Blog" onClick="location.href='{% get_webclient_root_url %}/basket/toblog/'"/> 
    </div>
    
{% else %}

    <h1>Your basket containes {{ basket.sizeOfBasket }} items:</h1>
    
    <div id="cart">
    {% if basket.prSize or basket.dsSize %}
    <h1>Containers</h1>
    {% if basket.prSize %}
    {% for c in basket.projectInBasket %}
    <div class="clear"></div>
    <div id="project-{{ c.id }}" class="project">Project: <b>{{ c.name }}</b> <img src="{% get_webclient_static_url %}/images/messagebox_info16.png" title="info" alter="i"/><a href="#" onclick="fromBasket('project', '{{ c.id }}'); return false;"><img src="{% get_webclient_static_url %}/images/cancel16.png" alt="r" title="remove"/></a>
        {% if c.copyDatasetLinks %}
        {% for d in c.listChildren %}
        <div class="datasetInProject">Dataset: <b>{{ d.name }}</b> <img src="{% get_webclient_static_url %}/images/messagebox_info16.png"/>
            {% if d.copyImageLinks %}
            {% for e in d.listChildren %}
            <div class="imageInDataset"><ul id="products">
                <li class="product"><em>{{ e.name }}</em>
                    <a href="#" onclick="popup('','_blank',{{ e.id }}); return false;"><img id="{{ e.id }}" class="imgzoom" src="{% get_webclient_root_url %}/render_thumbnail/64/{{ e.id }}/" alt="image" title="{{ c.name }}"/></a>
                </li>
            </ul></div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
    
    {% if basket.dsSize %}
    <div class="clear"></div>
    {% for d in basket.datasetInBasket %}
    <div id="dataset-{{ d.id }}" class="dataset">Dataset: <b>{{ d.name }}</b> <img src="{% get_webclient_static_url %}/images/messagebox_info16.png"/><a href="#" onclick="fromBasket('dataset', '{{ d.id }}'); return false;"><img src="{% get_webclient_static_url %}/images/cancel16.png" alt="r" title="remove"/></a>
        {% if d.copyImageLinks %}
        {% for e in d.listChildren %}
        <div class="imageInDataset"><ul id="products">
            <li class="product"><em>{{ e.name }}</em>
                <a href="#" onclick="popup('','_blank',{{ e.id }}); return false;"><img id="{{ e.id }}" class="imgzoom" src="{% get_webclient_root_url %}/render_thumbnail/64/{{ e.id }}/" alt="image" title="{{ c.name }}"/></a>
            </li>
        </ul></div>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
    {% endif %}
    
    
    {% if basket.imgSize %}
    <div class="clear"></div>
    <h1>Orphaned images</h1>
    <div class="image"><ul id="products">
        {% for e in basket.imageInBasket %}
            <li id="image-{{ e.id }}"class="product"><em>{{ e.name }}</em>
                <a href="#" onclick="popup('','_blank',{{ e.id }}); return false;"><img id="{{ e.id }}" class="imgzoom" src="{% get_webclient_root_url %}/render_thumbnail/64/{{ e.id }}/" alt="image" title="{{ e.name }}"/></a>
                <a href="#" onclick="fromBasket('image', '{{ e.id }}'); return false;"><img src="{% get_webclient_static_url %}/images/cancel16.png" alt="r" title="remove"/></a>
            </li>
        {% endfor %}
    </ul></div>
    {% endif %}
    
    </div>

    <div class="clear"></div>
    <br/>
    <div>
        <h1>Collaboration:</h1>
        <input type="submit" name="action" value="Share" onClick="location.href='{% get_webclient_root_url %}/basket/toshare/'"/> 
        <input type="submit" name="action" value="Discuss" onClick="location.href='{% get_webclient_root_url %}/basket/todiscuss/'"/> 
        <input type="submit" name="action" value="Blog" onClick="location.href='{% get_webclient_root_url %}/basket/toblog/'"/>
        
        <h1>Management:</h1>
        <input type="submit" name="action" value="Move" onClick="location.href='{% get_webclient_root_url %}/basket/toMove/'"/> 
        <input type="submit" name="action" value="Copy" onClick="location.href='{% get_webclient_root_url %}/basket/toCopy/'"/> 
        <input type="submit" name="action" value="Annotate" onClick="location.href='{% get_webclient_root_url %}/basket/toannotate/'"/> 
        <input type="submit" name="action" value="Tag" onClick="location.href='{% get_webclient_root_url %}/basket/totag/'"/>
        <input type="submit" name="action" value="Empty" onClick="location.href='{% get_webclient_root_url %}/empty/'"/>
        
    </div>
    
{% endifequal %}

{% endblock %}
