{% load markup %}
{% load custom_tags %}
{% load wikitags %}

    <script>
        $(document).ready(function(){
            $("a.loadMoreData").click(function()
            {
                $("div#hierarchy").html('<img src="{% get_webclient_static_url %}/images/tree/spinner.gif"/>');
                $("div#hierarchy").load(
                    {% if manager.project or manager.dataset or manager.image %}
                        {% if manager.dataset %}
                            "{% get_webclient_root_url %}/hierarchy/dataset/{{ manager.dataset.id }}/", 
                        {% endif %}
                        {% if manager.project %}
                            "{% get_webclient_root_url %}/hierarchy/project/{{ manager.project.id }}/", 
                        {% endif %}
                        {% if manager.image %}
                            "{% get_webclient_root_url %}/hierarchy/image/{{ manager.image.id }}/", 
                        {% endif %}
                    {% else %}
                        "{% get_webclient_root_url %}/hierarchy/", 
                    {% endif %}
                    function() {  
                        $("a.loadMoreData").remove();                        
                    });
                return false; 
            });
        });
    </script>

{% if manager.project or manager.dataset or manager.image %}
    {% if manager.image %}
    <div><h1>{{ manager.image.name }}: <a href="{% get_webclient_root_url %}/action/edit/image/{{ manager.image.id }}/?url={{url}}"><img src="{% get_webclient_static_url %}/images/color_line16.png" alt="e" title="edit"/></a></h1>
        {{ manager.image.description|default_if_none:"no description"|wikify|safe|linebreaks }}
    </div>
    
    <div><a href="#" onclick="popup('','_blank','{{ manager.image.id }}'); return false;"><img class="imgzoom" src="{% get_webclient_root_url %}/render_thumbnail/150/{{ manager.image.id }}/" alt="image" title="{{ manager.image.name }}"/></a></div>
    
    <h1>More: <a href="#" onclick="toBasket('image', '{{ image.image.id }}'); return false;"><img src="{% get_webclient_static_url %}/images/basket16.png" alt="b" title="basket"/></a></h1>
    <ul>
        <li>Owner: {{ manager.image.getOwner }} ({{ manager.image.details.group.name.val }} {{ image.image.details.permissions }})</li>
        <li>Image Size: (X: {{ manager.image.getWidth }}px, Y: {{ manager.image.getHeight }}px, Z: {{ manager.image.z_count }}, T: {{ manager.image.t_count }})
        <li>Pixel Size: (X: {{ manager.image.getPixelSizeX|floatformat:4 }}&micro;m, Y: {{ image.image.getPixelSizeY|floatformat:4 }}&micro;m, Z: {{ manager.image.getPixelSizeZ|floatformat:4 }}&micro;m)</li>
    </ul>
    
    {% endif %}
    {% if manager.dataset %}
    <div><h1>{{ manager.dataset.name }}: <a href="{% get_webclient_root_url %}/action/edit/dataset/{{ manager.dataset.id }}/?url={{url}}"><img src="{% get_webclient_static_url %}/images/color_line16.png" alt="e" title="edit"/></a></h1>
        {{ manager.dataset.description|default_if_none:"no description"|wikify|safe|linebreaks }}
    </div>
    {% endif %}
    {% if manager.project %}
    <div><h1>{{ manager.project.name }}: <a href="{% get_webclient_root_url %}/action/edit/project/{{ manager.project.id }}/?url={{url}}"><img src="{% get_webclient_static_url %}/images/color_line16.png" alt="e" title="edit"/></a></h1>
        {{ manager.project.description|default_if_none:"no description"|wikify|safe|linebreaks }}
    </div>
    {% endif %}
{% endif %}


<div><a href="#" class="loadMoreData">Show the hierarchy structure.</a></div>
<div id="hierarchy"> </div>
