{% load i18n %}
{% load markup %}
{% load custom_tags %}

{% if manager.c_size %}
    <div id="tree">
    <ul class="simpleTree">
    <li class="root" id='0'><span>{% if manager.experimenter %}{{ manager.experimenter.getFullName }}{% else %}{{ eContext.user.omeName }}{% endif %}@{{ nav.blitz }}</span>
        <ul>
            {% for c in manager.containers.projects %}
            <li id='pr-{{ c.id }}'><span>{{ c.shortName }} <img alt="dataset" title="dataset" src="{% url webstatic "images/folder_image12.png" %}"/>[{{ c.countChildren2 }}]{% if not c.isOwned %} <img src="{% url webstatic "images/tree/kgpg12.gif" %}" alt="locked" title="locked"/>{% endif %}{% if c.countAnnotations %} <img src="{% url webstatic "images/knotes12.png" %}" alt="a" title="annotation"/>{% endif %}</span> 
                <ul>
                    {% if c.copyDatasetLinks %}
                    {% for d in c.listChildren %}
                        <li id='ds-{{ d.id }}' ><span>{{ d.shortName }} <img alt="image" title="image" src="{% url webstatic "images/image12.png" %}"/>[{{ d.countChildren2 }}]{% if not d.isOwned %} <img src="{% url webstatic "images/tree/kgpg12.gif" %}" alt="locked" title="locked"/>{% endif %}{% if d.countAnnotations %} <img src="{% url webstatic "images/knotes12.png" %}" alt="a" title="annotation"/>[{{ d.countAnnotations }}]{% endif %}</span> 
                            <ul class="ajax">
                                <li id='{{ d.id.val }}'>{url:{% url manage_data nav.whos "ajaxdataset" d.id %}?view=tree}</li>
                            </ul>
                        </li>
                    {% endfor %}
                    {% else %}
                        <li class="line-last"/>
                    {% endif %}
                </ul>
            </li>
            {% endfor %}
            {% for c in manager.containers.datasets %}
                <li id='ds-{{ c.id }}'><span>{{ c.shortName }} <img alt="image" title="image" src="{% url webstatic "images/image12.png" %}"/>[{{ c.countChildren2 }}]{% if not c.isOwned %} <img src="{% url webstatic "images/tree/kgpg12.gif" %}" alt="locked" title="locked"/>{% endif %}{% if c.countAnnotations %} <img src="{% url webstatic "images/knotes12.png" %}" alt="a" title="annotation"/>{% endif %}</span>
                    <ul class="ajax">
                        <li id='{{ d.id.val }}'>{url:{% url manage_data nav.whos "ajaxdataset" c.id %}?view=tree}</li>
                    </ul>
                </li>
            {% endfor %}
            {% for d in manager.containers.images %}
                <li id='img-{{ d.id }}'><span>{{ d.shortName }} [{{ d.countChildren2 }}]{% if not d.isOwned %} <img src="{% url webstatic "images/tree/kgpg12.gif" %}" alt="locked" title="locked"/>{% endif %}{% if d.countAnnotations %} <img src="{% url webstatic "images/knotes12.png" %}" alt="a" title="annotation"/>[{{ d.countAnnotations }}]{% endif %}</span></li>
            {% endfor %}

            {% if not manager.project and not manager.dataset %}
            {% if not manager.orphaned %}
                <li id='orphan' ><span>{% trans "Orphaned images" %}</span>
                    <ul class="ajax">
                        <li id='{{ d.id.val }}'>{url:{% url manage_data_orphaned nav.whos "ajaxorphaned" %}?view=tree}</li>
                    </ul>
                </li>
            {% endif %}
            {% endif %}
        </ul>
    </li></ul>
    </div>

{% else %}
    {% trans "No data." %}
{% endif %}