{% load i18n %}
{% load markup %}
{% load custom_tags %}

{% if manager.c_size %}
    <table id="dataTable" class="tablesorter"> 
    <thead> 
    <tr> 
        <th>{% trans "Type" %}</th> 
        <th>{% trans "Name" %}</th> 
        <th>{% trans "Action" %}</th> 
    </tr> 
    </thead> 
    <tbody> 
        {% for c in manager.containers.images %}
        <tr> 
            <td class="product"><a href="{% url load_metadata_details "image" c.id %}" target="metadata_details"><img id="{{ c.id }}" src="{% url webstatic "images/image32.png" %}" title="Image" alt="Image"/></a></td> 
            <td><a href="{% url load_metadata_details "image" c.id %}" target="metadata_details">{{ c.shortName }}</a> {% if not c.isOwned %} <img src="{% url webstatic "images/kgpg16.png" %}" alt="l" title="locked"/>{% endif %}</td>
            <td><input type="checkbox" name="image" id="{{ c.id }}"></td>
        </tr> 
        {% endfor %}
    </tbody> 
    </table>
    
{% else %}
    <p>{% trans "No data." %}</p>
{% endif %}