{% load markup %}
{% load custom_tags %}
{% load wikitags %}

{% if manager.project or manager.dataset or manager.image %}
    {% if manager.image %}
    <div>
        <h1>{{ manager.image.splitedName }}{% if not manager.image.isEditable %} <img src="{% get_webclient_static_url %}/images/kgpg16.png" alt="l" title="locked"/>{% endif %}{% if manager.image.countAnnotations %} <img src="{% get_webclient_static_url %}/images/knotes12.png" alt="a" title="annotation"/>({{ manager.image.countAnnotations }}){% endif %}</h1>
        {{ manager.image.shortDescription|default_if_none:"no description"|wikify|safe|linebreaks }}
    </div>
    <div>
        <p><a href="#" onclick="popup('','_blank','{{ manager.image.id }}'); return false;"><img class="imgzoom" src="{% get_webclient_root_url %}/render_thumbnail/200/{{ manager.image.id }}/" alt="image" title="{{ manager.image.name }}"/></a></p>
        <p><a href="{% get_webclient_root_url %}/{{ nav.whos }}/image/{{ manager.image.id }}/" target="_blank">More details in new tab...</a></p>
    </div>
    
    {% endif %}
    {% if manager.dataset %}
    <div>
        <h1>{{ manager.dataset.splitedName }}{% if not manager.dataset.isEditable %} <img src="{% get_webclient_static_url %}/images/kgpg16.png" alt="l" title="locked"/>{% endif %}{% if manager.dataset.countAnnotations %} <img src="{% get_webclient_static_url %}/images/knotes12.png" alt="a" title="annotation"/>({{ manager.dataset.countAnnotations }}){% endif %}</h1>
        {{ manager.dataset.shortDescription|default_if_none:"no description"|wikify|safe|linebreaks }}
    </div>
    <div>
        <p><a href="{% get_webclient_root_url %}/{{ nav.whos }}/dataset/{{ manager.dataset.id }}/?view=table" target="_blank">More details in new tab...</a></p>
    </div>
    {% endif %}
    {% if manager.project %}
    <div>
        <h1>{{ manager.project.splitedName }}{% if not manager.project.isEditable %} <img src="{% get_webclient_static_url %}/images/kgpg16.png" alt="l" title="locked"/>{% endif %}{% if manager.project.countAnnotations %} <img src="{% get_webclient_static_url %}/images/knotes12.png" alt="a" title="annotation"/>({{ manager.project.countAnnotations }}){% endif %}</h1>
        {{ manager.project.shortDescription|default_if_none:"no description"|wikify|safe|linebreaks }}
    </div>
    <div>
        <p><a href="{% get_webclient_root_url %}/{{ nav.whos }}/project/{{ manager.project.id }}/?view=table" target="_blank">More details in new tab...</a></p>
    </div>
    {% endif %}
{% endif %}
