{% load i18n %}
{% load custom_tags %}

{% if manager.paging %} 

<div class="clear"> </div>
<div class="paging"> 
    {% if manager.paging.prev %}<a href="{% if manager.project %}{% if manager.dataset.id %}{% url load_data "project" manager.project.id "dataset" manager.dataset.id %}{% else %}{% url load_data "project" manager.project.id %}{% endif %}{% else %}{% if manager.dataset.id %}{% url load_data "dataset" manager.dataset.id %}{% endif %}{% endif %}?view={{nav.view}}&page={{manager.paging.prev}}">{% trans "preview" %}</a>{% endif %} {% trans "Page" %} 
    
    {% for p in manager.paging.total %}
        {% ifequal manager.paging.page p %}
            {{ p }} 
        {% else %}
            {% ifequal p -1 %}
                ...
            {% else %}
                <a href="{% if manager.project %}{% if manager.dataset.id %}{% url load_data "project" manager.project.id "dataset" manager.dataset.id %}{% else %}{% url load_data "project" manager.project.id %}{% endif %}{% else %}{% if manager.dataset.id %}{% url load_data "dataset" manager.dataset.id %}{% endif %}{% endif %}?view={{nav.view}}&page={{ p }}">{{ p }}</a>
            {% endifequal %}
        {% endifequal %}
    {% endfor %}
    {% if manager.paging.next %}<a href="{% if manager.project %}{% if manager.dataset.id %}{% url load_data "project" manager.project.id "dataset" manager.dataset.id %}{% else %}{% url load_data "project" manager.project.id %}{% endif %}{% else %}{% if manager.dataset.id %}{% url load_data "dataset" manager.dataset.id %}{% endif %}{% endif %}?view={{nav.view}}&page={{manager.paging.next}}">{% trans "next" %}</a>{% endif %}

</div>
{% endif %}