{% load i18n %}
{% load markup %}
{% load custom_tags %}

{% if manager.c_size %}
    <ul id="products">
        {% for c in manager.containers.projects %}
        <li class="product"><em>{{ c.name }}</em>
            {% if c.isOwned %}<a href="{% url manage_data "mydata" "project" c.id %}?view=icon"><img id="{{ c.id }}" class="catzoom" src="{% url webstatic "images/folder64.png" %}" title="{{ c.name }}" alt="project"/></a>{% else %}<a href="{% url manage_data "userdata" "project" c.id %}?filter=experimenter&experimenter={{ c.details.owner.id.val }}"><img id="{{ c.id }}" class="catzoom" src="{% url webstatic "images/folder64.png" %}" title="{{ c.name }}" alt="project"/></a>{% endif %}
            <div class="center"><a href="{% url manage_metadata_details "project" c.id %}" target="metadata_details"><img src="{% url webstatic "images/info12.png" %}" alt="info" title="info"/></a> <img src="{% url webstatic "images/folder_image12.png" %}" title="image" alt="image"/>[{{ c.countChildren2 }}]{% if c.countAnnotations %} <img src="{% url webstatic "images/knotes12.png" %}" alt="a" title="annotation"/>{% endif %}{% if not c.isOwned %} <img src="{% url webstatic "images/kgpg12.png" %}" alt="l" title="locked"/>{% endif %} <input type="checkbox" name="project" id="{{ c.id }}"></div>
            <div class="center">{{ c.tinyName }}</div>
        </li>
        {% endfor %}
        {% for c in manager.containers.datasets %}
        <li class="product"><em>{{ c.name }}</em>
            {% if c.isOwned %}<a href="{% if manager.project %}{% url manage_data "mydata" "project" manager.project.id "dataset" c.id %}{% else %}{% url manage_data "mydata" "dataset" c.id %}{% endif %}"><img id="{{ c.id }}" class="catzoom" src="{% url webstatic "images/folder_image64.png" %}" title="{{ c.name }}" alt="dataset"/></a>{% else %}<a href="{% if manager.project %}{% url manage_data "userdata" "project" manager.project.id "dataset" c.id %}{% else %}{% url manage_data "userdata" "dataset" c.id %}{% endif %}?filter=experimenter&experimenter={{ c.details.owner.id.val }}"><img id="{{ c.id }}" class="catzoom" src="{% url webstatic "images/folder_image64.png" %}" title="{{ c.name }}" alt="dataset"/></a>{% endif %}
            <div class="center"><a href="{% url manage_metadata_details "dataset" c.id %}" target="metadata_details"><img src="{% url webstatic "images/info12.png" %}" alt="info" title="info"/></a> <img src="{% url webstatic "images/image12.png" %}" title="image" alt="image"/>[{{ c.countChildren2 }}]{% if c.countAnnotations %} <img src="{% url webstatic "images/knotes12.png" %}" alt="a" title="annotation"/>{% endif %}{% if not c.isOwned %} <img src="{% url webstatic "images/kgpg12.png" %}" alt="l" title="locked"/>{% endif %} <input type="checkbox" name="dataset" id="{{ c.id }}"></div>
            <div class="center">{{ c.tinyName }}</div>
        </li>
        {% endfor %}
        {% for c in manager.containers.images %}
        <li class="product"><em>{{ c.name }}</em>
            {% if c.isOwned %}<a href="{% if manager.project %}{% url manage_data "mydata" "project" manager.project.id "dataset" manager.dataset.id "image" c.id %}{% else %}{% if manager.dataset %}{% url manage_data "mydata" "dataset" manager.dataset.id "image" c.id %}{% else %}{% url manage_data "mydata" "image" c.id %}{% endif %}{% endif %}"><img id="{{ c.id }}" class="imgzoom" src="{% url render_thumbnail c.id %}" alt="image" title="{{ c.name }}"/></a>{% else %}<a href="{% if manager.project %}{% url manage_data "userdata" "project" manager.project.id "dataset" manager.dataset.id "image" c.id %}{% else %}{% if manager.dataset %}{% url manage_data "userdata" "dataset" manager.dataset.id "image" c.id %}{% else %}{% url manage_data "userdata" "image" c.id %}{% endif %}{% endif %}"><img id="{{ c.id }}" class="imgzoom" src="{% url render_thumbnail c.id %}" alt="image" title="{{ c.name }}"/></a>{% endif %}
            <div class="center"><a href="{% url manage_metadata_details "image" c.id %}" target="metadata_details"><img src="{% url webstatic "images/info12.png" %}" alt="info" title="info"/></a> {% if c.countAnnotations %} <img src="{% url webstatic "images/knotes12.png" %}" alt="a" title="annotation"/>{% endif %}{% if not c.isOwned %} <img src="{% url webstatic "images/kgpg12.png" %}" alt="l" title="locked"/>{% endif %} <input type="checkbox" name="image" id="{{ c.id }}"></div>
        </li>
        {% endfor %}
        
        {% if not manager.project and not manager.dataset and not manager.screen and not manager.criteria %}
        {% if not manager.orphaned %}
        <li class="product"><em>{% trans "Orphaned images" %}</em>
            <a href="{% url manage_data_orphaned nav.whos "orphaned" %}"><img class="catzoom" src="{% url webstatic "images/folder_yellow64.png" %}" title="Orphaned images" alt="project"/></a><div class="center">{% trans "Orphaned images" %}</div>
        </li>
        {% endif %}
        {% endif %}
        {% for c in manager.containers.screens %}
        <li class="product"><em>{{ c.name }}</em>
            {% if c.isOwned %}<a href="{% url manage_data "mydata" "screen" c.id %}?view=icon"><img id="{{ c.id }}" class="catzoom" src="{% url webstatic "images/folder_screen64.png" %}" title="{{ c.name }}" alt="screen"/></a>{% else %}<a href="{% url manage_data "userdata" "screen" c.id %}?filter=experimenter&experimenter={{ c.details.owner.id.val }}"><img id="{{ c.id }}" class="catzoom" src="{% url webstatic "images/folder_screen64.png" %}" title="{{ c.name }}" alt="screen"/></a>{% endif %}
            <div class="center"><a href="{% url manage_metadata_details "screen" c.id %}" target="metadata_details"><img src="{% url webstatic "images/info12.png" %}" alt="info" title="info"/></a> <img src="{% url webstatic "images/folder_image12.png" %}" title="plate" alt="plate"/>[{{ c.countChildren2 }}]{% if c.countAnnotations %} <img src="{% url webstatic "images/knotes12.png" %}" alt="a" title="annotation"/>{% endif %}{% if not c.isOwned %} <img src="{% url webstatic "images/kgpg12.png" %}" alt="l" title="locked"/>{% endif %} <input type="checkbox" name="screen" id="{{ c.id }}"></div>
            <div class="center">{{ c.tinyName }}</div>
        </li>
        {% endfor %}
        {% for c in manager.containers.plates %}
        <li class="product"><em>{{ c.name }}</em>
            {% if c.isOwned %}<a href="{% if manager.screen %}{% url manage_data "mydata" "screen" manager.screen.id "plate" c.id %}{% else %}{% url manage_data "mydata" "plate" c.id %}{% endif %}"><img id="{{ c.id }}" class="catzoom" src="{% url webstatic "images/folder_plate64.png" %}" title="{{ c.name }}" alt="dataset"/></a>{% else %}<a href="{% if manager.screen %}{% url manage_data "userdata" "screen" manager.screen.id "plate" c.id %}{% else %}{% url manage_data "userdata" "plate" c.id %}{% endif %}?filter=experimenter&experimenter={{ c.details.owner.id.val }}"><img id="{{ c.id }}" class="catzoom" src="{% url webstatic "images/folder_plate64.png" %}" title="{{ c.name }}" alt="plate"/></a>{% endif %}
            <div class="center"><a href="{% url manage_metadata_details "plate" c.id %}" target="metadata_details"><img src="{% url webstatic "images/info12.png" %}" alt="info" title="info"/></a> {% if c.countAnnotations %} <img src="{% url webstatic "images/knotes12.png" %}" alt="a" title="annotation"/>{% endif %}{% if not c.isOwned %} <img src="{% url webstatic "images/kgpg12.png" %}" alt="l" title="locked"/>{% endif %} <input type="checkbox" name="plate" id="{{ c.id }}"></div>
            <div class="center">{{ c.tinyName }}</div>
        </li>
        {% endfor %}
    </ul>
    
{% else %}
    {% trans "No data." %}
{% endif %}