{% extends "omeroweb/base_frame.html" %}
{% load i18n %}
{% load markup %}
{% load custom_tags %}

{% block link %}
    <link rel="stylesheet" href="{% url webstatic "css/googiespell.css" %}" type="text/css" media="screen"/>
{% endblock %}

{% block jscript %}
    <script type="text/javascript" src="{% url webstatic "javascript/jquery_1.2.6.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/googiespell/AJS.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/googiespell/googiespell.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/googiespell/cookiesupport.js" %}"></script>
{% endblock %}


{% block content %}

{% if manager.project %}
    <h1>{% trans "Edit project" %}</h1>
{% endif %}
{% if manager.dataset %}
    <h1>{% trans "Edit dataset" %}</h1>
{% endif %}
{% if manager.image %}
    <h1>{% trans "Edit image" %}</h1>
{% endif %}
{% if manager.screen %}
    <h1>{% trans "Edit screen" %}</h1>
{% endif %}
{% if manager.plate %}
    <h1>{% trans "Edit plate" %}</h1>
{% endif %}
{% if form %}
<div>
    
    {% if manager.project %}
        <form action="{% url manage_action_containers "save" "project" manager.project.id %}?url={{url}}" method="post">
    {% endif %}
    {% if manager.dataset %}
        <form action="{% url manage_action_containers "save" "dataset" manager.dataset.id %}?url={{url}}" method="post">
    {% endif %}
    {% if manager.image %}
        <form action="{% url manage_action_containers "save" "image" manager.image.id %}?url={{url}}" method="post">
    {% endif %}
    {% if manager.screen %}
        <form action="{% url manage_action_containers "save" "screen" manager.screen.id %}?url={{url}}" method="post">
    {% endif %}
    {% if manager.plate %}
        <form action="{% url manage_action_containers "save" "plate" manager.plate.id %}?url={{url}}" method="post">
    {% endif %}
    <table>
        {% for field in form %}
            <tr><th>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</th>
                <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text|safe }}</td>
            </tr>
        {% endfor %}
        </table>
        <input type="submit" value="{% trans 'Save' %}" /> <input type="button" onclick='document.location.href="{{ url }}";' value="{% trans 'Cancel' %}" />
    </form>
    <script type="text/javascript">
        var googie_spell = new GoogieSpell("static_core/googiespell/", "{% url spellchecker %}"+"?lang=");
        googie_spell.decorateTextarea("id_description", null, "600px");
    </script>
</div>

{% endif %}

{% endblock %}
