{% load custom_tags %}
{% load wikitags %}

{% if manager.txannSize %}
<h1>Comments:</h1>
    {% for tann in manager.text_annotations %}
    {% if tann.isOwned %}
        <div id="comment_wrapper">
        <div id="comment">
            <div class="head"><a href="mailto:{{ tann.details.owner.email.val }}">{{ tann.getOwner }}</a> - {{ tann.creationEventDate }}</div>
            <div class="body">{{ tann.textValue|wikify|safe|linebreaks }}</div>
            <div class="footer"></div>
        </div>
        </div>
        <br/>
    {% else %}
        <div id="comment_wrapper_rev">
        <div id="comment_rev">
            <div class="head"><a href="mailto:{{ tann.details.owner.email.val }}">{{ tann.getOwner }}</a> posted comment on {{ tann.creationEventDate }}</div>
            <div class="body">{{ tann.textValue|wikify|safe|linebreaks }}</div>
            <div class="footer"></div>
        </div>
        </div>
        <br/>
    {% endif %}
    
    {% endfor %}
{% endif %}

{% if manager.urlannSize %}
<h1>URLs:</h1>
    <div class="body_url">
    <p>{% for urlann in manager.url_annotations %}
        {{ urlann.textValue|wikify|safe }}; 
    {% endfor %}</p>
    </div>
{% endif %}

{% if manager.fileannSize %}
<h1>Files:</h1>
<table>
    <tr><th>Type</th><th>Name</th><th>Size</th><th>Owner</th><th>Date</th><th>Action</th></tr>
    {% for fileann in manager.file_annotations %}
    <tr>
        <td>{{ fileann.getOriginalFile.format.value.val }}</td><td>{{ fileann.getOriginalFile.name }}</td><td>{{ fileann.getOriginalFile.size}} bytes</td><td>{{ fileann.getOwner }}</td><td>{{ fileann.creationEventDate }}</td><td><a href="{% get_webclient_root_url %}/annotation/download/{{fileann.getOriginalFile.id}}/" target="_blank"><img src="{% get_webclient_static_url %}/images/down16.png" alt="download" title="download"/></a><a href="{% get_webclient_root_url %}/annotation/view/{{fileann.getOriginalFile.id}}/" target="_blank"><img src="{% get_webclient_static_url %}/images/kpresenter16.png" alt="open" title="open"/</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}


</iframe>