{% extends "omeroweb/base.html" %}
{% load markup %}
{% load custom_tags %}
{% load wikitags %}

{% block link %}
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/annotation.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/googiespell.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/tree.css" type="text/css" media="screen"/>
{% endblock %}

{% block jscript %}
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery_1.2.6.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/ui.core.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/ui.accordion.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/AJS.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/googiespell.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/cookiesupport.js"></script>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/menu.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/image.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/basket.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/blitzcon.js"></script>
    
    <script>
        $(document).ready(function(){
            $("a.loadData").click(function()
            {
                $("div#hierarchy").html('<img src="{% get_webclient_static_url %}/images/tree/spinner.gif"/>');
                $("div#hierarchy").load("{% get_webclient_root_url %}/hierarchy/image/{{ manager.image.id }}/", 
                    function() {  
                        $("a.loadData").remove();                        
                    });
                return false; 
            });
            $("a.loadAnnotation").click(function()
            {
                $("div#annotation").html('<img src="{% get_webclient_static_url %}/images/tree/spinner.gif"/>');
                $("div#annotation").load("{% get_webclient_root_url %}/annotations/image/{{ manager.image.id }}/", function() {  
                        $("a.loadAnnotation").remove();                        
                    });
                return false; 
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            $("#metadata").accordion( { 
                autoHeight: false,
                active: false,
                navigation: true, 
            });
        });
      </script>

{% endblock %}

{% block center %}

<div class="image">
    <h1>Image: {{ manager.image.fullNameWrapped }} {% if not manager.image.isOwned %}<img src="{% get_webclient_static_url %}/images/kgpg16.png" alt="l" title="locked"/>{% endif %}</h1>
    <p>{{ manager.image.description|default_if_none:"no description"|wikify|safe|linebreaks }}</p>
</div>

{% if manager.image.isOwned %}
<div class="toolbar">
    | View <a href="#" onclick="popup('','_blank','{{ manager.image.id }}'); return false;"><img src="{% get_webclient_static_url %}/images/tree/kview.png" alt="v" title="view"/></a> | 
    {% if manager.image.isOwned %} Select <a href="#" onclick="toBasket('image', '{{ manager.image.id }}'); return false;"><img src="{% get_webclient_static_url %}/images/basket16.png" alt="b" title="add to basket"/></a> {% endif %}
    Copy <a href="#" onclick="copyToClipboard('image', '{{ manager.image..id }}'); return false;"><img src="{% get_webclient_static_url %}/images/eclipse_copy_edit16.png" alt="c" title="copy"/></a>
    {% if manager.image.isEditable %} | Edit <a href="{% get_webclient_root_url %}/action/edit/image/{{ manager.image.id }}/?url={{url}}"><img src="{% get_webclient_static_url %}/images/color_line16.png" alt="e" title="edit"/></a>{% else %}<img src="{% get_webclient_static_url %}/images/kgpg16.png" alt="l" title="locked"/>{% endif %} |
</div>
{% endif %}

<div class="separate70"></div>

<div class="thumbnail">
    <center>
        <p><a href="#" onclick="popup('','_blank','{{ manager.image.id }}'); return false;"><img class="imgzoom" src="{% get_webclient_root_url %}/render_thumbnail/details/{{ manager.image.id }}/" alt="image" title="{{ manager.image.name }}"/></a></p>
    
        <p>by {{ manager.image.getOwner }} ({{ manager.image.details.group.name.val }} {{ manager.image.details.permissions }})</p>
        <p><a href="">Send this image to someone else.</a></p>
    </center>
    
</div>

<div class="metadata"><h1>Metadata: </h1>

<ul id="metadata" class="ui-accordion-metadata" >
    <li><a href='#'>General:</a>
        <div>
            <table class="forms">
                <tr><td><label>Image date </label></td><td>{{ manager.image.getAquaDate }}</td></tr>
                <tr><td><label>Dimensions [px] </label></td><td>{{ manager.image.getWidth }} x {{ manager.image.getHeight }}</td></tr>
                <tr><td><label>Pixel size [&micro;m] </label></td><td>{{ manager.image.getPixelSizeX|floatformat:4 }} x {{ manager.image.getPixelSizeY|floatformat:4 }} x {{ manager.image.getPixelSizeZ|floatformat:4 }}</td></tr>
                <tr><td><label>Z-sections/timepoints </label></td><td>{{ manager.image.z_count }} x {{ manager.image.t_count }}</td></tr>
                <tr><td><label>Emissions wavelengths </label></td><td>{{ manager.image.getChannels.getEmissionWave }}</td></tr>
            </table>
        </div>
    </li>
    <li><a href='#'>Objective:</a>
        <div>
            {% if form_objective %}
            <table class="forms">
                {% for field in form_objective %}
                <tr><td>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</td>
                    <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </li>
    <li><a href='#'>Environment:</a>
        <div>
            {% if form_environment %}
            <table class="forms">
                {% for field in form_environment %}
                <tr><td>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</td>
                    <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text }}</td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </li>
    <li><a href='#'>Position:</a>
        <div>
            <p>{{ manager.image.position }}</p>
        </div>
    </li>
</ul>

</div>
<div class="clear"></div>

{% if manager.image.countAnnotations %}<div id="annotation"><h1>Annotations</h1><a href="#" class="loadAnnotation">Show annotations... ({{ manager.image.countAnnotations }})</a></div>{% endif %}

<div id="annotation_form">
    {% if form_comment %}
    <div class="comment">
        <h1>Add new comment:</h1>
        <form action="" method="post"><input type="hidden" name="action" value="comment" />
        <table>
            {% for field in form_comment %}
                <tr>
                    <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text }}</td>
                </tr>
            {% endfor %}
                <tr><td colspan="2"><input type="submit" value="Save" /></td></tr>
            </table>
        </form>
        <script type="text/javascript">
            var googie_spell = new GoogieSpell("static_core/googiespell/", "/webclient/spellchecker/?lang=");
            googie_spell.decorateTextarea("id_content", null, "600px");
        </script>
    </div>
    {% endif %}

    {% if form_url %}
    <div class="url">
        <h1>Add new url:</h1>
        <form action="" method="post"><input type="hidden" name="action" value="url" />
        <table>
            {% for field in form_url %}
                <tr>
                    <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text }}</td>
                </tr>
            {% endfor %}
                <tr><td colspan="2"><input type="submit" value="Save" /></td></tr>
            </table>
        </form>
    </div>
    {% endif %}

    {% if form_file %}
    <div class="file">
        <h1>Upload a file</h1>
        <form action="" method="post"><input type="hidden" name="action" value="file" />
        <table>
        {% for field in form_file %}
            <tr>
                <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text }}</td>
            </tr>
        {% endfor %}
        </table>
        <input type="submit" value="Upload" />
        </form>
    </div>
    {% endif %}
</div>

<div class="clear"> </div>

<h1>Where this image is? </h1>
<div id="hierarchy"><a href="#" class="loadData">Show the hierarchy structure...</a></div>

{% endblock %}
