{% extends "omeroweb/base.html" %}
{% load i18n %}
{% load markup %}
{% load custom_tags %}
{% load wikitags %}

{% block link %}
    <link rel="stylesheet" href="{% url webstatic "css/container.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% url webstatic "css/annotation.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% url webstatic "css/googiespell.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% url webstatic "css/tree.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% url webstatic "css/autocomplete.css" %}" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% url webstatic "css/tooltip.css" %}" type="text/css" media="screen"/>
    
    <link rel="stylesheet" href="/webgateway/appmedia/css/jquery-plugin-slider.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/webgateway/appmedia/css/weblitz-viewport.css" type="text/css" media="screen"/>

{% endblock %}

{% block jscript %}
        
    <script type="text/javascript" src="{% url webstatic "javascript/jquery.autocomplete.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/jquery.tooltip.js" %}"></script>
  
    <script type="text/javascript" src="{% url webstatic "javascript/ui/ui.core.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/ui/ui.tabs.js" %}"></script>
    
    <script type="text/javascript" src="{% url webstatic "javascript/googiespell/AJS.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/googiespell/googiespell.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/googiespell/cookiesupport.js" %}"></script>
    <script type="text/javascript" src="/webgateway/appmedia/js/weblitz-viewport.js"></script>
    <script type="text/javascript" src="/webgateway/appmedia/js/jquery-plugin-viewportImage.js"></script>
    <script type="text/javascript" src="/webgateway/appmedia/js/jquery-plugin-slider.js"></script>
    <script type="text/javascript" src="/webgateway/appmedia/js/gs_utils.js"></script>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% url webstatic "javascript/image.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/basket.js" %}"></script>
    <script type="text/javascript" src="{% url webstatic "javascript/actions.js" %}"></script>
    <script>
        $(document).ready(function(){
            
            var viewport = $.WeblitzViewport($("#viewport"), "/webgateway" );
            viewport.load({{ manager.image.id }});
            
            $("a.loadingData").click(function()
            {
                $("div#hierarchy").html('<p>{% trans "Loading hierarchy... please wait" %} <img src ="{% url webstatic "images/tree/spinner.gif" %}"/></p>');
                $("div#hierarchy").load("{% url manage_container_hierarchies_id "image" manager.image.id %}", 
                    function() {  
                        $("a.loadingData").remove();                        
                    });
                return false; 
            });

        });
    </script>
{% endblock %}

{% block left %}

<div>
    <h1>{% trans "Image" %}: {{ manager.image.shortName }} {% if not manager.image.isOwned %}<img src="{% url webstatic "images/kgpg16.png" %}" alt="l" title="locked"/>{% endif %} <a href="#" onclick="return popup('{% url image_viewer manager.image.id %}')">{% trans "View" %} <img src="{% url webstatic "images/tree/kview.png" %}" alt="v" title="view"/></a></h1>
</div>


<div class="miniview" id="viewport"></div>

<div class="miniview_desc">
    <p class="center">{% trans "Created by" %} {{ manager.image.getOwnerFullName }}</p>
    <br/>
    <p>Description:</p>
    <div class="description">{{ manager.image.description|default_if_none:"no description"|linebreaks }}</div>
</div>

{% endblock %}

{% block right %}

<iframe src ="{% url load_metadata_details "image" manager.image.id %}" width="100%" height="680" name="metadata_details"></iframe>

{% endblock %}

{% block linked %}
    <div class="link_box">
    <h1>{% trans "Where this image is linked?" %}</h1>
    <div id="hierarchy"><a href="#" class="loadingData">{% trans "Show the hierarchy structure" %}...</a></div>
    </div>
{% endblock %}
