{% load custom_tags %}
{% load wikitags %}

{% if manager.txannSize %}
<h1>Comments:</h1>
    {% for tann in manager.text_annotations %}
    {% if tann.isOwned %}
        <div id="comment_wrapper">
        <div id="comment">
            <div class="head"><a href="mailto:{{ tann.details.owner.email.val }}">{{ tann.getOwner }}</a> - {{ tann.creationEventDate }}</div>
            <div class="body">{{ tann.textValue|wikify|safe|linebreaks }}</div>
            <div class="footer"></div>
        </div>
        <div class="photo"><img src="{% get_webclient_root_url %}/userphoto/{{ tann.details.owner.id.val }}/" alt="{{ tann.getOwner }}" title="{{ tann.getOwner }}" width="40" height="40" /></div>
        </div>
        <div class="clear"></div>
        <br/>
    {% else %}
        <div id="comment_wrapper_rev">
        <div class="photo"><img src="{% get_webclient_root_url %}/userphoto/{{ tann.details.owner.id.val }}/" alt="{{ tann.getOwner }}" title="{{ tann.getOwner }}" width="40" height="40" /></div>
        <div id="comment_rev">
            <div class="head"><a href="mailto:{{ tann.details.owner.email.val }}">{{ tann.getOwner }}</a> posted comment on {{ tann.creationEventDate }}</div>
            <div class="body">{{ tann.textValue|wikify|safe|linebreaks }}</div>
            <div class="footer"></div>
        </div>
        </div>
        <div class="clear"></div>
        <br/>
    {% endif %}
    {% endfor %}
{% endif %}

{% if manager.urlannSize %}
<h1>URLs:</h1>
    <div class="body_url">
    <p>{% for urlann in manager.url_annotations %}
        {{ urlann.textValue|wikify|safe }}; 
    {% endfor %}</p>
    </div>
{% endif %}

{% if manager.fileannSize %}
<h1>Files:</h1>
<ol class="file">
    {% for fileann in manager.file_annotations %}
    <li><a href="{% get_webclient_root_url %}/annotation/download/{{ fileann.id }}/" target="_blank">{{ fileann.file.name.val }}</a> ({{ fileann.file.size.val }} bytes) by {{ fileann.getOwner }} at {{ fileann.creationEventDate }}</li>
    {% endfor %}
</ol>
{% endif %}



