{% load markup %}
{% load custom_tags %}
{% load wikitags %}

{% if controller.mostRecentSharesComments %}
    <table>
        <tbody>
        {% for cm in controller.mostRecentSharesComments %}
            <tr><td>
                <img src="{% get_webclient_static_url %}/images/knotes16.png" title="comment" alt="comment"/> <a href="mailto:{{ cm.getComment.details.owner.email.val }}">{{ cm.getComment.getOwner }}</a> added comment on {{ cm.getComment.creationEventDate }} to <a href="{% get_webclient_root_url %}/share/view/{{ cm.getShare.id }}/">share {{ cm.getShare.id }}</a>
            </td></tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div><p>No data commented.</p></div>
{% endif %}
