{% load i18n %}
{% load markup %}
{% load custom_tags %}
{% load wikitags %}


<div class="clear"> </div>

{% if controller.lastAcquiredImages %}
    <ul id="products">
        {% for c in controller.lastAcquiredImages %}
            <li class="product"><em>{{ c.name }}</em>
                <img id="{{ c.id }}" class="imgzoom" src="{% url render_thumbnail c.id %}" alt="image" title="{{ c.name }}"/>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="error"><p>{% trans "No data imported. Please change your active group (on the menu bar) or import some images or look into someone else's data." %}</p></div>
{% endif %}
