{% load i18n %}
{% load markup %}
{% load custom_tags %}
<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/menu.css" type="text/css" />
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/images.css" type="text/css" media="screen"/>
    
    {% block link %}{% endblock %}

    <link rel="shortcut icon" href="{% get_webclient_static_url %}/images/ome.ico" type="image/x-icon" />

    <title>{% trans "Webclient" %} {% block title %}{% endblock %}</title>

    {% block jscript %}{% endblock %}

    {% block script %}{% endblock %}

</head>
<body id="{{ nav.menu }}">
    <div id="header">
        <div id="logo"> </div>
        <div id="menu"><ul id="navigation">
            <li class="contact"><a href="mailto:" title="Contact">{% trans "Contact" %}</a></li>
            <li class="help"><a href="{% get_webclient_root_url %}/help/index/" title="Help">{% trans "Help" %}</a></li>
            <li class="person"><a href="{% get_webclient_root_url %}/myaccount/details/" title="Person">{% trans "Person" %}</a></li>
            <li class="import"><a href="{% get_webclient_root_url %}/impexp/image/" title="Import">{% trans "Import" %}</a></li>
            <li class="search"><a href="{% get_webclient_root_url %}/search/?view=table" title="Search">{% trans "Search" %}</a></li>
            <li class="history"><a href="{% get_webclient_root_url %}/history/calendar/{% get_calendar_url %}" title="History">{% trans "History" %}</a></li>
            <li class="share"><a href="{% get_webclient_root_url %}/share/?view=table" title="Share">{% trans "Share" %}</a></li>
            <li class="collaboration"><a href="{% get_webclient_root_url %}/userdata/?view=table" title="Collaboration">{% trans "Collaboration" %}</a></li>
            <li class="mydata"><a href="{% get_webclient_root_url %}/mydata/?view=table" title="My Data">{% trans "My Data" %}</a></li>
            <li class="home"><a href="{% get_webclient_root_url %}/" title="Home">{% trans "Home" %}</a></li>
        </ul></div>
    </div>
    
    <div id="header2">{% block header %}{% endblock %}</div>
    <div id="center">{% block center %}{% endblock %}</div>
    <div class="clear"> </div>
    <!--<div id="advice">{% block advice %}{% endblock %}</div>-->
    <div id="footer"><p>&copy;2009 University of Dundee & Open Microscopy Environment</p></div>

</body>
</html>
