{% load i18n %}
{% load markup %}
{% load custom_tags %}
{% load wikitags %}

<script>
$(document).ready(function () {
    $(function() { 
        $("#products li.product").css('width', 110);
        $("#products li.product").css('height', 90);
        $('#products img.imgzoom').attr('width', 80);
        $('#products img.catzoom').attr('width', 80);
    });
})

</script>

{% if share.imgSize %}

<div class="clear"></div>

<h1>{% trans "Images" %} ({{ share.imgSize }} items)</h1>
<div class="imageshare"><ul id="products">
    {% for e in share.imageInShare %}
        <li id="image-{{ e.id }}"class="product"><em>{{ e.name }}</em>
            {% if share.share.isOwned %}
                <a href="#" onclick="popup(null,'_blank',{{ e.id }}); return false;"><img id="{{ e.id }}" class="imgzoom" src="{% get_webclient_root_url %}/render_thumbnail/{{ e.id }}/" alt="image" title="{{ e.name }}"/></a>
            {% else %}
                <a href="#" onclick="popup('{{ share.share.id }}','_blank',{{ e.id }}); return false;"><img id="{{ e.id }}" class="imgzoom" src="{% get_webclient_root_url %}/render_thumbnail/{{ e.id }}/{{ share.share.id }}/" alt="image" title="{{ e.name }}"/></a>
            {% endif %}
        </li>
    {% endfor %}
</ul></div>
{% endif %}

</div>
