{% extends "omeroweb/base_share.html" %}
{% load markup %}
{% load custom_tags %}
{% load wikitags %}

{% block link %}
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/images.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/share.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/googiespell.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/slider.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/tooltip.css" type="text/css" media="screen"/>
{% endblock %}

{% block jscript %}
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery_1.2.6.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.tooltip.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.dimensions.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.bgiframe.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.delegate.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/AJS.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/googiespell.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/cookiesupport.js"></script>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/menu.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/blitzcon.js"></script>
    
    
    {% ifequal share.share.getShareType "Share" %}
    <script type="text/javascript">
        $(document).ready(function(){
            
            $("div#share_content").html('<p>Loading content... please wait <img src="{% get_webclient_static_url %}/images/tree/spinner.gif"/></p>');
            $("div#share_content").load("{% get_webclient_root_url %}/share_content/{{ share.share.id }}/");

        });
    </script>
    {% endifequal %}
    <script type="text/javascript">
        $(function() {
            $("#markup_c").tooltip({ 
                track: true, 
                delay: 0, 
                showURL: false, 
                opacity: 1, 
                fixPNG: true, 
                showBody: " - ", 
                top: -15, 
                left: 5 
            });
        });
    </script>
{% endblock %}

{% block center %}
    <h2>Status: 
        {% if share.share.active %}ACTIVE{% else %}NOT ACTIVE{% endif %}. Starts: {{ share.share.getStartDate|date:" H:i:s d M Y" }}, Expires: {% if share.share.getExpirationDate %}{{ share.share.getExpirationDate|date:" H:i:s d M Y" }}{% else %}never{% endif %}
    </h2>
    
    <h1>Hi, 
        {% for m in share.allInShare %}
            {{ m.getFullName }},
        {% endfor %} <br/>
        {{ share.share.getOwner }} would like to {{ share.share.getShareType|lower }} with you:
    </h1>
    
    {% ifequal share.share.getShareType "Share" %}<div id="share_content"></div>{% endifequal %}
    <div class="clear"> </div>
    
    {% if share.share.isOwned %}
        <div id="comment_wrapper">
        <div id="comment">
            <div class="head">{{ share.share.getOwner }} posted comment at {{ share.share.getStartDate|date:" H:i:s d M Y" }}</div>
            <div class="body">{{ share.share.message|sharewikify|safe|linebreaks }}</div>
            <div class="footer"></div>
        </div>
        <div class="photo"><img src="{% get_webclient_root_url %}/userphoto/{{ share.share.owner.id.val }}/" alt="{{ share.share.getOwner }}" title="{{ share.share.getOwner }}" width="40" height="40" /></div>
        </div>
    {% else %}
        <div id="comment_wrapper_rev">
        <div id="comment_rev">
            <div class="head">{{ share.share.getOwner }} posted comment at {{ share.share.getStartDate|date:" H:i:s d M Y" }}</div>
            <div class="body">{{ share.share.message|sharewikify|safe|linebreaks }}</div>
            <div class="footer"></div>
        </div>
        <div class="photo"><img src="{% get_webclient_root_url %}/userphoto/{{ share.share.owner.id.val }}/" alt="{{ share.share.getOwner }}" title="{{ share.share.getOwner }}" width="40" height="40" /></div>
        </div>
    {% endif %}
    <div class="clear"></div>
    <br/>
    
    {% if share.cmSize %}
        {% for cm in share.comments %}
            {% if cm.isOwned %}
                <div id="comment_wrapper">
                <div id="comment">
                    <div class="head">{{ cm.getOwner }} posted comment at {{ cm.creationEventDate|date:" H:i:s d M Y" }}</div>
                    <div class="body">{{ cm.textValue|sharewikify|safe|linebreaks }}</div>
                    <div class="footer"></div>
                </div>
                <div class="photo"><img src="{% get_webclient_root_url %}/userphoto/{{ cm.details.owner.id.val }}/" alt="{{ cm.getOwner }}" title="{{ cm.getOwner }}" width="40" height="40" /></div>
                </div>
                <div class="clear"></div>
                <br/>
            {% else %}
                <div id="comment_wrapper_rev">
                <div id="comment_rev">
                    <div class="head">{{ cm.getOwner }} posted comment at {{ cm.creationEventDate|date:" H:i:s d M Y" }}</div>
                    <div class="body">{{ cm.textValue|sharewikify|safe|linebreaks }}</div>
                    <div class="footer"></div>
                </div>
                <div class="photo"><img src="{% get_webclient_root_url %}/userphoto/{{ cm.details.owner.id.val }}/" alt="{{ cm.getOwner }}" title="{{ cm.getOwner }}" width="40" height="40" /></div>
                </div>
                <div class="clear"></div>
                <br/>
            {% endif %}
            
        {% endfor %}
        <div class="comment_bottom"> </div>

    {% endif %}

    <h1>Leave a Reply</h1>
    <div>
        <form action="{% get_webclient_root_url %}/share/comment/{{ share.share.id }}/" method="post">
            <table>
            {% for field in form %}
                <tr>
                    <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}<br/>{{ field.help_text|safe }}</td>
                </tr>
            {% endfor %}
            </table>
        <input type="submit" value="Post" />
        </form>
        <script type="text/javascript">
            var googie_spell = new GoogieSpell("static_core/googiespell/", "/webclient/spellchecker/?lang=");
            googie_spell.decorateTextarea("id_comment", null, "600px");
        </script>
    </div>

{% endblock %}
