{% extends "omeroweb/base.html" %}
{% load i18n %}
{% load markup %}
{% load custom_tags %}

{% block link %}
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/images.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/annotation.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/slider.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/tree.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/googiespell.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/tooltip.css" type="text/css" media="screen"/>
{% endblock %}

{% block jscript %}
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery_1.2.6.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/ui.core.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/ui.draggable.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/ui.droppable.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/ui.resizable.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/ui.slider.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/effects.core.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/effects.highlight.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.quicksearch.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.tooltip.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.dimensions.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.bgiframe.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.delegate.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/AJS.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/googiespell.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/cookiesupport.js"></script>
    
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/menu.js"></script> 
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/slider.js"></script> 
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/blitzcon.js"></script>
    
    <script>
      $(document).ready(function(){
          $('ul#products li.product').quicksearch({
                attached: "div.slider",
                position: "before",
                stripeRowClass: null,
                labelText: '{% trans "Filter" %}:',
                inputText: '...',
                loaderImg: '/webclient/static/images/tree/spinner.gif',
            });
        });
    </script>
    <script type="text/javascript">
        $(function() {
            $("#discussion, #sharing").tooltip({ 
                track: true, 
                delay: 0, 
                showURL: false, 
                opacity: 1, 
                fixPNG: true, 
                showBody: " - ", 
                top: -15, 
                left: 5 
            });
        });
    </script>
{% endblock %}

{% block center %}

<div class="project">
    <h1>{% trans "Shares and Discussions." %}</h1>

    <p>{% trans "Here you can create a" %} <b>{% trans "Share" %}</b> {% trans "to share and discuss your images with others, or" %} <b>{% trans "Discussion" %}</b> {% trans "to discuss with no images. Existing Shares and Discussions are shown below." %}</p>
</div>
<div class="clear"></div>
<div class="separate70"></div>

{% if share.oshSize or share.mshSize %}

<div id="view"> | {% trans "View" %} <a href="{% get_webclient_root_url %}/share/?view=table"><img src="{% get_webclient_static_url %}/images/view_detailed16.png" alt="table" title="table"/></a> <a href="{% get_webclient_root_url %}/share/?view=icon"><img src="{% get_webclient_static_url %}/images/view_icon16.png" alt="icon" title="icon"/></a> | {% trans "New" %} <a href="{% get_webclient_root_url %}/basket/toshare/"><span id="sharing" title="Create share - <small>Creates share for images stored currently in the basket.</small>"><img src="{% get_webclient_static_url %}/images/folder_html16.png" alt="share" /></span></a> 
<a href="{% get_webclient_root_url %}/basket/todiscuss/"><span id="discussion" title="Create discussion - <small>Starts the thread of the new discussion with no images currently stored in the basket.</small>"><img src="{% get_webclient_static_url %}/images/wp_protocol16.png" alt="discussion" /></span></a> |
</div>

<div class="slider">
    <div class="slider_products"> 
        <div class="slider_text">{% trans "Zoom" %}:</div>
        <div class='small_label'></div> 
        <div class='slider_bar'> 
            <div id="slider_callout"></div> 
            <div id='slider1_handle' class='slider_handle'></div> 
        </div> 
        <div class='large_label'></div> 
    </div>
</div>
<div class="clear"> </div>

<ul id="products">
    {% if share.oshSize %}
    <li class="header_name"><h1>{% trans "Owned by me" %} ({{ share.oshSize }} {% trans "items" %}):</h1></li>
    <li class="clear"></li>
        {% for c in share.ownShares %}
        <li class="product"><em>{{ c.shortMessage }}</em>
            <a href="{% get_webclient_root_url %}/share/view/{{ c.id }}/">
                {% ifequal c.getShareType "Discuss" %}
                    <img src="{% get_webclient_static_url %}/images/wp_protocol64.png" alt="{{ c.id }}" title="{{ c.id }}" class="catzoom"/>
                {% else %}
                    {% if c.active %}
                        <img src="{% get_webclient_static_url %}/images/folder_html64.png" alt="{{ c.id }}" title="{{ c.id }}" class="catzoom"/>
                    {% else %}
                        <img src="{% get_webclient_static_url %}/images/folder_locked64.png" alt="{{ c.id }}" title="{{ c.id }}" class="catzoom"/>
                    {% endif %}
                {% endifequal %}
            </a>
            <div class="center">{{ c.tinyMessage }}{% if c.getCommentsSize %} <img src="{% get_webclient_static_url %}/images/knotes12.png" alt="a" title="annotation"/>[{{ c.getCommentsSize }}]{% endif %}</div>
        </li>
        {% endfor %}
    <li class="clear"></li>
    {% endif %}    
    {% if share.mshSize %}
    <li class="header_name"><h1>{% trans "Shared with me" %} ({{ share.mshSize }} {% trans "items" %}):</h1></li>
    <li class="clear"></li>
        {% for c in share.memberShares %}
        <li class="product"><em>{{ c.shortMessage }}</em>
            <a href="#" onclick="openSharedWindow('{% get_webclient_root_url %}/share/view/{{ c.id }}/'); return false;">
                {% ifequal c.getShareType "Discuss" %}
                    <img src="{% get_webclient_static_url %}/images/wp_protocol64.png" alt="{{ c.id }}" title="{{ c.id }}" class="catzoom"/>
                {% else %}
                    {% if c.active %}
                        <img src="{% get_webclient_static_url %}/images/folder_html64.png" alt="{{ c.id }}" title="{{ c.id }}" class="catzoom"/>
                    {% else %}
                        <img src="{% get_webclient_static_url %}/images/folder_locked64.png" alt="{{ c.id }}" title="{{ c.id }}" class="catzoom"/>
                    {% endif %}
                {% endifequal %}
            </a>
            <div class="center">{{ c.tinyMessage }}{% if c.getCommentsSize %} <img src="{% get_webclient_static_url %}/images/knotes12.png" alt="a" title="annotation"/>[{{ c.getCommentsSize }}]{% endif %}</div>
        </li>
        {% endfor %}
    <li class="clear"></li>
    {% endif %}
</ul>
{% else %}
    {% trans "No shares yet." %}
{% endif %}
<div class="clear"> </div>


{% endblock %}
