{% extends "omeroweb/base.html" %}
{% load markup %}
{% load custom_tags %}


{% block link %}
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/share.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/datepicker.css" type="text/css" />
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/googiespell.css" type="text/css" media="screen"/>
{% endblock %}

{% block jscript %}
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery_1.2.6.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/ui.core.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/ui.datepicker.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/AJS.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/googiespell.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/googiespell/cookiesupport.js"></script>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/menu.js"></script> 

    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/blitzcon.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/popup.js"></script>
    <script>
      $(document).ready(function(){
          $('#id_expiretion').datepicker({firstDay: 1, dateFormat: 'yy-mm-dd'});
      });
    </script>
    
{% endblock %}

{% block content %}
{% ifequal share.sizeOfShare 0 %}
    <h1>Edit discussion about:</h1>
    
{% else %}
    <h1>Edit share with {{ share.sizeOfShare }} items:</h1>

    <div id="cart">
    <h1>Containers</h1>
    {% if share.prSize %}
    {% for c in share.projectInShare %}
    <div class="clear"></div>
    <div id="project-{{ c.id }}" class="project">Project: <b>{{ c.name }}</b> <img src="{% get_webclient_static_url %}/images/messagebox_messagebox_info16.png"  title="info" alter="i" "/><a href=""><img src="{% get_webclient_static_url %}/images/editdelete16.png" alt="b" title="basket"/></a>
        {% if c.copyDatasetLinks %}
        {% for d in c.listChildren %}
        <div class="datasetInProject">Dataset: <b>{{ d.name }}</b> <img src="{% get_webclient_static_url %}/images/messagebox_messagebox_info16.png"  title="info" alter="i" "/>
            {% if d.copyImageLinks %}
            {% for e in d.listChildren %}
            <div class="imageInDataset"><ul id="products">
                <li class="product"><em>{{ e.name }}</em>
                    <a href="#" onclick="popup('','_blank',{{ e.id }}); return false;"><img id="{{ e.id }}" class="imgzoom" src="{% get_webclient_root_url %}/render_thumbnail/64/{{ e.id }}/" alt="image" title="{{ c.name }}"/></a>
                </li>
            </ul></div>
            {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
    
    {% if share.dsSize %}
    <div class="clear"></div>
    {% for d in share.datasetInShare %}
    <div id="dataset-{{ d.id }}" class="dataset">Dataset: <b>{{ d.name }}</b> <img src="{% get_webclient_static_url %}/images/messagebox_messagebox_info16.png"  title="info" alter="i" "/><a href=""><img src="{% get_webclient_static_url %}/images/editdelete16.png" alt="b" title="basket"/></a>
        {% if d.copyImageLinks %}
        {% for e in d.listChildren %}
        <div class="imageInDataset"><ul id="products">
            <li class="product"><em>{{ e.name }}</em>
                <a href="#" onclick="popup('','_blank',{{ e.id }}); return false;"><img id="{{ e.id }}" class="imgzoom" src="{% get_webclient_root_url %}/render_thumbnail/64/{{ e.id }}/" alt="image" title="{{ c.name }}"/></a>
            </li>
        </ul></div>
        {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    {% endif %}
    </div>
    
    {% if share.imgSize %}
    <div class="clear"></div>
    <h1>Orphaned images</h1>
    <div class="image"><ul id="products">
        <li class="clear"> </li>
        {% for e in share.imageInShare %}
            <li id="image-{{ e.id }}"class="product"><em>{{ e.name }}</em>
                <a href="#" onclick="popup('','_blank',{{ e.id }}); return false;"><img id="{{ e.id }}" class="imgzoom" src="{% get_webclient_root_url %}/render_thumbnail/64/{{ e.id }}/" alt="image" title="{{ e.name }}"/></a>
                <a href=""><img src="{% get_webclient_static_url %}/images/editdelete16.png" alt="b" title="basket"/></a>
            </li>
        {% endfor %}
    </ul></div>
    {% endif %}
    
    </div>
    <div class="clear"></div>
{% endifequal %}

    <div>
        <form action="{% get_webclient_root_url %}/share/save/{{ share.share.id }}/" method="post">
            <table class="forms">
            {% for field in form %}
                <tr><th>{{ field.label_tag }}{% if field.field.required %}*{% endif %}</th>
                    <td>{{ field }}</td><td>{% if field.errors %}{{ field.errors }}{% endif %}{{ field.help_text }}</td>
                </tr>
            {% endfor %}
                <tr><td colspan="2"><input type="submit" value="Save" /></td></tr>
            </table>
        </form>
        <script type="text/javascript">
            var googie_spell = new GoogieSpell("static_core/googiespell/", "/webclient/spellchecker/?lang=");
            googie_spell.decorateTextarea("id_message", null, "600px");
        </script>
    </div>

{% endblock %}
