{% load markup %}
{% load custom_tags %}
{% load wikitags %}

<div id="cart">

{% if share.imgSize %}
<div class="clear"></div>
<h1>Images</h1>
<div class="image"><ul id="products">
    <li class="clear"> </li>
    {% for e in share.imageInShare %}
        <li id="image-{{ e.id }}"class="product"><em>{{ e.name }}</em>
            <a href="#" onclick="popup('','_blank',{{ e.id }}); return false;"><img id="{{ e.id }}" class="imgzoom" src="{% get_webclient_root_url %}/render_thumbnail/64/{{ e.id }}/" alt="image" title="{{ e.name }}"/></a>
        </li>
    {% endfor %}
</ul></div>
{% endif %}

</div>

</div>
