{% load i18n %}
{% load markup %}
{% load custom_tags %}

{% if share.sharesSize %}

{% if share.mshSize %}

    <h1>{% trans "Shared with me" %} ({{ share.mshSize }} {% trans "items" %}):</h1>

    <table id="dataTable" class="tablesorter"> 
    <thead> 
    <tr> 
        <th>{% trans "Type" %}</th> 
        <th>{% trans "Name" %}</th> 
    </tr> 
    </thead> 
    <tbody> 
        {% for c in share.memberShares %}
        <tr> 
            <td class="product"><a href="{% url manage_share "view" c.id %}">
                {% ifequal c.getShareType "Discuss" %}
                    {% if c.active %}
                        <img src="{% url webstatic "images/wp_protocol32.png" %}" alt="{{ c.id }}" title="{{ c.id }}"/>
                    {% else %}
                        <img src="{% url webstatic "images/wp_protocol_locked32.png" %}" alt="{{ c.id }}" title="{{ c.id }}"/>
                    {% endif %}
                {% else %}
                    {% if c.active %}
                        <img src="{% url webstatic "images/folder_html32.png" %}" alt="{{ c.id }}" title="{{ c.id }}"/>
                    {% else %}
                        <img src="{% url webstatic "images/folder_locked32.png" %}" alt="{{ c.id }}" title="{{ c.id }}"/>
                    {% endif %}
                {% endifequal %}
            </a></td> 
            <td><a href="{% url manage_share "view" c.id %}">{{ c.shortMessage }}</a> {% if c.annotation_counter %}<img src="{% url webstatic "images/knotes16.png" %}" alt="a" title="annotation"/>[{{ c.annotation_counter }}]{% endif %} {% if c.child_counter %}<img src="{% url webstatic "images/kuser16.png" %}" alt="ms" title="members"/>[{{ c.child_counter }}]{% endif %} <a href="{% url manage_share "view" c.id %}" target="metadata_details"><img src="{% url webstatic "images/info16.png" %}" alt="i" title="click to get metadata"/></a></td> 
        </tr> 
        {% endfor %}
    </tbody> 
    </table>
{% endif %}


{% if share.oshSize %}

    <h1>{% trans "Owned by me" %} ({{ share.oshSize }} {% trans "items" %}):</h1>

    <table id="dataTable" class="tablesorter"> 
    <thead> 
    <tr> 
        <th>{% trans "Type" %}</th> 
        <th>{% trans "Name" %}</th> 
    </tr> 
    </thead> 
    <tbody> 
        {% for c in share.ownShares %}
        <tr> 
            <td class="product"><a href="{% url manage_share "view" c.id %}">
                {% ifequal c.getShareType "Discuss" %}
                    {% if c.active %}
                        <img src="{% url webstatic "images/wp_protocol32.png" %}" alt="{{ c.id }}" title="{{ c.id }}" class="catzoom"/>
                    {% else %}
                        <img src="{% url webstatic "images/wp_protocol_locked32.png" %}" alt="{{ c.id }}" title="{{ c.id }}" class="catzoom"/>
                    {% endif %}
                {% else %}
                    {% if c.active %}
                        <img src="{% url webstatic "images/folder_html32.png" %}" alt="{{ c.id }}" title="{{ c.id }}" class="catzoom"/>
                    {% else %}
                        <img src="{% url webstatic "images/folder_locked32.png" %}" alt="{{ c.id }}" title="{{ c.id }}" class="catzoom"/>
                    {% endif %}
                {% endifequal %}
            </a></td> 
            <td><a href="{% url manage_share "view" c.id %}">{{ c.shortMessage }}</a> {% if c.annotation_counter %}<img src="{% url webstatic "images/knotes16.png" %}" alt="a" title="annotation"/>[{{ c.annotation_counter }}]{% endif %} {% if c.child_counter %}<img src="{% url webstatic "images/kuser16.png" %}" alt="ms" title="members"/>[{{ c.child_counter }}]{% endif %} <a href="{% url manage_share "view" c.id %}" target="metadata_details"><img src="{% url webstatic "images/info16.png" %}" alt="i" title="click to get metadata"/></a></td> 
        </tr> 
        {% endfor %}
    </tbody> 
    </table>
{% endif %} 

{% else %}
    {% trans "No data." %}
{% endif %}