{% extends "omeroweb/base.html" %}
{% load i18n %}
{% load markup %}
{% load custom_tags %}

{% block link %}
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/annotation.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/slider.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/datepicker.css" type="text/css" />
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/tree.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/table.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="{% get_webclient_static_url %}/css/tooltip.css" type="text/css" media="screen"/>
{% endblock %}

{% block jscript %}
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery_1.2.6.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/ui.core.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/ui.datepicker.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/ui.draggable.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/ui.droppable.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/ui.resizable.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/ui.slider.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/effects.core.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/ui/effects.highlight.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.quicksearch.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.tablesorter.js"></script>
    
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.tooltip.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.dimensions.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.bgiframe.js"></script>
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/jquery.delegate.js"></script>
    
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/menu.js"></script> 
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/slider.js"></script> 
    <script type="text/javascript" src="{% get_webclient_static_url %}/javascript/blitzcon.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            {% if share.oshSize or share.mshSize %}
            $('div table#shareTable tbody tr').quicksearch({
                attached: "div#view",
                position: "befor",
                stripeRowClass: null,
                labelText: '{% trans "Filter" %}:',
                inputText: '...',
                loaderImg: '{% get_webclient_static_url %}/images/tree/spinner.gif',
            });
            {% endif %}
            
            $("#shareTable").tablesorter( {sortList: [[3,1]]} ); 
            $("#sharedTable").tablesorter( {sortList: [[3,1]]} ); 

        });
    </script>
    <script type="text/javascript">
        $(function() {
            $("#discussion, #sharing").tooltip({ 
                track: true, 
                delay: 0, 
                showURL: false, 
                opacity: 1, 
                fixPNG: true, 
                showBody: " - ", 
                top: -15, 
                left: 5 
            });
        });
    </script>
{% endblock %}

{% block center %}

<div class="project">
    <h1>{% trans "Shares and Discussions." %}</h1>

    <p>{% trans "Here you can create a" %} <b>{% trans "Share" %}</b> {% trans "to share and discuss your images with others, or" %} <b>{% trans "Discussion" %}</b> {% trans "to discuss with no images. Existing Shares and Discussions are shown below." %}</p>
</div>
<div class="clear"></div>
<div class="separate70"></div>

{% if share.oshSize or share.mshSize %}

<div id="view">| {% trans "View" %} <a href="{% get_webclient_root_url %}/share/?view=table"><img src="{% get_webclient_static_url %}/images/view_detailed16.png" alt="table" title="table"/></a> <a href="{% get_webclient_root_url %}/share/?view=icon"><img src="{% get_webclient_static_url %}/images/view_icon16.png" alt="icon" title="icon"/></a> | {% trans "New" %} <a href="{% get_webclient_root_url %}/basket/toshare/"><span id="sharing" title="Create share - <small>Creates share for images stored currently in the basket.</small>"><img src="{% get_webclient_static_url %}/images/folder_html16.png" alt="share" /></span></a> 
<a href="{% get_webclient_root_url %}/basket/todiscuss/"><span id="discussion" title="Create discussion - <small>Starts the thread of the new discussion with no images currently stored in the basket.</small>"><img src="{% get_webclient_static_url %}/images/wp_protocol16.png" alt="discussion" /></span></a> | 
</div>
<div class="clear"> </div>

{% if share.oshSize %}

<div id="header_name"><h1>{% trans "Owned by me" %} ({{ share.oshSize }} {% trans "items" %}):</h1></div>
<div class="clear"> </div>
<table id="shareTable" class="tablesorter"> 
<thead> 
<tr> 
    <th>{% trans "Type" %}</th> 
    <th>{% trans "Title" %}</th> 
    <th>{% trans "Action" %}</th> 
    <th>{% trans "Start - End" %}</th>
</tr> 
</thead> 
<tbody> 
    {% for c in share.ownShares %}
    <tr> 
        <td>
            {% ifequal c.getShareType "Discuss" %}
                <img src="{% get_webclient_static_url %}/images/wp_protocol32.png" alt="{{ c.id }}" title="{{ c.id }}" class="catzoom"/>
            {% else %}
                {% if c.active %}
                    <img src="{% get_webclient_static_url %}/images/folder_html32.png" alt="{{ c.id }}" title="{{ c.id }}" class="catzoom"/>
                {% else %}
                    <img src="{% get_webclient_static_url %}/images/folder_locked32.png" alt="{{ c.id }}" title="{{ c.id }}" class="catzoom"/>
                {% endif %}
            {% endifequal %} {{ c.getShareType }}
        </td> 
        <td><a href="{% get_webclient_root_url %}/share/view/{{ c.id }}/">{{ c.shortMessage }}</a> {% if c.getCommentsSize %}<img src="{% get_webclient_static_url %}/images/knotes16.png" alt="a" title="annotation"/>[{{ c.getCommentsSize }}]{% endif %}</td> 
        <td><a href="{% get_webclient_root_url %}/share/view/{{ c.id }}/"><img src="{% get_webclient_static_url %}/images/kview16.png" alt="v" title="view"/></a> <a href="{% get_webclient_root_url %}/share/edit/{{ c.id }}/"><img src="{% get_webclient_static_url %}/images/color_line16.png" alt="e" title="edit"/></a></td>
        <td>{{ c.getStartDate|date:"H:i:s d M Y" }} - {% if c.getExpirationDate %}{{ c.getExpirationDate|date:"H:i:s d M Y" }}{% else %}never{% endif %}</td>
    </tr> 
    {% endfor %}
</tbody> 
</table>
{% endif %}

<div class="clear"> </div>

{% if share.mshSize %}

<div id="header_name"><h1>{% trans "Shared with me" %} ({{ share.mshSize }} {% trans "items" %}):</h1></div>
<div class="clear"> </div>
<table id="sharedTable" class="tablesorter"> 
<thead> 
<tr> 
    <th>{% trans "Type" %}</th> 
    <th>{% trans "Title" %}</th>
    <th>{% trans "Owner" %}</th>
    <th>{% trans "Action" %}</th> 
    <th>{% trans "Start - End" %}</th>
</tr>
</thead> 
<tbody> 
    {% for c in share.memberShares %}
    <tr> 
        <td><a href="{% get_webclient_root_url %}/share/view/{{ c.id }}/">
        {% ifequal c.getShareType "Discuss" %}
            <img src="{% get_webclient_static_url %}/images/wp_protocol32.png" alt="{{ c.id }}" title="{{ c.id }}" class="catzoom"/>
        {% else %}
            {% if c.active %}
                <img src="{% get_webclient_static_url %}/images/folder_html32.png" alt="{{ c.id }}" title="{{ c.id }}" class="catzoom"/>
            {% else %}
                <img src="{% get_webclient_static_url %}/images/folder_locked32.png" alt="{{ c.id }}" title="{{ c.id }}" class="catzoom"/>
            {% endif %}
        {% endifequal %} {{ c.getShareType }}
        </a></td> 
        <td><a href="{% get_webclient_root_url %}/share/view/{{ c.id }}/">{{ c.shortMessage }}</a> {% if c.getCommentsSize %}<img src="{% get_webclient_static_url %}/images/knotes16.png" alt="a" title="annotation"/>[{{ c.getCommentsSize }}]{% endif %}</td> 
        <td>{{ c.getOwner }}</td> 
        <td><a href="{% get_webclient_root_url %}/share/view/{{ c.id }}/"><img src="{% get_webclient_static_url %}/images/kview16.png" alt="v" title="view"/></a></td>
        <td>{{ c.getStartDate|date:"H:i:s d M Y" }} - {% if c.getExpirationDate %}{{ c.getExpirationDate|date:"H:i:s d M Y" }}{% else %}never{% endif %}</td>
    </tr>
    {% endfor %}
</tbody> 
</table>
{% endif %}

{% else %}
    {% trans "No shares yet." %}
{% endif %}

<div class="clear"> </div>
<div class="separate70"></div>
{% endblock %}
