# Python installation requirements for OMERO.web
# ==============================================
#
#     pip install -r requirements-py27.txt
#

zeroc-ice>3.5,<3.7
Django>=1.8,<1.9
django-pipeline==1.3.20
gunicorn>=19.3

# Until Screens are supported in release, we need to use master branch
# See https://github.com/openmicroscopy/openmicroscopy/pull/5006
# omero-marshal==0.4.1
git+git://github.com/openmicroscopy/omero-marshal.git@master#egg=omero-marshal
