# Python installation requirements for OMERO.web
# ==============================================
#
#     pip install -r requirements-py27-trial.txt
#

numpy>=1.9
Pillow<3.4
zeroc-ice>3.5,<3.7
-r requirements-py27-nginx.txt
