# Python installation requirements for OMERO.web
# ==============================================
#
# This is a work in progress, filenames may change in the next version
# This file is meant to be consumed by pip
#
#     pip install -r requirements-py27-apache.txt
#
Django>=1.8,<1.9
