# Python installation requirements for OMERO.web
# ==============================================
#
# This file is meant to be consumed by pip
#
#     pip install -r requirements-py26.txt
#
Django==1.6.11
gunicorn>=19.3.0