# Python installation requirements for OMERO.web
# ==============================================
#
#     pip install -r requirements-py27-nginx.txt
#

-r requirements-common.txt
gunicorn>=19.3
-r requirements-common.txt
