# Python installation requirements for OMERO.web
# ==============================================
#
#     pip install -r requirements-py27.txt
#

zeroc-ice>3.5,<3.7
Django>=1.8,<1.9
django-pipeline==1.3.20
gunicorn>=19.3

omero-marshal==0.5.1
