<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!--
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# 
# $Id$
# 
# Copyright 2008, 2009, 2014 Glencoe Software, Inc. All rights reserved.
# Use is subject to license terms supplied in LICENSE.txt
#
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->

<!--
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Written by:  Josh Moore <josh.moore@gmx.de>
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->

<beans>

    <description>
    Provides a central configuration location for all properties, preferences,
    etc. used within OMERO. These values may be pulled from the environment,
    the Java runtime, your Java preferences, or from configuration files.

    See http://trac.openmicroscopy.org.uk/ome/ticket/800 for more information
    on how this works.
    </description>

    <bean id="preferenceContext" class="ome.system.PreferenceContext">

        <description>
            The PreferencesContext class handles much of the configuration and
            lookup necessary for the OmeroContext, including settings defaults
            which on the traditional Spring classes like:
            
            org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer

            or

            org.springframework.beans.factory.config.PropertyPlaceholderConfigurer

            would be necessary in this file.
        </description>

        <property name="locations">
            <list>
                <!-- Note: later properties overwrite earlier ones -->
                <value>hibernate.properties</value>
                <value>omero.properties</value>
                <!-- As of ticket:800 (vers. 4.0) these values are static
                     and are compiled into the finished binaries. All other configuration
                     takes place via the "prefs" class. -->
            </list>
        </property>
        <property name="preferences">
            <list>
   <!-- Begin preference list -->
    <bean class="ome.system.Preference" id="omero.version">
       <property name="db" value="false"/>
       <property name="mutable" value="false"/>
       <property name="visibility" value="all"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.upgrades.url">
       <property name="db" value="false"/>
       <property name="mutable" value="false"/>
       <property name="visibility" value="all"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.data.dir">
       <property name="mutable" value="true"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.router.insecure">
       <property name="mutable" value="true"/>
       <property name="visibility" value="all"/>
       <property name="db" value="true"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.security.filter.bitand">
        <property name="db" value="false"/>
        <property name="mutable" value="true"/>
        <property name="aliases" value="ome.security.filter.bitand"/>
        <property name="visibility" value="hidden"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.security.password_required">
        <property name="db" value="false"/>
        <property name="mutable" value="false"/>
        <property name="aliases" value="ome.security.password_required"/>
        <property name="visibility" value="all"/>
    </bean>
    <!--  DATABASE PROPERTIES -->
    <bean class="ome.system.Preference" id="omero.db.authority">
       <property name="db" value="true"/>
       <property name="mutable" value="false"/>
       <property name="visibility" value="all"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.db.uuid">
       <property name="db" value="true"/>
       <property name="mutable" value="false"/>
       <property name="visibility" value="all"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.db.host">
       <property name="db" value="false"/>
       <property name="aliases" value="database.host"/>
       <property name="visibility" value="hidden"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.db.name">
       <property name="db" value="false"/>
       <property name="aliases" value="database.name"/>
       <property name="visibility" value="hidden"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.db.user">
       <property name="db" value="false"/>
       <property name="aliases" value="database.user,hibernate.connection.username"/>
       <property name="visibility" value="hidden"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.db.pass">
       <property name="db" value="false"/>
       <property name="aliases" value="hibernate.connection.password"/>
       <property name="visibility" value="hidden"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.db.driver">
        <property name="db" value="false"/>
        <property name="aliases" value="hibernate.connection.driver_class"/>
        <property name="visibility" value="hidden"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.db.poolsize">
        <property name="db" value="false"/>
        <property name="aliases" value="c3p0.maxPoolSize"/>
        <property name="visibility" value="hidden"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.db.dialect">
        <property name="db" value="false"/>
        <property name="mutable" value="true"/>
        <property name="aliases" value="hibernate.dialect"/>
        <property name="visibility" value="hidden"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.mail.config">
        <property name="visibility" value="all"/>
    </bean>
    <!--  PIXELDATA PROPERTIES -->
    <bean class="ome.system.Preference" id="omero.pixeldata.backoff">
       <property name="db" value="false"/>
       <property name="mutable" value="false"/>
       <property name="visibility" value="all"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.pixeldata.tile_width">
       <property name="db" value="false"/>
       <property name="mutable" value="false"/>
       <property name="visibility" value="all"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.pixeldata.tile_height">
       <property name="db" value="false"/>
       <property name="mutable" value="false"/>
       <property name="visibility" value="all"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.pixeldata.max_plane_width">
       <property name="db" value="false"/>
       <property name="mutable" value="false"/>
       <property name="visibility" value="all"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.pixeldata.max_plane_height">
       <property name="db" value="false"/>
       <property name="mutable" value="false"/>
       <property name="visibility" value="all"/>
    </bean>
    <!--  CLIENT PROPERTIES -->
    <bean class="ome.system.Preference" id="omero.client.scripts_to_ignore">
       <property name="db" value="false"/>
       <property name="mutable" value="false"/>
       <property name="visibility" value="all"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.client.ui.tree.orphans.name">
       <property name="db" value="false"/>
       <property name="mutable" value="false"/>
       <property name="visibility" value="all"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.client.ui.tree.orphans.description">
       <property name="db" value="false"/>
       <property name="mutable" value="false"/>
       <property name="visibility" value="all"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.client.ui.menu.dropdown.leaders">
       <property name="db" value="false"/>
       <property name="mutable" value="false"/>
       <property name="visibility" value="all"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.client.ui.menu.dropdown.leaders.enabled">
       <property name="db" value="false"/>
       <property name="mutable" value="false"/>
       <property name="visibility" value="all"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.client.ui.menu.dropdown.colleagues">
       <property name="db" value="false"/>
       <property name="mutable" value="false"/>
       <property name="visibility" value="all"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.client.ui.menu.dropdown.colleagues.enabled">
       <property name="db" value="false"/>
       <property name="mutable" value="false"/>
       <property name="visibility" value="all"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.client.ui.menu.dropdown.everyone">
       <property name="db" value="false"/>
       <property name="mutable" value="false"/>
       <property name="visibility" value="all"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.client.ui.menu.dropdown.everyone.enabled">
       <property name="db" value="false"/>
       <property name="mutable" value="false"/>
       <property name="visibility" value="all"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.client.viewer.initial_zoom_level">
       <property name="db" value="false"/>
       <property name="mutable" value="false"/>
       <property name="visibility" value="all"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.client.web.host">
       <property name="db" value="false"/>
       <property name="mutable" value="false"/>
       <property name="visibility" value="all"/>
    </bean>
    <bean class="ome.system.Preference" id="omero.client.interpolate_pixels">
       <property name="db" value="false"/>
       <property name="mutable" value="false"/>
       <property name="visibility" value="all"/>
    </bean>
    <!-- End preference list -->
            </list>
        </property>
    </bean>
</beans>
