<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<!--
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# 
# $Id$
# 
# Copyright 2006 University of Dundee. All rights reserved.
# Use is subject to license terms supplied in LICENSE.txt
#
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->

<!--
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
# Written by:  Josh Moore <josh.moore@gmx.de>
#~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
-->

<beans>

    <description>
    Provides a central configuration location for all properties, preferences,
    etc. used within OMERO. These values may be pulled from the environment,
    the Java runtime, your Java preferences, or from configuration files.

    See https://trac.openmicroscopy.org.uk/omero/ticket/800 for more information
    on how this works.
    </description>

        <bean id="preferenceContext" class="ome.system.PreferenceContext">

            <description>
            The PreferencesContext class handles much of the configuration and
            lookup necessary for the OmeroContext, including settings defaults
            which on the traditional Spring classes like:

            org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer

            or

            org.springframework.beans.factory.config.PropertyPlaceholderConfigurer

            would be necessary in this file.
            </description>

                <property name="locations">
                    <list>
                            <!-- Note: later properties overwrite earlier ones -->
                            <value>hibernate.properties</value>
                            <value>omero.properties</value>
                            <!-- Once ticket:800 is complete, local.properties
                            will no longer be used -->
                            <value>local.properties</value>
                    </list>
                </property>

        </bean>

</beans>