/* tables */
table.tablesorter {
    margin:10px 0pt 15px;
    text-align: left;
    width: 99%;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    padding-left: 5px;
    border: 1px solid #bbbbbb;
    background-color: #eeeeee;
}
table.tablesorter thead tr .header {
    background-image: url(/webadmin/static/images/table/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    vertical-align: middle;
}
table.tablesorter tbody tr.odd td {
    background-color:#ccc;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url(/webadmin/static/images/table/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(/webadmin/static/images/table/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #ccc;
}

td.link {
    text-align: left;
    padding: 2px 2px 2px 20px;
    border-bottom: 1px dashed #bbbbbb;
}

td.desc {
    text-align: left;
    padding: 2px 2px 2px 20px;
    border-bottom: 1px dashed #bbbbbb;
}

td.roles {
    text-align: right;
    width: 70px;
    padding: 2px 20px 2px 20px;
    border-bottom: 1px dashed #bbbbbb;
}

td.action {
    text-align: left;
    width: 100px;
    padding: 2px 20px 2px 20px;
    border-bottom: 1px dashed #bbbbbb;
}



/* tables small*/
table.tablesortersmall {
    margin:10px 0pt 15px;
    text-align: left;
    width: 50%;
}
table.tablesortersmall thead tr th, table.tablesortersmall tfoot tr th {
    padding-left: 5px;
    border: 1px solid #bbbbbb;
    background-color: #eeeeee;
}
table.tablesortersmall thead tr .header {
    background-image: url(/webadmin/static/images/table/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesortersmall tbody td {
    vertical-align: middle;
}
table.tablesortersmall tbody tr.odd td {
    background-color:#ccc;
}
table.tablesortersmall thead tr .headerSortUp {
    background-image: url(/webadmin/static/images/table/asc.gif);
}
table.tablesortersmall thead tr .headerSortDown {
    background-image: url(/webadmin/static/images/table/desc.gif);
}
table.tablesortersmall thead tr .headerSortDown, table.tablesortersmall thead tr .headerSortUp {
    background-color: #ccc;
}

td.link {
    text-align: left;
    padding: 2px 2px 2px 20px;
    border-bottom: 1px dashed #bbbbbb;
}

td.desc {
    text-align: left;
    padding: 2px 2px 2px 20px;
    border-bottom: 1px dashed #bbbbbb;
}

td.roles {
    text-align: right;
    width: 70px;
    padding: 2px 20px 2px 20px;
    border-bottom: 1px dashed #bbbbbb;
}

td.action {
    text-align: left;
    width: 100px;
    padding: 2px 20px 2px 20px;
    border-bottom: 1px dashed #bbbbbb;
}
