<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee">

	<!-- This will cause JBoss to ignore the built-in JSF implementation 
		as long as you use the default classloader settings. Look on 
		http://wiki.jboss.org/wiki/Wiki.jsp?page=JBoss5AndMyFaces -->
	<context-param>
		<param-name>
			org.jboss.jbossfaces.WAR_BUNDLES_JSF_IMPL
		</param-name>
		<param-value>true</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.apache.myfaces.webapp.StartupServletContextListener
		</listener-class>
	</listener>

	<context-param>
		<param-name>
			net.sf.jsfcomp.chartcreator.USE_CHARTLET
		</param-name>
		<param-value>true</param-value>
	</context-param>


	<context-param>
		<param-name>javax.faces.STATE_SAVING_METHOD</param-name>
		<param-value>client</param-value>
	</context-param>
	<context-param>
		<param-name>
			org.apache.myfaces.NUMBER_OF_VIEWS_IN_SESSION
		</param-name>
		<param-value>20</param-value>
	</context-param>
	<context-param>
		<param-name>
			org.apache.myfaces.SERIALIZE_STATE_IN_SESSION
		</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>
			org.apache.myfaces.COMPRESS_STATE_IN_SESSION
		</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.ALLOW_JAVASCRIPT</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.DETECT_JAVASCRIPT</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.PRETTY_HTML</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.AUTO_SCROLL</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.SECRET</param-name>
		<param-value>NzY1NDMyMTA=</param-value>
	</context-param>

	<context-param>
		<param-name>org.apache.myfaces.VALIDATE</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>org.apache.myfaces.ADD_RESOURCE_CLASS</param-name>
		<param-value>
			org.apache.myfaces.renderkit.html.util.DefaultAddResource
		</param-value>
		<!--param-value>org.apache.myfaces.component.html.util.StreamingAddResource</param-value-->
	</context-param>

	<context-param>
		<param-name>
			org.apache.myfaces.CHECK_EXTENSIONS_FILTER
		</param-name>
		<param-value>true</param-value>
	</context-param>


	<!-- Login form params -->
	<context-param>
		<param-name>defaultServerHost</param-name>
		<param-value>localhost</param-value>
	</context-param>
	<context-param>
		<param-name>defaultServerPort</param-name>
		<param-value>1099</param-value>
	</context-param>

	<!-- TopTen params -->
	<context-param>
		<param-name>topTenValue</param-name>
		<param-value>5</param-value>
	</context-param>

	<!-- StoreRepositoryPath params -->
	<context-param>
		<param-name>usersListsDir</param-name>
		<param-value>/Users/Ola/J2EP/tmp/UsersLists</param-value>
	</context-param>

	<!-- Extensions Filter -->
	<filter>
		<filter-name>extensionsFilter</filter-name>
		<!-- <filter-class>org.apache.myfaces.component.html.util.ExtensionsFilter</filter-class> -->
		<filter-class>
			org.apache.myfaces.webapp.filter.ExtensionsFilter
		</filter-class>
		<init-param>
			<param-name>uploadMaxFileSize</param-name>
			<param-value>100m</param-value>
			<description>
				Set the size limit for uploaded files. Format: 10 - 10
				bytes 10k - 10 KB 10m - 10 MB 1g - 1 GB
			</description>
		</init-param>
		<init-param>
			<param-name>uploadThresholdSize</param-name>
			<param-value>0</param-value>
			<description>
				Set the threshold size - files below this limit are
				stored in memory, files above this limit are stored on
				disk.

				Format: 10 - 10 bytes 10k - 10 KB 10m - 10 MB 1g - 1 GB
			</description>
		</init-param>
		<init-param>
			<param-name>uploadRepositoryPath</param-name>
			<param-value>/Users/Ola/J2EP/tmp</param-value>
			<description>
				Set the path where the intermediary files will be
				stored.
			</description>
		</init-param>
	</filter>

	<!-- Faces Servlet Mapping -->
	<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<url-pattern>/faces/myFacesExtensionResource/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<url-pattern>*.jsf</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>extensionsFilter</filter-name>
		<url-pattern>/faces/*</url-pattern>
	</filter-mapping>


	<!-- Faces Servlet -->
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SourceCodeServlet</servlet-name>
		<servlet-class>
			org.apache.myfaces.shared_tomahawk.util.servlet.SourceCodeServlet
		</servlet-class>
	</servlet>

	<!-- Log4J path properties-->
	<servlet>
		<servlet-name>log4j-init</servlet-name>
		<servlet-class>ome.init.Log4jInit</servlet-class>

		<init-param>
			<param-name>log4j-init-file</param-name>
			<param-value>WEB-INF/classes/log4j.properties</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>
	</servlet>

	<!-- Logout Servlet -->
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>ome.admin.controller.Logout</servlet-class>
	</servlet>

	<!-- Chartlet Servlet -->
	<servlet>
		<servlet-name>Chartlet</servlet-name>
		<servlet-class>
			net.sf.jsfcomp.chartcreator.Chartlet
		</servlet-class>
	</servlet>


	<!-- Tails Servlet -->
	<servlet>
		<servlet-name>tiles</servlet-name>
		<servlet-class>
			org.apache.struts.tiles.TilesServlet
		</servlet-class>
		<init-param>
			<param-name>definitions-config</param-name>
			<param-value>/WEB-INF/tiles-defs.xml</param-value>
		</init-param>
		<init-param>
			<param-name>definitions-parser-validate</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<taglib>
		<taglib-uri>http://java.sun.com/jsf/html_mod</taglib-uri>
		<taglib-location>/WEB-INF/html_basic_mod.tld</taglib-location>
	</taglib>

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SourceCodeServlet</servlet-name>
		<url-pattern>*.source</url-pattern>
	</servlet-mapping>

	<!-- Logout Mapping -->
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<!-- Chartlet Mapping -->
	<servlet-mapping>
		<servlet-name>Chartlet</servlet-name>
		<url-pattern>*.chart</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<session-config>
		<session-timeout>15</session-timeout>
	</session-config>
</web-app>
