[main]
hostname = http://something.something.com
username = my_omero_username
password = my_omero_password
sessionKey = 
port = 4064
populate = true
recurse = true
target_directory= /Path/To/Image/Root
login_url = http://something.something.com/qa/login/
message_url = http://something.something.com/qa/feedback/test_result/
comment_url = http://something.something.com/qa/initial/
login_username = my_feedback_username
login_password = my_feedback_password
