<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>Image Dimensions Viewer</title>

<style type="text/css">

#img_panel{
    position: absolute;
    top:0px;
    left:0px;
    z-index: 0;
}

#canvas{
    position: absolute;
    top:0px;
    left:0px;
    z-index: 1;
}
#roi_table_div { 
    border: 1px solid black;
    position: absolute;
    top:10px;
    right:10px;
}
#roi_table thead {
    background: #ddd;
}

.button {
    background: #eee;
    border: black 1px solid;
    cursor: hand;
    width: 50px;
}
</style>

<script type="text/javascript" src="{% url webstatic "javascript/jquery_1.4.2.js" %}"></script>
<script type="text/javascript" src="{% url statictest 'js/rois/3rdparty/processing.js' %}"></script>
<script type="text/javascript" src="{% url statictest 'js/rois/processing_rois.js' %}"></script>


</head>

<body>
    
<!-- top elements span page -->
<div id="top-nav">
    <a href="{% url webfigure_index %}">Home</a> |
    <a href="{% url webfigure_logout %}">Logout</a>
</div>

<div>
    Test viewer for drawing ROIs on the image with <a href='http://processingjs.org/'>processing.js</a>.
</div>

<div>
    <p>
        {{ image.name }} ID: <span id='imageId'>{{ image.id }}</span>
        <a id='load_rois' href="{% url webgateway_get_rois_json image.id %}">LOAD ROIS</a>
    </p>
    <p>
        Current Z index: <span id='theZ'>{{ default_z }}</span> / <span id='sizeZ'>{{ image.getSizeZ }}</span> 
        <span class='button' id="incZ">+</span> <span class='button' id="decZ">-</span> 
    </p>
    <p>
        Current T index: <span id='theT'>0</span> / <span id='sizeT'>{{ image.getSizeT }}</span>
        <span class='button' id="incTime">+</span> <span class='button' id="decTime">-</span> 
    </p>
</div>

<div id='roi_table_div'>
    <table id='roi_table'>
        <thead>
            <tr>
                <th>ID</th>
                <th>&nbsp T &nbsp</th>
                <th>&nbsp Z &nbsp</th>
                <th>Shape (count)</th>
            <tr>
        </thead>
        <tbody>
            <tr><td>test</td></tr>
        </tbody>
    </table>
</div>

<div style='float:left; position:relative'>
    <img id='img_panel' src="{% url webgateway.views.render_image image.id 0 0 %}" width="{{ image.getSizeX }}" height="{{ image.getSizeY }}"/>
    <canvas id="canvas" width="{{ image.getSizeX }}" height="{{ image.getSizeY }}"></canvas>
</div>


</body> </html>