html {
    height: 100%;
}

body {
    background-color: #F3F3F3;
    color: #555555;
    font-family: Arial,Verdana,Lucida,Helvetica,sans-serif;
    font-size: 13px;
    height: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
}

#content {
    position:absolute;
    top:102px;
    right:0px;
    left:0px;
    bottom:0px;
    background: white;
    overflow:auto;
}

a:hover, a:link, a:visited {
    border: medium none;
    color: #1B7BC7;
    text-decoration: none;
}

h1 {
    font-size: 15px;
    text-align: left;
    margin: 0;
    padding: 10px 0;
}
h2 {
    font-size: 13px;
    text-align: left;
}

p {
    margin: 0px;
    padding: 5px;
}

img {
    border: 0px;
}

table {
    border: 0px;
    table-layout: auto;
}
th {
    font-weight: bold;
    vertical-align:middle;
    text-align: left;
}
td {
    vertical-align:top;
    text-align: left;
}

form table {
    border: 0px;
    table-layout: auto;
}

form td {
    padding: 2px;
}

form th {
    border: 0px;
}

input {
    margin: 0;
    border: 1px solid #bbb;
    background-color: #fff;
}
select {
    margin: 0;
    background-color: #fff;
    border: 1px solid #bbb;
}
textarea {
    margin: 0;
    background-color: #fff;
    border: 1px solid #bbb;
}

ul.errorlist {
    list-style: none;
    color: #e3646f;
    margin: 0;
    padding: 10px 0 0;
    text-align: center;
}
ul.errorlist li {
    border-style:none;
    border-width:0;
}


label {
    font-weight: bold;
}

.clear {
    clear: both;
    width: 0px;
    margin: 0px;
    padding: 0px;
}

/* used by the dialog in popup.js */
.ui-dialog-titlebar { background: gray; color: white }