#top_header {
    background: #fff;
    position: relative;
    height:52px;
}

#logo {
    height: 52px;
    left: 10px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 160px;
}

#util_links {
    position: absolute;
    top: 3px; right: 5px;
}

#tabs {
    position: absolute;
    bottom: 2px;
    right: 3px;
}
#tabs a {
    border: solid #444 1px;
    font-size: 120%;
    padding: 3px 8px;
    margin: 0px 3px 0px 0px;
    border-radius: 6px 6px 0px 0px;
}
#tabs a.current_tab {
    background: #444;
    color: #ddd;
}

#nav_links {
    margin: 6px 10px;
    position: absolute;
    right: 0;
    top: 1px;
}

#toolbar_links {
    margin: 6px 10px;
    position: absolute;
    left: 0;
    top: 1px;
}

#nav_links li {
    float:right;
    margin: 0px 5px;
    display: block;
    font-size: 100%;
}

a:hover {
    border: medium none;
    color: #1B7BC7;
    text-decoration: underline;
}

#middle_header {
    color: white;
    margin: 0;
    padding: 4px 0px;
    height: 19px;
    position: relative;
    background: #444;
    border-bottom: 1px solid #bbb;
}

#middle_header a {
    color: white;
}

#thin_header {
    margin: 0;
    padding: 4px 0px;
    height: 15px;
    position: relative;
    background: url(../image/header_bg.png) repeat-x scroll left bottom #FFFFFF;
    border-bottom: 1px solid #bbb;
}

#header_right {
    margin: 6px 10px;
    position: absolute;
    right: 0;
    top: 0;
}

#header_left {
    margin: 2px 10px;
    position: absolute;
    left: 0;
    top: 1px;
}

.toolbar_button {
    float: left;
    position: relative;
}
