/* tables */

table.tablesorter {
    margin:10px 0pt 15px;
    text-align: left;
    width: 100%;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    padding-left: 5px;
    border: 1px solid #bbbbbb;
    background-color: #eeeeee;
}
table.tablesorter thead tr .header {
    background-image: url(../image/table/bg.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}
table.tablesorter tbody td {
    vertical-align: middle;
}

td.link {
    text-align: left;
    padding: 2px 2px 2px 20px;
    border-bottom: 1px dashed #bbbbbb;
}

td.desc {
    text-align: left;
    padding: 2px 2px 2px 20px;
    border-bottom: 1px dashed #bbbbbb;
}

td.roles {
    text-align: right;
    width: 70px;
    padding: 2px 20px 2px 20px;
    border-bottom: 1px dashed #bbbbbb;
}

td.action {
    text-align: left;
    width: 100px;
    padding: 2px 20px 2px 20px;
    border-bottom: 1px dashed #bbbbbb;
}
