<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

    <title>OMERO EMDB {% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="{% url webemdb 'css/base.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% url webemdb 'css/autocomplete.css' %}" type="text/css" />
    <style type="text/css">
        #header_bg {
            z-index: 2;
            position: absolute;
        }
    </style>
    {% block link %}{% endblock %}
    
    <script type="text/javascript" src="{% url webstatic "javascript/jquery_1.4.2.js" %}"></script>
    <script type="text/javascript" src="{% url webemdb 'javascript/autocomplete.js' %}"></script>
    {% block jscript %}{% endblock %}
    {% block script %}{% endblock %}

</head>

<body>
    
    <div id="header_top">
        <!-- <div id="header_bg"> -->
            <h2>OMERO EMDB</h2>
            <!-- <img src="{% url webemdb 'images/ome.png' %}" />
            <img src="{% url webemdb 'images/ebi.png' %}" />
            <img src="{% url webemdb 'images/bbsrc.gif' %}" /> -->
        <div style="float:right; padding:5px; z-index:3">
            <form class="nowrap" method='get' action="{% url webemdb_entries %}">
            <label>Entry</label>
            <!-- hidden links used by javascript. '1001' will be replaced by search entryId -->
            <a id="autocompleteUrl" href="{% url webemdb_autocompleteQuery %}">autocompleteUrl</a>
            <a id="autocompleteEntryLink" href="{% url webemdb_entry '1001' %}" style="display:none">entryLink</a>
            <input id="entry-text" type="text" name="entry" size='3'/>
            <input type="submit" value='go' />
            </form>
        </div>
        <div style="float:right; padding:5px; z-index:3">
            <form class="nowrap" method='get' action="{% url webemdb_search %}">
            <label>Search</label>
            <input type="text" name="search" />
            <input type="submit" value='go' />
            </form>
        </div>
    </div>
    <div class="clear"></div>
    <div id="header_menu"><div id="menu_bar">{% include "webemdb/base/menu.html" %}</div></div>
    <div id="contentWrapper">{% block content %}{% endblock %}</div>
    
</body>

</html>